<template>
  <global-footer style="color: #fff" class="footer custom-render">
    <template v-slot:links>
      <router-link :to="{ path: '/agreementForUser', query: { agreementFlg: '1'} }" target="_blank"><span :style="{'color': color,'font-size': '12px'}">用户协议·</span></router-link>
      <router-link :to="{ path: '/agreementForUser', query: { agreementFlg: '2'} }" target="_blank"><span :style="{'color': color,'font-size': '12px','margin-left': '-12px'}">隐私政策·</span></router-link>
      <router-link :to="{ path: '/agreementForUser', query: { agreementFlg: '3'} }" target="_blank"><span :style="{'color': color,'font-size': '12px','margin-left': '-12px'}">Cookie政策</span></router-link>
    </template>
    <template v-slot:copyright>
      <span :style="{'color': color,'font-size': '12px'}">沪ICP备2022000526号-1   Copyright ©{{moment().format('YYYY')}} 上海至再科技有限公司版权所有</span>
    </template>
  </global-footer>
</template>

<script>
import { GlobalFooter } from '@ant-design-vue/pro-layout'
import moment from 'moment'

export default {
  name: 'ProGlobalFooter',
  components: {
    GlobalFooter
  },
  props: {
      color: {
          type: String,
          default: '#999999'
      },
  },
  methods: {
    moment
  }
}
</script>
