<template>
  <a-card size="small" :title="`共找到${fieldTotal}个研究方向`">
    <a-row slot="extra">
      <label>排序：</label>
      <a-select default-value="0" style="width: 110px">
        <a-select-option value="0">
          重要度
        </a-select-option>
      </a-select>
    </a-row>
    <a-list item-layout="horizontal"
            :data-source="list"
            :loading="loading"
    >
      <a-list-item :key="item.id" slot="renderItem" slot-scope="item, index">
        <a-col :span="2">
          <a-icon type="experiment" two-tone-color="#eee" :style="{fontSize: '60px'}"/>
        </a-col>
        <a-col :span="22">
          <a-list-item-meta>
            <div slot="title" style="font-weight:bold;">
              <a @click="onclick(item.id)">
                {{ item.field[0] }}
              </a>
            </div>
            <div slot="description">
              <div slot="description" style="font-size:12px;">
                <a-row>
                  {{ `${getFieldByFieldId(item.id) ? getFieldByFieldId(item.id).publications : 0}篇论文` }}
                </a-row>
                <a-row>
                  {{ `被引用${getFieldByFieldId(item.id) ? getFieldByFieldId(item.id).citations : 0}次` }}
                </a-row>
              </div>
            </div>
          </a-list-item-meta>
        </a-col>
      </a-list-item>
      <!--加载更多-->
      <a-card slot="footer" v-if="data.hasNextPage" style="text-align: center; height: 40px" :bordered="false">
        <a-spin :spinning="loadingMore" size="large" />
      </a-card>
    </a-list>
  </a-card>
</template>

<script>
  import {getSearchResultsDirectionInfo} from './SearchResultsDirectionApi'
  import Qs from "qs";

  export default {
    name: 'SearchResultsDirection',
    props: {
      hasPagination: {
        type: Boolean,
        default: true
      },
      sortColumns: {
        type: String,
        default: '0'
      },
    },
    computed: {
      fieldTotal() {
        return !this.data.total ? 0 : this.data.total
      }
    },
    data() {
      //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
      return {
        loading: true,
        loadingMore: false,
        parameters: {
          index: 1,
          rows: 10,
        },
        data: {},
        list: [],
        fieldList: [],
        pageIndex: 2,
        keyword: '',
        autocompleteKeyword: '',
      }
    },
    created() {
      this.keyword = this.$router.history.current.query.keyword
      this.autocompleteKeyword = this.$router.history.current.query.autocompleteKeyword
    },
    mounted() {
      //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
      this.getSearchResultsDirectionInfo()
      window.onscroll = throttle(onScroll)
      const that = this;

      function onScroll() {
        //变量scrollTop是滚动条滚动时,距离顶部的距离
        let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        //变量windowHeight是可视区的高度
        let windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
        //变量scrollHeight是滚动条的总高度
        let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
        //滚动条到底部的条件
        if( scrollHeight - (scrollTop+windowHeight) <= 10 ) {
          //写后台加载数据的函数
          that.loadMore();
        }
      }

      //函数节流
      function throttle(fn, interval = 300) {
        let canRun = true;
        return function () {
          if (!canRun) return;
          canRun = false;
          setTimeout(() => {
            fn.apply(this, arguments);
            canRun = true;
          }, interval);
        }
      }
    },
    methods: {
      //方法，一般用来做提交表单一类的操作，类似于void方法，不用return
      getSearchResultsDirectionInfo() {
        let param = Qs.stringify({
          ...this.parameters,
          keyword: this.keyword,
          autocompleteKeyword: this.autocompleteKeyword
        });
        getSearchResultsDirectionInfo(param).then(res => {
          if ('0' === res.ret_code && res.data) {
            this.data = res.data.pageInfo
            this.list = res.data.pageInfo.list ? res.data.pageInfo.list : []
            this.fieldList = res.data.fieldList
          }
          this.loading = false
        }).finally(() => {
          this.loading = false
        })
      },
      // 跳转画面
      onclick(searchResultsId) {
        let routeUrl = this.$router.resolve({
          path: '/searchResults/searchResultsPage/searchResultsDirectionDetail',
          query: {
            fieldId: searchResultsId
          }
        });
        window.open(routeUrl.href, '_blank');
      },
      // 加载更多
      loadMore(el) {
        if (this.data.hasNextPage) {
          this.loadingMore = true
          const param = Qs.stringify({
            ...this.parameters,
            index: this.pageIndex++,
            keyword: this.keyword,
            autocompleteKeyword: this.autocompleteKeyword
          });
          getSearchResultsDirectionInfo(param).then(res => {
            if ('0' === res.ret_code && res.data) {
              this.data = res.data.pageInfo
              this.list = this.list.concat(res.data.pageInfo.list ? res.data.pageInfo.list : [])
              this.fieldList = this.fieldList.concat(res.data.fieldList)
            }
            this.loadingMore = false
          }).finally(() => {
            this.loadingMore = false
          })
        }
      },
      getFieldByFieldId(fieldId) {
        return this.fieldList.find(field => Number(fieldId) === Number(field.fieldId))
      }
    },
  };
</script>

<style scoped>
  a {
    color: black !important
  }

  a:hover {
    color: #4dbbc6 !important
  }
</style>