<template>
  <div id="direction-detail">
    <a-card size="small" :bordered="false" :loading="headerLoading" class="content-card" :bodyStyle="{padding: '16px 24px !important'}">
      <a-card-meta :title="displayName">
        <div slot="description" class="cnIntroduction">
          {{ ChineseIntroduction }}
        </div>
      </a-card-meta>
      <hr style="border-color:#f0f2f5; border-width: 1px;">
      <a-row class="statistic-row">
        <a-col :span="18">
          <a-statistic :value="publications" suffix="篇论文" style="min-width: 12.3%;margin-right: 20px"/>
          <a-statistic prefix="被引用" :value="citations" suffix="次"/>
        </a-col>
        <a-col :span="6" style="text-align: right; padding-top: 10px;">
          <a-button type="primary" shape="round" size="small" :loading="followingLoading" v-if="followingBtnFlg === '1'"
                    @click="followAction">
            关注
          </a-button>
          <a-button type="primary" shape="round" size="small" :loading="followingLoading" v-if="followingBtnFlg === '2'"
                    @click="cancelfollowAction">
            取消关注
          </a-button>
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="3" id="related-field-label">
          相关研究方向:
        </a-col>
        <a-col :span="21" class="tag-col">
          <span class="tag-span" v-for="(relatedField, index) in relatedFields4Show" :key="relatedField.fieldId">
            <a-tag @click="selectRelatedField(relatedField.fieldId)" style="cursor: pointer;">
              {{ relatedField.name }}
            </a-tag>
            <a
              v-if="relatedFields.length > showAllRelatedFieldSize && index === relatedFields4Show.length - 1"
              @click="loadMoreRelatedFields"
              class="show-all-sub-field">
                {{ showAllRelatedFieldFlg ? '收起' : '更多' }}
                <a-icon :type="showAllRelatedFieldFlg?'caret-up':'caret-down'"/>
              </a>
          </span>
        </a-col>
      </a-row>
    </a-card>
    <a-card size="small" :bordered="false" class="content-card">
      <a-spin :spinning="echartsLoading">
        <a-list v-if="!(chartData.rows.length > 0)" :data-source="chartData.rows"/>
        <ve-histogram v-if="chartData.rows.length > 0" :data="chartData" :settings="chartSettings" :extend="extend" :grid="grid"/>
      </a-spin>
    </a-card>
    <a-row type="flex" justify="space-between">
      <a-col :span="6">
        <n-top-item-list v-for="(topItemParam) in topItemParams" :key="topItemParam.title"
                         :top-item-title="topItemParam.title"
                         :data-url="topItemParam.dataUrl"
                         :top-item-type="topItemParam.entityType"
                         :parameters="{fieldId, entityType: topItemParam.entityType, rows:topItemParam.maxSize}"
                         :top-size=topItemParam.topSize
                         :new-page-url="topItemParam.newPageUrl"
                         :new-page-param-name="topItemParam.newPageParamName"
                         :show-checkbox-flg="topItemParam.showCheckboxFlg"
                         class="top-item-card"/>
      </a-col>
      <a-col :span="17">
        <a-row>
          <a-tabs default-active-key="0">
<!--          <a-tabs @change="changeFormat" default-active-key="0">-->
            <a-tab-pane key="0" tab="领域内最重要的10篇论文" :forceRender="true">
              <template>
                <light-timeline :items='publicationTop10List'>
                  <template slot='tag' slot-scope='item'>
                    <a-row class="timeline-left">HIGHLY</a-row>
                    <a-row class="timeline-left">CITED</a-row>
                    <a-row class="timeline-time">{{item.item.year}}</a-row>
                  </template>
                  <template slot='content' slot-scope='item'>
                    <n-list ref="publicationTop10List"
                            :publication="item.item"
                            :home="false"
                            :searchBar="false"
                            :sortBar="false"
                            :hasPagination="false"
                            :hasPadding="true"
                            :hasPaddingV="true"
                            />
                  </template>
                </light-timeline>
              </template>
            </a-tab-pane>
<!--            <a-tab-pane key="1" tab="最新重要论文" :forceRender="true">-->
<!--              <n-list ref="publicationFieldList"-->
<!--                      :dataUrl="'/searchResultsDirectionDetail/getPublicationFieldList'"-->
<!--                      :home="false"-->
<!--                      :searchBar="false"-->
<!--                      :sortBar="false"-->
<!--                      :hasPagination="true"-->
<!--                      :parameters="{userId, fieldId, ...listParam, publicationType: 1}"/>-->
<!--            </a-tab-pane>-->
          </a-tabs>
        </a-row>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import NTopItemList from '@/views/business/components/NTopItemList/NTopItemList'
import NList from '@/views/business/components/NList/NList'
import {getDirectionDetailInfo, getStatsFieldYearlyInfo, followOrCancelFollowAction, getPublicationTop10List} from './SearchResultsDirectionDetailApi'
import Qs from "qs";
import {echartsXAxisFormat4Year} from '@/utils/util'

export default {
  name: 'SearchResultsDirectionDetail',
  components: {
    NTopItemList,
    NList
  },
  computed: {
    relatedFields4Show() {
      let fields = this.relatedFields;
      if (!this.showAllRelatedFieldFlg && this.relatedFields.length > this.showAllRelatedFieldSize) {
        fields = fields.slice(0, this.showAllRelatedFieldSize)
      }
      return fields
    },
  },
  data() {
    return {
      followingLoading: false,
      followingBtnFlg: '0',
      headerLoading: true,
      echartsLoading: true,
      userId: this.$store.getters.userId,
      fieldId: this.$route.query.fieldId,
      // 头部信息 start
      displayName: '',
      ChineseIntroduction: '',
      publications: '',
      citations: '',
      relatedFields: [],
      showAllRelatedFieldSize: 6,
      showAllRelatedFieldFlg: false,
      // 头部信息 end
      // 图表信息 start
      chartSettings: {
        showLine: ['citations'],
        axisSite: {right: ['citations']},
        xAxisType: 'time',
        yAxisName: ['发文数', '被引用次数'],
        labelMap: {
          publications: '发文数',
          citations: '被引用次数',
          year: '日期',
        },
      },
      grid: {
        right: '5%',
        left: '5%',
      },
      extend: {
        color: ['#76ADE4', '#1362AE'],
        series: {
          smooth: false,
          symbolSize: 5,
          barCategoryGap: '40%',
          barMaxWidth: 20,
        },
        xAxis: {
          axisLabel: {
            interval: 0,
            formatter: (value, index) => {
              if (1 < index && index < this.chartData.rows.length - 2) {
                return echartsXAxisFormat4Year(this.chartData.rows.length - 4, value, index - 2)
              } else {
                return ''
              }
            },
          }
        },
        yAxis: () => [
          {
            splitLine: {
              lineStyle: {
                width: 0.5,
                opacity: 0.4
              }
            },
            name: '发文数',
            nameLocation: 'middle',
            nameTextStyle: {
              padding: [0, 0, 50, 0]
            },
            axisLabel: {
              interval: 0,
              formatter: (value, index) => {
                let result = '0';
                if (value && !isNaN(value)) {
                  if (value >= 1000) {
                    result = `${value / 1000} k`
                  } else {
                    result = value
                  }
                }
                return result
              }
            },
          },
          {
            splitLine: {
              lineStyle: {
                width: 0.5,
                opacity: 0.4
              }
            },
            name: '被引用次数',
            nameLocation: 'middle',
            nameTextStyle: {
              padding: [60, 0, 0, 0]
            },
            axisLabel: {
              interval: 0,
              formatter: (value, index) => {
                let result = '0';
                if (value && !isNaN(value)) {
                  if (value >= 1000) {
                    result = `${value / 1000} k`
                  } else {
                    result = value
                  }
                }
                return result
              }
            },
          }
        ]
      },
      chartData: {
        columns: ['year', 'publications', 'citations'],
        rows: []
      },
      // 图表信息 end
      // Top排行信息 start
      topItemParams: [
        {
          title: '主要研究方向',
          dataUrl: '/searchResultsDirectionDetail/getFieldTopEntityList',
          entityType: '5',
          topSize: 10,
          maxSize: 20,
          newPageUrl: '/searchResults/searchResultsPage/searchResultsDirectionDetail',
          newPageParamName: 'fieldId',
          showCheckboxFlg: false,
        }
        , {
          title: '研究成果类型',
          dataUrl: '/searchResultsDirectionDetail/getFieldTopEntityList',
          entityType: '7',
          topSize: 10,
          maxSize: 20,
          newPageUrl: null,
          newPageParamName: null,
          showCheckboxFlg: false,
        }
        , {
          title: '顶尖学者',
          dataUrl: '/searchResultsDirectionDetail/getFieldTopEntityList',
          entityType: '1',
          topSize: 10,
          maxSize: 20,
          newPageUrl: '/scholar/scholarPage/ScholarSummary',
          newPageParamName: 'userId',
          showCheckboxFlg: false,
        }
        , {
          title: '顶尖期刊',
          dataUrl: '/searchResultsDirectionDetail/getFieldTopEntityList',
          entityType: '3',
          topSize: 10,
          maxSize: 20,
          newPageUrl: null,
          newPageParamName: null,
          showCheckboxFlg: false,
        }
        , {
          title: '顶尖会议',
          dataUrl: '/searchResultsDirectionDetail/getFieldTopEntityList',
          entityType: '4',
          topSize: 10,
          maxSize: 20,
          newPageUrl: null,
          newPageParamName: null,
          showCheckboxFlg: false,
        }
        , {
          title: '顶尖机构',
          dataUrl: '/searchResultsDirectionDetail/getFieldTopEntityList',
          entityType: '2',
          topSize: 10,
          maxSize: 20,
          newPageUrl: '/institutions/institutionsPage/InstitutionsSummary',
          newPageParamName: 'institutionId',
          showCheckboxFlg: false,
        }
      ],
      // Top排行信息 end
      // 论文集合信息 start
      listParam: {
        index: 1,
        rows: 10
      },
      // 论文集合信息 end
      publicationTop10List: [],
      tabActiveKey:"0"
    }
  },
  methods: {
    getDirectionDetailData() {
      const params = Qs.stringify({
        fieldId: this.fieldId,
        userId: this.userId
      });
      // 基本信息取得
      getDirectionDetailInfo(params).then(res => {
        if (res.ret_code === '0') {
          if (undefined !== res.data && null != res.data) {
            this.displayName = res.data.displayName
            this.ChineseIntroduction = res.data.displayNameCn
            this.publications = res.data.publications
            this.citations = res.data.citations
            this.followingBtnFlg = res.data.followingFlg
            if (undefined !== res.data.relatedFieldList && null != res.data.relatedFieldList) {
              this.relatedFields = res.data.relatedFieldList.map(relatedField => {
                return {name: relatedField.fieldDisplayName2, fieldId: relatedField.fieldId2}
              })
            }
          } else {
            this.displayName = ''
            this.ChineseIntroduction = ''
            this.publications = ''
            this.citations = ''
            this.relatedFields = []
          }
        } else {
          this.$notification.error({message: res.ret_msg})
        }
        this.headerLoading = false
        document.title = `${this.displayName}-${document.title}`
      }).catch(err => {
        this.headerLoading = false
      })
      // 统计信息取得
      getStatsFieldYearlyInfo(params).then(res => {
        if (res.ret_code === '0') {
          if (undefined !== res.data && null != res.data && res.data.length > 0) {
            this.chartData.rows = res.data.map(statsFieldYearly => {
              return {
                year: new Date(statsFieldYearly.year).getFullYear(),
                publications: statsFieldYearly.publications,
                citations: statsFieldYearly.citations
              }
            })
            this.chartData.rows.unshift({year: '', publications: null, citations: null})
            this.chartData.rows.unshift({year: '', publications: null, citations: null})
            this.chartData.rows.push({year: '', publications: null, citations: null})
            this.chartData.rows.push({year: '', publications: null, citations: null})
          } else {
            this.chartData.rows = []
          }
        } else {
          this.chartData.rows = [];
          this.$notification.error({message: res.ret_msg})
        }
        this.echartsLoading = false
      }).catch(err => {
        this.echartsLoading = false
      })
    },
    loadMoreRelatedFields() {
      this.showAllRelatedFieldFlg = !this.showAllRelatedFieldFlg
    },
    selectRelatedField(fieldId) {
      if (undefined !== fieldId && null !== fieldId) {
        let routeUrl = this.$router.resolve({
          path: this.newPageUrl,
          query: {fieldId}
        });
        window.open(routeUrl.href, '_blank');
      }
    },
    // 关注
    followAction() {
      this.followingLoading = true
      const param = Qs.stringify({
        userId: this.userId,
        fieldId: this.fieldId,
        followingBtnFlg: this.followingBtnFlg
      });
      followOrCancelFollowAction(param).then(res => {
        this.followingLoading = false
        this.followingBtnFlg = '2'
      }).catch(
        err => {
          this.followingLoading = false
          if (err) {
            if (err.ret_code === undefined || '201' !== err.ret_code.substring(0, 3)) {
              this.$notification.error({
                message: '关注失败'
              })
            }
          }
        }
      )
    },
    // 取消关注
    cancelfollowAction() {
      this.followingLoading = true
      const param = Qs.stringify({
        userId: this.userId,
        fieldId: this.fieldId,
        followingBtnFlg: this.followingBtnFlg
      });
      followOrCancelFollowAction(param).then(res => {
        this.followingLoading = false
        this.followingBtnFlg = '1'
      }).catch(err => {
          this.followingLoading = false
          if (err) {
            if (err.ret_code === undefined || '201' !== err.ret_code.substring(0, 3)) {
              this.$notification.error({
                message: '取消关注失败'
              })
            }
          }
        }
      )
    },
    // changeFormat(e) {
    //   this.tabActiveKey = e;
    //   if (e === "1") {
    //       this.$refs.publicationFieldList.changeActive(true);
    //   } else {
    //       this.$refs.publicationFieldList.changeActive(false);
    //   }
    // },
    getPublicationTop10ListFunc(){
        const that = this;
        if (undefined !== this.fieldId && null !== this.fieldId) {
            this.loading = true
            let param = Qs.stringify({
                fieldId: this.fieldId,
                userId: this.userId,
                index: '1',
                rows: '10',
                publicationType: 0,
            });
            getPublicationTop10List(param).then(res => {
                if (res.data) {
                    this.data = res.data
                    // this.list = res.data.list ? res.data.list : []
                    that.publicationTop10List = res.data.list ? res.data.list : []
                    this.loading = false
                    if (this.isPublication) {
                        let authorIds = ''
                        for (let item of this.list[0].authorInfoList) {
                            authorIds = authorIds + item.authorId + ','
                        }
                        authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));
                        let paramAction = Qs.stringify({
                            authorIds,
                        })
                        // this.$http.post('/articlesFullText/updUserAction', paramAction)
                    }
                }
            }).finally(() => {
                this.loading = false
            })
        }
    }
  },
  created() {
    this.getPublicationTop10ListFunc();
  },
  mounted() {
    // this.changeFormat("0");
    this.getDirectionDetailData()
  },
}

</script>

<style scoped>
/deep/ .ant-card-head-title {
  font-size: 18px;
  font-weight: 600;
}

/deep/ .ant-statistic-content-prefix {
  font-size: 14px;
}

/deep/ .ant-statistic-content-value {
  font-size: 14px;
}

/deep/ .ant-statistic-content-suffix {
  font-size: 14px;
}

/deep/ .line-container .item-tag {
  top: 50%;
}

/deep/ .line-container .item-symbol {
  top: 50%;
}

.content-card {
  margin-bottom: 24px;
}

.statistic-row {
  margin-top: -10px;
  margin-bottom: 10px;
}

.statistic-row > .ant-col-18 > div {
  float: left;
}

.tag-col {
  margin-bottom: -8px;
}

.tag-span {
  display: inline-block;
  margin-bottom: 8px;
}

.show-all-sub-field {
  margin-left: 10px;
}

.top-item-card {
  margin-bottom: 20px;
}

.timeline-left {
  color: darkorange;
  font-size: 14px;
  font-weight: bold;
}

.timeline-time {
  font-size: 14px;
  font-weight: bold;
}

.cnIntroduction {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}
</style>