<template>
  <a-spin :spinning="loading">
    <a-card :bordered="false" :bodyStyle="{paddingBottom: '16px !important'}" :title="topItemTitle" size="small">
      <a-button v-if="showContentBtnFlg" ref="showContentBtn" type="link" slot="extra" @click="showContentChange"
                style="height: 21px;">
        {{ showContentBtnName }}
      </a-button>
      <a-list :data-source="topItems"/>
      <a-row type="flex" align="middle" v-if="showCheckboxFlg" v-for="(item) in topItems4Show"
             :key="!(item.topItemId) ? item.topItemName : item.topItemId">
        <a-col :span="2">
          <a-checkbox :value="!(item.topItemId) ? item.topItemName : item.topItemId" @change="checkBoxChanged"/>
        </a-col>
        <a-col :span="22">
          <template slot="title">
            {{ item.topItemName }}
          </template>
          <a class="progress-label" v-if="topItemType === '5' || topItemType === '1'" @click="jumpToNewPage(item)">{{ item.topItemName }}</a>
          <span class="progress-label" :title="item.topItemName" v-else>{{ item.topItemName }}</span>
          <div class="progress">
            <a-progress :percent="item.percent" :key="item.topItemId" :show-info="false" :stroke-color="strokeColor"/>
          </div>
        </a-col>
      </a-row>
      <a-row v-if="!showCheckboxFlg" v-for="(item) in topItems4Show" :key="!(item.topItemId) ? item.topItemName : item.topItemId">
        <template slot="title">
          {{ item.topItemName }}
        </template>
        <a class="progress-label" v-if="topItemType === '5' || topItemType === '1'" @click="jumpToNewPage(item)">{{ item.topItemName }}</a>
        <span class="progress-label" :title="item.topItemName" v-else>{{ item.topItemName }}</span>
        <div class="progress">
          <a-progress :percent="item.percent" :key="item.topItemId" :show-info="false" :stroke-color="strokeColor"/>
        </div>
      </a-row>
    </a-card>
  </a-spin>
</template>

<script>
import Qs from 'qs'

export default {
  name: 'NTopItemList',
  props: {
    topItemTitle: {
      type: String,
      default: ''
    },
    strokeColor: {
      type: String,
      default: '#1362AE'
    },
    topSize: {
      type: Number,
      default: 10
    },
    dataUrl: {
      type: String,
      required: true
    },
    topItemType: {
      type: String,
      required: true
    },
    newPageUrl: {
      type: String,
      default: null
    },
    newPageParamName: {
      type: String,
      default: null
    },
    showCheckboxFlg: {
      type: Boolean,
      default: false
    },
    parameters: {
      type: Object,
      default() {
        return {rows: 20}
      },
    }
  },
  computed: {
    showContentBtnFlg() {
      return this.topItems.length - this.topSize > 0
    },
    showContentBtnName() {
      return '0' === this.showContentBtnType ? '加载更多' : '收起'
    },
    topItems4Show() {
      let topItems4Show = []
      if (undefined !== this.topItems && null !== this.topItems && this.topItems.length > 0 && this.topItems[0].score > 0) {
        let firstScore = this.topItems[0].score
        // 取得指定长度的排行信息
        for (let i = 0; i < this.showItemsLength; i++) {
          if (i < this.topItems.length && this.topItems[i].score > 0) {
            topItems4Show.push(this.topItems[i])
            if (i === 0) {
              topItems4Show[i].percent = 100
            } else {
              let score = topItems4Show[i].score
              topItems4Show[i].percent = Number(((Number(score) / Number(firstScore)) * 100).toFixed(3))
            }
          } else {
            break
          }
        }
      }
      return topItems4Show
    },
  },
  data() {
    return {
      loading: true,
      showContentBtnType: '0', // 按钮类型（0：more 1: 收起）
      topItems: [],
      showItemsLength: this.topSize,
    }
  },
  methods: {
    getDataList() {
      const param = Qs.stringify(this.parameters)
      this.$http.post(this.dataUrl, param).then(res => {
        if ('0' === res.ret_code) {
          this.topItems = res.data
        } else {
          this.topItems = []
        }
        this.loading = false
      }).catch(
        err => {
          this.topItems = []
          this.loading = false
        }
      )
    },
    showContentChange() {
      if ('0' === this.showContentBtnType) {
        // 显示所有排行数据
        this.showItemsLength = this.parameters.rows
        this.showContentBtnType = '1'
      } else {
        // 显示指定条数的排行数据
        this.showContentBtnType = '0'
        this.showItemsLength = this.topSize
      }
    },
    checkBoxChanged(e) {
      if (e.target.value) {
        this.$emit('changeSelectedIdArray', this.topItemType, e.target.value, e.target.checked)
      }
    },
    jumpToNewPage({topItemId, topItemName}) {
      if (undefined !== this.newPageUrl && null !== this.newPageUrl && '' !== this.newPageUrl
        && undefined !== topItemId && null !== topItemId && '' !== topItemId) {
        let routeQuery = {};
        if (undefined !== this.newPageParamName && null !== this.newPageParamName && '' !== this.newPageParamName) {
          if ('1' === this.topItemType) {
            routeQuery = {'userId': topItemId, 'userName': topItemName, 'isUser': false}
          } else {
            routeQuery[this.newPageParamName] = topItemId
          }
        }
        let routeUrl = this.$router.resolve({
          path: this.newPageUrl,
          query: routeQuery
        });
        window.open(routeUrl.href, '_blank');
      }
      return false
    },
  },
  mounted() {
    this.getDataList()
  }
}
</script>

<style scoped>
.progress {
  margin-top: -13px;
  margin-bottom: -3px;
}

.progress-label {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>