<template>
  <div>
    <a-modal
      :visible="visible"
      :width="modalWidth"
      :bodyStyle="modalHeight"
      @cancel="handleCancel"
      :confirmLoading="true"
      :maskClosable="false"
      :footer="false"
      :destroyOnClose="true"
      :centered="true"
    >
      <div slot="title">
        {{title}}
      </div>
      <a-spin tip="文件上传中..." :spinning="uploadLoading">
        <div>
          <div style="margin: 20px 0px">
            <a-row :gutter="24">
              <user-upload-documents1
                ref="userUploadDocuments1"
                v-show="current === 0"
                :toUserUploadDocuments2="toUserUploadDocuments2"
                :getAnalysisPublicationModel="getAnalysisPublicationModel"
                :getCurrent1PublicationModel="getCurrent1PublicationModel"
                :setFile="setFile"
              />
              <user-upload-documents2
                ref="userUploadDocuments2"
                v-if="current === 1"
                :publication="publication"
                :handleCancel="handleCancel"
                :changeMatchingFlg="changeMatchingFlg"
                :analysisPublicationModel="analysisPublicationModel"
                :toUserUploadDocuments3="toUserUploadDocuments3"
                :informationMismatchFlg="informationMismatchFlg"
                :getCurrent1PublicationModel="getCurrent1PublicationModel"
              />
              <user-upload-documents3
                ref="userUploadDocuments3"
                v-if="current === 2 || current === 3"
                :analysisPublicationList="analysisPublicationList"
                :getPublicationModel="getPublicationModel"
                :matchFlg="matchFlg"
              />
            </a-row>
          </div>
          <a-row :gutter="24" class="steps-action">
            <a-col :push="9" :span="6" v-if="current === 0">
              <a-button block type="primary" @click="handleCancel">
                取消
              </a-button>
            </a-col>
            <a-col v-if="current === 1" :push="9" :span="6" >
              <a-button :disabled="matchingFlg" block type="primary" @click="UploaDomplete">
                完成上传
              </a-button>
            </a-col>
            <a-col v-if="current === 2" :push="4" :span="6" >
              <a-button :disabled="matchingFlg" block type="primary" @click="informationMismatch">
                信息不匹配
              </a-button>
            </a-col>
            <a-col v-if="current === 2" :push="8" :span="6" >
              <a-button :disabled="matchingFlg" block type="primary" @click="informationMatch">
                确认匹配
              </a-button>
            </a-col>
            <a-col :push="9" :span="6" v-if="current === 3">
              <a-button block type="primary" @click="analysisConfirm">
                确认
              </a-button>
            </a-col>
          </a-row>
          <a-modal
            v-model="confirmVisible"
            :footer="false"
            :width="400"
            :centered="true"
            :bodyStyle="confirmBodyStyle"
          >
            <div class="confirmText">上传成功，是否继续上传其他文献？</div>
            <a-row>
              <a-col :span="4" :push="4">
                <a-button block size="small" type="primary" @click="handleOk">
                  是
                </a-button>
              </a-col>
              <a-col :span="4" :push="12">
                <a-button block size="small" type="primary" @click="handleNo">
                  否
                </a-button>
              </a-col>
            </a-row>

          </a-modal>
        </div>
      </a-spin>
    </a-modal>
  </div>
</template>

<script>

import UserUploadDocuments1 from '@/views/business/user/userFrame/uploadDocuments/UserUploadDocuments1'
import UserUploadDocuments2 from '@/views/business/user/userFrame/uploadDocuments/UserUploadDocuments2'
import UserUploadDocuments3 from '@/views/business/user/userFrame/uploadDocuments/UserUploadDocuments3'
import Qs  from 'qs'
import moment from 'moment';
import { insertPublication } from '../../user/userFrame/uploadDocuments/UserUploadDocuments.js'

export default {
  name: "NUploadModal",
  components: {
    //所引入的组件 需要先import进来
      UserUploadDocuments1,
      UserUploadDocuments2,
      UserUploadDocuments3
  },
  props: {
    title:{
      type: String
    },
    visible:{
      type: Boolean
    },
    modalWidth:{
      type: Number
    },
    modalHeight:{
      type: Object
    },
    handleCancel:{
      type: Function
    },
    setModelWidthAndHeight: {
        type: Function
    }
  },
  data(){
    return {
      current: 0,
      publication: {},
      matchingFlg: true,
      analysisPublicationModel: {},
      analysisPublicationList: [],
      matchFlg: '',
      publicationId: '',
      publicationModel: {},
      informationMismatchFlg: false,
      confirmVisible: false,
      confirmBodyStyle:{
          height: '200px',
          padding: '0 24px',
          overflow: 'auto'
      },
      file: {},
      uploadLoading: false,
    }
  },
  computed: {
  },
  methods:{
    toUserUploadDocuments2() {
        this.current = 1;
        this.setModelWidthAndHeight(600, '440px')
    },

    toUserUploadDocuments3(analysisPublicationList, matchFlg) {
        this.matchFlg = matchFlg;
        this.analysisPublicationList = analysisPublicationList
        if (matchFlg === 'doi') {
            this.current = 2;
            this.setModelWidthAndHeight(600, '420px')
        } else {
            this.current = 3;
            this.setModelWidthAndHeight(800, '720px')
        }
    },

    // 完成上传
    UploaDomplete() {
        if (this.$refs.userUploadDocuments2.handleSubmit()) {
            if (this.publicationModel.displayTitle) {
                this.publicationModel.analysisFlg = true;
                this.addPublication();
            }
        } else {
            this.$refs.userUploadDocuments2.setPublicationTitleError();
        }
    },

    changeMatchingFlg(matchingFlg) {
        this.matchingFlg = matchingFlg;
    },

    // 获取解析文献
    getAnalysisPublicationModel(analysisPublicationModel) {
        this.analysisPublicationModel = analysisPublicationModel
    },

    // 匹配文献对象
    getPublicationModel(publicationId) {
        if (publicationId !== 1 && publicationId !== null && publicationId !== undefined) {
          this.publicationModel = this.analysisPublicationList.filter(item => {
            return item.publicationId === publicationId;
          })[0];
        } else {
          this.publicationModel = this.analysisPublicationModel;
        }
        this.publicationModel.userId = this.$store.getters.userId;
        this.publicationId = publicationId;
    },

    setCurrent() {
        this.current = 0;
        this.informationMismatchFlg = false;
        this.confirmVisible = false;
        this.matchingFlg = true;
    },

    // 选择标题匹配信息
    analysisConfirm () {
        if (this.publicationId === 1) {
            this.current = 1;
            this.informationMismatchFlg = true;
            this.setModelWidthAndHeight(600, '440px');
        } else {
            if (this.publicationId === '' || this.publicationId === null || this.publicationId === undefined) {
                this.$message.error("请选择匹配内容！");
            } else {
                this.publicationModel.analysisFlg = false;
                this.addPublication();
            }
        }
    },

    // 信息不匹配返回填写信息界面
    informationMismatch () {
        this.current = 1;
        this.informationMismatchFlg = true;
        this.setModelWidthAndHeight(600, '440px');
    },

    // 信息匹配上传文件
    informationMatch () {
        this.publicationModel = this.$refs.userUploadDocuments3.getPublication();
        this.publicationModel.userId = this.$store.getters.userId;
        this.publicationModel.analysisFlg = false;
        this.addPublication();
    },

    showConfirmModal() {
        this.confirmVisible = true;
    },

    handleOk(e) {
        this.confirmVisible = false;
        this.setCurrent();
        this.publication = this.$refs.userUploadDocuments1.setPercentShow(false);
        this.setModelWidthAndHeight(450, '200px');
    },

    handleNo(e) {
        this.confirmVisible = false;
        this.handleCancel();
        this.$router.push({ path: '/user/userPage/UserFavorites',query:{userId: this.$store.getters.userId} });
        if (this.$route.path === '/user/userPage/UserFavorites') {
            window.location.reload();
        }
    },

    // 新增私有文献信息
    addPublication() {
      this.uploadLoading = true;
      let publicationModel = this.publicationModel
      let formData = new FormData();
      formData.append("publicationModelJson", JSON.stringify(publicationModel));
      let file = this.file;
      formData.append("file", file);
      insertPublication(formData).then(res => {
          if (res.ret_code === '0') {
              this.uploadLoading = false;
              this.confirmVisible = true;
          }
      }).catch(err => {
      })
    },

    // 获取自己上传文献
    getCurrent1PublicationModel(publicationModel) {
        if (publicationModel !== null) {
            this.publicationModel = publicationModel
            this.publicationModel.userId = this.$store.getters.userId;
        }
    },

    setFile(file) {
        this.file = file;
    }
  }
}
</script>
<style scoped>
  /deep/.ant-modal-header {
    border-bottom: none;
  }
  .confirmText {
    line-height: 100px;
    margin-top: 39px;
    text-align: center;
    font-size: 16px;
  }
</style>
