<template>
  <page-header-wrapper
    :tab-list="tabList"
    :tab-active-key="tabActiveKey"
    :tab-change="handleTabChange"
    :breadcrumb="false"
    :title="false"
  >
    <template v-slot:content >
      <a-card size="small" :loading="infoLoading" :bordered="false" style="padding-left: 25px">
        <a-row class="title" style="color: #000; font-size: 20px;">
          Notification
        </a-row>
      </a-card>
    </template>
    <router-view />
  </page-header-wrapper>
</template>

<script>
const getActiveKey = (path) => {
  switch (path) {
    case '/notification/notificationPage/NotificationUpdates':
      return '1'
    case '/notification/notificationPage/NotificationMessages':
      return '2'
    case '/notification/notificationPage/NotificationRequests':
      return '3'
    default:
      return '1'
  }
}
export default {
  name: 'NotificationFrame',
  data () {
    return {
      tabList: [
        { key: '1', tab: '更新' },
        { key: '2', tab: '私信' },
        { key: '3', tab: '全文请求' },
      ],
      tabActiveKey: '1',
      infoLoading: false,
      search: true
    }
  },
  created () {
    this.tabActiveKey = getActiveKey(this.$route.path)

    this.$watch('$route', (val) => {
      this.tabActiveKey = getActiveKey(val.path)
    })
  },
  methods: {
    handleTabChange (key) {
      this.tabActiveKey = key
      switch (key) {
        case '1':
          this.$router.push('/notification/notificationPage/NotificationUpdates')
          break
        case '2':
          this.$router.push('/notification/notificationPage/NotificationMessages')
          break
        case '3':
          this.$router.push('/notification/notificationPage/NotificationRequests')
          break
        default:
          this.$router.push('/notification/notificationPage/NotificationUpdates')
      }
    }
  }
}
</script>

<style scoped>
h2{
  margin-top: 17px;
}
</style>