<template>
  <div>
    <a-row style="margin-bottom: 8px">
      <a-col :span="24" >
        <div class="ant-list-item-meta">
          <div class="ant-list-item-meta-content">
            <h4 class="ant-list-item-meta-title" style="font-weight: 600; font-size: 20px;display: inline-block;">
              {{ this.displayTitle }}
            </h4>
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row style="margin-bottom: 16px">
      <a-col :span="24">
        <div class="antd-pro-components-article-list-content-index-listContent">
          <div class="extra ant-row">
            <a-tag v-if="this.docTypeName" color="blue" style="border-radius: 5px;margin-right: 20px;">{{ this.docTypeName }}</a-tag>
            <span style="color: #595959;margin-right: 20px;font-weight: 600">{{ this.updateAt }}</span>
            <span style="color: #595959;margin-right: 20px;font-weight: 600">{{ this.source }}</span>
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row style="border: #00A0E9">
      <a-col :span="24" align="center">
        <a-upload
          :file-list="fileList"
          list-type="picture"
          class="avatar-uploader"
          :remove="handleRemove"
          :before-upload="beforeUpload"
          accept=".pdf"
        >
          <a-button> <a-icon type="plus" /> 选择上传文档 </a-button>
        </a-upload>
      </a-col>
    </a-row>

    <a-row style="margin-top: 40px; margin-bottom: 5px" type="flex">
      <a-col :flex="1">
      </a-col>

      <a-col v-if="authorFlg" :flex="1" align="center" style="margin-left: 3px">
                <a-button
                  type="primary"
                  :disabled="fileList.length === 0"
                  :loading="uploadingPublic"
                  shape="round"
                  icon="upload-o"
                  @click="handleUpload('1')"
                >
                  {{ uploadingPublic ? '正在上传' : '上传公开全文' }}
                </a-button>
      </a-col>
      <a-col :flex="1" align="center">
        <a-button
          type="primary"
          :disabled="fileList.length === 0"
          :loading="uploadingPrivate"
          shape="round"
          icon="upload-o"
          @click="handleUpload('2')"
        >
          {{ uploadingPrivate ? '正在上传' : '上传私密全文' }}
        </a-button>
      </a-col>
      <a-col :flex="1">
      </a-col>
    </a-row>

    <a-row style="margin-bottom: 16px" type="flex">
      <a-col :flex="1">
      </a-col>
      <a-col v-if="authorFlg" :flex="1" align="center">
        <span style="color: #595959;font-weight: 600;font-style: italic">任何人都可以下载</span>
      </a-col>
      <a-col :flex="1" align="center">
        <span style="color: #595959;font-weight: 600;font-style: italic">仅自己可以看到</span>
      </a-col>
      <a-col :flex="1">
      </a-col>
    </a-row>
  </div>
</template>

<script>
import { FileUpload } from './UserUploadArticlesApi.js'
export default {
  name: 'UserUploadArticles',
  props:{
    publicationId:{
      type: Number,
    },
    displayTitle:{
      type: String,
    },
    docTypeName:{
      type: String,
    },
    updateAt:{
      type: Number,
    },
    source:{
      type: String,
    },
    listIndex:{
      type: Number,
    },
    list:{
      type: Array,
    },
    handleCancel:{
      type: Function,
    }
  },
  data() {
    return {
      fileList: [],
      uploadingPublic: false,
      uploadingPrivate: false,
      userId: this.$store.getters.userId,
      authorFlg: false
    };
  },
  created() {
    this.authorFlg = this.list[this.listIndex].authorFlg
  },
  methods: {
    handleRemove(file) {
      const index = this.fileList.indexOf(file);
      const newFileList = this.fileList.slice();
      newFileList.splice(index, 1);
      this.fileList = newFileList;
    },
    beforeUpload(file) {
      this.fileList = [file];
      return false;
    },
    handleUpload(mode) {
      let uploadMsg;
      let isPublicOrPrivate;
      const { fileList } = this;
      const isMoreThan20M = fileList[0].size / 1024 / 1024 < 20;
      if (!isMoreThan20M) {
        this.uploadingPublic = false;
        this.uploadingPrivate = false;
        this.$message.error('上传的文档大小不能超过20M!');
        return;
      }

      const formData = new FormData();
      if(mode==="1"){
        this.uploadingPublic = true;
        isPublicOrPrivate = '1';
      }else{
        this.uploadingPrivate = true;
        isPublicOrPrivate = '0';
      }
      formData.append('file', fileList[0]);
      formData.append('publicationId' , this.publicationId);
      formData.append('userId' , this.userId);
      formData.append('isPublicDoc' , isPublicOrPrivate);
      formData.append('authorFlg', this.authorFlg)
      FileUpload(formData).then(res => {
        this.fileList = [];
        if(mode==="1"){
          this.uploadingPublic = false;
          this.list[this.listIndex].uploadPdfBtnFlg = '2'
          this.list[this.listIndex].downloadBtnFlg = '1'
          this.list[this.listIndex].uploadOtherFileBtnFlg = '0'
          this.handleCancel();
          uploadMsg = '上传公开全文成功。';
        }else{
          this.uploadingPrivate = false;
          this.list[this.listIndex].uploadPdfBtnFlg = '2'
          this.list[this.listIndex].downloadBtnFlg = '1'
          this.list[this.listIndex].uploadOtherFileBtnFlg = '0'
          this.handleCancel();
          uploadMsg = '上传私密全文成功。';
        }
        this.$message.success(uploadMsg);
        if(this.authorFlg){
            this.list[this.listIndex].fulltextPath =  serverPath + fileServerPath + res.data.docPath;
            this.list[this.listIndex].docIdAuthor = res.data.docId;
        }else {
            this.list[this.listIndex].docPathNotAuthor = serverPath + fileServerPath + res.data.docPath;
            this.list[this.listIndex].docIdNotAuthor = res.data.docId;
        }
      }).catch(err => {
          this.uploadingPublic = false;
          this.uploadingPrivate = false;
      })
    },
  },
}
</script>