<template>
  <a-row :gutter="24">
    <!--页面左侧-->
    <a-col :span="14">
      <!--左侧第一块卡片-->
      <a-card size="small" style="padding-left: 10px; padding-right: 10px;">
        <a-row>
          <span style="font-weight: bold;">统计信息概述</span>
        </a-row>
        <div style="margin-top: 10px;">
          <!--第一组-->
          <a-row :gutter="16">
            <a-col :span="6">
              <a-card size="small">
                <a-statistic
                  title="发文数"
                  :value="5451789"
                  style="margin-right: 50px"
                >
                </a-statistic>
              </a-card>
            </a-col>
            <a-col :span="6">
              <a-card size="small">
                <a-statistic
                  title="引用次数"
                  :value="64789"
                  class="demo-class"
                >
                </a-statistic>
              </a-card>
            </a-col>
            <a-col :span="6">
              <a-card size="small">
                <a-statistic
                  title="阅读次数"
                  :value="4583654"
                  class="demo-class"
                >
                </a-statistic>
              </a-card>
            </a-col>
            <a-col :span="6">
              <a-card size="small">
                <a-statistic
                  title="推荐次数"
                  :value="7854"
                  style="margin-right: 50px"
                >
                </a-statistic>
              </a-card>
            </a-col>
          </a-row>
          <!--第二组-->
          <a-row :gutter="16" style="margin-top: 10px;">
            <a-col :span="6">
              <a-card size="small">
                <a-statistic
                  title="分享次数"
                  :value="9875"
                  style="margin-right: 50px"
                >
                </a-statistic>
              </a-card>
            </a-col>
            <a-col :span="6">
              <a-card size="small">
                <a-statistic
                  title="保存次数"
                  :value="8975"
                  class="demo-class"
                >
                </a-statistic>
              </a-card>
            </a-col>
            <a-col :span="6">
              <a-card size="small">
                <a-statistic
                  title="下载次数"
                  :value="72135"
                  class="demo-class"
                >
                </a-statistic>
              </a-card>
            </a-col>
            <a-col :span="6">
              <a-card size="small">
                <a-statistic
                  title="关注次数"
                  :value="45781"
                  style="margin-right: 50px"
                >
                </a-statistic>
              </a-card>
            </a-col>
          </a-row>
        </div>
      </a-card>
      <br>
      <!--院系卡片-->
      <a-card size="small">
        <a-row style="padding-left: 10px;">
          <span>
            院系
          </span>
          <span style="float:right; cursor: pointer">
            查看全部
          </span>
        </a-row>
        <div style="padding-left: 10px;">
          <a-list item-layout="horizontal" :data-source="data0">
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a-list-item-meta>
                <div slot="title" style="font-weight:bold; color:black; cursor: pointer">{{ item.title }}</div>
                <div slot="description">
                  <a-row style="font-weight:bold;">{{ item.count}}</a-row>
                  <a-row style="font-size:12px;">{{ item.member}}</a-row>
                </div>
              </a-list-item-meta>
            </a-list-item>
          </a-list>
        </div>
      </a-card>
      <br>
      <!--最新发表卡片-->
      <a-card size="small">
        <a-row style="padding-left: 10px;">
          <span>
            最新发表
          </span>
          <span style="float:right; cursor: pointer">
            查看全部
          </span>
        </a-row>
        <a-list item-layout="horizontal" :data-source="data1" style="padding-left: 10px;">
          <a-list-item slot="renderItem" slot-scope="item, index">
            <img
              width="100"
              height="120"
              alt="logo"
              src="~@/assets/lwzs.png"
              style="float:right; border-style:solid; border-color: #e6e6e6; border-width: 2px; margin-right: 10px;"
            />
            <a-list-item-meta>
              <div slot="title" style="font-weight: bold; margin-left: 10px; color: #000; font-size: 16px; cursor: pointer">{{ item.title }}</div>
              <div slot="description" style="margin-left: 10px;">
                <a-row>
                  Yun Song.Adrienne N.Bruce.Andrew D.Tieniber.[...].Giorgos C.karakousis
                </a-row>
                <a-row style="color:#000;">
                  Chapter.Jan 2021
                </a-row>
                <a-row style="margin-top: 10px;">
                  <a-button icon="download"  style="margin-right: 10px;color: #4dbbc6;border-color: #4dbbc6;">下载</a-button>
                  <a-button style="color: #4dbbc6;border-color: #4dbbc6;">关注</a-button>
                </a-row>
              </div>
            </a-list-item-meta>
          </a-list-item>
        </a-list>
      </a-card>
      <br>
      <!--信息卡片-->
      <a-card size="small">
        <a-row style="color:#000;padding-left: 10px;">
          信息
        </a-row>
        <a-list item-layout="horizontal" :data-source="data2">
          <a-list-item slot="renderItem" slot-scope="item, index">
            <a-col :span="5" style="font-weight: bold;">
              {{ item.title }}
            </a-col>
            <a-col :span="15" style="color: #000;">
              {{ item.content }}
            </a-col>
            <a-col :span="4">
              <a-icon type="edit" style="float: right; cursor: pointer"/>
            </a-col>
          </a-list-item>
        </a-list>
      </a-card>
    </a-col>
    <!--页面右侧-->
    <a-col :span="10">
      <!--你的院系卡片-->
      <a-card size="small" style="padding-left: 10px;">
        <a-row>
          你的院系
        </a-row>
        <a-col :span="12" style="margin-top: 10px;">
          <img id="userImg" src="~@/assets/ldc.png" style="width: 200px; height: 80px;" />
        </a-col>
        <a-col :span="12" style="margin-top: 20px;">
          <a-row style="font-weight:bold;color:black; cursor: pointer;">
            Linguistic Data Consortium
          </a-row>
          <a-row style="color: #000;">
            77 Publication.23 Members
          </a-row>
          <a-row>
            View department page
          </a-row>
        </a-col>
      </a-card>
      <br>
      <!--会员卡片-->
      <a-card size="small" style="padding-left: 10px;">
        <a-row>
          <span style="font-weight: bold;color: #000;">16763个会员</span>
          <span style="float: right; cursor: pointer">查看全部</span>
        </a-row>
        <a-row style="margin-top:10px;">
          <img src="@/assets/fakeheadImg1.png" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg5.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg2.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg6.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/user.png" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg3.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg4.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
        </a-row>
        <a-row style="margin-top:10px;">
          <img src="@/assets/fakeheadImg2.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg4.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg7.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/user.png" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg5.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/user.png" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg1.png" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
        </a-row>
        <a-row style="margin-top:10px;">
          <img src="@/assets/user.png" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg1.png" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg6.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg3.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg2.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg4.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
          <img src="@/assets/fakeheadImg7.jpg" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 30px;" />
        </a-row>
        <a-row>
          <a-button style="width:430px; margin-top: 10px; text-align: center;">邀请你的同事</a-button>
        </a-row>
      </a-card>
      <br>
      <!--上周热门论文卡片-->
      <a-card size="small" style="padding-left: 10px;">
        <a-row>
          <span style="color:#000; margin-right: 10px;">上周热门论文</span>
          <span style="float: right; cursor: pointer">查看全部</span>
          <a-icon type="info-circle" />
        </a-row>
        <a-list item-layout="horizontal" :data-source="data3">
          <a-list-item slot="renderItem" slot-scope="item, index">
            <a-list-item-meta>
              <div slot="title" style="font-weight: bold; color: #000; cursor: pointer">
                <a-icon type="copy" />
                <span style="font-size: 14px;">{{ item.title }}</span>
              </div>
              <div slot="description" style="margin-left: 15px;">
                <a-row>
                  Teachers College Record 05/2013;115(040306)
                </a-row>
                <a-row style="font-weight: bold; color: #000;">
                  672 Reads
                </a-row>
              </div>
            </a-list-item-meta>
          </a-list-item>
        </a-list>
      </a-card>
      <br>
      <!--顶级合作机构卡片-->
      <a-card size="small" style="padding-left: 10px;">
        <a-row style="color:#000; font-weight: bold;">
          顶级合作机构
        </a-row>
        <a-row style="margin-top: 15px;">
          <a-col :span="4">
            <img src="~@/assets/PrincetonUniversity.png" style="width: 64px; height: 64px;" />
          </a-col>
          <a-col :span="20">
            <a-row style="font-weight:bold; color:black; cursor: pointer">
              Princeton University
            </a-row>
            <a-row style="font-weight:bold;">
              352
            </a-row>
            <a-row style="font-size:12px;">
              Members
            </a-row>
          </a-col>
        </a-row>
        <a-row style="margin-top: 15px;">
          <a-col :span="4">
            <img src="~@/assets/WillianPennUniversity.png" style="width: 64px; height: 64px;" />
          </a-col>
          <a-col :span="20">
            <a-row style="font-weight:bold; color:black; cursor: pointer">
              Willian Penn University
            </a-row>
            <a-row style="font-weight:bold;">
              68
            </a-row>
            <a-row style="font-size:12px;">
              Members
            </a-row>
          </a-col>
        </a-row>
      </a-card>
      <br>
      <!--柱状图-->
  <!--    <a-card size="small" style="padding-left: 10px;">
        <a-row style="color: #000;">
          RG分数分布
        </a-row>
        <ve-histogram :data="chartData" v-if="chartData.rows.length > 0" :extend="extend"></ve-histogram>
        <a-row>
          <span style="color: #000;">See how the RG Scores of researchers from </span>
          <span style="color: #000; font-weight: bold; cursor: pointer">University of Pennsylvania </span>
          <span style="color: #000;">are distributed.</span>
        </a-row>
      </a-card>
      <br>-->
      <!--分享页面卡片-->
      <a-card size="small" style="padding-left: 10px;">
        <a-row style="font-weight:bold; color:black;">
          分享页面
        </a-row>
        <a-row style="margin-top: 10px;">
          <a-button><a-icon type="facebook" theme="filled" style="width: 80px; height: 20px; line-height:20px;"/></a-button>
          <a-button><a-icon type="twitter" style="width: 80px; height: 20px; line-height:20px;"/></a-button>
          <a-button><a-icon type="linkedin" theme="filled" style="width: 80px; height: 20px; line-height:20px;"/></a-button>
          <a-button><a-icon type="reddit" style="width: 80px; height: 20px; line-height:20px;"/></a-button>
        </a-row>
      </a-card>
      <br>
      <!--行动卡片-->
      <a-card size="small" style="padding-left: 10px;">
        <a-row style="font-weight:bold; color:black;">
          行动
        </a-row>
        <a-button style="width:430px; margin-top: 10px; text-align: center;">邀请同事</a-button>
      </a-card>
    </a-col>
  </a-row>

</template>

<script>
import moment from 'moment'

export default {
  name: 'InstitutionsSummary.vue',
  created(){
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000);
  },
  data() {
    return {
      data0,
      data1,
      data2,
      data3,
      data4,
      chartData: {
        columns: ['日期', 'RG分数'],
        rows: [
          { '日期': '2020/1/1', 'RG分数': 1393},
          { '日期': '2020/2/1', 'RG分数': 3530},
          { '日期': '2020/3/1', 'RG分数': 2923},
          { '日期': '2020/4/1', 'RG分数': 1723},
          { '日期': '2020/5/1', 'RG分数': 3792},
          { '日期': '2020/6/1', 'RG分数': 4593},
          { '日期': '2020/7/1', 'RG分数': 1393},
          { '日期': '2020/8/1', 'RG分数': 3530},
          { '日期': '2020/9/1', 'RG分数': 2923},
          { '日期': '2020/10/1', 'RG分数': 1723},
          { '日期': '2020/11/1', 'RG分数': 3792},
          { '日期': '2020/12/1', 'RG分数': 4593}
        ]
      },
      extend:{
        series:{
          smooth: false,
          barWidth : 20,//柱图宽度
          symbolSize: 5,
        },
        xAxis: {
          axisLabel:{
            interval:0,
            formatter: (value, index) => {
              let datejson = new Date(value).toJSON();
              let date = new Date( + new Date(datejson)
                + 8*3600*1000).toISOString().
              replace(/T/g,' ').
              replace(/\.[\d]{3}Z/,'')
              let time = moment(date).format("MM")
              return time
            },
          }
        }
      },
    };
  },
}
const data0 = [
  {
    title: 'The Wharton School',
    count:'614',
    member:'Members'
  },
  {
    title: 'Department of Computer and Information Science',
    count:'359',
    member:'Members'
  },
  {
    title: 'School of Engineering and Applied Science',
    count:'330',
    member:'Members'
  },
];
const data1 = [
  {
    title: 'Article: A Team-Based Collaborative Care Model for Youth With Attention-Deficit Hyperactivity Disorder in Education and Health Care Settings',
  },
  {
    title: 'Chapter: Regional Nodal Staging:Clinically Node Negative',
  },
  {
    title: 'Chapter: Complexity in the use of artificial intelligence in anatomic pathology',
  },
];
const data2 = [
  {
    title: '地址：',
    content: '3701 Locust Walk, 19104, Philadephia, PA, United States'
  },
  {
    title: '机构负责人：',
    content:'Amy Gutmann'
  },
  {
    title: '网址：',
    content: 'http://www.upenn.edu/'
  },
  {
    title: '电话：',
    content: '+1215-898-5000'
  },
  {
    title: '传真：',
    content: '+1215-573-9103'
  },
];
const data3 = [
  {
    title:'Face Maska Against COVID-19: An Evidence Review',
  },
  {
    title:'Discrete Mathematics for Computer Science,Some Notes',
  },
];
const data4 = [
  {
    title: 'Princeton University',
    count:'352',
    member:'Members'
  },
  {
    title: 'Willian Penn University',
    count:'68',
    member:'Members'
  },
];
</script>

<style scoped>

</style>