<template>
  <div>
  <page-header-wrapper
    :tab-list="tabList"
    :tab-active-key="tabActiveKey"
    :tab-change="handleTabChange"
    :breadcrumb="false"
    :title="false"
  >
    <template v-slot:content >
      <a-card size="small" :loading="infoLoading" :bordered="false" style="padding-left: 25px">
        <a-row class="title">
          <a-col :span="2" >
            <img src="~@/assets/uop.png" style="width: 80px; height: 80px;" />
          </a-col>
          <a-col :span="22" style="margin-top: 15px;">
            <a-row style="font-weight:bold; font-size:16px; color:black;">
              University of Pennsylvania
            </a-row>
            <a-row>
              Philadelphia, USA
            </a-row>
          </a-col>
        </a-row>
      </a-card>
    </template>
    <router-view />
  </page-header-wrapper>
  </div>
</template>

<script>
const getActiveKey = (path) => {
  switch (path) {
    case '/institutions/institutionsPage/InstitutionsSummary':
      return '1'
    case '/institutions/institutionsPage/InstitutionsAchievements':
      return '2'
    case '/institutions/institutionsPage/InstitutionsDepartment':
      return '3'
    case '/institutions/institutionsPage/InstitutionsMember':
      return '4'
    case '/institutions/institutionsPage/InstitutionsMemberStatistics':
      return '5'
    default:
      return '1'
  }
}
export default {
  name: 'SearchLayout',
  data () {
    return {
      tabList: [
        { key: '1', tab: '概况' },
        { key: '2', tab: '成果' },
        { key: '3', tab: '院系' },
        { key: '4', tab: '会员' },
        { key: '5', tab: '会员统计' },
      ],
      tabActiveKey: '1',
      infoLoading: false,
      search: true
    }
  },
  created () {
    this.tabActiveKey = getActiveKey(this.$route.path)

    this.$watch('$route', (val) => {
      this.tabActiveKey = getActiveKey(val.path)
    })
  },
  methods: {
    handleTabChange (key) {
      this.tabActiveKey = key
      switch (key) {
        case '1':
            this.$router.push('/institutions/institutionsPage/InstitutionsSummary')
          break
        case '2':
          this.$router.push('/institutions/institutionsPage/InstitutionsAchievements')
          break
        case '3':
          this.$router.push('/institutions/institutionsPage/InstitutionsDepartment')
          break
        case '4':
          this.$router.push('/institutions/institutionsPage/InstitutionsMember')
          break
        case '5':
          this.$router.push('/institutions/institutionsPage/InstitutionsMemberStatistics')
          break
        default:
          this.$router.push('/institutions/institutionsPage/InstitutionsSummary')
      }
    }
  }
}
</script>

<style scoped>
h2{
  margin-top: 17px;
}
</style>