<template>
  <div>
    <a-card size="small">
      <a-list
        class="comment-list"
        :header="`${data.length}条评论`"
        item-layout="horizontal"
        :data-source="data"
      >
        <a-list-item slot="renderItem" slot-scope="item, index">
          <a-comment :author="item.author" :avatar=imgUrl>
           <template slot="actions">
              <span v-for="action in item.actions">{{ action }}</span>
            </template>
            <p slot="content">
              {{ item.content }}
            </p>
            <a-tooltip slot="datetime" :title="item.datetime.format('YYYY-MM-DD HH:mm:ss')">
              <span>{{ item.datetime.fromNow() }}</span>
            </a-tooltip>
            <a-comment v-if="item.replyFlg">
              <span slot="actions">回复</span>
              <a slot="author">Jean-Marc Sotiropoulos</a>
              <a-avatar
                slot="avatar"
                :src=imgUrl
                alt="Han Solo"
              />
              <p slot="content">
                We supply a series of design principles, practical patterns and high quality design
                resources (Sketch and Axure).
              </p>
              <a-comment v-if="item.replyFlg">
                <span slot="actions">回复</span>
                <a slot="author">Karinne Miqueu</a>
                <a-avatar
                  slot="avatar"
                  :src=imgUrl
                  alt="Han Solo"
                />
                <p slot="content">
                  We supply a series of design principles, practical patterns and high quality design
                  resources (Sketch and Axure).
                </p>
              </a-comment>
            </a-comment>
          </a-comment>
        </a-list-item>
      </a-list>
    </a-card>
    <br>
    <a-card size="small">
      <div>
        <a-list
          v-if="comments.length"
          :data-source="comments"
          :header="`${comments.length}条回复`"
          item-layout="horizontal"
        >
          <a-list-item slot="renderItem" slot-scope="item, index">
            <a-comment
              :author="item.author"
              :avatar=imgUrl
              :content="item.content"
              :datetime="item.datetime"
            />
          </a-list-item>
        </a-list>
        <a-comment>
          <a-avatar
            slot="avatar"
            :src=imgUrl
            alt="Han Solo"
          />
          <div slot="content">
            <a-form-item>
              <a-textarea :rows="4" :value="value" @change="handleChange" />
            </a-form-item>
            <a-row style="margin-bottom: 10px;">
              <a-tooltip>
                <a-icon type="bold" style="margin-right: 10px; cursor:pointer;"/>
                <a-icon type="italic" style="margin-right: 10px; cursor:pointer;"  />
                <a-icon type="font-size" style="margin-right: 10px; cursor:pointer;"/>
                <a-icon type="line-height" style="margin-right: 10px; cursor:pointer;"/>
                <a-icon type="unordered-list" style="margin-right: 10px; cursor:pointer;"/>
                <a-icon type="ordered-list" style="margin-right: 10px; cursor:pointer;"/>
              </a-tooltip>
            </a-row>
            <a-form-item>
              <a-button html-type="submit" :loading="submitting" type="primary">
                发布评论
              </a-button>
            </a-form-item>
          </div>
        </a-comment>
      </div>
    </a-card>
  </div>
</template>

<script>
import moment from 'moment';
// import img from '@/assets/user.png';
export default {
  name: 'ArticlesDiscuss.vue',
  data() {
    return {
      data: [
        {
          actions: ['回复'],
          author: 'Laurent Pouységu',
          replyFlg: false,
          content:
            'We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.',
          datetime: moment().subtract(1, 'days'),
        },
        {
          actions: ['回复'],
          author: 'Philippe A. Peixoto',
          replyFlg: true,
          content:
            'We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.',
          datetime: moment().subtract(2, 'days'),
        },
        {
          actions: ['回复'],
          author: 'Romain Coffinier',
          replyFlg: false,
          content:
            'We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.',
          datetime: moment().subtract(3, 'days'),
        },
        {
          actions: ['回复'],
          author: 'Jean-Marc Sotiropoulos',
          replyFlg: true,
          content:
            'We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.',
          datetime: moment().subtract(8, 'days'),
        },
        {
          actions: ['回复'],
          author: 'Karinne Miqueu',
          replyFlg: false,
          content:
            'We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.',
          datetime: moment().subtract(3, 'days'),
        },
      ],
      comments: [],
      submitting: false,
      value: '',
      moment,
      likes: 0,
      imgUrl:require("@/assets/user.png")
    };
  },
  created(){
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000);
  },
  methods: {
    handleChange(e) {
      this.value = e.target.value;
    },
  },
};
</script>

<style scoped>

</style>