<template>
  <a-row :gutter="24">
    <a-col :span="18">
      <a-card size="small" title="工作经历" :head-style="{'font-weight':'bold'}">
        <a-col :span="24" style="padding-left: 12px;">
          <a-list item-layout="horizontal" :data-source="userEmploymentInfoList">
            <a-list-item split="false" slot="renderItem" slot-scope="item, index">
              <a-list-item-meta>
                <div slot="title" style="font-weight:bold; font-size:16px; color:black; cursor: pointer">{{ item.organization }}</div>
                <div slot="description">
                  <a-row style="font-size:16px; margin-top: 10px; font-weight:bold;" v-if="item.startDate != null">
                    {{ item.startDate }}-{{ item.endDate }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.departmentName != null">
                    Department
                  </a-row>
                  <a-row style="color:black;" v-if="item.departmentName != null">
                    {{ item.departmentName }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.country != null || item.city != null">
                    Location
                  </a-row>
                  <a-row style="color:black;" v-if="item.country != null && item.city != null">
                    {{ item.city }},&nbsp{{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country != null && item.city == null">
                    {{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country == null && item.city != null">
                    {{ item.city }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.roleTitle != null">
                    Position
                  </a-row>
                  <a-row style="color:black;" v-if="item.roleTitle != null">
                    {{ item.roleTitle }}
                  </a-row>
                  <a-divider v-if="index !== userEmploymentInfoList.length-1" />
                </div>
              </a-list-item-meta>
            </a-list-item>
          </a-list>
        </a-col>
<!--        <a-col :span="6">-->
<!--          <img-->
<!--            width="150"-->
<!--            alt="logo"-->
<!--            src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png"-->
<!--            style="float:right;"-->
<!--          />-->
<!--        </a-col>-->
      </a-card>
      <!--<br/>-->

      <a-card size="small" title="教育背景" :head-style="{'font-weight':'bold'}" style="margin-top: 10px;" >
        <a-col :span="24" style="padding-left: 12px;">
          <a-list item-layout="horizontal" :data-source="userEducationInfoList">
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a-list-item-meta>
                <div slot="title" style="font-weight:bold; font-size:16px; color:black; cursor: pointer">{{ item.organization }}</div>
                <div slot="description">
                  <a-row style="font-size:16px; margin-top: 10px; font-weight:bold;" v-if="item.startDate != null">
                    {{ item.startDate }}-{{ item.endDate }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.country != null || item.city != null">
                    Location
                  </a-row>
                  <a-row style="color:black;" v-if="item.country != null && item.city != null">
                    {{ item.city }},&nbsp{{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country != null && item.city == null">
                    {{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country == null && item.city != null">
                    {{ item.city }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.roleTitle != null">
                    Degree
                  </a-row>
                  <a-row style="color:black;" v-if="item.roleTitle != null">
                    {{ item.roleTitle }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.departmentName != null">
                    Field Of Study
                  </a-row>
                  <a-row style="color:black;" v-if="item.departmentName != null">
                    {{ item.departmentName }}
                  </a-row>
                  <a-divider v-if="index !== userEducationInfoList.length-1" />
                </div>
              </a-list-item-meta>
            </a-list-item>
          </a-list>
        </a-col>
      </a-card>
      <!--<br/>-->

      <a-card size="small" title="项目" :head-style="{'font-weight':'bold'}" style="margin-top: 10px;">
        <a-col :span="24" style="padding-left: 12px;">
          <a-list item-layout="horizontal" :data-source="userFundingsInfoList">
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a-list-item-meta>
                <div slot="title" style="font-weight:bold; font-size:16px; color:black; cursor: pointer">{{ item.fundingTitle }}</div>
                <div slot="description">
                  <a-row style="font-size:16px; margin-top: 10px; font-weight:bold;" v-if="item.startDate != null">
                    {{ item.startDate }}-{{ item.endDate }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.country != null || item.city != null">
                    Location
                  </a-row>
                  <a-row style="color:black;" v-if="item.country != null && item.city != null">
                    {{ item.city }},&nbsp{{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country != null && item.city == null">
                    {{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country == null && item.city != null">
                    {{ item.city }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.organization != null">
                    Organization
                  </a-row>
                  <a-row style="color:black;" v-if="item.organization != null">
                    {{ item.organization }}
                  </a-row>
                  <a-divider v-if="index !== userFundingsInfoList.length-1" />
                </div>
              </a-list-item-meta>
            </a-list-item>
          </a-list>
        </a-col>
      </a-card>
      <!--<br/>-->

      <a-card size="small" title="获奖" :head-style="{'font-weight':'bold'}" style="margin-top: 10px;">
        <a-col :span="24" style="padding-left: 12px;">
          <a-list item-layout="horizontal" :data-source="userDistinctionsInfoList">
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a-list-item-meta>
                <div slot="title" style="font-weight:bold; font-size:16px; color:black; cursor: pointer">{{ item.roleTitle }}</div>
                <div slot="description">
                  <a-row style="font-size:16px; margin-top: 10px; font-weight:bold;" v-if="item.startDate != null">
                    {{ item.startDate }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.country != null || item.city != null">
                    Location
                  </a-row>
                  <a-row style="color:black;" v-if="item.country != null && item.city != null">
                    {{ item.city }},&nbsp{{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country != null && item.city == null">
                    {{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country == null && item.city != null">
                    {{ item.city }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.organization != null">
                    Organization
                  </a-row>
                  <a-row style="color:black;" v-if="item.organization != null">
                    {{ item.organization }}
                  </a-row>
                  <a-divider v-if="index !== userDistinctionsInfoList.length-1" />
                </div>
              </a-list-item-meta>
            </a-list-item>
          </a-list>
        </a-col>
      </a-card>
      <!--<br/>-->

      <a-card size="small" title="学术组织会员" :head-style="{'font-weight':'bold'}" style="margin-top: 10px;">
        <a-col :span="24" style="padding-left: 12px;">
          <a-list item-layout="horizontal" :data-source="userMembershipInfoList">
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a-list-item-meta>
                <div slot="title" style="font-weight:bold; font-size:16px; color:black; cursor: pointer">{{ item.organization }}</div>
                <div slot="description">
                  <a-row style="font-size:16px; margin-top: 10px; font-weight:bold;" v-if="item.startDate != null">
                    {{ item.startDate }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.country != null || item.city != null">
                    Location
                  </a-row>
                  <a-row style="color:black;" v-if="item.country != null && item.city != null">
                    {{ item.city }},&nbsp{{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country != null && item.city == null">
                    {{ item.country }}
                  </a-row>
                  <a-row style="color:black;" v-else-if="item.country == null && item.city != null">
                    {{ item.city }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.departmentName != null">
                    DepartmentName
                  </a-row>
                  <a-row style="color:black;" v-if="item.departmentName != null">
                    {{ item.departmentName }}
                  </a-row>
                  <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.roleTitle != null">
                    RoleTitle
                  </a-row>
                  <a-row style="color:black;" v-if="item.roleTitle != null">
                    {{ item.roleTitle }}
                  </a-row>
                  <a-divider v-if="index !== userMembershipInfoList.length-1" />
                </div>
              </a-list-item-meta>
            </a-list-item>
          </a-list>
        </a-col>
      </a-card>
      <!--<br/>-->

      <a-card size="small" title="审稿人" :head-style="{'font-weight':'bold'}" style="margin-top: 10px;">
      <a-col :span="24" style="padding-left: 12px;">
        <a-list item-layout="horizontal" :data-source="userPeerReviewsInfoList">
          <a-list-item slot="renderItem" slot-scope="item, index">
            <a-list-item-meta>
              <div slot="title" style="font-weight:bold; font-size:16px; color:black; cursor: pointer">{{ item.title }}</div>
              <div slot="description">
                <a-row style="font-size:16px; margin-top: 10px; font-weight:bold;" v-if="item.year != null">
                  {{ item.year }}
                </a-row>
                <a-row style="margin-top: 10px; font-weight:bold; font-size:12px;" v-if="item.reviewSubject != null">
                  ReviewSubject
                </a-row>
                <a-row style="color:black;" v-if="item.reviewSubject != null">
                  {{ item.reviewSubject }}
                </a-row>
                <a-divider v-if="index !== userPeerReviewsInfoList.length-1" />
              </div>
            </a-list-item-meta>
          </a-list-item>
        </a-list>
      </a-col>
      </a-card>
      <br/>

    </a-col>
    <a-col :span="6">
      <a-card size="small" title="学术导师" :head-style="{'font-weight':'bold'}">
        <div
          style="padding-left: 12px;"
        >
          <a-list :data-source="userAcademicInfoList">
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a-list-item-meta :description="item.description" style="font-size:16px;">
                <div slot="title" style="font-weight:bold; font-size:16px; color:black; cursor: pointer" @click="routerDirectionDetail(item.userId)"><a>{{ item.displayName }}</a></div>
                <div slot="description" style="margin-top: 10px; color:rgba(0, 0, 0, 0.65); font-size:12px;">
                  <div v-if="item.currentPosition != null && item.institutionName != null">
                    {{ item.currentPosition }},{{ item.institutionName }}
                  </div>
                  <div v-else-if="item.currentPosition == null && item.institutionName != null">
                    {{ item.institutionName }}
                  </div>
                  <div v-else-if="item.currentPosition != null && item.institutionName == null">
                    {{ item.currentPosition }}
                  </div>
                </div>
                <a-avatar
                  slot="avatar"
                  :src=imgUrl
                  style="width: 50px; height: 50px;"
                />
              </a-list-item-meta>
            </a-list-item>
          </a-list>
        </div>
      </a-card>
      <!--<br/>-->
      <a-card size="small" title="联系方式" :head-style="{'font-weight':'bold'}" style="margin-top: 10px;">
        <div style="padding-left: 12px;">
          <a-list :data-source="userContactInfoList">
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a-list-item-meta :description="item.description" style="font-size:16px;">
                <div slot="title" style="font-weight:bold; font-size:16px; color:black; cursor: pointer" v-if="item.contactValue != null">{{ item.contactName }}</div>
                <div slot="description" style="margin-top: 10px; color:rgba(0, 0, 0, 0.65); font-size:12px;" v-if="item.contactValue != null">
                  {{ item.contactValue }}
                </div>
              </a-list-item-meta>
            </a-list-item>
          </a-list>
        </div>
      </a-card>
    </a-col>
  </a-row>
</template>

<script>
import Qs from 'qs'
import {getUserEmploymentInfo} from './UserExperienceApi'
import {getUserEducationInfo} from './UserExperienceApi'
import {getUserFundingsInfo} from './UserExperienceApi'
import {getUserDistinctionsInfo} from './UserExperienceApi'
import {getUserMembershipInfo} from './UserExperienceApi'
import {getUserPeerReviewsInfo} from './UserExperienceApi'
import {getUserContactInfo} from './UserExperienceApi'
import {getUserAcademicInfo} from './UserExperienceApi'

export default {
  name: 'UserExperience.vue',
  data() {
    return {
      userEmploymentInfoList: [],
      userEducationInfoList: [],
      userFundingsInfoList: [],
      userDistinctionsInfoList: [],
      userMembershipInfoList: [],
      userPeerReviewsInfoList: [],
      userContactInfoList: [],
      userAcademicInfoList: [],
      imgUrl: require('@/assets/user.png'),
    };
  },
  created(){
    this.userId = this.$router.history.current.query.userId
    this.getList();
  },
  methods: {
    getList(){
      const that = this;
      let param = {
          userId: this.userId,
      }
      param = Qs.stringify(param)
      // 工作经历信息
      getUserEmploymentInfo(param).then(res => {
        for(let i=0; i<res.data.length; i++){
            let obj = {
                city : res.data[i].city,
                cityCn : res.data[i].cityCn,
                country : res.data[i].country,
                countryCn : res.data[i].countryCn,
                departmentName : res.data[i].departmentName,
                departmentNameCn : res.data[i].departmentNameCn,
                startDate : res.data[i].startDateStr,
                endDate : res.data[i].endDateStr,
                organization : res.data[i].organization,
                organizationCn : res.data[i].organizationCn,
                roleTitle : res.data[i].roleTitle,
                roleTitleCn : res.data[i].roleTitleCn,
            }
            that.userEmploymentInfoList.push(obj);
        }
      })
      // 教育背景信息
      getUserEducationInfo(param).then(res => {
        for(let i=0; i<res.data.length; i++) {
            let obj = {
                city: res.data[i].city,
                cityCn: res.data[i].cityCn,
                country: res.data[i].country,
                countryCn: res.data[i].countryCn,
                departmentName: res.data[i].departmentName,
                departmentNameCn: res.data[i].departmentNameCn,
                startDate: res.data[i].startDateStr,
                endDate: res.data[i].endDateStr,
                organization: res.data[i].organization,
                organizationCn: res.data[i].organizationCn,
                roleTitle: res.data[i].roleTitle,
                roleTitleCn: res.data[i].roleTitleCn,
            }
            that.userEducationInfoList.push(obj);
        }
      })
      // 项目信息
      getUserFundingsInfo(param).then(res => {
        for(let i=0; i<res.data.length; i++) {
            let obj = {
                city: res.data[i].city,
                cityCn: res.data[i].cityCn,
                country: res.data[i].country,
                countryCn: res.data[i].countryCn,
                fundingCurrency: res.data[i].fundingCurrency,
                fundingCurrencyCn: res.data[i].fundingCurrencyCn,
                startDate: res.data[i].startDateStr,
                endDate: res.data[i].endDateStr,
                fundingDescription: res.data[i].fundingDescription,
                fundingDescriptionCn: res.data[i].fundingDescriptionCn,
                fundingTitle: res.data[i].fundingTitle,
                fundingTitleCn: res.data[i].fundingTitleCn,
                fundingType: res.data[i].fundingType,
                fundingTypeCn: res.data[i].fundingTypeCn,
                organization: res.data[i].organization,
                organizationCn: res.data[i].organizationCn,
                fundingAmount: res.data[i].fundingAmount,
                fundingOrgDefType: res.data[i].fundingOrgDefType,
            }
            that.userFundingsInfoList.push(obj);
        }
      })
      // 获奖信息
      getUserDistinctionsInfo(param).then(res => {
        for(let i=0; i<res.data.length; i++) {
            let obj = {
                city: res.data[i].city,
                cityCn: res.data[i].cityCn,
                country: res.data[i].country,
                countryCn: res.data[i].countryCn,
                roleTitle: res.data[i].roleTitle,
                roleTitleCn: res.data[i].roleTitleCn,
                startDate: res.data[i].startDateStr,
                organization: res.data[i].organization,
                organizationCn: res.data[i].organizationCn,
            }
            that.userDistinctionsInfoList.push(obj);
        }
      })
      // 学术组织会员信息
      getUserMembershipInfo(param).then(res => {
        for(let i=0; i<res.data.length; i++) {
            let obj = {
                city: res.data[i].city,
                cityCn: res.data[i].cityCn,
                country: res.data[i].country,
                countryCn: res.data[i].countryCn,
                roleTitle: res.data[i].roleTitle,
                roleTitleCn: res.data[i].roleTitleCn,
                startDate: res.data[i].startDateStr,
                organization: res.data[i].organization,
                organizationCn: res.data[i].organizationCn,
                departmentName: res.data[i].departmentName,
                departmentNameCn: res.data[i].departmentNameCn,
            }
            that.userMembershipInfoList.push(obj);
        }
      })
      // 审稿人信息
      getUserPeerReviewsInfo(param).then(res => {
        for(let i=0; i<res.data.length; i++) {
            let obj = {
                reviewSubject: res.data[i].reviewSubject,
                reviewSubjectCn: res.data[i].reviewSubjectCn,
                year: res.data[i].yearStr,
            }
            that.userPeerReviewsInfoList.push(obj);
        }
      })
      // 联系方式信息
      getUserContactInfo(param).then(res => {
          for(let i=0; i<res.data.length; i++) {
              let obj = {
                  contactName: res.data[i].contactName,
                  contactValue: res.data[i].contactValue,
              }
              that.userContactInfoList.push(obj);
          }
      })
      // 学术导师信息
      getUserAcademicInfo(param).then(res => {
        for(let i=0; i<res.data.length; i++) {
            let obj = {
                userId: res.data[i].userId,
                displayName: res.data[i].displayName,
                currentPosition: res.data[i].currentPosition,
                institutionName: res.data[i].institutionName,
            }
            that.userAcademicInfoList.push(obj);
        }
      })
    },
    //页面跳转
    routerDirectionDetail(userId) {
        let routeUrl = this.$router.resolve({
            path: '/scholar/scholarPage/ScholarSummary',
            query: {
                userId,
                isUser: false,
                userName:this.userName
            }
        });
        window.open(routeUrl.href, '_blank');
    },
  },
}
</script>

<style scoped>
.ant-divider-horizontal {
  margin: 15px 0 !important;
}

.ant-list-item{
  padding: 0 !important;
}
</style>