<template>
  <div>
    <a-card
      v-if="excerptShowFlg"
      size="small"
      :style="selectCardBorder"
      :id="'excerpt_' + excerpt.excerptId"
      @click="toHeightLight(index)"
    >
      <div slot="title">
        <div style="display: flex;">
          <div style="width: 112px; margin-right:12px;">
            <span style="font-weight:bold;font-size: 13px;">
              第{{excerpt.page_num}}页&nbsp;
              <span style="color: #c4c4c4;font-size:12px">{{excerpt.excerptDateMonAndDayStr}} {{excerpt.excerptDateHourAndMinStr}}</span>
            </span>
          </div>
          <div :title="excerpt.displayTitle" class="excerptTitle" style="max-width: 60%;margin-right:12px">
            {{excerpt.displayTitle}}
          </div>
          <div :title="excerpt.publisher" class="excerptTitle" style="max-width: calc(40% - (112px) - 24px)">
            {{excerpt.publisher}}
          </div>
        </div>
      </div>
      <a-tooltip placement="topRight" v-if="excerpt.snapshotUrl && excerpt.snapshotUrl !== ''">
        <div style="text-align: center">
          <img @dblclick="preview(index,excerpt.snapshotUrl)" v-bind:src="excerpt.snapshotUrl" style="max-width:100%;max-height: 200px;" />
        </div>
        <div slot="title">
          <span @click="addAnnotaton()" style="cursor: default; font-size: 10px;">
             <a-icon type="highlight" />
             批注
          </span>
          <span @click="delSnapshot" style="cursor: default; font-size: 10px;">
             <a-icon type="delete"/>
             删除
          </span>
        </div>
      </a-tooltip>
      <a-tooltip placement="topRight" v-if="(excerpt.originalText !== '' && excerpt.originalText !== null) || (originalText !== '' && originalText !== null)">
        <div style="margin-bottom:12px; border-left:5px solid #69c0ff;padding:0 6px;font-size: 12px;">
           <div v-if="originalTextReadOnlyFlg === true" @dblclick="editOriginalText" class="overflow">
             <span>&nbsp;原文：</span> <span v-html="excerpt.originalTextHtml !== null ? excerpt.originalTextHtml : excerpt.originalText"></span>
           </div>
           <div v-else>
             <div>
               原文：
               <a-icon type="close" style="float:right; margin-left: 10px; color:red; padding-bottom: 6px;" @click.stop="closeEditOriginalText"/>
               <a-icon type="check" style="float:right;margin-left: 10px; color:green; padding-bottom: 6px;" @click.stop="saveEditOriginalText"/>
            </div>
             <a-textarea class="texareaTextEdit" :rows="3" v-model="excerpt.originalText" @click.stop=""/>
           </div>
         </div>
         <template slot="title">
           <span @click="addAnnotaton()" style="cursor: default; font-size: 10px;">
             <a-icon type="highlight" />
             批注
           </span>
           &nbsp;&nbsp;
           <span @click="editOriginalText" style="cursor: default; font-size: 10px;">
             <a-icon type="edit" />
             编辑
           </span>
           &nbsp;&nbsp;
           <span @click="delOoriginalText" style="cursor: default; font-size: 10px;">
             <a-icon type="delete"/>
             删除
           </span>
         </template>
       </a-tooltip>
      <a-tooltip placement="topRight" :style="{display: translationDisplay}" v-if="(excerpt.translationText != '' && excerpt.translationText !== null) || (translationText !== '' && translationText !== null)">
         <div style="margin-bottom:12px; border-left:5px solid #69c0ff; padding:0 6px; font-size: 12px;">
           <div v-if="editTranslationReadOnlyFlg === true && excerpt.translationText !== ''" @dblclick.stop="editTranslation" class="overflow">
             <span>&nbsp;译文：</span> <span v-html="excerpt.translationTextHtml !== null ? excerpt.translationTextHtml : excerpt.translationText"></span>
           </div>
           <div v-else>
             <div>
               译文：
               <a-icon type="close" style="float:right; margin-left: 10px; color:red; padding-bottom: 6px;" @click.stop="closeEditTranslation"/>
               <a-icon type="check" style="float:right;margin-left: 10px; color:green; padding-bottom: 6px;" @click.stop="saveEditTranslation()"/>
             </div>
             <a-textarea class="texareaTextEdit" :rows="3" v-model="excerpt.translationText" @click.stop=""/>
           </div>
         </div>
         <template slot="title">
           <span @click="addAnnotaton()" style="cursor: default; font-size: 10px;">
             <a-icon type="highlight" />
             批注
           </span>
           &nbsp;
           <span @click="editTranslation" style="cursor: default; font-size: 10px;">
             <a-icon type="edit" />
             编辑
           </span>
           &nbsp;
           <span @click="delTranslation" style="cursor: default; font-size: 10px;">
             <a-icon type="delete"/>
             删除
           </span>
         </template>
       </a-tooltip>
      <div :style="{display: annotationDisplay}" v-for="(annotation,number) in excerpt.annotationList" :key="annotation.annotationId">
        <n-publication-reader-annotation
          :annotationClassDefault="annotationClass"
          :annotationReadOnlyFlgDefault="annotationReadOnlyFlg"
          :annotationObj="annotation"
          :addAnnotaton="addAnnotaton"
          :excerpt="excerpt"
          :delExcerpt="delExcerpt"
          :toAllExcerptPageParent="toAllExcerptPage"
          :toHeightLight="toHeightLight"
          :seachExcerpt="seachExcerpt"
          :resetSeachCondition="resetSeachCondition"
          :clearTime="clearTime"
          :excerptCkecked="excerptCkecked"
          :setExcerptCkecked="setExcerptCkecked"
        ></n-publication-reader-annotation>
      </div>
    </a-card>
  </div>
</template>
<script>
import NPublicationReaderAnnotation from "./NPublicationReaderAnnotation";
  import Qs  from 'qs';
  import {updateUserExcerpt, insertUserAnnotation, deleteUserAnnotation,} from './NPublicationReaderApi'
  import UserImg from '../NCardList/UserImg';
  import { Modal } from 'ant-design-vue';
export default {
    name: 'NPublicationReaderExcerpt',

    components: {
      UserImg,
      NPublicationReaderAnnotation,
      Modal
    },

    props: {
      visible: {
        type: Boolean,
        default: false
      },
      selectedContent: {
        type: String,
        default: ''
      },
      toExcertPosition: {
          type: Function,
      },
      toAllExcerptPage: {
          type: Function,
      },
      selectedInfo: {
        type: Object,
        default: ()=>{ return {} }
      },
      excerptDefult: {
        type: Object,
        default: ()=>{ return {} }
      },
      index: {
        type: Number,
        default: 0
      },
      translationDisplay: {
        type: String,
        default: ''
      },
      annotationDisplay: {
        type: String,
        default: ''
      },
      delExcerpt: {
        type: Function,
        default: ()=>{return false}
      },
      setHighLight: {
          type: Function,
          default: ()=>{return false}
      },
      seachExcerpt: {
          type: Function,
          default: ()=>{return false}
      },
      resetSeachCondition: {
          type: Function,
          default: ()=>{return false}
      },
      seachContent: {
          type: String,
          default: ''
      },
      excerptCkecked: {
          type: Boolean,
          default: false
      },
      setExcerptCkecked: {
          type: Function,
          default: ()=>{return false}
      },
      visible: {
        type: Boolean,
        default: false
      },
    },

    data() {
      return {
        translationChecked: true,
        originalTextChecked: true,
        editTranslationReadOnlyFlg: true,
        originalTextReadOnlyFlg: true,
        annotationReadOnlyFlg: true,
        annotationClass: 'texareaText',
        excerpt: this.excerptDefult,
        excerptShowFlg: true,
        originalText: '',
        translationText: '',
        time: 0,
        confirmOriginalText: '您确定要删除原文吗？',
        confirmTranslationText: '您确定要删除译文吗？',
        selectCardBorder: 'margin-top:6px; border: none; box-shadow: 3px 7px 8px #dfdfdf;'
      };
    },

    created() {
    },
    mounted() {
      document.addEventListener("click",e=> this.selectExcerpt(e));
      this.originalText = this.excerptDefult.originalText;
      this.translationText = this.excerptDefult.translationText;
      this.$watch('excerptDefult', (val) => {
          this.excerpt = this.excerptDefult
      });
       this.$watch('visible', (val) => {
         if (!val) {
           window.removeEventListener("click", e=> this.selectExcerpt(e), true);
         }
      })

    },

    methods: {
      // 图片全屏展示组件
      preview(index,url) {
          let urls = [];
          urls.push(url);
          this.$showImages({
              urls,
              index,
          });
      },

      // 追加批注
      addAnnotaton() {
        let me = this;
        if (me.excerpt.annotationList === null) {
          me.excerpt.annotationList = [];
        }
        if (me.excerpt.annotationList.length > 0 && (me.excerpt.annotationList[0].annotationContent === null || me.excerpt.annotationList[0].annotationContent === '' || me.excerpt.annotationList[0].annotationContent === undefined)) {
            this.delAnnotationById(me.excerpt.annotationList[0].annotationId)
            me.excerpt.annotationList.splice(0, 1);
        }
        const param = {
          excerptId: me.excerpt.excerptId,
          annotationContent:''
        };
        insertUserAnnotation(param).then(res => {
          if (res.ret_code === '0') {
            me.excerpt.annotationList.splice(0, 0, res.data);
            me.annotationClass = 'texareaTextEdit';
            me.annotationReadOnlyFlg = false;
          } else {
            this.$notification.error({
              message: res.ret_msg
            });
          }
        }).catch(err => {
          if(!err){
            this.$notification.error({
              message: '追加批注失败'
            });
          }
        })
      },
      // 刪除批註
      delAnnotationById (annotationId) {
          const param = Qs.stringify({
              annotationId: annotationId
          });
          deleteUserAnnotation(param).then(res => {
          }).catch(err => {
              if(!err){
                  this.$notification.error({
                      message: '删除笔记失败'
                  });
              }
          });
      },
      // 编辑原文
      editOriginalText() {
        clearTimeout(this.time);
        this.originalTextReadOnlyFlg = false;
      },

      // 保存原文
      saveEditOriginalText() {
        if (this.excerpt.originalText) {
          this.originalText = this.excerpt.originalText;
          this.originalTextReadOnlyFlg = true;
          const param = Qs.stringify({
              excerptId: this.excerpt.excerptId,
              originalText: this.excerpt.originalText,
          });
          updateUserExcerpt(param).then(res => {
            if (res.ret_code === '0') {
                if (this.excerptCkecked && (this.seachContent === '' || this.seachContent === null || this.seachContent === undefined)) {
                    this.setExcerptCkecked(false);
                }
                this.seachExcerpt();
                this.resetSeachCondition();
            } else {
              this.$notification.error({
                message: res.ret_msg
              });
            }
          }).catch(err => {
            if(!err){
              this.$notification.error({
                message: '保存原文失败'
              });
            }
          });
        } else {
          this.$notification.error({
            message: '原文内容不能为空'
          });
        }
      },

      // 关闭原文编辑状态
      closeEditOriginalText() {
          this.excerpt.originalText = this.originalText;
          this.originalTextReadOnlyFlg = true;
      },

      // 编辑译文
      editTranslation() {
          clearTimeout(this.time);
          this.editTranslationReadOnlyFlg = false;
      },

      // 保存译文编辑状态
      saveEditTranslation() {
        if (this.excerpt.translationText) {
            this.editTranslationReadOnlyFlg = true;
            this.translationText = this.excerpt.translationText;
            const param = Qs.stringify({
                excerptId: this.excerpt.excerptId,
                translationText: this.excerpt.translationText,
            });
            updateUserExcerpt(param).then(res => {
              if (res.ret_code === '0') {
                  if (this.excerptCkecked && (this.seachContent === '' || this.seachContent === null || this.seachContent === undefined)) {
                      this.setExcerptCkecked(false);
                  }
                  this.seachExcerpt();
                  this.resetSeachCondition();
              } else {
                this.$notification.error({
                  message: res.ret_msg
                });
              }
            }).catch(err => {
              if(!err){
                this.$notification.error({
                  message: '保存译文失败'
                });
              }
            })
        } else {
          this.$notification.error({
            message: '译文内容不能为空'
          });
        }
      },

      // 关闭译文编辑状态
      closeEditTranslation() {
          this.excerpt.translationText = this.translationText;
          this.editTranslationReadOnlyFlg = true;
      },

      // 删除快照
      delSnapshot() {
          Modal.confirm({
              title: "删除确认",
              content: "您确定要删除快照吗？",
              okText: '确认',
              cancelText: '取消',
              onOk: () => {
                  this.excerptShowFlg = false;
                  this.delExcerpt(this.excerpt);
              },
              onCancel () {}
          });
      },

      // 删除原文
      delOoriginalText() {
          Modal.confirm({
              title: "删除确认",
              content: "您确定要删除原文吗？",
              okText: '确认',
              cancelText: '取消',
              onOk: () => {
                  this.excerptShowFlg = false;
                  this.delExcerpt(this.excerpt);
              },
              onCancel () {}
          });
      },

      // 删除译文
      delTranslation() {
          Modal.confirm({
              title: "删除确认",
              content: "您确定要删除译文吗？",
              okText: '确认',
              cancelText: '取消',
              onOk: () => {
                  this.excerpt.translationText = '';
                  this.translationText = '';
                  const param = Qs.stringify({
                      excerptId: this.excerpt.excerptId,
                      translationText: this.excerpt.translationText,
                  });
                  updateUserExcerpt(param).then(res => {
                      if (res.ret_code === '0') {
                      } else {
                          this.$notification.error({
                              message: res.ret_msg
                          });
                      }
                  }).catch(err => {
                      if(!err){
                          this.$notification.error({
                              message: '删除译文失败'
                          });
                      }
                  });
              },
              onCancel () {}
          })
      },

      // 设置高亮
      toHeightLight() {
        clearTimeout(this.time);
        this.time = setTimeout(() => {
            this.toExcertPosition(this.excerpt);
        }, 300);
      },

      clearTime() {
        clearTimeout(this.time);
      },
      selectExcerpt(e) {
        let box = document.getElementById("excerpt_" + this.excerpt.excerptId);
        if (box && box.contains(e.target)) {
            this.selectCardBorder = 'margin-top:6px; border: none; box-shadow: 3px 7px 8px #dfdfdf;border-top: 5px #69c0ff solid;';
        } else {
            this.selectCardBorder = 'margin-top:6px; border: none; box-shadow: 3px 7px 8px #dfdfdf;';
        }
      }
    },
  };
</script>

<style lang="less" scoped>

  /deep/.ant-card-body {
    padding: 6px !important;
  }
  .texareaText {
    resize: none;
    border:none;
    font-size: 12px;
  }
  .texareaTextEdit {
    resize: none;
    font-size: 12px;
  }
  .texareaText::-webkit-scrollbar {
    display: none;
  }
  .texareaTextEdit::-webkit-scrollbar {
    display: none;
  }
  .dividerTitle {
    margin: 14px 0 0 0;
  }
  .dividerTitleText {
    font-size: 12px;
    color: #69c0ff;
    margin-top: 10px;
    background: #eff9ff;
  }
  .excerptTitle {
    display: inline-block;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-weight:bold;
    font-size: 13px;
  }
  /deep/.ant-card-head {
    padding: 0 12px !important;
  }
</style>