<template>
  <div>
    <a-drawer
      width="98%"
      :closable="false"
      :visible="visible"
      :bodyStyle="{padding:'0 5px 0 5px'}"
      :afterVisibleChange="afterVisibleChange"
    >
      <div class="box" ref="box">
        <div ref="left" class="left">
          <transition name = "fade">
            <div v-if="saveBtnFlg === '1' && showSaveBtn">
              <a-button :loading="saveLoading" @click="handleSave(saveBtnFlg,authorInfoList,publicationId)" type="primary" size="default" class="saveBtn">
                收藏该文献
              </a-button>
            </div>
          </transition>
          <iframe ref="pdfIframe" :style="{pointerEvents: mousedown?'none':'auto'}" width="100%" height="100%" :src="getIframeSrc" id="ifra">
          </iframe>
        </div>
        <div ref="resize" class="resize" title="收缩侧边栏">
          <span style="top: 45%;position: relative;">⋮</span>
        </div>
        <div ref="right" class="right">
            <a-card size="small" style="height: 100%" :bodyStyle="{height: '100%'}">
              <div style="border-bottom: 1px #e1e1e1 solid; padding-bottom: 6px;">
                <div>
                  <span style="width: 15%; margin-left: 12px" @click="addExcerptAllPage">
                    <a-icon type="form" />
                  </span>
                  <a-input-search style="width: 85%; margin-left: 12px" @search="seachExcerpt()" v-model="seachContent" />
                </div>
                <div style="margin-left: 12px;">
                  <a-checkbox :checked="excerptCkecked" @change="allExcerptOnChange" style="margin:12px 0 0 0; font-size: 13px;">
                    全部摘要
                  </a-checkbox>
                </div>
              </div>
              <div ref="excerptList" v-html="" :style="{height: excerptAndNoteList.length > 0?'85vh':'0'}" class="excerptList">
                <a-spin :spinning="excerptLoading">
                  <div v-for="(excerpt,index) in excerptAndNoteList" :key="excerpt.excerptId">
                    <n-publication-reader-excerpt
                      ref="nPublicationReaderExcerpt"
                      :index="index"
                      :excerptDefult="excerpt"
                      :annotationDisplay="annotationDisplay"
                      :translationDisplay="translationDisplay"
                      :toExcertPosition="toExcertPosition"
                      :setHighLight="setHighLight"
                      :delExcerpt="delExcerpt"
                      :toAllExcerptPage="toAllExcerptPage"
                      :seachExcerpt="seachExcerpt"
                      :resetSeachCondition="resetSeachCondition"
                      :seachContent="seachContent"
                      :excerptCkecked="excerptCkecked"
                      :setExcerptCkecked="setExcerptCkecked"
                      :visible="visible"
                    >
                    </n-publication-reader-excerpt>
                    </div>
                </a-spin>
              </div>
              <div v-if="excerptAndNoteList.length === 0" style="height: 100%;">
                <a-spin :spinning="excerptLoading" style="position: relative; top: 30%">
                  <a-empty />
                </a-spin>
              </div>
              <div slot="title">
                <span style="font-weight: 700;font-size: 13px;color: #333;">摘录和笔记</span>&nbsp;<span style="font-size: 11px;color: #999;">(摘录{{getExcerptCount}}&nbsp;笔记{{getNoteCount}})</span>
                <span style="float:right">
                  <a-checkbox :checked="translationChecked" @change="onChangeTranslation">
                    译文
                  </a-checkbox>
                  <a-checkbox :checked="annotationChecked" @change="onChangeAnnotation">
                    批注
                  </a-checkbox>
                </span>
              </div>
            </a-card>
        </div>
      </div>
      <n-publication-reader-translation
        ref="nPublicationReaderTranslation"
        :visibleModal="visibleModal"
        :addExcerptList="addExcerptList"
        :selectedInfo="selectedInfo"
        :selectedContent="selectedContent"
        :setHighLight="setHighLight"
        :clearSelectedContent="clearSelectedContent"
        @onMousedown="onMousedown"
      ></n-publication-reader-translation>
      <div class="setting-drawer-index-handle" style="border:5px solid #69c0ff; background: #69c0ff !important;" @click="toggle" slot="handle" v-if="handleVisible">
        <a-icon type="right-square" v-if="visible" />
        <a-icon type="read" v-else />
      </div>
    </a-drawer>
  </div>
</template>
<script>
import NPublicationReaderTranslation from "./NPublicationReaderTranslation";
import NPublicationReaderExcerpt from "./NPublicationReaderExcerpt";
import {selUserExcerptArray, insertUserExcerpt, deleteUserExcerpt} from './NPublicationReaderApi'
import Qs  from 'qs'
const userActionUrl = '/userHome/updUserAction';
export default {
    name: 'NPublicationReader',
    components: {
      NPublicationReaderTranslation,
      NPublicationReaderExcerpt
    },

    data() {
      return {
        highlight_info: {},
        visible: false,
        handleVisible:false,
        selectedInfo:{},
        errorMessage:'',
        selectedContent: '',
        mousedown: false,
        nPdfFullPath:"",
        translationDisplay:'',
        annotationDisplay:'',
        translationChecked:true,
        annotationChecked:true,
        visibleModal: true,
        excerptLoading: false,
        tempSelection:{},
        highLightObj: {},
        // 摘录信息
        excerptList: [],
        seachContent: '',
        // 初始化Flg 0: 非初始化 1: 初始化
        initFlg: '1',
        // 当前打开pdf文件 true: 是 false: 不是
        isOtherPdf: false,
        // 跳转其他文件 true: 是 false: 不是
        needToPdfFlg: '',
        // 跳转其他pdf摘录数组
        excerptArray: [],
        publicationId: '',
        excerpt: {},
        excerptAndNoteList: [],
        docId: '',
        docIdNotAuthor: '',
        excerptCkecked: false,
        saveBtnFlg:'',
        saveLoading: false,
        authorInfoList: [],
        // 当前浏览pdf页
        pageNum: 1,
        showSaveBtn: true
      };
    },

    computed:{
      // 获取iframe路径
      getIframeSrc(){
        let iframeSrc ='../../pdfjs-2.8.335-dist/web/viewer.html?file=';
        iframeSrc += this.nPdfFullPath;
        return iframeSrc;
      },

      // 计算批注数
      getNoteCount(){
        let excerptCount = 0;
        if (this.excerptAndNoteList.length > 0) {
          for (let i = 0; i < this.excerptAndNoteList.length; i++) {
           if (null !== this.excerptAndNoteList[i].annotationList) {
             excerptCount += this.excerptAndNoteList[i].annotationList.length;
           }
          }
        }
        return excerptCount;
      },

      // 计算摘录数
      getExcerptCount(){
        return this.excerptAndNoteList.length;
      }
    },

    mounted() {
        const me =this;
        window.getExcerptArray = me.getExcerptArray;
        window.handleMessage = me.handleMessage;
        window.setHighLight = me.setHighLight;
        window.delExcerpt = me.delExcerpt;
        window.handleHighlightMessage = me.handleHighlightMessage;
        window.getImage = me.getImage;
        window.getErrorMessage = me.getErrorMessage;
        window.page_return_call = me.page_return_call;
        this.$watch('needToPdfFlg', (val) => {
            if(this.isOtherPdf){
                if(val){
                    this.toHighLight(this.excerpt);
                    this.seachExcerpt();
                }
            }
        });
        if (window.history && window.history.pushState) {
            // 向历史记录中插入了当前页
            history.pushState(null, null, document.URL);
            window.addEventListener('popstate', this.goBack, false);
        }
    },
    destroyed () {
        window.removeEventListener('popstate', this.goBack, false);
    },
    methods: {
      goBack () {
          // console.log("点击了浏览器的返回按钮");
          sessionStorage.clear();
          this.visible = false;
          this.handleVisible = false;
          window.history.back();
      },
      // 获取摘录信息
      selExcerpt(excerptParam) {
        let excerptId = excerptParam.excerptId;
        let publicationId = this.publicationId;
        let seachContent = excerptParam.seachContent;
        let docId = this.docId
        if (this.excerptCkecked) {
          publicationId = null;
          excerptId = null;
        }
        this.excerptLoading = true;
        // 调用后台获取摘录信息
        const param = Qs.stringify({
          excerptId: excerptId,
          publicationId: publicationId,
          userId: this.$store.getters.userId,
          seachContent: seachContent,
          docId: docId,
          seachAllExcerptFlg: this.excerptCkecked
        });
        selUserExcerptArray(param).then(res => {
          if (res.ret_code === '0') {
            this.excerptList = res.data;
            this.excerptAndNoteList = this.excerptList.filter(function (excerpt)
            {
                return excerpt.actionType !== 'highlight';
            });
            if (this.initFlg === '1') {
              // 设置pdf高亮
              this.setHighLight();
            }
          } else {
            this.$notification.error({
              message: res.ret_msg
            });
          }
          this.excerptLoading = false;
           let excerptListDiv = this.$refs.excerptList;
           excerptListDiv.scrollTo(0, 0);
        }).catch(err => {
          if(!err){
            this.$notification.error({
              message: '获取摘录信息失败'
            });
          }
          this.excerptLoading = false;
        })
      },

      // 打开全文阅读抽屉
      showDrawer(pdfFullPath, publicationId, docIdAuthor, docIdNotAuthor, userFavorite, saveBtnFlg, authorInfoList) {
        if(pdfFullPath){
          this.nPdfFullPath = pdfFullPath;
        }
        if(publicationId){
          this.publicationId = publicationId;
        }
        if(docIdAuthor){
            this.docIdAuthor = docIdAuthor;
        }
        if(docIdNotAuthor){
            this.docIdNotAuthor = docIdNotAuthor;
        }
        if(userFavorite){
            this.docId = undefined !== this.docIdNotAuthor && null !== this.docIdNotAuthor && '' !== this.docIdNotAuthor?this.docIdNotAuthor:this.docIdAuthor;
        }
        if(saveBtnFlg){
            this.saveBtnFlg = saveBtnFlg;
        }
        if(authorInfoList){
            this.authorInfoList = authorInfoList;
        }

        this.visible = true;
        this.handleVisible = true;
      },

      // 切换抽屉显示与隐藏
      toggle() {
        if(this.visible){
          // 抽屉关闭时摘录翻译画面关闭
          this.$refs.nPublicationReaderTranslation.handleCancel()
        }
        setTimeout(() => {
          this.visible = !this.visible;
        }, 300)
      },

      // 获取消息
      handleMessage(data, e){
        let resize = this.$refs.resize;
        // 获取选中区域信息
        if (this.selectedContent !== data.params.selectContent) {
          this.tempSelection = data.params;
          const contenArray = data.content;
          let selectedContentInfo = data.params;
          this.selectedInfo = {
            actionType:selectedContentInfo.actionType,
            selectContent: selectedContentInfo.selectContent,
            contentType: contenArray[0].contentType,
            createType: contenArray[0].createType,
            isDataCollect: contenArray[0].isDataCollect,
            name: contenArray[0].name,
            origin_page: contenArray[0].origin_page,
            page_num: selectedContentInfo.page_num,
            preRender: contenArray[0].source_info.preRender,
            end: selectedContentInfo.range.end,
            endOffset: selectedContentInfo.range.endOffset,
            start: selectedContentInfo.range.start,
            startOffset: selectedContentInfo.range.startOffset,
            subActionType: selectedContentInfo.subActionType,
            uid: selectedContentInfo.uid,
            type: contenArray[0].type,
            pdfPath: this.nPdfFullPath,
          };
          this.selectedContent = selectedContentInfo.selectContent;

          // 判断原文是否为中文
          let reg = new RegExp(".*[a-zA-Z]+.*");
          if (reg.test(this.selectedContent)){
              // 弹出摘录翻译画面
              this.$refs.nPublicationReaderTranslation.showModal(e, resize);
          } else {
              this.addExcerptList(this.selectedInfo, '', this.selectedContent, true);
          }
        }
      },

      // 清除选中文本
      clearSelectedContent() {
        this.selectedInfo.selectedContent = '';
        this.selectedContent = ''
      },
      debounce(fn, wait) {
          let timer = null
          return function () {
              if (timer) {
                  clearTimeout(timer)
              }
              timer = setTimeout(fn, wait)
          }
      },
      // 抽屉回调函数
      afterVisibleChange(visible) {
        if(visible && this.excerptList.length === 0){
          setTimeout(() => {
            this.initFlg = '1';
            this.excerptCkecked = false;
            let excerptParam = {
                excerptId: null,
                publicationId: this.publicationId,
                userId: this.$store.getters.userId,
            };
            this.selExcerpt(excerptParam);
            // this.$refs.pdfIframe.addEventListener('scroll', this.debounce(function () {
            //     this.handleScroll()
            // }, 300));
          }, 300);
        }
        window.onresize = () =>{
          this.dragControllerDiv();
        };
        this.dragControllerDiv();
      },

      toExcertPosition(selectedInfo) {
          if (this.publicationId === selectedInfo.publicationId) {
              this.toHighLight(selectedInfo)
          } else {
              this.isOtherPdf = true;
              this.nPdfFullPath = selectedInfo.fulltextPath === '' || selectedInfo.fulltextPath === null || selectedInfo.fulltextPath === undefined?selectedInfo.privateDocpath:selectedInfo.fulltextPath;
              this.excerptArray = this.excerptList.filter(function (excerpt)
              {
                  return excerpt.publicationId === selectedInfo.publicationId;
              });
              this.publicationId = selectedInfo.publicationId
              this.docId = selectedInfo.docId
              this.excerpt = selectedInfo;
          }
      },
      // 跳转高亮位置
      toHighLight(selectedInfo) {
        let range = {
          end: selectedInfo.end,
          endOffset: selectedInfo.endOffset,
          start: selectedInfo.start,
          startOffset: selectedInfo.startOffset,
          selectContent: selectedInfo.selectContent,
          subActionType: selectedInfo.subActionType,
          uid:selectedInfo.uid
        };
        let params = {
          actionType:selectedInfo.actionType,
          page_num: selectedInfo.page_num,
          range: range,
          selectContent: selectedInfo.selectContent,
          subActionType: selectedInfo.subActionType,
          uid:selectedInfo.uid
        };
        let highLightObj = {
          actionType: "scrollToInfo",
          data: params
        }
        this.$refs.pdfIframe.contentWindow.initHighLight(highLightObj);
        this.isOtherPdf = false;
      },

      // 获取错误信息
      getErrorMessage(errorMessage) {
        this.$message.warning(errorMessage);
      },

      // 左右画面拖拽
      dragControllerDiv: function () {
        const that = this;
        let resize = this.$refs.resize;
        let left = this.$refs.left;
        let right = this.$refs.right;
        let box =  this.$refs.box;
        // 鼠标按下事件
        resize.onmousedown = function (e) {
          that.mousedown = true;
          //颜色改变提醒
          resize.style.background = '#69c0ff';
          let startX = e.clientX;
          resize.left = resize.offsetLeft;
          // 鼠标拖动事件
          document.onmousemove = function (e) {
            let endX = e.clientX;
            let moveLen = resize.left + (endX - startX); // （endx-startx）=移动的距离。resize.left+移动的距离=左边区域最后的宽度
            let maxT = box.clientWidth - resize.offsetWidth; // 容器宽度 - 左边区域的宽度 = 右边区域的宽度

            if (moveLen < 600) moveLen = 600; // 左边区域的最小宽度为32px
            if (moveLen > maxT - 310) moveLen = maxT - 310; //右边区域最小宽度为150px

            resize.style.left = moveLen; // 设置左侧区域的宽度
            left.style.width = moveLen + 'px';
            right.style.width = (box.clientWidth - moveLen - 10) + 'px';
          };
          // 鼠标松开事件
          document.onmouseup = function (evt) {
            that.mousedown = false;
            //颜色恢复
            resize.style.background = '#d6d6d6';
            document.onmousemove = null;
            document.onmouseup = null;
            resize.releaseCapture && resize.releaseCapture(); //当你不在需要继续获得鼠标消息就要应该调用ReleaseCapture()释放掉
          };
          resize.setCapture && resize.setCapture(); //该函数在属于当前线程的指定窗口里设置鼠标捕获
          return false;
        };
      },

      onMousedown(mousedown){
          this.mousedown = mousedown;
      },

      // 显示笔记
      onChangeAnnotation() {
          this.annotationChecked = !this.annotationChecked;
          if (this.annotationChecked) {
              this.annotationDisplay = '';
          } else {
              this.annotationDisplay = 'none';
          }
      },

      // 显示译文
      onChangeTranslation() {
          this.translationChecked = !this.translationChecked;
          if (this.translationChecked) {
              this.translationDisplay = '';
          } else {
              this.translationDisplay = 'none';
          }
      },

      // 追加摘录
      addExcerptList(selectedInfo, translationText, selectedContentText, pictureFlg) {
        let  annotationList = [];
        let excerpt = {
            userId: this.$store.getters.userId,
            originalText:selectedContentText,
            translationText:translationText,
            translationToolId: selectedInfo.translationToolId,
            selectContent: selectedInfo.selectContent,
            publicationId: this.publicationId,
            page_num: selectedInfo.page_num,
            actionType:selectedInfo.actionType,
            contentType: selectedInfo.contentType,
            createType: selectedInfo.createType,
            isDataCollect: selectedInfo.isDataCollect,
            name: selectedInfo.name,
            origin_page: selectedInfo.origin_page,
            preRender: selectedInfo.preRender,
            start: selectedInfo.start,
            end: selectedInfo.end,
            startOffset: selectedInfo.startOffset,
            endOffset: selectedInfo.endOffset,
            subActionType: selectedInfo.subActionType,
            uid: selectedInfo.uid,
            type: selectedInfo.type,
            top: selectedInfo.top,
            height:selectedInfo.height,
            width: selectedInfo.width,
            left: selectedInfo.left,
            allPageExcerptFlg: selectedInfo.allPageExcerptFlg,
            color: selectedInfo.color,
            size: selectedInfo.size,
            rectMode: selectedInfo.rectMode,
            snapshotUrl: selectedInfo.snapshotUrl,
            annotationList: annotationList,
            blobFile: selectedInfo.blobFile,
            pdfPath: selectedInfo.pdfPath,
            docId: this.docId
          };
        // 调用后台新增摘录方法
        let formData = new FormData();
        if (pictureFlg) {
            formData.append("file",selectedInfo.blobFile);
        }
        formData.append("excerpt", JSON.stringify(excerpt));
        insertUserExcerpt(formData).then(res => {
          if (res.ret_code === '0') {
            if (selectedInfo.actionType !== 'highlight') {
              this.excerptAndNoteList.splice(0,0, res.data);
              if (excerpt.allPageExcerptFlg === '1') {
                  new Promise(resolve => {
                      resolve();
                  }).then(()=>{
                      this.$refs.nPublicationReaderExcerpt.addAnnotaton?this.$refs.nPublicationReaderExcerpt.addAnnotaton():this.$refs.nPublicationReaderExcerpt[this.$refs.nPublicationReaderExcerpt.length-1].addAnnotaton();
                  });
              }
              if (excerpt.allPageExcerptFlg !== '1') {
                  this.setHighLight([excerpt]);
              }
            } else {
                this.setHighLight([res.data]);
            }
          } else {
            this.$notification.error({
              message: res.ret_msg
            });
          }
        }).catch(err => {
          if(!err){
            this.$notification.error({
              message: '添加摘录失败'
            });
          }
        });
      },

      // 删除摘录
      delExcerpt(excerpt) {
        this.excerptAndNoteList = this.excerptAndNoteList.filter((item) => {
          return item.excerptId != excerpt.excerptId;
        });

        const param = Qs.stringify({
          excerptId: excerpt.excerptId,
        });
        deleteUserExcerpt(param).then(res => {
          if (res.ret_code === '0') {
            // this.$notification.success({
            //   message: '删除成功'
            // });
          } else {
            this.$notification.error({
              message: res.ret_msg
            });
          }
        }).catch(err => {
          if(!err){
            this.$notification.error({
                message: '删除失败'
            });
          }
        });

        // 删除高亮
        if (excerpt.actionType !== 'highlight') {
          let params = {
            actionType: excerpt.actionType,
            page_num: excerpt.page_num,
            selectContent: excerpt.selectContent,
            rect: {
              top: excerpt.top,
              height: excerpt.height,
              width: excerpt.width,
              left: excerpt.left,
            },
            uid: excerpt.uid
          };
          let highLightObj = {
            actionType: "deletePosition",
            data: params
          };
          this.$refs.pdfIframe.contentWindow.initHighLight(highLightObj);
        }
      },

      // 批注整页
      addExcerptAllPage() {
        let selectedInfo  = {};
        selectedInfo.page_num = this.$refs.pdfIframe.contentWindow.PDFViewerApplication.page;
        // 整页批注Flg 1：整页 0；非整页
        selectedInfo.allPageExcerptFlg = '1';
        this.addExcerptList(selectedInfo, '', '', false, true);
      },

      // 获取快照
      getImage(data) {
        let highlight_info = data.tempSelection.highlight_info;
        let selectedInfo = {
          actionType:data.actionType,
          content: data.content,
          page_num: data.params.page_num,
          top: data.params.rect.top,
          height: data.params.rect.height,
          width: data.params.rect.width,
          left: data.params.rect.left,
          snapshotUrl: window.URL.createObjectURL(data.params.blob),
          uid: highlight_info.uid,
          selectContent: '',
          preRender: highlight_info.preRender,
          end: highlight_info.range.end,
          endOffset: highlight_info.range.endOffset,
          start: highlight_info.range.start,
          startOffset: highlight_info.range.startOffset,
          size: data.params.blob.size,
          type: data.params.blob.type,
          rectMode: highlight_info.rectMode,
          blobFile: data.params.blob,
          pdfPath: this.nPdfFullPath,
          sheight: data.params.sheight,
          swidth:  data.params.swidth
        };
        this.addExcerptList(selectedInfo, '', '',  true);
      },

      // 设置高亮
      setHighLight(selectedInfoArray, needToPdfFlg) {

        const that = this;
        if(!selectedInfoArray){
          selectedInfoArray = that.excerptList;
        }
        if (that.isOtherPdf) {
          selectedInfoArray = that.excerptArray;
        }
        let addExcerpt = {};
          new Promise(resolve => {
              selectedInfoArray.forEach(function(selectedInfo, index) {
                  let range = {
                      end: selectedInfo.end,
                      endOffset: selectedInfo.endOffset,
                      start: selectedInfo.start,
                      startOffset: selectedInfo.startOffset,
                      selectContent: selectedInfo.selectContent,
                      subActionType: selectedInfo.subActionType,
                      uid:selectedInfo.uid
                  };
                  // 设置快照高亮
                  if (selectedInfo.actionType === 'cut') {
                      let rect = {
                          height: selectedInfo.height,
                          left: selectedInfo.left,
                          top: selectedInfo.top,
                          width: selectedInfo.width,
                      };
                      let highlight_info = {
                          color: selectedInfo.color,
                          page_num: selectedInfo.page_num,
                          range: range,
                          rect: rect,
                          rectMode: selectedInfo.rectMode,
                          selectContent: selectedInfo.selectContent,
                          uid:selectedInfo.uid
                      };
                      let selectData = {
                          actionType:selectedInfo.actionType,
                          color: selectedInfo.color,
                          page_num: selectedInfo.page_num,
                          preRender: selectedInfo.preRender,
                          range: range,
                          highlight_info: highlight_info,
                          selectContent: selectedInfo.selectContent,
                          uid:selectedInfo.uid,
                          blob: {
                              size: selectedInfo.size,
                              type: selectedInfo.type,
                          },
                          rect: rect
                      };
                      addExcerpt.actionType = "drawPosition";
                      let addExcerptData = {
                          infoList: [
                              selectData
                          ],
                          update: true
                      };
                      addExcerpt.data = addExcerptData;
                      try {
                          that.$refs.pdfIframe.contentWindow.initHighLight(addExcerpt);
                      }catch (e) {
                      }
                  } else if (selectedInfo.actionType === 'excerpt_text' || selectedInfo.actionType === 'highlight') {        // 设置摘录高亮
                      addExcerpt.actionType = "drawPosition";
                      let addExcerptData = {
                          infoList: [
                              {
                                  actionType:selectedInfo.actionType,
                                  color: selectedInfo.color,
                                  isPic: false,
                                  page_num: selectedInfo.page_num,
                                  preRender: selectedInfo.preRender,
                                  range: range,
                                  selectContent: selectedInfo.selectContent,
                                  uid:selectedInfo.uid,
                                  excerptId: selectedInfo.excerptId
                              }
                          ],
                          update: true
                      };
                      addExcerpt.data = addExcerptData;
                      try {
                          that.$refs.pdfIframe.contentWindow.initHighLight(addExcerpt);
                      }catch (e) {
                      }
                  }
              });
              setTimeout(()=>{
                  resolve();
              },1000)
          }).then(()=>{
              if(needToPdfFlg){
                  that.needToPdfFlg = needToPdfFlg;
              }
          });
      },

      // 跳转批注页
      toAllExcerptPage(pageNumber) {
        this.$refs.pdfIframe.contentWindow.PDFViewerApplication.page = pageNumber;
      },

      //  获取只设置高亮不摘录消息
      handleHighlightMessage(data, e) {
        if (this.selectedContent !== data.params.selectContent) {
          this.tempSelection = data.params;
          const contenArray = data.content;
          let selectedContentInfo = data.params;
          let selectedInfo = {
            actionType:selectedContentInfo.actionType,
            selectContent: selectedContentInfo.selectContent,
            contentType: contenArray[0].contentType,
            createType: contenArray[0].createType,
            name: contenArray[0].name,
            origin_page: contenArray[0].origin_page,
            page_num: selectedContentInfo.page_num,
            end: selectedContentInfo.range.end,
            endOffset: selectedContentInfo.range.endOffset,
            start: selectedContentInfo.range.start,
            startOffset: selectedContentInfo.range.startOffset,
            subActionType: selectedContentInfo.subActionType,
            uid: selectedContentInfo.uid,
            type: contenArray[0].type,
            color: data.color
          };
          this.addExcerptList(selectedInfo);
        }
      },

      // 检索摘录信息
      seachExcerpt(publicationId) {
        if (this.excerptCkecked && this.seachContent === '') {
          this.$notification.warning({
            message: '检索内容不能为空'
          });
        } else {
          let excerptParam = {
            excerptId: null,
            publicationId: this.publicationId,
            userId: this.$store.getters.userId,
            seachContent: this.seachContent,
          };
          if(publicationId){
            excerptParam = {
              ...excerptParam,
              publicationId
            }
          }
          this.initFlg = publicationId?'1':'0';
          this.selExcerpt(excerptParam);
        }
      },

      // 全部摘要CheckBox选中/取消
      allExcerptOnChange(e) {
        if(this.excerptCkecked) {
          this.excerptCkecked = false;
          // this.seachAllExcerptFlg = '1';
        } else {
          this.excerptCkecked = true;
          // this.seachAllExcerptFlg = '0';
        }
      },
      resetSeachCondition() {
        this.seachContent = '';
        // this.seachAllExcerptFlg = '0';
        this.excerptCkecked = false;
      },

      // 点击收藏按钮
      handleSave (bol, authorInfoList, publicationId) {
          this.saveLoading = true
          let authorIds = ''
          for(let item of authorInfoList){
              authorIds = authorIds + item.authorId + ','
          }
          authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));

          let param = {
              actionFlg: '4',
              authorIds : authorIds,
              publicationId,
              userId: this.$store.getters.userId
          }
          if(bol === '1'){
              param = Qs.stringify({
                  ...param,
                  operationalBehaviorFlg: true,
              });
              this.$http.post(userActionUrl,param).then(res => {
                  this.$notification.success({
                      message: '收藏成功'
                  })
                  this.saveLoading = false
                  this.saveBtnFlg = '2'
              }).catch(
                  err => {
                      if(!err) {
                          this.$notification.error({
                              message: '收藏失败'
                          })
                      }
                      this.saveLoading = false
                  }
              )
          }
      },

      page_return_call(pageNum) {
        if (pageNum > this.pageNum) {
            this.showSaveBtn = false;
        } else if (this.pageNum === pageNum) {
            this.showSaveBtn = true;
        } else {
            this.showSaveBtn = true;
        }
        this.pageNum = pageNum;
      },

      // 设置是否检索全部摘要checkBox
      setExcerptCkecked(excerptCkecked) {
          this.excerptCkecked = excerptCkecked;
      }
    }
  };
</script>
<style lang="less" scoped>
  .setting-drawer-index-handle {
    position: absolute;
    top: 70px;
    background: #69c0ff !important;
    width: 30px;
    height: 30px;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1001;
    text-align: center;
    font-size: 16px;
    border-radius: 4px 0 0 4px;

    i {
      color: rgb(255, 255, 255);
      font-size: 20px;
    }
  }
  .float-left {
    float: left;
  }
  .box {
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
  }
  /*左侧div样式*/
  .left {
    width: calc(60% - 10px);  /*左侧初始化宽度*/
    height: 100%;
    background: #FFFFFF;
    float: left;
    position: relative;
  }
  /*拖拽区div样式*/
  .resize {
    cursor: col-resize;
    float: left;
    position: relative;
    background-color: #d6d6d6;
    border-radius: 5px;
    width: 5px;
    height: 100%;
    background-size: cover;
    background-position: center;
    /*z-index: 99999;*/
    font-size: 14px;
    color: white;
    user-select: none;
  }
  /*拖拽区鼠标悬停样式*/
  .resize:hover {
    color: #444444;
  }
  /*右侧div'样式*/
  .right {
    float: left;
    width: 40%;   /*右侧初始化宽度*/
    height: 100%;
    background: #fff;
    box-shadow: -1px 4px 5px 3px rgba(0, 0, 0, 0.11);
  }
  .excerptList {
    padding-right: 10px;
    overflow: auto;
  }
  .excerptList::-webkit-scrollbar{
    overflow: auto;
    height: 85vh;
  }
  .saveBtn {
    position: absolute;
    right: 33px;
    bottom: 6px;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 2s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active, 2.1.8 版本以下 */ {
    opacity: 0;
  }
</style>
