<template>
  <a-modal
    ref="modal"
    :visible="visible"
    :footer="null"
    :mask="false"
    :maskStyle="{display:'none'}"
    :dialogStyle="{borderRadius: '5px',top: '0'}"
    :bodyStyle="{padding:'16px'}"
    width="300px"
    wrapClassName="wrap"
    :forceRender="true"
    :closable="false"
    @cancel="handleCancel"
    :maskClosable="false"
  >
    <div>
      <span>原文：</span><a @click="doCopy(selectedContentText)" style="float: right;font-size: 12px;color: #bbbbbb">复制原文</a>
    </div>
    <div style="margin-bottom: 12px">
      <a-textarea @focus="onFocus" @blur="onBlur" class="texareaText" placeholder="原文：" :rows="5" v-model="selectedContentText" />
    </div>
    <div style="text-align: center;">
      <a-button type="primary" shape="round" size="small" style="width: 100px;" @click="getTranslationText(selectedContentText)">
        翻译
      </a-button>
    </div>
    <div>
      <span>译文：</span><a @click="doCopy(translationText)" style="float: right;font-size: 12px;color: #bbbbbb">复制译文</a>
    </div>
    <div>
      <a-spin :spinning="translationLoading">
        <a-textarea ref="translationTextarea" @focus="onFocus" @blur="onBlur" style="background-color: #f1f1f1;" placeholder="译文：" class="texareaText" :rows="5" v-model="translationText" />
      </a-spin>
    </div>
    <div style="margin-top:12px;text-align:center;">
      <a-button style="margin-right:12px" size="default"
                @click="excerptTranslation(true)">
        摘录译文
      </a-button>
      <a-button type="primary" size="default" @click="excerptTranslation(false)">
        摘录原文
      </a-button>
    </div>
    <div style="height: 30px" ref="title" slot="title">
<!--      <a-select style="width: 50%;margin: 0 12px 0 10px;" v-model="translationToolId">-->
<!--        <a-select-option v-for="(item,index) in userTranslationToolList" :value="item.translationToolId" @select="selectOption">{{item.translationToolName}}</a-select-option>-->
<!--      </a-select>-->
    </div>
  </a-modal>
</template>
<script>
import NPublicationReaderExcerpt from "./NPublicationReaderExcerpt";
import {getUserTranslationToolList} from './NPublicationReaderApi'
import Qs from 'qs'
import UserImg from '../NCardList/UserImg';
export default {
  name: 'NPublicationReaderTranslation',

  components: {
      UserImg,
      NPublicationReaderExcerpt
  },

  emit:["onMousedown"],

  props: {
      selectedContent: {
          type: String,
          default: ''
      },
      setHighLight: {
          type: Function,
          default: null
      },
      addExcerptList: {
          type: Function,
          default: null
      },
      selectedInfo: {
          type: Object,
          default: ()=>{ return {} }
      },
  },

  data() {
    return {
      translationText:'',
      translationChecked:true,
      annotationChecked:true,
      editTranslationReadOnlyFlg:true,
      originalTextReadOnlyFlg:true,
      annotationReadOnlyFlg:true,
      editTranslationClass:'texareaText',
      originalTextClass:'texareaText',
      annotationClass:'texareaText',
      excerptCount: 0,
      noteCount: 0,
      translationDisplay:'',
      annotationDisplay:'',
      selectedContentText:'',
      visible:false,
      translationLoading:false,
      userTranslationToolList: [],
      translationToolId: ''
    };
  },

  created() {
      this.selectedContentText = this.selectedContent;
      this.getTranslationToolList();
  },

  watch: {
    selectedContent(val, oldName) {
      this.selectedContentText = this.selectedContent;
    },
    selectedContentText(val) {
      if (val !== '' && val === this.selectedContent) {
       this.getTranslationText(val);
      }
    }
  },

  methods: {
    getTranslationToolList() {
      getUserTranslationToolList().then(res => {
        if (res.ret_code === '0') {
          if (res.data !== null) {
              this.userTranslationToolList = res.data;
              if (this.userTranslationToolList.length > 0) {
                  this.translationToolId = this.userTranslationToolList[0].translationToolId;
              }
          }
        } else {
          this.$notification.error({
            message: res.ret_msg
          });
        }
      }).catch(err => {
        if(!err){
          this.$notification.error({
            message: '获取翻译工具失败'
          });
        }
      })
    },

    showModal(e, resize) {
      const that = this;
      that.$emit("onMousedown",true);
      if(!this.visible){
        window.onkeydown = function(event){
          let e = window.event || event;
          if (e.keyCode == 13) {
            that.addExcerptList(that.selectedInfo, that.translationText, that.selectedContentText);
            window.onkeydown = null;
            that.handleCancel();
          }
        };
        let wrap = document.getElementsByClassName("wrap")[0];
        let pageHeight = window.innerHeight;
        if (pageHeight - e.clientY < 430) {
            wrap.style.top = (e.clientY - 330) + "px";
        } else {
            wrap.style.top = (e.clientY - 50) + "px";
        }
        wrap.style.left = (resize.offsetLeft + 40) + "px";

        document.onmousedown = function (e) {
          let wrap = document.getElementsByClassName("wrap")[0];
          let wrapLeft = parseInt(wrap.style.left.slice(0,wrap.style.left.length-2));
          let wrapTop = parseInt(wrap.style.top.slice(0,wrap.style.top.length-2));

          if (e.clientX < wrapLeft || e.clientX > (wrapLeft+310)){
            that.handleCancel();
          }

          if (e.clientY < wrapTop || e.clientY > (wrapTop+360)){
            that.handleCancel();
          }
        };
        document.onmouseup = function (e) {
          document.onmouseup = null;
        };
      }

      let dragMove = this.$refs.title;
      dragMove.onmousedown = function (e) {
        let wrap = document.getElementsByClassName("wrap")[0];
        let startX = e.clientX;
        let startY = e.clientY;
        let startWrapX = parseInt(wrap.style.left.slice(0,wrap.style.left.length-2));
        let startWrapY = parseInt(wrap.style.top.slice(0,wrap.style.top.length-2));
        // 鼠标拖动事件
        document.onmousemove = function (e) {
          let endX = e.clientX;
          let endY = e.clientY;
          let moveLenX = endX - startX;
          let moveLenY = endY - startY;
          let wrap = document.getElementsByClassName("wrap")[0];
          wrap.style.left = startWrapX + moveLenX + "px";
          wrap.style.top = startWrapY + moveLenY + "px";
        };
        // 鼠标松开事件
        document.onmouseup = function (evt) {
          document.onmousemove = null;
          document.onmouseup = null;
          dragMove.releaseCapture && dragMove.releaseCapture(); //当你不在需要继续获得鼠标消息就要应该调用ReleaseCapture()释放掉
        };
        dragMove.setCapture && dragMove.setCapture(); //该函数在属于当前线程的指定窗口里设置鼠标捕获
        return false;
      };

      this.visible = true;
    },

    onFocus(){
      window.onkeydown = null;
    },

    onBlur(){
      const that = this;
      window.onkeydown = function(event){
        let e = window.event || event;
        if (e.keyCode == 13) {
          that.addExcerptList(that.selectedInfo, that.translationText, that.selectedContentText);
          window.onkeydown = null;
          that.handleCancel();
        }
      };
    },

    handleCancel(e) {
      this.visible = false;
      this.$emit("onMousedown",false);
      document.onmousedown = null;
    },

    clear() {
      this.translationText = '';
      this.selectedContentText = '';
      this.$emit('clearSelectedContent', '');
    },

    getTranslationText(description) {
      this.translationLoading = true;
      let param = {
          description: description
      };
      param = Qs.stringify(param);
      this.$http.post('/translation/getThesisTranslation', param).then(res => {
        if (res.ret_code === '0') {
          this.translationText = res.data;
          this.translationLoading = false;
        } else {
          this.$notification.error({
            message: res.ret_msg
          });
        }
      }).catch(
        err => {
          if(!err){
            this.$notification.error({
              message: '翻译失败'
            });
          }
          this.translationLoading = false;
        }
      );
    },

    excerptTranslation(isTranslation) {
      this.selectedInfo.translationToolId = this.translationToolId;
      if (isTranslation) {
          this.addExcerptList(this.selectedInfo, this.translationText, this.selectedContentText);
      } else {
          this.addExcerptList(this.selectedInfo, "", this.selectedContentText);
      }
      window.onkeydown = null;
      this.handleCancel();
    },

    selectOption(value) {
      this.translationToolId = value;
    },

    doCopy(content) {
        let that = this;
        that.$copyText(content).then(function (e) {
            that.$notification.success({
                message: '复制成功'
            });
        }, function (e) {
            that.$notification.error({
                message: '复制失败'
            });
        })
    }

  },
};
</script>

<style scoped>
  /deep/.ant-card-body {
    padding: 6px !important;
  }
  /deep/.ant-modal-content {
    box-shadow:2px 5px 5px rgb(0 0 0 / 7%);
  }
  /deep/.ant-modal-header {
    border-top: 1px solid #e8e8e8;
    padding:0;
  }
  /deep/.wrap {
    width: 310px;
    height: 410px;
  }
  .cont {
    overflow-x: hidden;
    overflow-y: auto;
    border:2px solid rgb(232, 232, 232);
  }

  .cont::-webkit-scrollbar {
    display: none;
  }
  .texareaText {
    font-size: 12px;
    resize: none;
    border:none;
    scrollbar-width: none;
  }
  .texareaTextEdit {
    font-size: 12px;
    resize: none;
  }
  .texareaText::-webkit-scrollbar {
    display: none;
  }
  .texareaTextEdit::-webkit-scrollbar {
    display: none;
  }
</style>