<template>
  <a-tooltip ref="tooltip" placement="topRight" v-if="annotationShowFlg" style="margin: 6px 0 6px 0;">
      <div slot="title">
        <span style="cursor: default; font-size: 10px;" @click.stop="addAnnotaton">
          <a-icon type="highlight" />
          批注
        </span>
          &nbsp;&nbsp;
        <span @click="editAnnotation" style="cursor: default; font-size: 10px;">
          <a-icon type="edit" />
          编辑
        </span>
          &nbsp;&nbsp;
        <span @click="delAnnotaton()" style="cursor: default; font-size: 10px;">
          <a-icon type="delete"/>
          删除
        </span>
      </div>
    <a-card
      size="small"
      style="border:none;background-color: #f1f1f1;"
      @click="excerpt.allPageExcerptFlg === '1'? toExcerptPage: ''"
    >
      <div v-if="annotationReadOnlyFlg" @dblclick="editAnnotation">
        <span style="font-size: 12px; padding-left: 6px" v-html="annotation.annotationContentHtml !== null? annotation.annotationContentHtml : annotation.annotationContent"></span>
      </div>
      <div v-else style="margin-bottom: 12px; border: none;">
        <a-textarea
          ref="annotationContent"
          style="background-color: #f1f1f1;" :read-only="annotationReadOnlyFlg"
          :class="annotationClass"
          :rows="4"
          v-model="annotation.annotationContent"
          @click.stop=""
          />
      </div>
      <div slot="title">
        <user-img
          :userImg="loginUserAvatar"
          :height="'20px'"
          :width="'20px'"
        ></user-img>
        <span style="font-size:12px">&nbsp;&nbsp;{{loginUserName}} {{annotation.annotationDateMonAndDayStr}} {{annotation.annotationDateHourAndMinStr}}</span>
        <span v-if="annotationReadOnlyFlg == false">
          <a-icon type="close" style="float:right;margin-left: 10px; color:red" @click.stop="closeAnnotation"/>
          <a-icon type="check" style="float:right;margin-left: 10px; color:green" @click.stop="saveAnnotation"/>
        </span>
      </div>
    </a-card>
  </a-tooltip>
</template>
<script>
  import UserImg from '../NCardList/UserImg';
  import { Modal } from 'ant-design-vue';
  import {insertUserAnnotation, deleteUserAnnotation, updateUserAnnotation} from './NPublicationReaderApi'
  import Qs  from 'qs'
  export default {
    name: 'NPublicationReaderAnnotation',
    components: {
      UserImg,
      Modal
    },
    props: {
      annotationReadOnlyFlgDefault: {
        type: Boolean,
        default: false
      },
      annotationClassDefault: {
        type: String,
        default: ''
      },
      annotationObj: {
        type: Object,
        default: ()=>{ return {} }
      },
      addAnnotaton: {
        type: Function,
      },
      toAllExcerptPageParent: {
        type: Function
      },
      toHeightLight: {
        type: Function
      },
      excerpt: {
        type: Object,
        default: ()=>{ return {} }
      },
      delExcerpt: {
        type: Function
      },
      toHighLight: {
        type: Function
      },
      seachExcerpt: {
        type: Function
      },
      resetSeachCondition: {
        type: Function
      },
      clearTime: {
        type: Function
      },
      excerptCkecked: {
          type: Boolean
      },
      setExcerptCkecked: {
          type: Function,
      }
    },

    data() {
      return {
        // 笔记编辑框只读Flg
        annotationReadOnlyFlg: this.annotationReadOnlyFlgDefault,
        // 笔记编辑框样式
        annotationClass: this.annotationClassDefault,
        // 笔记对象
        annotation: this.annotationObj,
        // 笔记显示Flg
        annotationShowFlg: true,
        //笔记显示内容
        commentText: '',
        visible: false,
        time: 0,
        tooltipShow: 'block',
        loginUserId: '',
        loginUserAvatar: '',
        loginUserName: ''
      }
    },

    created() {
        this.loginUserId = this.$store.getters.userId;
        this.loginUserAvatar = this.$store.getters.avatar;
        this.loginUserName = this.$store.getters.nickname;
    },

    mounted() {
      this.commentText = this.annotation.annotationContent;
      if(!this.annotationReadOnlyFlg){
          this.$refs.annotationContent.focus();
      }
      this.$watch('annotationObj', (val) => {
          this.annotation = this.annotationObj
      });
      this.$watch('annotationClassDefault', (val) => {
          this.annotationClass = this.annotationClassDefault
      });
      this.$watch('annotationReadOnlyFlgDefault', (val) => {
          this.annotationReadOnlyFlg = this.annotationReadOnlyFlgDefault
      });
    },

    methods: {
      // 编辑笔记
      editAnnotation() {
        clearTimeout(this.time);
        this.clearTime()
        this.annotationClass = 'texareaTextEdit';
        this.annotationReadOnlyFlg = false;
      },

      // 保存笔记
      saveAnnotation() {
        clearTimeout(this.time);
        if (this.annotation.annotationContent !== '') {
          this.annotationClass = 'texareaText';
          this.annotationReadOnlyFlg = true;
          if (this.annotation.annotationContent !== this.commentText) {
            this.commentText = this.annotation.annotationContent;
            const param = this.annotation;
            updateUserAnnotation(param).then(res => {
              if (res.ret_code === '0') {
                  if (this.excerptCkecked && (this.seachContent === '' || this.seachContent === null || this.seachContent === undefined)) {
                      this.setExcerptCkecked(false);
                  }
                  this.seachExcerpt();
                  this.resetSeachCondition();
              } else {
                  this.$notification.error({
                      message: res.ret_msg
                  });
              }
            }).catch(err => {
              if(!err){
                  this.$notification.error({
                      message: '保存笔记失败'
                  });
              }
            });
          } else {

          }
        } else {
          this.$message.warning('笔记内容不能为空');
        }
      },

      // 关闭笔记编辑
      closeAnnotation() {
        clearTimeout(this.time);
        if (this.excerpt.allPageExcerptFlg === '1') {
          this.annotationShowFlg = false;
          if (this.excerpt.allPageExcerptFlg === '1') {
            this.delExcerpt(this.excerpt);
          }
        } else {
          if (this.commentText === '') {
            this.annotationShowFlg = false;
            const param = Qs.stringify({
              annotationId: this.annotation.annotationId
            });
            deleteUserAnnotation(param).then(res => {
              if (res.ret_code === '0') {
                  if (this.excerptCkecked && (this.seachContent === '' || this.seachContent === null || this.seachContent === undefined)) {
                      this.setExcerptCkecked(false);
                  }
                  this.seachExcerpt();
              } else {
                this.$notification.error({
                  message: res.ret_msg
                });
              }
            }).catch(err => {
              if(!err){
                this.$notification.error({
                  message: '删除笔记失败'
                });
              }
            });
          } else {
            this.annotation.annotationContent = this.commentText;
            this.annotationClass = 'texareaText';
            this.annotationReadOnlyFlg = true;
          }
        }
      },

      // 删除笔记
      delAnnotaton() {
        clearTimeout(this.time);
        Modal.confirm({
          title: "删除确认",
          content: "您确定要删除笔记吗？",
          okText: '确认',
          cancelText: '取消',
          onOk: () => {
            this.annotationShowFlg = false;
            if (this.excerpt.allPageExcerptFlg === '1') {
              this.delExcerpt(this.excerpt);
            }
            const param = Qs.stringify({
              annotationId: this.annotation.annotationId
            });
            deleteUserAnnotation(param).then(res => {
              if (res.ret_code === '0') {
                  this.seachExcerpt();
                // this.$notification.success({
                //     message: '删除成功'
                // });
              } else {
                this.$notification.error({
                  message: res.ret_msg
                });
              }
            }).catch(err => {
              if(!err){
                this.$notification.error({
                  message: '删除笔记失败'
                });
              }
            });
          },
          onCancel () {}
        });
      },

      // 跳转到批注页
      toExcerptPage() {
        clearTimeout(this.time);
        this.time = setTimeout(() => {
          if (this.excerpt.allPageExcerptFlg === '1') {
            this.toAllExcerptPageParent(this.excerpt.page_num);
          } else {
            this.toHeightLight(this.excerpt);
          }
        }, 300);
      }
    }
  }
</script>
<style lang="less" scoped>
  .texareaText {
    font-size: 12px;
    resize: none;
    border:none;
  }
  .texareaTextEdit {
    font-size: 12px;
    resize: none;
  }
  .texareaText::-webkit-scrollbar {
    display: none;
  }
  .texareaTextEdit::-webkit-scrollbar {
    display: none;
  }
</style>