<template>
  <div>
    <a-modal
      :title="title"
      :visible="visible"
      :width="modalWidth"
      :bodyStyle="modalHeight"
      @cancel="handleCancel"
      :confirm-loading="false"
      :maskClosable="false"
      :footer="false"
      :destroyOnClose="true"
    >
      <!--搜索框-->
      <a-row v-if="this.Title === '我的关注'|| this.Title === '我的粉丝'">
        <a-col :span="24" style="margin-top: -12px;">
            <a-input
              id="n-user-input"
              :placeholder="this.Title === '我的关注'?'搜索你的关注':'搜索你的粉丝'"
              class="searchBar"
              v-model="keyword"
              style="width: 100% !important;"
              @keypress.native.enter="handleSearchList"
            >
              <a-icon slot="prefix" type="search" />
            </a-input>
        </a-col>
      </a-row>
      <!--更多-->
      <a-row style="margin-top: 16px;">
        <a-list
          size="large"
          rowKey="id"
          :loading="loading"
          itemLayout="vertical"
          :dataSource="list"
        >
          <a-list-item :key="item.id" slot="renderItem" slot-scope="item" class="paddingNone">
            <a-row :gutter="24">
              <a-col :span="3" style="margin-left: 10px">
                <user-img :userImg="item.profilePath?item.profilePath:item.profilePhotoPath" :width="'45px'" :height="'45px'" />
              </a-col>
              <a-col :span="15">
                <a-row><a style="font-size: 14px;color:#595959;" @click="routeUser(item.userId, item.nickname === null?item.displayName:item.nickname, item.isUser)">{{item.nickname === null?item.displayName:item.nickname}}</a></a-row>
                <a-row style="font-size: 12px">{{item.currentPosition}}<span v-if="item.currentPosition && item.institutionName">，</span>{{item.institutionName}}</a-row>
                <a-row style="color: #999999;font-size: 12px">{{item.introduction}}</a-row>
              </a-col>
              <a-col :span="3">
                <a-col :span="24" style="text-align:left">
                  <!--<a-button type="primary" shape="round" size="small" v-if="item.followingBtnFlg === '1'" style="margin-left: 10px" @click="followAction(item)">-->
                  <a-button type="primary" size="small" v-if="item.followingBtnFlg === '1'" style="width: 50px;font-size: 12px;border-radius: 4px;margin-left: 10px" @click="followAction(item)">
                    关注
                  </a-button>
                  <!--<a-button type="primary" shape="round" size="small" v-if="item.followingBtnFlg === '2'" style="margin-left: 10px" @click="cancelFollowAction(item)">-->
                  <a-button size="small" v-if="item.followingBtnFlg === '2'" style="width: 50px;color: #c5c5c5;background-color: #f5f6f6;font-size: 12px;border-radius: 4px;margin-left: 10px;border: none;" @click="cancelFollowAction(item)">
                    <!--取消关注-->
                    已关注
                  </a-button>
                  <a-button size="small" v-if="item.followingBtnFlg === '3'" style="color: #c5c5c5;background-color: #f5f6f6;font-size: 12px;border-radius: 4px;margin-left: 10px;border: none;" @click="cancelFollowAction(item)">
                    <!--取消关注-->
                    互相关注
                  </a-button>
                  <!--<a-button type="primary" shape="round" size="small" v-if="item.inviteBtnFlg === '1' && !shareFlg" style="margin-left: 10px" @click="inviteAction(item)">
                    邀请
                  </a-button>
                  <a-button type="primary" shape="round" size="small" v-if="item.inviteBtnFlg === '2' && !shareFlg " style="margin-left: 10px" @click="cancelInviteAction(item)">
                    取消邀请
                  </a-button>
                  <a-button type="primary" shape="round" size="small" v-if="claimBtnFlg"  style="margin-left: 10px"  @click="claimArticles(parameters,item,listIndex)">
                    认领
                  </a-button>
                  &lt;!&ndash;分享按钮添加 待完善&ndash;&gt;
                  <a-button type="primary" shape="round" size="small" v-if="shareFlg" style="margin-left: 10px" @click="shareAction()">
                    分享
                  </a-button>-->
                </a-col>
              </a-col>
            </a-row>
          </a-list-item>
          <!--加载更多-->
          <div slot="footer" v-if="hasPagination && data.hasNextPage" style="text-align: center; margin-top: 10px;">
            <a-button @click="loadMore" :loading="loadingMore">加载更多</a-button>
          </div>
        </a-list>
      </a-row>
    </a-modal>
  </div>
</template>

<script>
import Qs from 'qs'
export default {
  name: "NUserModal",
  components: {
    //所引入的组件 需要先import进来
  },
  props: {
    'dataUrl':{
      type: String,
      required: true
    },
    parameters: {
      type: Object,
      default(){
        return{
          index: 1,
          rows: 10
        }
      },
    },
    Title:{
      type: String,
    },
    visible:{
      type: Boolean
    },
    modalWidth:{
      type: Number
    },
    modalHeight:{
      type: Object
    },
    handleCancel:{
      type: Function
    },
    btnAction:{
      type: Function
    },
    hasPagination:{
      type: Boolean,
      default:true
    },
    followingBtnUrl: {
      type: String,
    },
    inviteBtnUrl: {
      type: String,
    },
    listItem: {
      type: Object,
    },
    listIndex: {
      type: Number,
    },
    claimBtnFlg: {
      type: Boolean,
      default:false
    },
    shareFlg: {
      type: Boolean,
      default:false
    },
  },
  data(){
    return {
      dataSource: [],
      dataSourceKey: [],
      keyword:'',
      claimLoading: false,
      loading: false,
      data: {},
      list: [],
      pageIndex: 2,
      loadingMore: false,
      title: this.Title,
      loginUserId: this.$store.getters.userId
    }
  },
  created () {
    this.userId = this.$store.getters.userId
    this.publicationId = this.$router.history.current.query.publicationId
  },
  mounted(){
    // 监听对话框是否开启
    this.$watch('visible', (val) => {
      if(val){
        if(this.list.length === 0){
          this.getList();
        }
      }
    })
  },
  computed: {
  },
  methods:{
    //方法，一般用来做提交表单一类的操作，类似于void方法，不用return
    // 初始化方法
    getList () {
      this.loading = true
      let param = Qs.stringify({
        ...this.parameters,
        keyword: this.keyword,
        sortColumns: this.sortColumns
      });
      this.$http.post(this.dataUrl,param).then(res => {
        if(res.data && res.ret_code === '0') {
            this.data = res.data
            this.title = this.Title + ' ' + ( this.data.pageSize === 0 ? 0 :  this.data.total)
            this.list = res.data.list ? res.data.list : []
        }
        this.loading = false
      })
    },

    // 加载更多
    loadMore (el) {
      if(this.hasPagination && this.data.hasNextPage){
        this.loadingMore = true
        const param = Qs.stringify({
          ...this.parameters,
          index: this.pageIndex++,
          keyword: this.keyword,
        });
        this.$http.post(this.dataUrl,param).then(res => {
          this.data = res.data
          this.list = this.list.concat(res.data.list)
          this.loading = false
        }).finally(() => {
          this.loadingMore = false
        })
      }
    },

    // 搜索处理
    handleSearchList() {
      let param = Qs.stringify({
        ...this.parameters,
        keyword: this.keyword,
        index:1,
        rows:10
      });
      this.$http.post(this.dataUrl,param).then(res => {
        if(res.data){
          this.data = res.data
          this.list = res.data.list ? res.data.list : []
          this.pageIndex = 2
        }
        this.loading = false
      }).finally(() => {
        this.loading = false
      })
    },

    // 画面跳转
    routeUser(userId,displayName,isUser) {
        let path = '';
        let query = {};
        if (isUser === "1") {
            path = '/user/userPage/UserDynamic';
            query = {
                userId
            };
        } else {
            path = '/scholar/scholarPage/ScholarSummary';
            query = {
                userId,
                isUser: false,
                userName:displayName
            };
        }
        let routeUrl = this.$router.resolve({
            path,
            query
        });

        window.open(routeUrl.href, '_blank');
    },

    // 关注
    followAction(item){
      const param = Qs.stringify({
        userId: item.userIdForReq,
        userIdFollowed : item.userIdFollowedForReq,
        followingBtnFlg : item.followingBtnFlg
      });
      this.$http.post(this.followingBtnUrl,param).then(res => {
          let userModal = res.data;
          if (userModal) {
              item.followingBtnFlg = userModal.followingBtnFlg;
          } else {
              item.followingBtnFlg = '2';
          }

        this.loading = false
      }).catch(
        err => {
            if(!err) {
                this.$notification.error({
                    message: '关注失败'
                })
            }
          this.loading = false
        }
      )
    },

    // 取消关注
    cancelFollowAction(item){
      const param = Qs.stringify({
        userId: item.userIdForReq,
        userIdFollowed : item.userIdFollowedForReq,
        followingBtnFlg : item.followingBtnFlg
      });
      this.$http.post(this.followingBtnUrl,param).then(res => {
        item.followingBtnFlg = '1'
        this.loading = false
      }).catch(
        err => {
            if(!err) {
                this.$notification.error({
                    message: '取消关注失败'
                })
            }
          this.loading = false
        }
      )
    },

    // 邀请(待完善)
    inviteAction(item){
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    },
    // 取消邀请(待完善)
    cancelInviteAction(item){
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    },
    // 分享(待完善)
    shareAction() {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    },
    // 认领(待完善)
    claimArticles (parameters, item, listIndex) {
      //this.claimLoading = true
      this.btnAction(parameters.publicationId, listIndex, false, item.userId)
    }
  }
}
</script>
<style>
</style>