<template>
  <div>
    <a-card size="small" title="院系">
      <a-row slot="extra">
        <label>排序：</label>
        <a-select default-value="0" style="width: 110px">
          <a-select-option value="0">
            会员数量
          </a-select-option>
        </a-select>
      </a-row>
      <div style="padding-left: 10px;">
        <a-list item-layout="horizontal" :data-source="data">
          <a-list-item slot="renderItem" slot-scope="item, index">
            <a-list-item-meta>
              <div slot="title" style="font-weight:bold; color:black;">{{ item.title }}</div>
              <div slot="description">
                <a-row style="font-weight:bold;">{{ item.count}}</a-row>
                <a-row style="font-size:12px;">{{ item.member}}</a-row>
              </div>
            </a-list-item-meta>
          </a-list-item>
        </a-list>
      </div>
    </a-card>
  </div>
</template>

<script>
export default {
  name: 'InstitutionsDepartment.vue',
  created(){
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000);
  },
  data() {
    return {
      data,
    };
  },
}
const data = [
  {
    title: 'The Wharton School',
    count:'614',
    member:'Members'
  },
  {
    title: 'Department of Computer and Information Science',
    count:'359',
    member:'Members'
  },
  {
    title: 'School of Engineering and Applied Science',
    count:'330',
    member:'Members'
  },
  {
    title: 'Department of Psychology',
    count:'300',
    member:'Members'
  },
  {
    title: 'Graduate School of Education',
    count:'288',
    member:'Members'
  },
  {
    title: 'Department of Biology',
    count:'278',
    member:'Members'
  },
  {
    title: 'Penn Law School',
    count:'275',
    member:'Members'
  },
  {
    title: 'Department of Medicine',
    count:'269',
    member:'Members'
  },
  {
    title: 'Department of Chemistry',
    count:'264',
    member:'Members'
  },
  {
    title: 'Department of Radiology',
    count:'259',
    member:'Members'
  },
  {
    title: 'Department of Electrical and Systems Engineering',
    count:'248',
    member:'Members'
  },
  {
    title: 'Department of Bioengineering',
    count:'243',
    member:'Members'
  },
  {
    title: 'Department of Economics',
    count:'243',
    member:'Members'
  },
  {
    title: 'Department of Mechanical Engineering and Applied Mechanics',
    count:'243',
    member:'Members'
  },
  {
    title: 'School of Social Policy & Practice',
    count:'243',
    member:'Members'
  },
];
</script>

<style scoped>

</style>