<template>
  <div>
    <a-row :gutter="24">
      <a-col :span="7">
        <a-card size="small">
          <a-row>
            <a-col style="padding-top: 5px" span="8">
              <a-icon type="schedule"/>
              <span style="font-weight: bold">
                Time
              </span>
            </a-col>
            <a-col style="float: right" span='16'>
              <a-row>
                <a-col span="10">
                  <a-date-picker
                    format="YYYY"
                    mode="year"
                    :value="from"
                    :open="openFrom"
                    @openChange="openFromChange"
                    @panelChange="panelFromChange"
                    :allowClear="false"
                  ></a-date-picker>
                </a-col>
                <a-col span="2" style="margin-top: 7px; margin-left: 8px">
                  ~
                </a-col>
                <a-col span="10">
                  <a-date-picker
                    format="YYYY"
                    mode="year"
                    :value="to"
                    :open="openTo"
                    @openChange="openToChange"
                    @panelChange="panelToChange"
                    :allowClear="false"
                  ></a-date-picker>
                </a-col>
              </a-row>
            </a-col>
          </a-row>
        </a-card>
        <a-row class="gutter-5" style="margin-top: 20px">
          <n-top-item-list v-for="(topItemParam) in topItemParams" :key="topItemParam.title"
                           :top-item-title="topItemParam.title"
                           :data-url="topItemParam.dataUrl"
                           :top-item-type="topItemParam.entityType"
                           :parameters="{fieldId, entityType: topItemParam.entityType, rows:topItemParam.maxSize, keyword:topItemParam.keyword, autocompleteKeyword:topItemParam.autocompleteKeyword}"
                           :top-size=topItemParam.topSize
                           :new-page-url="topItemParam.newPageUrl"
                           :new-page-param-name="topItemParam.newPageParamName"
                           :show-checkbox-flg="topItemParam.showCheckboxFlg"
                           @changeSelectedIdArray="changeSelectedIdArray"
                           class="top-item-card"/>
        </a-row>
      </a-col>
      <a-col :span="17">
        <n-list
          ref="articleList"
          :dataUrl="'/searchResultsArticles/searchResultsArticlesPublication'"
          :parameters="{
          index:1,
          rows:10,
          keyword:this.param.keyword,
          autocompleteKeyword:this.param.autocompleteKeyword,
          yearFrom: this.from.format('YYYY'),
          yearTo:  this.to.format('YYYY')
        }"
          :home="false"
          :hasPadding="true"
          :hasPaddingV="true"
          :searchBar="false"
        />
      </a-col>
    </a-row>
  </div>
</template>

<script>
import NList from '@/views/business/components/NList/NList'
import NTopItemList from '@/views/business/components/NTopItemList/NTopItemList'
import moment from 'moment'

export default {
  name: 'SearchResultsArticles',
  components: {
    //所引入的组件 需要先import进来
    NList,
    NTopItemList,
  },

  props: {},

  data () {
    //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {
      loading: true,
      loadingMore: false,
      userId: this.$store.getters.userId,
      text: 4,
      fieldId: this.$route.query.fieldId,
      // 图表信息 end
      // Top排行信息 start
      topItemParams: [
        {
          title: '主要研究方向',
          dataUrl: '/searchResultsArticles/getTop10',
          entityType: '5',
          topSize: 10,
          maxSize: 20,
          keyword: this.$route.query.keyword,
          autocompleteKeyword: this.$route.query.autocompleteKeyword,
          newPageUrl: '/searchResults/searchResultsPage/searchResultsDirectionDetail',
          newPageParamName: 'fieldId',
          showCheckboxFlg: true,
        }
        , {
          title: '研究成果类型',
          dataUrl: '/searchResultsArticles/getTop10',
          entityType: '6',
          topSize: 10,
          maxSize: 20,
          keyword: this.$route.query.keyword,
          autocompleteKeyword: this.$route.query.autocompleteKeyword,
          newPageUrl: null,
          newPageParamName: null,
          showCheckboxFlg: true,
        }
        , {
          title: '顶尖学者',
          dataUrl: '/searchResultsArticles/getTop10',
          entityType: '1',
          topSize: 10,
          maxSize: 20,
          keyword: this.$route.query.keyword,
          autocompleteKeyword: this.$route.query.autocompleteKeyword,
          newPageUrl: '/scholar/scholarPage/ScholarSummary',
          newPageParamName: 'userId',
          showCheckboxFlg: true,
        }
        , {
          title: '顶尖期刊',
          dataUrl: '/searchResultsArticles/getTop10',
          entityType: '3',
          topSize: 10,
          maxSize: 20,
          keyword: this.$route.query.keyword,
          autocompleteKeyword: this.$route.query.autocompleteKeyword,
          newPageUrl: null,
          newPageParamName: null,
          showCheckboxFlg: true,
        }
        , {
          title: '顶尖会议',
          dataUrl: '/searchResultsArticles/getTop10',
          entityType: '4',
          topSize: 10,
          maxSize: 20,
          keyword: this.$route.query.keyword,
          autocompleteKeyword: this.$route.query.autocompleteKeyword,
          newPageUrl: null,
          newPageParamName: null,
          showCheckboxFlg: true,
        }
        , {
          title: '顶尖机构',
          dataUrl: '/searchResultsArticles/getTop10',
          entityType: '2',
          topSize: 10,
          maxSize: 20,
          keyword: this.$route.query.keyword,
          autocompleteKeyword: this.$route.query.autocompleteKeyword,
          newPageUrl: null,
          newPageParamName: null,
          showCheckboxFlg: true,
        }
      ],
      top10Params: {
        userIds: '',
        institutions: '',
        journalId: '',
        authors: '',
        fieldId: '',
        doctype: '',
        yearFrom: '',
        yearTo: '',
      },

      fieldIdArray: [],
      userIdArray: [],
      journalIdArray: [],
      authorsArray: [],
      doctypeArray: [],
      institutionsArray: [],
      openFrom: false,
      openTo: false,
      from: moment('1900'),
      to: moment(),
    }
  },

  computed: {
    //方法，一般用来写一些逻辑返回属性
  },

  created () {
    //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
    this.param = this.$route.query
  },

  mounted () {
  },

  methods: {
    moment,
    openToChange (status) {
      if (status) {
        this.openTo = true
      } else {
        this.openTo = false
      }
    },
    panelToChange (value) {
      this.to = value
      this.top10Params.yearFrom = this.from.format('YYYY')
      this.top10Params.yearTo = value.format('YYYY')
      this.$refs.articleList.getList(this.top10Params)
      this.openTo = false
    },
    openFromChange (status) {
      if (status) {
        this.openFrom = true
      } else {
        this.openFrom = false
      }
    },
    panelFromChange (value) {
      this.from = value
      this.top10Params.yearFrom = value.format('YYYY')
      this.top10Params.yearTo = this.to.format('YYYY')
      this.$refs.articleList.getList(this.top10Params)
      this.openFrom = false
    },

    changeSelectedIdArray (topItemType, topItemId, selectedFlg) {
      if ('1' === topItemType) { // 顶尖学者场合
        if (selectedFlg) {
          if (!this.userIdArray.includes(topItemId)) {
            this.userIdArray.push(topItemId)
          }
        } else {
          if (this.userIdArray.includes(topItemId)) {
            this.userIdArray.splice(this.userIdArray.findIndex(item => item === topItemId), 1)
          }
        }
        if (this.userIdArray.length > 0) {
          this.top10Params.userIds = this.userIdArray.toString()
        } else {
          this.top10Params.userIds = ''
        }

        this.$refs.articleList.getList(this.top10Params)
      } else if ('2' === topItemType) { // 顶尖机构场合
        if (selectedFlg) {
          if (!this.institutionsArray.includes(topItemId)) {
            this.institutionsArray.push(topItemId)
          }
        } else {
          if (this.institutionsArray.includes(topItemId)) {
            this.institutionsArray.splice(this.institutionsArray.findIndex(item => item === topItemId), 1)
          }
        }
        if (this.institutionsArray.length > 0) {
          this.top10Params.institutions = this.institutionsArray.toString()
        } else {
          this.top10Params.institutions = ''
        }

        this.$refs.articleList.getList(this.top10Params)
      } else if ('3' === topItemType) { // 顶尖期刊场合
        if (selectedFlg) {
          if (!this.journalIdArray.includes(topItemId)) {
            this.journalIdArray.push(topItemId)
          }
        } else {
          if (this.journalIdArray.includes(topItemId)) {
            this.journalIdArray.splice(this.journalIdArray.findIndex(item => item === topItemId), 1)
          }
        }
        if (this.journalIdArray.length > 0) {
          this.top10Params.journalId = this.journalIdArray.toString()
        } else {
          this.top10Params.journalId = ''
        }

        this.$refs.articleList.getList(this.top10Params)
      } else if ('4' === topItemType) { // 顶尖会议场合
        if (selectedFlg) {
          if (!this.authorsArray.includes(topItemId)) {
            this.authorsArray.push(topItemId)
          }
        } else {
          if (this.authorsArray.includes(topItemId)) {
            this.authorsArray.splice(this.authorsArray.findIndex(item => item === topItemId), 1)
          }
        }
        if (this.authorsArray.length > 0) {
          this.top10Params.authors = this.authorsArray.toString()
        } else {
          this.top10Params.authors = ''
        }

        this.$refs.articleList.getList(this.top10Params)
      } else if ('5' === topItemType) { // 主要研究方向场合
        if (selectedFlg) {
          if (!this.fieldIdArray.includes(topItemId)) {
            this.fieldIdArray.push(topItemId)
          }
        } else {
          if (this.fieldIdArray.includes(topItemId)) {
            this.fieldIdArray.splice(this.fieldIdArray.findIndex(item => item === topItemId), 1)
          }
        }
        if (this.fieldIdArray.length > 0) {
          this.top10Params.fieldId = this.fieldIdArray.toString()
        } else {
          this.top10Params.fieldId = ''
        }

        this.$refs.articleList.getList(this.top10Params)
      } else if ('6' === topItemType) { // 研究成果类型场合
        if (selectedFlg) {
          if (!this.doctypeArray.includes(topItemId)) {
            this.doctypeArray.push(topItemId)
          }
        } else {
          if (this.doctypeArray.includes(topItemId)) {
            this.doctypeArray.splice(this.doctypeArray.findIndex(item => item === topItemId), 1)
          }
        }
        if (this.doctypeArray.length > 0) {
          this.top10Params.doctype = this.doctypeArray.toString()
        } else {
          this.top10Params.doctype = ''
        }
        this.$refs.articleList.getList(this.top10Params)
      }
    },
  }
}

</script>

<style scoped>

.gutter-5 {
  margin-bottom: 5px;
}

.top-item-card {
  margin-bottom: 20px;
}

</style>