<template>
  <div>
    <a-row :gutter="24">
      <a-col :span="8">
        <a-card size="small">
          <a-row>
            <a-col :span="24" style="font-weight: bold">
              机构论文总被阅读次数
            </a-col>
          </a-row>
          <a-row style="margin-top: 15px">
            <a-col :span="2" style="margin-top: 3px">
              <a-icon type="download"/>
            </a-col>
            <a-row>
              <a-col :span="4" style="font-weight: bold ;font-size: 20px">
                141,832
              </a-col>
            </a-row>
          </a-row>
        </a-card>
        <br>

        <a-card size="small">
          <a-row style="margin-top: 30px ; margin-right: auto">
            <ve-line :data="chartData" :extend="extend"></ve-line>
          </a-row>
        </a-card>
        <br>

        <a-card size="small">
          <a-row style="font-weight: bold">
            阅读最多国家
          </a-row>
          <a-row>
            <a-col span="5" style="font-weight: bold; margin-top:10px;font-size: 20px">
              23823
            </a-col>
            <a-col span="30" style=" margin-top: 16px">
              United States
            </a-col>
          </a-row>
          <a-row>
            <a-col span="5" style="font-weight: bold; margin-top: 10px; font-size: 20px">
              8406
            </a-col>
            <a-col span="30" style=" margin-top: 16px">
              India
            </a-col>
          </a-row>
          <a-row>
            <a-col span="5" style="font-weight: bold; margin-top: 10px; font-size: 20px">
              4714
            </a-col>
            <a-col span="30" style=" margin-top: 16px">
              China
            </a-col>
          </a-row>
        </a-card>
        <br>
        <a-card size="small">
          <a-row style="font-weight: bold;">
            阅读最多机构
          </a-row>
          <a-row>
            <a-col span="5" style="font-weight: bold; margin-top:10px;font-size: 20px">
              224
            </a-col>
            <a-col span="30" style=" margin-top: 16px">
              University of Pennsylvania
            </a-col>
          </a-row>
          <a-row>
            <a-col span="5" style="font-weight: bold; margin-top: 10px; font-size: 20px">
              95
            </a-col>
            <a-col span="30" style=" margin-top: 16px">
              Chinese Academy of Sciences
            </a-col>
          </a-row>
          <a-row>
            <a-col span="5" style="font-weight: bold; margin-top: 10px; font-size: 20px">
              85
            </a-col>
            <a-col span="30" style=" margin-top: 16px">
              University College London
            </a-col>
          </a-row>
        </a-card>
      </a-col>

      <a-col :span="8">
        <a-card size="small">
          <a-row style="font-weight: bold">
            热门论文
          </a-row>
          <a-list
            item-layout="vertical"
            size="large"
            :data-source="list"
          >
            <a-list-item :key="item.id" slot="renderItem" slot-scope="item, index">
              <related-publication-card
                :user-id="item.userId"
                :publication-id="item.publicationId"
                :display-title="item.displayTitle"
                :author-info-list="item.authorInfoList"
                :author-id="item.authorInfoList.authorId"
                :author-name="item.authorInfoList.authorName"
                :doc-type-name="item.docTypeName"
                :year="item.year"
                :venue="item.venue"
                :reads="item.reads"
                :recommendations="item.recommendations"
                :citations="item.citations"
                :item="item"
                :index="index"
                :list="list"
              />
            </a-list-item>
          </a-list>
        </a-card>
      </a-col>

      <a-col :span="8">
        <a-card size="small">
          <a-row style="font-weight: bold">
            热门会员
          </a-row>
          <a-row style="margin-top: 10px">
            <a-list item-layout="vertical" :data-source="fakeData">
              <a-list-item slot="renderItem" slot-scope="item, index">
                <a-row :gutter="24">
                  <a-col :span="4">
                    <img id="userImg" :src="item.imgSrc" style="width: 40px; height: 40px;border-radius: 50%"/>
                  </a-col>
                  <a-col :span="14">
                    <a-row style="font-weight: bold">
                      {{ item.search2 }}
                    </a-row>
                    <a-row>
                      {{ item.search1 }}
                    </a-row>
                  </a-col>
                  <a-col style="margin-top: 5px" :span="2">
                    <a-button type="primary" shape="round" size="small">关注</a-button>
                  </a-col>
                </a-row>
              </a-list-item>
            </a-list>
          </a-row>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>

<script>
/*假数据待修正*/
import Qs  from 'qs'
import { getRelatedPublication } from '@/views/business/articles/articlesFrame/ArticlesFrameApi'
import RelatedPublicationCard from '@/views/business/articles/articlesFrame/RelatedPublicationCard'
export default {
  name: 'InstitutionsMemberStatistics.vue',
  components: {
    RelatedPublicationCard
  },
  data: function () {
    return {
      chartData: {
        columns: ['日期', 'Reads'],
        rows: [
          { '日期': '08/09', 'Reads': 1393 },
          { '日期': '08/16', 'Reads': 3530 },
          { '日期': '08/23', 'Reads': 2923 },
          { '日期': '08/30', 'Reads': 1723 },
          { '日期': '09/06', 'Reads': 3792 },
          { '日期': '09/13', 'Reads': 4593 },
          { '日期': '09/20', 'Reads': 4593 }
        ]
      },

      extend: {
        color: ['#76ADE4', '#1362AE'],
        series: {
          smooth: false
        },
      },
      fakeData,
      list:[],
    }
  },
  mounted () {
    // 获取相关研究(假数据)
    this.getRelatedPublication()
  },
  created () {
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000)
  },
  methods:{
    // 初始化获取相关研究信息(假数据)
    getRelatedPublication () {
      let param = {
        userId: '2286392455',
        publicationId: '1968931043',
        index: 1,
        rows: 7,
      }
      param = Qs.stringify(param)
      getRelatedPublication(param).then(res => {
        if (res.ret_code === '0') {
          if(res.data){
            this.data = res.data
            this.list = res.data.list ? res.data.list : []
            this.data.hasNextPage = res.data.hasNextPage ? res.data.hasNextPage : false
          }
        }
      }).finally(() => {
      })
    },
  },
}
const fakeData = [
    {
        search2: 'Aaa Aaa',
        search1: 'Annenberg School',
        imgSrc: require('@/assets/fakeheadImg1.png')
    },
    {
        search2: 'Erin Aakhus',
        search1: 'Division of Hematology',
        imgSrc: require('@/assets/fakeheadImg2.jpg')
    },
    {
        search2: 'Mohammed Aamer',
        search1: 'School of Engineering',
        imgSrc: require('@/assets/fakeheadImg3.jpg')
    },
    {
        search2: 'Maria Paula Abadia',
        search1: 'Penn Law School',
        imgSrc: require('@/assets/fakeheadImg4.jpg')
    },
    {
        search2: 'Meric Aban',
        search1: 'MBA',
        imgSrc: require('@/assets/fakeheadImg5.jpg')
    },
    {
        search2: 'Rachel Abaskharon',
        search1: 'Department of Chenistry',
        imgSrc: require('@/assets/fakeheadImg6.jpg')
    },
    {
        search2: 'Leo Abaunza',
        search1: 'Department of Psychology',
        imgSrc: require('@/assets/fakeheadImg7.jpg')
    },
]

</script>

<style scoped>

</style>