<template>
  <a-card class="baseContent" title="编辑个人资料" :head-style="{'font-weight':'bold'}">
    <div slot="title" class="editProfiletitle">编辑个人资料</div>
    <a-form
      id="ruleForm"
      ref="ruleForm"
      :form="ruleForm"
      @submit="onSubmit"
      :label-col="labelCol"
      :wrapper-col="wrapperCol"
    >
      <a-form-item label="头像" class="avatarClass" style="padding-top:32px">
        <a-row :span="2">
          <a-col :span="3">
            <user-img :userImg="avatar" :width="'80px'" :height="'80px'" />
          </a-col>
           <a-col :span="7" style="padding-left: 16px">
             <a-row>
               <span v-if="avatarExamine" style="width: 156px;height: 18px;font-size: 13px;font-weight: 400;text-align: center;color: #999999;line-height: 18px;">头像审核中，暂不支持修改</span>
             </a-row>
             <a-row :style="avatarExamine?'':'line-height: 80px'">
               <a-button :disabled="avatarExamine" type="primary" style="width: 80px; height: 25px; padding: 0px" @click="toggleShow" v-decorator="['avatar', {rules: [], validateTrigger: ['blur', 'change']}]"
               >
                 修改头像
               </a-button>
             </a-row>
          </a-col>
          <my-upload
            field="img"
            @crop-success="cropSuccess"
            :modelValue.sync="show"
            :width="50"
            :height="50"
            img-format="png"
            :size="size"></my-upload>
        </a-row>
      </a-form-item>
      <a-form-item
        label="昵称"
      >
        <a-input
          placeholder="请输入您的昵称"
          @input="nameInput"
          style="width: 253px;height: 40px;background: #f5f6f6;border-radius: 2px;"
          :max-length="15"
          v-decorator="['nameContent', {initialValue: nameContent, rules: [{required: true, validator: nameContentCheck}], validateTrigger: ['blur', 'change']}]"
          :disabled="nameContentExamine"
        >
        </a-input>
        <span class="numLimit" :class="{'active':isErrorName}">{{nameContentLength}}/15</span>
        <span v-if="nameContentExamine" style="width: 156px;height: 18px;font-size: 13px;font-weight: 400;text-align: center;color: #999999;line-height: 18px;">昵称审核中，暂不支持修改</span>
        <span v-else style="width: 365px;height: 18px;font-size: 13px;font-weight: 400;text-align: center;color: #999999;line-height: 18px;">昵称限制最多15个字符，只支持中英文、数字、分割线、下划线</span>
      </a-form-item>
      <a-form-item
        label="个人介绍"
        class="introductionContentClass"
      >
        <a-input type="text" class="textarea" placeholder="请输入您的个人介绍" @input="introductionInput" :disabled="introductionContentExamine"
                    :max-length="30"
                    v-decorator="['introductionContent', {initialValue: introductionContent, rules: [{required: true, validator: introductionContentCheck}], validateTrigger: ['blur', 'change']}]"
        >
        </a-input>
        <span class="numLimit" :class="{'active':isErrorIntroduction}">{{introductionLength}}/30</span>
        <span v-if="introductionContentExamine" style="width: 156px;height: 18px;font-size: 13px;font-weight: 400;text-align: center;color: #999999;line-height: 18px;">个人介绍审核中，暂不支持修改</span>
      </a-form-item>
      <a-form-item
        label="性别"
        class="sexClass"
      >
        <a-radio-group
          v-decorator="['isSex', {initialValue: isSex ===''?'0':isSex , rules: [{required: true, validator: sexCheck}], validateTrigger: ['blur', 'change']}]"
        >
          <a-radio value="1" style="font-weight: bold;"><span style="width: 15px;height: 21px;font-size: 15px;font-family: PingFangSC, PingFangSC-Medium;font-weight: 500;text-align: center;color: #333333;line-height: 21px;">男</span></a-radio>
          <a-radio value="2" style="font-weight: bold;"><span style="width: 15px;height: 21px;font-size: 15px;font-family: PingFangSC, PingFangSC-Medium;font-weight: 500;text-align: center;color: #333333;line-height: 21px;">女</span></a-radio>
          <a-radio value="0" style="font-weight: bold;"><span style="width: 15px;height: 21px;font-size: 15px;font-family: PingFangSC, PingFangSC-Medium;font-weight: 500;text-align: center;color: #333333;line-height: 21px;">保密</span></a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item
        label="所在地"
        class="locationClass"
      >
        <v-distpicker
          :province="provinceName" :city="cityName"
          v-decorator="['location', {rules: [{required: true}], validateTrigger: ['blur', 'change']}]"
          @province="onChangeProvince"
          @city="onChangeCity"
          hide-area
        ></v-distpicker>
      </a-form-item>
      <a-form-item
        label="生日"
        class="birthdayClass"
      >
        <a-date-picker
          @change="onChange" style="width: 234px;height: 40px;background: #f5f6f6;border-radius: 2px;"
          :disabled-date="disabledDate"
          :default-value="moment('1990-01-01', dateFormat)"
          :allow-clear="false"
          placeholder="请选择"
          v-decorator="['birthday', {initialValue: birthday, rules: [{required: true, validator: birthdayCheck}], validateTrigger: ['blur', 'change']}]"
        />
      </a-form-item>
      <a-form-item style="text-align:center;" class="btnClass">
        <a-button style="margin-top: 10px;margin-right: 20px;border-radius: 2px; width: 120px; height: 40px;background: #ececec;border: none;" @click="resetForm">
          <span style="height: 21px;font-size: 15px;font-weight: 500;text-align: center;color: #333333;line-height: 21px;">取消</span>
        </a-button>
        <a-button type="primary" style="margin-top: 10px;margin-left: 20px;border-radius: 2px; width: 120px; height: 40px;border: none;" @click="onSubmit" :disabled="disabled">
          <span style="height: 21px;font-size: 15px;font-weight: 500;text-align: center;color: #ffffff;line-height: 21px;">确认</span>
        </a-button>
      </a-form-item>
    </a-form>
  </a-card>
</template>

<script>

import Qs from 'qs'
import VDistpicker from "@/components/Distpicker/Distpicker";
import 'babel-polyfill'
import UploadProfile from '@/components/UploadProfile/UploadProfile'
import {getUserInfo,updUserInfo} from './EditProfileApi'
import moment from 'moment';
import 'moment/locale/zh-cn'
moment.locale('zh-cn');

export default {
    components:{
        //初始化所需操作（页面渲染前），调用API取下拉框数据等，此时dom对象不存在，不能操作dom对象，可以操作一些data
        'my-upload': UploadProfile,
        VDistpicker
    },
    data() {
        return {
            ruleForm: this.$form.createForm(this),
            labelCol: { span: 4 },
            wrapperCol: { span: 15 },
            avatar: '',
            avatarOld: '',
            avatarSource: '',
            show: false,
            size: 2.1,
            nameContent: '',
            nameContentOld: '',
            nameContentLength: 0,
            isErrorName: false,
            introductionContent: '',
            introductionContentOld: '',
            introductionLength: 0,
            isErrorIntroduction: false,
            isSex: '',
            applyForm: {
                region: {
                    province: '',
                    city: ''
                }
            },
            location: '',
            province: '',
            city: '',
            provinceName: '',
            provinceOld: '',
            cityName: '',
            cityOld: '',
            dateString: '',
            birthday: '1990-01-01',
            avatarFlg: 0,
            nameFlg: 0,
            introductionFlg: 0,
            disabled: true,
            cityDisabled: false,
            sexDisabled: false,
            birthdayDisabled: false,
            nameDisabled: false,
            introductionDisabled: false,
            dateFormat: 'YYYY-MM-DD',
            nameContentExamine: false,
            introductionContentExamine: false,
            avatarExamine: false,
        };
    },
    created() {
        //初始化所需操作（页面渲染前），调用API取下拉框数据等，此时dom对象不存在，不能操作dom对象，可以操作一些data
        this.userId = this.$store.getters.userId
        this.getList();

    },
    watch: {
        cityDisabled (val) {
            if (!this.cityDisabled && !this.sexDisabled && !this.birthdayDisabled && !this.nameDisabled && !this.introductionDisabled) {
                this.disabled = false;
            } else {
                this.disabled = true;
            }
        },
        sexDisabled () {
            if (!this.cityDisabled && !this.sexDisabled && !this.birthdayDisabled && !this.nameDisabled && !this.introductionDisabled) {
                this.disabled = false;
            } else {
                this.disabled = true;
            }
        },
        birthdayDisabled () {
            if (!this.cityDisabled && !this.sexDisabled && !this.birthdayDisabled && !this.nameDisabled && !this.introductionDisabled) {
                this.disabled = false;
            } else {
                this.disabled = true;
            }
        },
        nameDisabled () {
            if (!this.cityDisabled && !this.sexDisabled && !this.birthdayDisabled && !this.nameDisabled && !this.introductionDisabled) {
                this.disabled = false;
            } else {
                this.disabled = true;
            }
        },
        introductionDisabled () {
            if (!this.cityDisabled && !this.sexDisabled && !this.birthdayDisabled && !this.nameDisabled && !this.introductionDisabled) {
                this.disabled = false;
            } else {
                this.disabled = true;
            }
        },
    },
    methods: {
        moment,
        getList() {
            const that = this;
            let param = {
                userId: this.userId,
            };
            param = Qs.stringify(param)
            getUserInfo(param).then(res => {
                that.avatar = res.data.profilePath;
                that.avatarOld = res.data.profilePath;
                if (res.data.nickname) {
                    this.nameDisabled = false;
                } else {
                    this.nameDisabled = true;
                }
                that.nameContent = res.data.nickname;
                that.nameContentOld = res.data.nickname;
                if(res.data.nickname != null) {
                    that.nameContentLength = res.data.nickname.length;
                };
                if (res.data.introduction) {
                    this.introductionDisabled = false;
                } else {
                    this.introductionDisabled = true;
                }
                that.introductionContent = res.data.introduction;
                that.introductionContentOld = res.data.introduction;
                if(res.data.introduction != null) {
                    that.introductionLength = res.data.introduction.length;
                };
                if(res.data.sex != null) {
                    that.isSex = res.data.sex;
                }
                that.provinceName = res.data.provinceName;
                that.provinceOld = res.data.province;
                if (res.data.cityName) {
                    this.cityDisabled = false;
                } else {
                    this.cityDisabled = true;
                }

                if (res.data.nickname && res.data.introduction && res.data.cityName) {
                    this.disabled = false;
                } else {
                    this.disabled = true;
                }
                that.cityName = res.data.cityName;
                that.cityOld = res.data.city;
                if (res.data.birthdayStr != null) {
                    that.birthday = res.data.birthdayStr;
                }
            })
        },
        // 控制剪切框的显示和隐藏
        toggleShow() {
            this.show = !this.show;
        },
        // 剪切成功后的回调函数
        cropSuccess(imgDataUrl, sourceImgUrl) {
            this.avatar = imgDataUrl;
            this.avatarSource = sourceImgUrl;
            this.avatarFlg = 1;
            this.show = !this.show;
        },
        // 昵称字符数显示
        nameInput(e) {
            let txtNameVal = e.target.value.length;
            this.nameContentLength = txtNameVal
            if(txtNameVal > 15) {
                this.isErrorName = true
            }else {
                this.isErrorName = false
            }
        },
        // 简介字符数显示
        introductionInput(e) {
            let txtIntroductionVal = e.target.value.length;
            this.introductionLength = txtIntroductionVal
            if(txtIntroductionVal > 30) {
                this.isErrorIntroduction = true
            }else {
                this.isErrorIntroduction = false
            }
        },
        //地区选择方法
        onChangeProvince(data) {
            this.applyForm.region.province = data.code
            this.province = data.code
            if(this.province !== this.provinceOld) {
                this.city = undefined;
            }
        },
        onChangeCity(data) {
            if (data.value === '城市') {
                this.city = undefined;
            }
            if (data.code === undefined) {
                this.ruleForm.setFields({
                    "location": {
                        "errors": [new Error("所在地不能为空")]
                    }
                });
                this.cityDisabled = true;
            } else {
                this.ruleForm.setFields({
                    "location": {
                        "errors": []
                    }
                });
                this.applyForm.region.city = data.code;
                this.city = data.code;
                this.cityDisabled = false;
            }
        },
        // 生日
        onChange(date, dateString) {
            this.birthday = dateString;
        },
        // 禁止选择时间
        disabledDate(current) {
            // Can not select days before today and today
            return current && current > moment().endOf('day');
        },
        // 性别验证
        sexCheck(rule, value, callback) {
            if (value === '') {
                callback(new Error('性别不能为空'));
                this.sexDisabled = true;
            } else {
                this.isSex = value;
                this.sexDisabled = false;
                callback();
            }
        },
        // 生日验证
        birthdayCheck(rule, value, callback) {
            if (value === '') {
                callback(new Error('生日不能为空'));
                this.birthdayDisabled = true;
            } else {
                this.birthdayDisabled = false;
                callback();
            }
        },
        // 姓名验证
        nameContentCheck(rule, value, callback) {
            if (value === '') {
                callback(new Error('昵称不能为空'));
                this.nameDisabled = true;
            } else {
                if (value.length > 15){
                    callback(new Error('昵称限制最多15个字符'));
                    this.nameDisabled = true;
                } else {
                    this.nameContent = value;
                    this.nameDisabled = false;
                    callback();
                }
            }
        },
        // 个人介绍验证
        introductionContentCheck(rule, value, callback) {
            if (value === '') {
                callback(new Error('个人介绍不能为空'));
                this.introductionDisabled = true;
            } else {
                if (value.length > 30){
                    callback(new Error('个人介绍字数限制30'));
                    this.introductionDisabled = true;
                }
                this.introductionContent = value;
                this.introductionDisabled = false;
                callback();
            }
        },
        // 提交方法
        onSubmit() {
            const that = this;
            // 姓名发生更改Flg变更
            if (that.nameContent != that.nameContentOld) {
                that.nameFlg = 1;
            }
            // 个人介绍发生更改Flg变更
            if (that.introductionContent != that.introductionContentOld) {
                that.introductionFlg = 1;
            }
            const {
                ruleForm: { validateFields },
            } = that
            if (that.nameContent == null) {
                this.ruleForm.setFields({
                    "nameContent": {
                        "errors": [new Error("昵称不能为空")]
                    }
                });
                this.disabled = true;
            } else if (that.introductionContent == null) {
                this.ruleForm.setFields({
                    "introductionContent": {
                        "errors": [new Error("个人介绍不能为空")]
                    }
                });
                this.disabled = true;
            } else if (that.province == undefined || that.city == undefined || that.province == '' || that.city == '') {
                this.ruleForm.setFields({
                    "location": {
                        "errors": [new Error("所在地不能为空")]
                    }
                });
                this.disabled = true;
            } else {
                this.disabled = false;
                let validateFieldsKey =  ['nameContent', 'introductionContent', 'isSex', 'birthday']
                validateFields(validateFieldsKey, { force: true }, (err, values) => {
                    if (!err) {
                        this.avatarExamine = true;
                        this.nameContentExamine = true;
                        this.introductionContentExamine = true;
                        let param = {
                            userId: that.userId,
                            avatar: that.avatar,
                            avatarSource: that.avatarSource,
                            nickname: that.nameContent,
                            introduction: that.introductionContent,
                            sex: that.isSex,
                            province: that.province,
                            city: that.city,
                            birthday: that.birthday,
                            avatarFlg: that.avatarFlg,
                            nameFlg: that.nameFlg,
                            introductionFlg: that.introductionFlg
                        };
                        param = Qs.stringify(param)
                        updUserInfo(param).then(res => {
                            this.avatarExamine = false;
                            this.nameContentExamine = false;
                            this.introductionContentExamine = false;
                            that.$notification.open({
                                message: '个人资料已保存',
                                description:
                                    '',
                                icon: <a-icon type="check-circle" style="color: #108ee9" />,
                                duration: 2,
                            });
                            if(!res.data.profilePath || res.data.profilePath === null || res.data.profilePath === "null"){
                                res.data.profilePath = that.avatarOld;
                            }
                            that.$store.dispatch('setInfo', res);

                            // 返回上一级
                            that.$router.replace({ path: '/user/userPage/UserDynamic',query:{userId: this.$store.getters.userId} })
                        }).catch(err => {
                            if(err) {
                                if (err.ret_code === '20109') {
                                    that.ruleForm.setFields({
                                        "avatar": {
                                            "errors": [new Error(err.ret_msg)]
                                        }
                                    });
                                    that.avatar = that.avatarOld;
                                } else if (err.ret_code === '20110') {
                                    that.ruleForm.setFields({
                                        "nameContent": {
                                            "errors": [new Error(err.ret_msg)]
                                        }
                                    });
                                    that.nameContent = that.nameContentOld;
                                } else if (err.ret_code === '20111') {
                                    that.ruleForm.setFields({
                                        "introductionContent": {
                                            "errors": [new Error(err.ret_msg)]
                                        }
                                    });
                                    that.introductionContent = that.introductionContentOld;
                                } else {

                                }
                            }
                        })
                    } else {
                        this.$notification.open({
                            message: '个人资料提交失败',
                            description:
                                '',
                            icon: <a-icon type="check-circle" style="color: #108ee9" />,
                            duration: 2,
                    });
                        return false;
                    }
                })
            }
        },
        resetForm() {
            // 返回上一级
            this.$router.back();
        },
    },
};
</script>


<style scoped>
  /deep/.ant-input{
    font-size: 13px;
    border:none;
  }
  h1 {
    font-weight: bold;
  }
  .textarea {
    width: 484px;
    height: 40px;
    background: #f5f6f6;
    border-radius: 2px;
  }
  .numLimit {
    position: relative;
    top: 0;
    left: -45px;
    width: 28px;
    height: 18px;
    font-size: 13px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: center;
    color: #999999;
    line-height: 18px;
  }
  .active {
    color: red;
  }

  /deep/.ant-card-head {
    border-bottom: 1px solid #e8e8e8 !important;
  }
  /deep/.ant-card-head-title {
    width: 90px;
    font-size: 15px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    color: #333333 !important;
    line-height: 21px;
  }
  /deep/.avatarClass .ant-form-item-label {
    padding-right: 23px;
    line-height: 80px;
  }
  /deep/.ant-form-item-label {
    padding-right: 23px;
  }
  /deep/#ruleForm .ant-form-item {
    margin-bottom: 32px;
  }
  .introductionContentClass,.sexClass {
    margin-bottom: 22px !important;
  }
  .locationClass {
    margin-bottom: 10px !important;
  }
  /deep/.birthdayClass .ant-calendar-picker-input {
    width: 234px;
    height: 40px;
    background: #f5f6f6;
    border-radius: 2px;
  }
  .birthdayClass {
    margin-bottom: 120px !important;
  }
  .ant-btn-primary[disabled] {
    background: rgba(77,187,198,0.40);
    color: #ffffff;
  }
</style>