<template>
  <a-row :gutter="24">
    <a-col :span="14">
      <a-card size="small" title="最新发表">
        <a-list item-layout="horizontal" :data-source="data">
          <a-list-item slot="renderItem" slot-scope="item, index">
            <img
              width="100"
              height="120"
              alt="logo"
              src="~@/assets/lwzs.png"
              style="float:right; border-style:solid; border-color: #e6e6e6; border-width: 2px; margin-right: 10px;"
            />
            <a-list-item-meta>
              <div slot="title" style="font-weight: bold; margin-left: 10px; color: #000; font-size: 16px">{{ item.title }}</div>
              <div slot="description" style="margin-left: 10px;">
                <a-row>
                  Yun Song.Adrienne N.Bruce.Andrew D.Tieniber.[...].Giorgos C.karakousis
                </a-row>
                <a-row style="color:#000;">
                  Chapter.Jan 2021
                </a-row>
                <a-row style="margin-top: 10px;">
                  <a-button  style="margin-right: 10px;color: #4dbbc6;border-color: #4dbbc6;">下载</a-button>
                  <a-button style="color: #4dbbc6;border-color: #4dbbc6;">关注</a-button>
                </a-row>
              </div>
            </a-list-item-meta>
          </a-list-item>
        </a-list>
      </a-card>
    </a-col>
    <a-col :span="10">
      <a-card size="small" title="最新发表">
        <a-row>
          <span style="color:#000; margin-right: 10px;">The publications last week</span>
          <span style="font-family:Lucida Calligraphy; margin-right: 5px;">by reads</span>
          <a-icon type="info-circle" theme="filled" />
        </a-row>
        <a-list item-layout="horizontal" :data-source="data1">
          <a-list-item slot="renderItem" slot-scope="item, index">
            <a-list-item-meta>
              <div slot="title" style="font-weight: bold; color: #000;">
                <a-icon type="copy" />
                <span style="font-size: 14px;">{{ item.title }}</span>
              </div>
              <div slot="description" style="margin-left: 15px;">
                <a-row>
                  Teachers College Record 05/2013;115(040306)
                </a-row>
                <a-row style="font-weight: bold; color: #000;">
                  672 Reads
                </a-row>
              </div>
            </a-list-item-meta>
          </a-list-item>
        </a-list>
        <a-tag>查看所有成员统计信息</a-tag>
      </a-card>
    </a-col>
  </a-row>
</template>

<script>
export default {
  name: 'InstitutionsAchievements.vue',
  created(){
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000);
  },
  data() {
    return {
      data,
      data1,
    };
  },
}
const data1 = [
  {
    title:'Face Maska Against COVID-19: An Evidence Review',
  },
  {
    title:'Discrete Mathematics for Computer Science,Some Notes',
  },
  {
    title:'The basics of machine learning： strategies and techniques',
  },
  {
    title:'Grit: Perseverance and Passion for Long-Term Goals',
  },
  {
    title:'Face Maska Against COVID-19: An Evidence Review\'',
  }
];
const data = [
  {
    title: 'Article: A Team-Based Collaborative Care Model for Youth With Attention-Deficit Hyperactivity Disorder in Education and Health Care Settings',
  },
  {
    title: 'Chapter: Regional Nodal Staging:Clinically Node Negative',
  },
  {
    title: 'Chapter: Complexity in the use of artificial intelligence in anatomic pathology',
  },
  {
    title: 'Chapter: The basics of machine learning： strategies and techniques',
  },
  {
    title: 'Chapter: The evolution of machine learning: past, present, and future',
  },
  {
    title: 'Chapter: Dealing with data: strategies of preprocessing data',
  },
  {
    title: 'Chapter: Developing a tDCS-Enhanced Dual-Task Flight Simulator for Evaluating Learning',
  },
  {
    title: 'Chapter: Tumor-Treating Fields at EMBC 2019: A Roadmap to Developing a Framework for TTFields Dosimetry and Treatment Planning',
  },
  {
    title: 'Article: Using Machine Learning to Make Predictions in Patients Who Fall',
  },
];
</script>

<style scoped>

</style>