<template>
  <div>
    <a-row :gutter="24">
      <a-col :span="24" style="padding-left: 60px;margin-left: -15px">
        <a-row class="textOVerThree"><a :title="title" @click="routeArticles(publicationId)" style="font-size: 16px;font-weight: 700;color: #595959">{{title}}</a></a-row>
        <a-row v-if="scholar" style="margin-top: 10px;"><a-tag color="blue" style="border-radius: 5px">{{scholar}}</a-tag></a-row>
        <a-row style="margin-top: 10px;" >
          <span v-for="(other,index) in otherOwner">
            <a v-if="index < 1" @click="routeUser(other.authorId, other.authorName)" style="margin-right: 20px; color: #595959;">{{ other.authorName }}</a>
          </span>
          <span v-if="otherOwner.length > 1">+{{otherOwner.length - 1}}</span>
        </a-row>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {
  name: 'HistoryCard',
  props: {
    title: {
      type: String,
    },
    scholar: {
      type: String,
    },
    publicationId: {
      type: Number,
    },
    otherOwner: {
      type: Array,
    },
  },
  methods:{
      routeArticles (publicationId) {
          let routeUrl = this.$router.resolve({
              path: '/articles/articlesPage',
              query: {
                  publicationId
              }
          });
          window.open(routeUrl.href, '_blank');
      },
      routeUser(userId, userName){
        let routeUrl = this.$router.resolve({
                    path: '/scholar/scholarPage/ScholarSummary',
                    query: {
                        userId,
                        isUser: false,
                        userName
                    }
                });
        window.open(routeUrl.href, '_blank');
      },
  }
}
</script>

<style lang="less" scoped>
  .textOVerThree {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
  }
</style>
