<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div>
      <a-row :gutter="18">
        <a-col :span="16">
          <a-row id="searchBar">
            <a-auto-complete
              style="width: 100%;"
              size="large"
              @search="handleSearch"
              @select="onSelect"
              v-model="keyword"
              :defaultActiveFirstOption="false"
            >
              <template slot="dataSource">
                <a-select-option v-if="dataSource.length > 0" v-for="(item, index) in dataSource" :key="dataSourceKey[index]">
              <span v-for="(item, index) in item">
                <a-icon style="margin-right: 5px;: " :type="item.icon" />
                <span style="margin-right: 5px;: " v-html="item.text"></span>
              </span>
                </a-select-option>
              </template>
              <a-input-search
                size="large"
                placeholder="搜索文献、学者、研究方向"
                enter-button="搜 索"
                @search="handleKeyPress"
              >
                <template slot="prefix">
                  <img src="~@/assets/search.png" height="16" width="16"/>
                </template>
              </a-input-search>
            </a-auto-complete>
          </a-row>
          <a-row style="margin-top: 10px;">
            <a-card id="news" title="分享动态" :bodyStyle="{'padding-top':'0','padding-bottom':'0'}" size="small" :bordered="false">
              <a-input placeholder="发布长文可以起个标题哦~" v-model="newsTitle" @input="newsTitleInput" :rows="4" style="resize:none;height: 40px;font-size: 13px" :max-length="30">
                <span v-if="newsTitleLength === 0" class="newsTitle" slot="suffix">5-30个字符</span>
                <span v-if="newsTitleLength !== 0" class="newsTitle" slot="suffix">剩余{{newsTitleSurplus}}字符</span>
              </a-input>
              <a-textarea :max-length="10000" v-model="newsContent" placeholder="有什么最新动态想要分享给大家？" @input="newsContentInput" :rows="4" style="resize:none;margin-top: 10px;height: 102px;font-size: 13px;"/>
              <span v-if="newsContentLength === 0" class="newsConcentChk">5-10000个字符</span>
              <!--<div style="margin-bottom: 16px;height: 32px;">
                <div style="float: left;width: 17%;">
                  <a-upload
                    :data={userId:this.userId}
                    accept=".mp4"
                    name="file"
                    action="/api/userNewDevelopments/uploadFileForNews"
                    @change="handleChange"
                    :before-upload="beforeUpload"
                    :file-list="newsFileList"
                  >
                    <a-button v-if="fileList.length != 0" disabled> <a-icon type="upload" />上传视频</a-button>
                    <a-button v-else > <a-icon type="upload" />上传视频</a-button>
                  </a-upload>
                </div>
                <div style="float: left;width: 17%;">
                  <a-upload
                    :data={userId:this.userId}
                    name="file"
                    accept=".jpg,.jpeg,.png"
                    action="/api/userNewDevelopments/uploadFileForNews"
                    :multiple="true"
                    :file-list="fileList"
                    @preview="handlePreview"
                    @change="handleChangeImg"
                    :showUploadList="false"
                  >
                    <a-button v-if="newsFileList.length != 0" disabled> <a-icon type="upload" />上传图片</a-button>
                    <a-button v-else> <a-icon type="upload" />上传图片</a-button>
                  </a-upload>
                </div>
                <div style="float: right;width: 66%;">
                  <a-input placeholder="请输入链接" v-model="newsLink">
                  </a-input>
                </div>
              </div>-->
              <a-row style="margin-top: 10px; margin-bottom: 20px;">
                <a-col :span="6">
                  <div style="padding-top: 3px">
                    <a-upload
                      :data={userId:this.userId}
                      name="file"
                      action="/api/userNewDevelopments/uploadFileForNews"
                      :multiple="true"
                      :file-list="fileList"
                      @preview="handlePreview"
                      @change="handleChangeImg"
                      :before-upload="beforeUpload"
                      accept=".jpg,.jpeg,.png"
                    >
                      <img style="cursor: pointer;" src="~@/assets/icon-uploadNews.png" height="34" width="34"/>
                    </a-upload>
                  </div>
                </a-col>
                <a-col :span="18" style="text-align: right;">
                  <div>
                    <span v-if="newsContentLength !== 0" class="newsConcent">{{newsContentSurplus}}</span>
                    <a-select v-model="beforeLook" size="large" slot="addLookOnBefore" style="width: 102px; font-size: 13px;background: #f5f6f6;border-radius: 4px;">
                      <a-select-option value="0">
                        <span style="font-size: 13px">所有人可见</span>
                      </a-select-option>
                      <a-select-option value="3">
                        <span style="font-size: 13px">好友可见</span>
                      </a-select-option>
                      <a-select-option value="1">
                        <span style="font-size: 13px">我的粉丝可见</span>
                      </a-select-option>
                      <a-select-option value="2">
                        <span style="font-size: 13px">仅自己可见</span>
                      </a-select-option>
                    </a-select>
                    <!--<a-radio-group v-model="isComment" name="radioGroup" style="font-size: 14px;font-weight: 500;">
                      <a-radio value="0">
                        可以评论
                      </a-radio>
                      <a-radio value="1">
                        不可评论
                      </a-radio>
                    </a-radio-group>-->
                    <a-button class="publishBtn" :style="{background: (userNewsLoading||newsContentLength === 0)?'rgba(77,187,198,0.30)':''}" type="primary" @click="!userNewsLoading&&newsContentLength > 0?addNewDevelopments():()=>{return false;}">
                      立即发布
                    </a-button>
                  </div>
                </a-col>
              </a-row>
              <div v-if="fileShow" class="clearfix">
                <a-upload
                  :data={userId:this.userId}
                  name="file"
                  action="/api/userNewDevelopments/uploadFileForNews"
                  :multiple="true"
                  list-type="picture-card"
                  :file-list="fileList"
                  @preview="handlePreview"
                  @change="handleChangeImg"
                  :before-upload="beforeUpload"
                >
                  <div v-if="fileList.length < 9">
                    <a-icon type="plus" />
                    <div class="ant-upload-text">
                      点击上传图片
                    </div>
                  </div>
                </a-upload>
                <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
                  <img alt="example" style="width: 100%" :src="previewImage" />
                </a-modal>
              </div>
            </a-card>
          </a-row>
          <div>
            <a-tabs default-active-key="2" v-model="tabActiveKey" style="font-weight:bolder; margin-top: 10px; border-radius: 12px 12px 0px 0px;" @change="isRefresh">
              <a-tab-pane key="1" tab="关注">
                  <!--<a-card title="继续阅读" :bodyStyle="{'padding-top':'0','padding-bottom':'0'}" size="small" :bordered="false" :loading="readLoading">
                    <a-carousel arrows :dots="false">
                      <div
                        slot="prevArrow"
                        slot-scope="props"
                        class="custom-slick-arrow"
                        style="left: 10px;z-index: 1"
                      >
                        <a-icon type="left-circle" />
                      </div>
                      <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
                        <a-icon type="right-circle" />
                      </div>
                      <div v-for="(item,index) in publicationBeingRead"  v-if="index % 2 === 0">
                        <a-card :bordered="false" style="margin-top: 1px">
                          <a-row style="text-align: left;">
                            <a-col :span="12">
                              <history-card :publicationId="publicationBeingRead[index].publicationId" :title="publicationBeingRead[index].displayTitle" :scholar="publicationBeingRead[index].docTypeCh" :otherOwner="publicationBeingRead[index].authorInfoList" />
                            </a-col>
                            <a-col v-if="publicationBeingRead[index+1]" :span="12">
                              <history-card :publicationId="publicationBeingRead[index+1].publicationId" :title="publicationBeingRead[index+1].displayTitle" :scholar="publicationBeingRead[index+1].docTypeCh" :otherOwner="publicationBeingRead[index+1].authorInfoList" />
                            </a-col>
                          </a-row>
                        </a-card>
                      </div>
                    </a-carousel>
                    <a-list v-if="publicationBeingRead.length === 0" :data-source="[]" />
                  </a-card>
                </a-row>-->
                  <!--<a-row style="margin-top: 20px;">
                    <a-card :title="'推荐论文'" size="small" :bodyStyle="{'padding':'0'}">
                      <n-list
                        :dataUrl="'/userHome/getSuggestedPublicationToRead'"
                        :parameters="{
                        userId,
                        index:1,
                        rows:1
                      }"
                        :home="false"
                        :searchBar="false"
                        :sortBar="false"
                        :hasPagination="false"
                        :imgShow="false"
                      />
                    </a-card>
                    <a-card :title="'会议通知'" size="small" :bodyStyle="{'padding':'0 12px'}" style="margin-top: 20px;" class="announcement-card"
                            v-for="(conference, index) in announcementConference" :loading="announcementConferenceLoading">
                      <a-list item-layout="vertical" :data-source="[conference]">
                        <a-list-item slot="renderItem" slot-scope="item, index">
                          <a-list-item-meta :description="`${item.institution}　　　${item.institutionCity},　${item.institutionCountry}`">
                            <a slot="title" :href="item.link" target="_blank" style="font-weight: bolder;">{{ item.title }}</a>
                            <a-avatar v-if="undefined !== item.imagePath && null !== item.imagePath && '' !== item.imagePath" slot="avatar" :src="item.imagePath"/>
                            <div v-else slot="avatar" style="width: 40px; height: 40px"></div>
                          </a-list-item-meta>
                          <div style="padding: 0 5px;">
                            <span class="text-over-three">{{item.description}}</span>
                          </div>
                        </a-list-item>
                      </a-list>
                    </a-card>
                    <a-card :title="'项目申请通知'" size="small" :bodyStyle="{'padding':'0 12px'}" style="margin-top: 20px;" class="announcement-card"
                            v-for="(grant, index) in announcementGrant" :loading="announcementGrantLoading">
                      <a-list item-layout="vertical" :data-source="[grant]">
                        <a-list-item slot="renderItem" slot-scope="item, index">
                          <a-list-item-meta :description="`${item.institution}　　　${item.institutionCity},　${item.institutionCountry}`">
                            <a slot="title" :href="item.link" target="_blank" style="font-weight: bolder;">{{ item.title }}</a>
                            <a-avatar v-if="undefined !== item.imagePath && null !== item.imagePath && '' !== item.imagePath" slot="avatar" :src="item.imagePath"/>
                            <div v-else slot="avatar" style="width: 40px; height: 40px"></div>
                          </a-list-item-meta>
                          <div style="padding: 0 5px;">
                            <span class="text-over-three">{{item.description}}</span>
                          </div>
                        </a-list-item>
                      </a-list>
                    </a-card>-->
                  <n-list ref="followedList"
                          :dataUrl="'/userHome/getUserAuthorFollowingList'"
                          :parameters="{
                            userId,
                            index:1,
                            rows:5
                          }"
                          :searchBar="false"
                          :hasPadding="true"
                          :hasPaddingV="true"
                          :sortBar="false"
                          :hasPagination="this.canRefresh"
                          :minHeight="'400px'"
                  />
              </a-tab-pane>
              <a-tab-pane key="2" tab="推荐" force-render>
                <n-list ref="suggestedList"
                        :dataUrl="'/userHome/getAllNewsList'"
                        :parameters="{
                          loginUserId: userId,
                          index:1,
                          rows:5
                        }"
                        :searchBar="false"
                        :hasPadding="true"
                        :hasPaddingV="true"
                        :sortBar="false"
                        :hasPagination="!this.canRefresh"
                        :minHeight="'400px'"
                />
            </a-tab-pane>
            </a-tabs>
          </div>
        </a-col>
        <a-col :span="7">
          <!--<a-row>
            <a-card title="本周您研究影响力统计" size="small" :bordered="false">
              <a slot="extra" style="color: #c4c4c4; font-size: 12px;" @click="routeStatistics">更多统计</a>
              <a-row :gutter="24">
                <a-col :span="12">
                  <a-row>
                    <a-statistic title="论文被引用次数" :value="thisWeekStatistics.citations"  valueStyle="font-size: 14px">
                      <template #suffix>
                        <span  style="color: #c4c4c4;margin-left: 8px;font-size: 11px">
                          <span>{{citationsPer}}</span>
                          <a-icon :type="citationsAbs?'arrow-up':'arrow-down'" />
                        </span>
                      </template>
                    </a-statistic>
                  </a-row>
                </a-col>
                <a-col :span="12">
                  <a-statistic title="上周次数" :value="lastWeekStatistics.citations" valueStyle="font-size: 14px" />
                </a-col>
              </a-row>
              <a-row :gutter="24">
                <a-col :span="12">
                  <a-statistic title="论文被阅读次数"  :value="thisWeekStatistics.reads"  valueStyle="font-size: 14px">
                    <template #suffix>
                      <span  style="color: #c4c4c4;margin-left: 8px;font-size: 11px">
                          <span>{{readsPer}}</span>
                          <a-icon :type="readsAbs?'arrow-up':'arrow-down'" />
                        </span>
                    </template>
                  </a-statistic>
                </a-col>
                <a-col :span="12">
                  <a-statistic title="上周次数"  :value="lastWeekStatistics.reads" valueStyle="font-size: 14px" />
                </a-col>
              </a-row>
              <a-row :gutter="24">
                <a-col :span="12">
                  <a-statistic title="论文被下载次数"  :value="thisWeekStatistics.downloads"  valueStyle="font-size: 14px">
                    <template #suffix>
                      <span  style="color: #c4c4c4;margin-left: 8px;font-size: 11px">
                          <span>{{downloadsPer}}</span>
                          <a-icon :type="downloadsAbs?'arrow-up':'arrow-down'" />
                        </span>
                    </template>
                  </a-statistic>
                </a-col>
                <a-col :span="12">
                  <a-statistic title="上周次数"  :value="lastWeekStatistics.downloads" valueStyle="font-size: 14px" />
                </a-col>
              </a-row>
            </a-card>
          </a-row>-->
          <a-row>
            <a-button class="pdfBtn" size="large" style="width: 100%" type="primary" @click="showUploadModal()">
               <div>
                 <a-icon type="cloud-upload" style="font-size: 22px;margin-right: 10px"/>
                 上传PDF，开始阅读
               </div>
            </a-button>
          </a-row>
          <n-upload-modal
            ref="nUploadMoadl"
            :title="'上传文档'"
            :visible="visible"
            :modal-width="uploadModelWidth"
            :modal-height="uploadBodyStyle"
            :handle-cancel="handleCancelForUpload"
            :setModelWidthAndHeight="setModelWidthAndHeight"
          />
          <a-row v-if="!publicationBeingReadEmpty">
            <a-card id="beingRead" class="actionsClass" :head-style="{}" :bodyStyle="{'padding-top':'0','padding-bottom':'0'}" size="small" :bordered="false">
              <template slot="title" >
                <span>继续阅读</span>
              </template>
              <a-row v-if="!showFlg" slot="extra">
                <img @click="prevPage" @mouseover="prevSrcMouseover" @mouseleave="prevSrcMouseleave" :src="require('@/assets/icons/'+ prevSrc)" height="12" width="12" style="cursor:pointer;"/>
                <span class="pageNumberFont">{{currentPage}}/{{allPage}}</span>
                <img @click="nextPage" @mouseover="nextSrcMouseover" @mouseleave="nextSrcMouseleave" :src="require('@/assets/icons/'+ nextSrc)" height="12" width="12" style="cursor:pointer;"/>
              </a-row>
              <n-list
                ref="beingReadList"
                :dataUrl="'/userHome/publicationBeingRead'"
                :parameters="{
                  userId
                }"
                :home="true"
                :searchBar="false"
                :sortBar="false"
                :hasPagination="false"
                :imgShow="false"
                :beingRead="true"
                :showOne="showFlg"
                :continueRead="true"
                :minHeight="'100px'"
                :setAllPage="setAllPage"
              />
              <div slot="actions" v-if="publicationBeingReadHasMore" style="text-align: center;">
                <a style="font-size: 15px;" @click="showText(showFlg)">{{showFlg?'查看更多':'收起'}}
                </a>
              </div>
              <!--轮播组件-->
              <!--<a-carousel arrows :dots="false">
                <div
                  slot="prevArrow"
                  slot-scope="props"
                  class="custom-slick-arrow"
                  style="left: 10px;z-index: 1"
                >
                  <a-icon type="left-circle" />
                </div>
                <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
                  <a-icon type="right-circle" />
                </div>-->
                <!--<history-card v-if="!showFlg" :publicationId="publicationBeingRead[0].publicationId" :title="publicationBeingRead[0].displayTitle" :scholar="publicationBeingRead[0].docTypeCh" :otherOwner="publicationBeingRead[0].authorInfoList" />
                <div v-if="showFlg" v-for="(item,index) in publicationBeingRead">-->
                  <!--<a-card :bordered="false" style="margin-top: 1px">-->
                    <!--<a-row style="text-align: left;">
                      <a-col :span="24">
                        <history-card :publicationId="publicationBeingRead[index].publicationId" :title="publicationBeingRead[index].displayTitle" :scholar="publicationBeingRead[index].docTypeCh" :otherOwner="publicationBeingRead[index].authorInfoList" />
                      </a-col>-->
                      <!--<a-col v-if="publicationBeingRead[index+1]" :span="12">
                        <history-card :publicationId="publicationBeingRead[index+1].publicationId" :title="publicationBeingRead[index+1].displayTitle" :scholar="publicationBeingRead[index+1].docTypeCh" :otherOwner="publicationBeingRead[index+1].authorInfoList" />
                      </a-col>-->
                   <!-- </a-row>-->
                  <!--</a-card>-->
                <!--</div>-->
              <!--</a-carousel>-->
              <!--<a-list v-if="publicationBeingRead.length === 0" :data-source="[]" />-->
            </a-card>
          </a-row>
          <a-row v-if="!suggestedPublicationToReadEmpty" style="margin-top: 10px;">
            <a-card :title="'推荐论文'" :bodyStyle="{'padding-top':'0','padding-bottom':'0'}" size="small" :bordered="false">
              <n-list
                :dataUrl="'/userHome/getSuggestedPublicationToRead'"
                :parameters="{
                  userId,
                  index:1,
                  rows:1
                }"
                :home="false"
                :searchBar="false"
                :sortBar="false"
                :hasPagination="false"
                :imgShow="false"
                :beingRead="true"
                :continueRead="true"
                :minHeight="'130px'"
              />
            </a-card>
          </a-row>
          <a-row style="margin-top: 10px;">
            <n-card-list
              :parameters="{
                rows: 20,
                index: 1,
                userId,
              }"
              :title="'推荐学者'"
              :isUser="'0'"
              :isSuggestedUser="true"
              :dataUrl="'/userHome/suggestedUser'"
              :followingBtnUrl="'/userHome/addRecommendedClickToFollow'"
            />
          </a-row>
          <!--<a-row style="margin-top: 10px;">
            <n-ads-list
              :title="'您可能感兴趣的工作机会'"
              :dataUrl="'/userHome/getUserAuthorFollowingActionList'"
              :isLink="true"
              :parameters="{
                            rows: 5,
                            index: 1,
                            userId,
                          }"/>
          </a-row>
          <a-row style="margin-top: 10px;">
            <n-card-list :title="'邀请合作作者加入学术社区'" :titleExtra="'邀请更多'" :titleExtraUrl="'#'"
                         :modal-parameters="{
                            rows: 10,
                            index: 1,
                            userId,
                          }"
                         :modal-url="'/userHome/userCoauthor'"
                         :dataUrl="'/userHome/userCoauthor'"
                         :parameters="{
                            rows: 5,
                            index: 1,
                            userId,
                          }"/>
          </a-row>-->
        </a-col>
      </a-row>
    </div>
</template>

<script>
  function getBase64(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => resolve(reader.result);
      reader.onerror = error => reject(error);
    });
  }
//引入API 组件等等
//vuex辅助函数
import { PageHeaderWrapper } from '@ant-design-vue/pro-layout'
import  NList  from '@/views/business/components/NList/NList'
import  NCardList  from '@/views/business/components/NCardList/NCardList'
import  NAdsList  from '@/views/business/components/NAdsList/NAdsList'
import HistoryCard  from './HistoryCard'
import NUploadModal from '@/views/business/components/NUploadModal/NUploadModal'
import Qs  from 'qs'
import moment from 'moment'
import infiniteScroll from 'vue-infinite-scroll';
import {publicationBeingRead, getThisWeekStatistics, getAnnouncementList, saveNewDevelopments, getSuggestedPublicationToRead} from './UserHomeApi'
import { Empty } from 'ant-design-vue';

//全局常量，类，方法
const DataSet = require('@antv/data-set')

export default {
  name: 'Home',
  directives: { infiniteScroll },
  components: {
      //所引入的组件 需要先import进来
      HistoryCard,
      PageHeaderWrapper,
      NCardList,
      NAdsList,
      NList,
      NUploadModal
  },
  data () {
    //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {
      userNewsLoading: false,
      previewVisible: false,
      previewImage: '',
      fileList: [],
      newsFormalPath:"/file/",
      index: 0,
      newsHasNextPage: false,
      newsData: [],
      loadingForNews: false,
      busy: false,
      newsFileList:[],
      fileFlg:"2",
      userId: '',
      citationsPer: '',
      readsPer: '',
      downloadsPer: '',
      citationsAbs: true,
      readsAbs: true,
      downloadsAbs: true,
      loading: true,
      readLoading: true,
      publicationBeingReadEmpty: false,
      suggestedPublicationToReadEmpty: false,
      publicationBeingReadHasMore: false,
      suggestedPublicationToReadHasMore: false,
      publicationBeingRead: [],
      thisWeekStatistics: {},
      lastWeekStatistics: {},
      announcementConference: [],
      announcementConferenceLoading: true,
      announcementGrant: [],
      announcementGrantLoading: true,
      newsTitle:"",
      newsContent:"",
      newsLink: "",
      beforeLook:'0',
      isComment:'0',
      showFlg:true,
      imageWarning:true,
      visible:false,
      uploadModelWidth: 450,
      uploadBodyStyle:{
        height: '200px',
        padding: '0 24px',
        overflow: 'auto'
      },
      keyword: '',
      autocompleteKeyword: '',
      dataSource: [],
      dataSourceKey: [],
      canRefresh:false,
      newsTitleLength: 0,
      newsTitleSurplus: '',
      newsContentLength: 0,
      newsContentSurplus: '',
      fileShow: false,
      prevSrc: 'icon-previous.png',
      nextSrc: 'icon-next.png',
      currentPage: '1',
      tabActiveKey: '2',
      allPage: '1',
    }
  },
  computed: {
      //方法，一般用来写一些逻辑返回属性
  },
  created () {
      //初始化所需操作（页面渲染前），调用API取下拉框数据等，此时dom对象不存在，不能操作dom对象，可以操作一些data
      this.userId = this.$store.getters.userId
      this.$store.dispatch('changeSearchBar', false);
  },
  mounted () {
      //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
      this.getList()
      // this.getAnnouncementInfo()
      window.addEventListener('scroll',this.handleScroll,true);
  },
  beforeDestroy() {
      window.removeEventListener('scroll',this.handleScroll,true);
      this.$store.dispatch('changeSearchBar', true);
  },
  methods: {
    // 导航栏触底刷新事件控制
    isRefresh(key){
      this.tabActiveKey = key;
      if (key == 1) {
          this.canRefresh = true;
      } else {
          this.canRefresh = false;
      }
    },
    handleScroll(){
        let scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
        if(scrollTop > 64){
            this.$store.dispatch('changeSearchBar', true);
        } else {
            this.$store.dispatch('changeSearchBar', false);
        }
    },
    // 设置上传文档model大小
    setModelWidthAndHeight(width, height) {
      this.uploadModelWidth = width;
      this.uploadBodyStyle.height = height;
    },
    // 上传pdf modal框
    showUploadModal() {
      this.visible = true;
        this.uploadModelWidth = 450;
        this.uploadBodyStyle.height = '200px'
        this.$refs.nUploadMoadl.setCurrent();
    },
    // 关闭上传文档对话框
    handleCancelForUpload(e) {
      this.visible = false;
    },
    // 继续阅读查看更多
    showText(flg){
      this.showFlg = !flg;
    },
    handleCancel() {
      this.previewVisible = false;
    },
    async handlePreview(file) {
      if (!file.url && !file.preview) {
        file.preview = await getBase64(file.originFileObj);
      }
      this.previewImage = file.url || file.preview;
      this.previewVisible = true;
    },
    handleChangeImg({fileList,file}) {
      if(fileList.length > 0) {
        this.fileShow = true;
        if(fileList.length <=9){
          this.fileList = fileList;
          this.imageWarning = true;
        }else{
          if(this.imageWarning){
            this.$message.warning('动态最多支持分享九张图片！');
          }
          this.imageWarning = false;
          }
          if(file.status == 'done'){
            if(file.response.data < 0){
              if(file.response.data = -1){
                // this.$message.error("您上传的图片"+ file.name +"存在违规现象，请重新上传！");
                  this.removeExamineByName(this.fileList,"name",file.name);
                }else{
                  // this.$message.error("您上传的文件"+ file.name +"存在违现象，请重新上传！");
                  this.removeExamineByName(this.fileList,"name",file.name);
                }
            }else{
            }
          }
      } else {
        this.fileShow = false;
      }

    },
    uploadNewsFile(){
        this.$refs.uploadNewsFile.onChange();
    },
    beforeUpload(file){
      if(file.size/1024/1024 > 10){
        this.$message.error("图片最大不能超过10MB");
        this.removeExamineByName(this.fileList,"name",file.name);
      }
      // 清空视频文件操作
      if(this.newsFileList.length > 0){
        this.newsFileList = [];
      }
    },
    // 移除违规图片方法
    removeExamineByName(arr,attr,value){
      let index=0;
      for(let i in arr){
        if(arr[i][attr]==value){
          index=i;
          break;
        }
      }
      arr.splice(index,1);
    },
    // 文件上传方法
    handleChange(info) {
      this.newsFileList = info.fileList;
      if (info.file.status === 'done') {
        // if(info.file.response.data > 0){
          this.$message.success(`${info.file.name} 上传成功！`);
          this.fileFlg = 1;
        // }else{
        //     this.$message.error("您上传的视频"+ info.file.name +"存在违规现象，请删除后重新上传！");
        //     this.fileFlg = 0;
        // }
      } else if (info.file.status === 'error') {
        this.$message.error(`${info.file.name} 上传失败.`);
        this.fileFlg = 0;
      }
    },
    addNewDevelopments(){
      if(this.userNewsLoading){
          return;
      }
      // 标题长度check
      if(this.newsTitle.length < 5 && this.newsTitle.length > 0){
        this.$message.warning('最新动态标题太短了！');
      }else if(this.newsTitle.length > 30 ){
        this.$message.warning('最新动态标题太长了！');
      }else{
        // 内容非空判断
        if(this.newsContent.trim() !=""){
          // 内容长度check
          if(this.newsContent.length < 5 ){
            this.$message.warning('最新动态内容太少了！');
          }else if(this.newsContent.length > 10000 ){
            this.$message.warning('最新动态内容太长了！');
          }else{
            this.userNewsLoading = true;
            //本人id
            let newsUserId = this.userId;
            // 已上传文件名
            let fileNameList = [];
            if(this.newsFileList.length > 0){
              fileNameList = this.newsFileList;
            }else if(this.fileList.length > 0){
              fileNameList = this.fileList;
            }
            // 链接
            let link = "";
            /*if(this.newsLink.trim() !=""){
              link = this.newsLink.trim();
            }*/
            // 动态标题
            let newsTitle = this.newsTitle.trim();
            // 动态内容
            let areaForNew = this.newsContent.trim();
            // 文件个数
            let fileNum = 0;
            // 上传类型
            let uploadType = 0;
            if(this.newsFileList.length > 0){
              // 视频文件
              fileNum = this.newsFileList.length;
              uploadType = 1;
            }else if(this.fileList.length > 0){
              // 图片文件
              fileNum = this.fileList.length;
              uploadType = 2;
            }
            // 是否可评论
            let isComment = this.isComment;
            // 最新动态可见权限
            let canVisit = this.beforeLook;

            // 文件flg
            let flgForFile = this.fileFlg;
            // fileFlg 不传文件时2，传文件时1，上传文件失败0。
            if(this.fileFlg == 1 || this.fileFlg == 2){
              const param = {userId: newsUserId,newsTitle: newsTitle,newsExternalLink: link,newsContent: areaForNew,fileNum: fileNum,fileNameList: fileNameList,isComment: isComment,visibility: canVisit,uploadType: uploadType};
              saveNewDevelopments(param).then(res => {
                if(res.data){
                  let userNewsFilesList = [];
                  let showFileType = null;
                  if(this.fileList.length > 0){
                      showFileType = "0";
                      for (let file of this.fileList) {
                          userNewsFilesList.push({
                              newsFileUrl: file.thumbUrl
                          })
                      }
                  }
                  let userNewsModel = {
                      commentNum: 0,
                      displayName: this.$store.getters.nickname,
                      fileNameList: null,
                      fileNum: null,
                      headImg: null,
                      isComment: isComment,
                      isLikeBtnFlg: "0",
                      likeNum: 0,
                      newsContent: areaForNew,
                      newsExternalLink: null,
                      newsId: null,
                      newsPublishTime: "刚刚",
                      newsTitle: newsTitle,
                      nickname: this.$store.getters.nickname,
                      profilePath: this.$store.getters.avatar,
                      profilePhotoPath: null,
                      publishTime: "刚刚",
                      showFileType,
                      uploadType: null,
                      userId: this.$store.getters.userId,
                      userNewsFilesList,
                      videoCut: null,
                      visibility: canVisit,
                      visiblityFlg: "1"
                  }
                  if(res.data > 0){
                      userNewsModel = {
                          ...userNewsModel,
                          newsId: res.data
                      }
                  }
                  let news = {
                      displayAuthorName: this.$store.getters.nickname,
                      profilePhotoPath: this.$store.getters.avatar,
                      userAction: "7",
                      userIdFollowed: this.$store.getters.userId,
                      userNewsModel,
                      validateTime: "刚刚"
                  }
                  this.tabActiveKey = "2";
                  this.$refs.suggestedList.list.splice(0,0,news);
                  this.$message.success("发布动态成功！");
                  this.userNewsLoading = false;
                  this.newsFileList = [];
                  this.fileList=[];
                  this.isComment = '0';
                  this.beforeLook = '0';
                  this.newsTitle = "";
                  this.newsContent = "";
                  this.newsLink = "";
                }else{
                  this.$message.error("发布动态失败！");
                }
                this.loading = false;
              }).catch(
                err => {
                  this.loading = false;
                  this.$message.error("发布动态失败！");
                }
              )
            }else if(this.fileFlg == 0){
              this.$message.error("文件上传失败请重新上传文件");
              this.newsFileList = [];
              this.fileList=[];
            }
          }
        }else{
          this.$message.warning('最新动态内容不能为空！');
        }
      }
    },
    //方法，一般用来做提交表单一类的操作，类似于void方法，不用return
    formatNum(number, type){
        let str=Number(number*100);
        if(str < 0){
            str = Math.abs(str).toFixed(2);
            switch (type) {
                case 'citations': this.citationsAbs = false; break;
                case 'reads': this.readsAbs = false; break;
                case 'downloads': this.downloadsAbs = false; break;
            }
        }else {
            str = str.toFixed(2);
        }
        str+="%";

        return str
    },
    getList () {
        const param = Qs.stringify({userId: this.userId, loginUserId: this.userId, sortColumns: 0, index: 1, rows: 1});
        publicationBeingRead(param).then(res => {
            if(res.ret_code==='0'){
                if (res.data) {
                    this.publicationBeingRead = res.data.list
                    this.publicationBeingReadEmpty = res.data.list.length === 0
                    this.publicationBeingReadHasMore = res.data.list.length > 1
                } else {
                    this.publicationBeingReadEmpty = true;
                    this.publicationBeingReadHasMore = false;
                }
                this.readLoading = false
            } else {
                this.publicationBeingReadEmpty = true;
                this.publicationBeingReadHasMore = false;
            }
        }).catch(err => {
        }).finally(()=>{
            this.readLoading = false
        });
        getSuggestedPublicationToRead(param).then(res => {
            if(res.ret_code==='0'){
                if (res.data) {
                    this.suggestedPublicationToReadEmpty = res.data.list.length === 0
                    this.suggestedPublicationToReadHasMore = res.data.list.length > 1
                } else {
                    this.suggestedPublicationToReadEmpty = true;
                    this.suggestedPublicationToReadHasMore = false;
                }
            } else {
                this.suggestedPublicationToReadEmpty = true;
                this.suggestedPublicationToReadHasMore = false;
            }

        }).catch(err => {
        }).finally(()=>{
        });
        // getThisWeekStatistics(param).then(res => {
        //     if(res.ret_code==='0'){
        //         for (let item of res.data){
        //             if(item.weekFlg === 'lastWeek'){
        //                 this.lastWeekStatistics = item
        //             }
        //             if(item.weekFlg === 'thisWeek'){
        //                 this.thisWeekStatistics = item
        //             }
        //         }
        //         this.citationsPer = this.formatNum(this.lastWeekStatistics.citations===0?0:((this.thisWeekStatistics.citations-this.lastWeekStatistics.citations)/this.lastWeekStatistics.citations),'citations')
        //         this.readsPer = this.formatNum(this.lastWeekStatistics.reads===0?0:((this.thisWeekStatistics.reads-this.lastWeekStatistics.reads)/this.lastWeekStatistics.reads),'reads')
        //         this.downloadsPer = this.formatNum(this.lastWeekStatistics.downloads===0?0:((this.thisWeekStatistics.downloads-this.lastWeekStatistics.downloads)/this.lastWeekStatistics.downloads),'downloads')
        //         this.loading = false
        //     }else {
        //         this.$notification.error(res.ret_msg);
        //     }
        //
        // }).catch(err => {
        // }).finally(()=>{
        //     this.loading = false
        // });
    },
    routeStatistics(){
      this.$router.push({path:'/user/userPage/UserStatistics',query:{userId: this.userId,}})
    },
    getAnnouncementInfo() {
      let param = Qs.stringify({
        userId: this.userId,
        type: '2',
        index: 1,
        rows: 5
      });
      getAnnouncementList(param).then(res => {
        this.announcementConference = []
        if (res.ret_code === '0') {
          this.announcementConference = res.data.list
        } else {
          this.$notification.error(res.ret_msg);
        }
        this.announcementConferenceLoading = false
      }).catch(err => {
        this.announcementConference = []
        this.announcementConferenceLoading = false
      });
      param = Qs.stringify({
        userId: this.userId,
        type: '3',
        index: 1,
        rows: 5
      });
      getAnnouncementList(param).then(res => {
        this.announcementGrant = []
        if (res.ret_code === '0') {
          this.announcementGrant = res.data.list
        } else {
          this.$notification.error(res.ret_msg);
        }
        this.announcementGrantLoading = false
      }).catch(err => {
        this.announcementGrant = []
        this.announcementGrantLoading = false
      });
    },
    onSelect(value, option) {
      this.autocompleteKeyword = value
      value = value.replaceAll('<ks_a>',' ').replaceAll('</ks_a>','')
        .replaceAll('<ks_i>',' ').replaceAll('</ks_i>','')
        .replaceAll('<ks_p>',' ').replaceAll('</ks_p>','')
        .replaceAll('<ks_f>',' ').replaceAll('</ks_f>','')
        .replaceAll('<b>','').replaceAll('</b>','')

      this.keyword = value.trim()
      this.handleSearch(value.trim(), false)
    },
    handleSearch(value, clearAuto = false) {
        if(clearAuto){
            this.autocompleteKeyword = '';
        }
        let param = Qs.stringify({
            keyword: value
        });
        this.$http.post('/autocomplete/getKeyword4AllSearch',param).then(res => {
            if(res.data) {
                this.dataSource = []
                this.dataSourceKey = res.data
                let suggestedWordList = res.data.filter(function(suggestedWord) {
                    return suggestedWord.indexOf("<ks_i>") < 0
                })
                this.dataSourceKey = suggestedWordList;
                //for(let i of res.data){
                for(let i of suggestedWordList){

                    let sortedTag = '';
                    let wordArr = ''
                    while(i.indexOf("<ks_") > -1) {
                        let tag = i.substring(i.indexOf("<ks_"), 6);
                        sortedTag += tag + ",";

                        let word = i.substring(i.indexOf(tag), i.indexOf(tag.replaceAll("<", "</")) + 7);
                        wordArr += word + ","
                        i += word;
                        i = i.replaceAll(word, "");

                    }
                    sortedTag = sortedTag.substring(0,sortedTag.lastIndexOf(","))
                    wordArr = wordArr.substring(0,wordArr.lastIndexOf(","))

                    sortedTag = sortedTag.split(",")
                    wordArr = wordArr.split(",")

                    let objList = []

                    for(let index in sortedTag){
                        let obj = {}

                        if(sortedTag[index] === '<ks_a>'){
                            obj.icon = 'user'
                        }else if(sortedTag[index] === '<ks_i>'){
                            obj.icon = 'bank'
                        }else if(sortedTag[index] === '<ks_p>'){
                            obj.icon = 'read'
                        }else if(sortedTag[index] === '<ks_f>'){
                            obj.icon = 'experiment'
                        }
                        obj.text = wordArr[index]

                        objList.push(obj)
                    }

                    this.dataSource.push(objList)
                }

            }
            this.loading = false
        }).finally(() => {
            this.loading = false
        })
    },
    handleKeyPress(ev) {
        let params = {
            keyword : this.keyword,
            autocompleteKeyword : this.autocompleteKeyword,
        }
        if(this.keyword !== ''){
            if(this.autocompleteKeyword !== ''){
                if(this.autocompleteKeyword.indexOf('<ks_p>') !== -1){
                    let param = Qs.stringify({
                        userId:this.$store.getters.userId,
                        index:1,
                        rows:5,
                        keyword:this.keyword,
                        autocompleteKeyword:this.autocompleteKeyword,
                        yearFrom: moment('1900').format('YYYY'),
                        yearTo:  moment().format('YYYY')
                    });
                    this.$http.post('/searchResultsArticles/searchResultsArticlesPublication', param).then(res => {
                        if(res.data){
                            if(res.data.total === 1){
                                this.$router.push({
                                    path: '/articles/articlesPage/ArticlesFullText',
                                    query: {
                                        publicationId: res.data.list[0].publicationId
                                    }
                                })
                            }else {
                                this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsArticles')
                            }
                        }
                    })

                } else if(this.autocompleteKeyword.indexOf('<ks_a>') !== -1){
                    let param = Qs.stringify({
                        userId:this.$store.getters.userId,
                        index:1,
                        rows:10,
                        keyword:this.keyword,
                        autocompleteKeyword:this.autocompleteKeyword,
                    });
                    this.$http.post('/searchResultsScholar/getSearchResultsScholarList', param).then(res => {
                        if(res.data){
                            if(res.data.total === 1){
                                this.$router.push({
                                    path: '/scholar/scholarPage/ScholarSummary',
                                    query: {
                                        userId:res.data.list[0].userId,
                                        isUser: false,
                                        userName:res.data.list[0].displayName
                                    }
                                })
                            }else {
                                this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsScholar')
                            }
                        }
                    })
                } else if(this.autocompleteKeyword.indexOf('<ks_f>') !== -1){
                    let param = Qs.stringify({
                        index:1,
                        rows:5,
                        keyword:this.keyword,
                        autocompleteKeyword:this.autocompleteKeyword,
                    });
                    this.$http.post('/searchResultsDirection/getSearchResultsDirectionList', param).then(res => {
                        if(res.data.pageInfo){
                            if(res.data.pageInfo.total === 1){
                                this.$router.push({
                                    path: '/searchResults/searchResultsPage/searchResultsDirectionDetail',
                                    query: {
                                        fieldId: res.data.fieldList[0].fieldId
                                    }
                                })
                            }else {
                                this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsDirection')
                            }
                        }
                    })
                } else if(this.autocompleteKeyword.indexOf('<ks_i>') !== -1){
                    let param = Qs.stringify({
                        index:1,
                        rows:5,
                        keyword:this.keyword,
                        autocompleteKeyword:this.autocompleteKeyword,
                    });
                    this.$http.post('/searchResultsInstitution/getSearchResultsInstitutionList', param).then(res => {
                        if(res.data){
                            if(res.data.total === 1){
                                this.$router.push({
                                    path: '/institutions/institutionsPage/InstitutionsSummary',
                                    query: {
                                        institutionId: res.data.list[0].id
                                    }
                                })
                            }else {
                                this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsInstitutions')
                            }
                        }
                    })
                } else {
                    let param = Qs.stringify({
                        userId:this.$store.getters.userId,
                        index:1,
                        rows:5,
                        keyword:this.keyword,
                        autocompleteKeyword:this.autocompleteKeyword,
                        yearFrom: moment('1900').format('YYYY'),
                        yearTo:  moment().format('YYYY')
                    });
                    this.$http.post('/searchResultsArticles/searchResultsArticlesPublication', param).then(res => {
                        if(res.data){
                            if(res.data.total === 1){
                                this.$router.push({
                                    path: '/articles/articlesPage/ArticlesFullText',
                                    query: {
                                        publicationId: res.data.list[0].publicationId
                                    }
                                })
                            }else {
                                this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsArticles')
                            }
                        }
                    })
                }
            }else {
                let param = Qs.stringify({
                    userId:this.$store.getters.userId,
                    index:1,
                    rows:5,
                    keyword:this.keyword,
                    autocompleteKeyword:this.autocompleteKeyword,
                    yearFrom: moment('1900').format('YYYY'),
                    yearTo:  moment().format('YYYY')
                });
                this.$http.post('/searchResultsArticles/searchResultsArticlesPublication', param).then(res => {
                    if(res.data){
                        if(res.data.total === 1){
                            this.$router.push({
                                path: '/articles/articlesPage/ArticlesFullText',
                                query: {
                                    publicationId: res.data.list[0].publicationId
                                }
                            })
                        }else {
                            this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsArticles')
                        }
                    }
                })
            }
        }else {
            this.$notification.info({
                message: '请输入搜索内容！'
            })
        }

    },
    routeSearchResult(params, url) {
      this.$router.push({
        path: url,
        query: {
          ...params
        }
      });
    },
    newsTitleInput() {
      var txtTitleVal = this.newsTitle.length;
      this.newsTitleLength = txtTitleVal;
      this.newsTitleSurplus = 30-this.newsTitleLength;
    },
    newsContentInput() {
      var txtContentVal = this.newsContent.length;
      this.newsContentLength = txtContentVal;
      this.newsContentSurplus = 10000-this.newsContentLength;
    },

    prevSrcMouseover() {
      this.prevSrc = 'icon-previous-active.png'
    },

    prevSrcMouseleave() {
      this.prevSrc = 'icon-previous.png'
    },
    nextSrcMouseover() {
      this.nextSrc = 'icon-next-active.png'
    },

    nextSrcMouseleave() {
      this.nextSrc = 'icon-next.png'
    },

    //上一页
    prevPage() {
      if (this.currentPage != 1) {
          this.currentPage--;
      }
      this.$refs.beingReadList.prevPage()
    },
    // 下一页
    nextPage() {
      if (this.currentPage < this.allPage) {
        if (this.currentPage != 4) {
            this.currentPage++;
        }
        this.$refs.beingReadList.nextPage()
      }
    },
    setAllPage(allPage) {
        this.allPage = allPage;
    },
    // uploadImg() {
    //     this.showUpload = !this.showUpload;
    // }
  }
}
</script>

<style lang="less" scoped>
  @import "UserHome.less";
  .ant-carousel /deep/ .slick-slide {
    text-align: center;
    overflow: hidden;
  }

  .ant-carousel /deep/ .custom-slick-arrow {
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: #595959;
    /*background-color: rgba(31, 45, 61, 0.11);*/
    opacity: 0.3;
  }
  .ant-carousel /deep/ .custom-slick-arrow:before {
    display: none;
  }
  .ant-carousel /deep/ .custom-slick-arrow:hover {
    opacity: 0.5;
  }

  .ant-carousel /deep/ .slick-slide h3 {
    color: #595959;
  }
  .ant-carousel /deep/ .slick-dots li{
    background-color: #595959;
  }
  .announcement-card /deep/.ant-list-items li:not(:first-child){
    margin-top: 10px;
    border-top: #cccccc solid 1px;
  }
  .announcement-card /deep/.ant-list-item-meta-description{
    font-size: 13px;
  }
  .announcement-card /deep/.ant-avatar{
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  .announcement-card /deep/.ant-avatar > img{
    object-fit: contain;
  }
  .text-over-three{
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
  }
  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
  .ant-list-item{
    padding: 0;
  }
  .ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }

  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }

  /deep/.ant-select-selection {
    border-radius: 4px !important;
    background-color: #f5f6f6 ;
    border: 0;
  }

  /deep/#searchBar .ant-select-selection {
    border-radius: 20px !important;
    background-color: #ffffff !important ;
  }

  /deep/#searchBar .ant-input-lg {
    font-size: 13px !important;
  }
  /deep/.ant-tabs-bar{
    margin: 0 0 -6px 0;
  }
  /deep/.ant-tabs-nav-wrap {
    background: #ffffff !important;
  }
  /deep/.ant-tabs-tabpane {
    margin-top: -10px !important;
  }
  /deep/.ant-upload-list-text{
    display: none;
  }
  /deep/#news .ant-card-head-title{
    font-weight: 500;
    color: #333333;
  }
  .newsTitle {
    margin-top: -8px;
    font-size: 13px;
    font-weight: 400;
    color: #bfbfbf;;
  }
  .newsConcent{
    margin-right: 16px;
    font-size: 13px;
    font-weight: 400;
    color: #bfbfbf;;
  }
  .newsConcentChk{
    position: absolute;
    right: 20px;
    top: 180px;
    margin-right: 16px;
    font-size: 13px;
    font-weight: 400;
    color: #bfbfbf;;
  }
  .pdfBtn {
    height: 45px;
    border-radius: 12px 12px 0px 0px;
    font-size: 15px;
  }

  .pageNumberFont {
    width: 19px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #999999;
    line-height: 17px;
    padding: 0 6px;
  }

  .publishBtn {
    border: none;
    width: 102px;
    height: 37px;
    margin-left: 16px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2.31px;
  }

  /deep/.ant-input:placeholder-shown {
    /* placeholder字体大小 */
    font-size: 13px;
  }

  /deep/.ant-select-lg .ant-select-selection--single {
    height: 37px;
  }

  /deep/.ant-tabs-tab {
    font-size: 15px;
  }

  /deep/.ant-card-head-title {
    font-size: 14px;
  }

  /deep/.ant-card-small > .ant-card-head > .ant-card-head-wrapper > .ant-card-extra {
    font-size: 13px;
  }

  /deep/.actionsClass .ant-card-actions {
    border-top: 1px solid #ececec !important;
    padding-top: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>
