<template>
  <div style="margin-top: 10px">
    <h3>加入学术社区</h3>
    <a-form ref="" :form="form" style="margin-top: 10px" @submit="handleSubmit">
      <!--加入学术社区-->
      <a-card size="small" :bordered="false" style="height: 430px">
        <a-row>
          <a-col :span="10">
            <img src="~@/assets/background2.png" style="margin-top:100px;height: 170px"/>
          </a-col>
          <a-col :span="14">
            <div class="regist-form">
              <a-form-item>
                <a-input
                  class="regist-email"
                  type="text"
                  placeholder="请输入您的邮箱"
                  size="large"
                  :style="inputEmail"
                  v-decorator="['email', {initialValue: email, rules: [{ required: true, type: 'email', message: emailErrorMessage, pattern: /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/}, { validator: this.handleEmailCheck }], validateTrigger: ['change', 'blur']}]"
                >
                  <img slot="prefix" src="~@/assets/email.png"/>
                </a-input>
              </a-form-item>
              <a-form-item>
                <a-popover
                  placement="rightTop"
                  :trigger="['focus']"
                  :getPopupContainer="(trigger) => trigger.parentElement"
                  v-model="state.passwordLevelChecked">
                  <template slot="content">
                    <div :style="{ width: '240px' }" >
                      <div :class="['user-register', passwordLevelClass]">{{ $t(passwordLevelName) }}</div>
                      <a-progress :percent="state.percent" :showInfo="false" :strokeColor=" passwordLevelColor " />
                      <div style="margin-top: 10px;">
                        <span>请至少输入 6 个字符。请不要使用容易被猜到的密码。 </span>
                      </div>
                    </div>
                  </template>

                  <a-input
                    class="regist-password"
                    placeholder="请输入您的密码"
                    size="large"
                    type="password"
                    :style="inputPassword"
                    @click="handlePasswordInputClick"
                    :max-length="30"
                    v-decorator="['password', {initialValue: password, rules: [{ required: true, message: '请输入您的密码！'}, { validator: this.handlePasswordLevel }], validateTrigger: ['change', 'blur']}]"
                  >
                    <img slot="prefix" src="~@/assets/password.png"/>
                  </a-input>
                </a-popover>
              </a-form-item>
              <a-form-item>
                <a-input
                  class="regist-password"
                  placeholder="请确认您的密码"
                  size="large"
                  type="password"
                  :style="inputPassword"
                  :max-length="30"
                  v-decorator="['passwordconfrim', {initialValue: passwordconfrim, rules: [{ required: true, message: '请确认您的密码！' }, { validator: this.handlePasswordCheck }], validateTrigger: ['change', 'blur']}]"
                >
                  <img slot="prefix" src="~@/assets/password.png"/>
                </a-input>
              </a-form-item>
              <a-form-item>
                <a-input
                  class="regist-password"
                  placeholder="请输入您的手机号"
                  size="large"
                  type="text"
                  :style="inputPassword"
                  :max-length="30"
                  v-decorator="['mobile', {initialValue: mobile, rules: [{ required: true, message: '请输入正确的手机号', pattern: /^1[3456789]\d{9}$/ }, { validator: this.handlePhoneCheck } ], validateTrigger: ['blur'] }]"
                >
                  <a-select slot="addonBefore" size="large" defaultValue="+86">
                    <a-select-option value="+86">+86</a-select-option>
                  </a-select>
                </a-input>
              </a-form-item>
              <a-row :gutter="16">
                <a-col class="gutter-row" :span="10">
                  <a-form-item>
                    <a-input size="large" type="text" :placeholder="'请输入验证码'" v-decorator="['captcha', {initialValue: captcha, rules: [{ required: true, message: '验证码不能为空！' }, { validator: this.handleCaptchaCheck }], validateTrigger: ['submit']}]">
                      <img slot="prefix" src="~@/assets/email.png"/>
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col class="gutter-row" :span="8">
                  <a-button
                    class="getCaptcha"
                    size="large"
                    :disabled="state.smsSendBtn"
                    @click.stop.prevent="getCaptcha"
                    v-text="!state.smsSendBtn && '获取验证码'||(state.time+' s')"></a-button>
                </a-col>
              </a-row>
              <a-form-item>
                <a-checkbox
                  style="width: 500px"
                  :checked="state.agree"
                  @change="agreementCheckbox"
                  v-decorator="[
                  'agree',
                  {initialValue: state.agree,
                    rules: [{ validator: this.checkboxChange }], validateTrigger: ['submit']}
                ]"
                >
                  同意遵守《用户协议》、《隐私协议》及《Cookie政策》
                </a-checkbox>
              </a-form-item>
            </div>
          </a-col>
        </a-row>
      </a-card>
      <!--button-->
      <div>
        <a-row>
          <a-col :span="10" :push="10">
            <a-form-item>
              <a-button class="btSubmit" size="default" type="primary" htmlType="submit">完成注册</a-button>
              <router-link class="login" :to="{ name: 'login', query: { flg: '2',  modalWidth: 450, modalHeight: {height: ''}} }">使用已有账户登录</router-link>
            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </a-form>
  </div>
</template>

<script>
    import { PageHeaderWrapper } from '@ant-design-vue/pro-layout'
    import Qs from "qs"
    import moment from "moment"
    import { mapActions } from 'vuex'
    import { scorePassword } from '@/utils/util'
    import { getSmsCaptcha} from '@/views/business/userLogin/login/LoginApi.js'
    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }

    const levelNames = {
        0: '太短',
        1: '低',
        2: '中',
        3: '强'
    }
    const levelClass = {
        0: 'error',
        1: 'error',
        2: 'warning',
        3: 'success'
    }
    const levelColor = {
        0: '#ff0000',
        1: '#ff0000',
        2: '#ff7e05',
        3: '#52c41a'
    }
    export default {
        name: 'register',

        components: {
            //所引入的组件 需要先import进来
            PageHeaderWrapper
        },
        props:{
            handleLoginCancel:{
                type:Function
            },
            showModal:{
                type:Function
            }

        },
        data () {
            //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
            return {
                form:this.$form.createForm(this),
                email: '',
                password: '',
                passwordconfrim: '',
                mobile: '',
                captcha: '',
                clickSubmit: false,
                captchaResult: false,
                agree: false,
                loading: false,
                checkEmail: null,
                checkPhone: null,
                state:{
                    agree: false,
                    time: 60,
                    level: 0,
                    smsSendBtn: false,
                    passwordLevel: 0,
                    passwordLevelChecked: false,
                    percent: 10,
                    progressColor: '#FF0000',
                    agreementError: false
                },
                inputEmail:{
                    width: "300px",
                    marginTop:"20px",
                },
                inputPassword:{
                    width: "300px"
                },
                emailErrorMessage:'请输入正确邮箱！',
                requestId: null,

            }
        },
        created() {
            if(this.$route.query.flg === '2') {
                this.email = this.$route.query.email;
                this.password = this.$route.query.password;
                this.passwordconfrim = this.$route.query.passwordconfrim;
                this.state.agree = Boolean(this.$route.query.agree);
            }
        },
        computed: {
            passwordLevelClass () {
                return levelClass[this.state.passwordLevel];
            },
            passwordLevelName () {
                return levelNames[this.state.passwordLevel];
            },
            passwordLevelColor () {
                return levelColor[this.state.passwordLevel];
            }
        },
        methods: {
            ...mapActions(['Login']),
            moment,

            // 提交表单
            handleSubmit(e) {
                e.preventDefault();
                this.clickSubmit = true;
                if(this.state.agree) {
                    this.state.agreementError = false
                } else {
                    this.state.agreementError = true
                }
                this.form.validateFields((err) => {
                    if (!err) {
                        if (null !== this.requestId && undefined !== this.requestId && '' !== this.requestId) {
                            const param = Qs.stringify({
                                email: this.email,
                                password: this.password,
                                mobile: this.mobile,
                                requestId: this.requestId,
                                captcha: this.captcha
                            })
                            this.$http.post('/register/insUserInformation', param).then(res => {
                                if (res.ret_code === '0') {
                                    this.$notification.success({
                                        message: res.ret_msg
                                    });
                                    // 注册成功跳至登录界面
                                    this.$router.push({
                                        name: 'login' ,
                                        query: {
                                            flg: '2',
                                            modalWidth: 450,
                                            modalHeight: {height: ''}
                                        }
                                    });
                                } else {
                                }
                            }).catch(
                                err => {
                                }
                            )
                        } else {
                            this.$notification.error({
                                message:'请重新获取验证码'
                            });
                        }
                    }
                });
                this.clickSubmit = false;
            },
            // 修改追加方法

            handlePasswordInputClick () {
                if (!this.isMobile) {
                    this.state.passwordLevelChecked = true
                    return
                }
                this.state.passwordLevelChecked = false
            },

            handlePasswordLevel (rule, value, callback) {
                if (value === '') {
                    return callback()
                }
                if (value.length >= 6) {
                    if (scorePassword(value) >= 30) {
                        this.state.level = 1
                    }
                    if (scorePassword(value) >= 60) {
                        this.state.level = 2
                    }
                    if (scorePassword(value) >= 80) {
                        this.state.level = 3
                    }
                } else {
                    this.state.level = 0
                    callback(new Error('密码至少6位'))
                }
                this.state.passwordLevel = this.state.level
                this.state.percent = this.state.level * 33

                callback()
            },

            // 获取验证码
            getCaptcha (e) {
                e.preventDefault()
                const { form: { validateFields }, state } = this

                validateFields(['mobile'], { force: true }, (err, values) => {
                    if (!err) {
                        state.smsSendBtn = true

                        const interval = window.setInterval(() => {
                            if (state.time-- <= 0) {
                                state.time = 60
                                state.smsSendBtn = false
                                window.clearInterval(interval)
                            }
                        }, 1000)

                        const hide = this.$message.loading('验证码发送中..', 0)
                        getSmsCaptcha(Qs.stringify({ mobile: values.mobile })).then(res => {
                            if (res.ret_code === '0') {
                                this.requestId = res.data;
                                setTimeout(hide, 2500)
                            }

                        }).catch(err => {
                            setTimeout(hide, 1)
                            clearInterval(interval)
                            state.time = 60
                            state.smsSendBtn = false
                            this.requestFailed(err)
                        })
                    }
                })
            },

            // 邮箱查重
            handleEmailCheck(rule, value, callback) {
                this.$http.post('/register/checkEmail', Qs.stringify({email:value})).then(res => {
                    this.checkEmail = res.data;
                    if(this.checkEmail !== null) {
                        callback(new Error('该邮箱已注册！'))
                    } else {
                        callback();
                    }
                }).catch(
                    err => {
                        callback();
                    }
                );
                this.email = value;
            },

            // 校验密码
            handlePasswordCheck (rule, value, callback) {
                const password = this.form.getFieldValue('password')
                if (value && password && value.trim() !== password.trim()) {
                    callback(new Error('两次密码不一致'))
                }
                this.password = value;
                callback()
            },

            // 校验手机号
            handlePhoneCheck (rule, value, callback) {
                this.$http.post('/register/checkPhone', Qs.stringify({mobile:value})).then(res => {
                    this.checkPhone = res.data;
                    if(this.checkPhone !== null) {
                        callback(new Error('该手机号已注册！'))
                    } else {
                        callback();
                    }
                }).catch(
                    err => {
                        callback();
                    }
                );
                this.mobile = value;
            },

            // 校验验证码
            handleCaptchaCheck(rule, value, callback) {
                this.captcha = value;
                callback()
            },

            // 校验协议
            checkboxChange (rule, value, callback) {
                if (this.state.agreementError && !value) {
                    callback(new Error('请仔细阅协议并勾选'))
                }
                callback()
            },

            // 协议CheckBox选择
            agreementCheckbox() {
                if (this.state.agree) {
                    this.state.agree = false
                } else {
                    this.state.agree = true
                    this.state.agreementError = false
                }
            },
        }
    }
</script>

<style lang="less" scoped>
  @import "Regist.less";
  .btSubmit{
    background-color: #00A0E9;
    color: #f7f9fa;
    font-weight: bold;
    border-radius: 20px;
  }

  .span {
    margin-left: 10px;
  }
</style>
<style lang="less">
  .user-register {

    &.error {
      color: #ff0000;
    }

    &.warning {
      color: #ff7e05;
    }

    &.success {
      color: #52c41a;
    }

  }
  .ant-input-group > .ant-input:last-child {
    /*border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;*/
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
  }
  .ant-input-group-addon:first-child {
    /*border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;*/
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .login {
    float: right;
    line-height: 40px;
  }
</style>
