<template>
  <a-row>
    <a-col :span="24">
      <span style="font-size: 22px;font-weight: 1000;color: rgba(0, 0, 0, 0.65);">{{publicationDataList.displayTitle}}</span>
      <a-row class="extra" style="margin-top: 10px;">
        <a-tag color="blue" style="border-radius: 5px;margin-right: 20px;">{{ publicationDataList.docTypeName }}</a-tag>
        <span style="color: #919fb5;margin-right: 20px;">{{ publicationDataList.year }}</span>
        <span style="color: #919fb5;margin-right: 20px;">{{ publicationDataList.venue }}</span>
      </a-row>
      <a-row class="extra" style=" margin-top: 10px;">
        <a-card style="width: 100%;margin-top:5px;">
          <template slot="title">
            论文作者：
          </template>
          <span v-for="(other,indexL) in authorInfoList" style="font-size: 15px;">
            <a :ref="authorInfoList[indexL].institutionsIndex" v-if="indexL < 5" style="margin-right: 15px;">
              <span @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="authorInfoList[indexL].institutionsIndex">{{ other.authorName }}</span>
              <sup>
                <i>
                  <span v-if="other.institutionsIndex" @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="authorInfoList[indexL].institutionsIndex" v-for="item in other.institutionsIndex.split(',').sort(function (a,b){ return a-b })">
                    {{ item }}
                  </span>
                </i>
              </sup>
            </a>
            <a :ref="authorInfoList[indexL].institutionsIndex" v-if="(indexL > 5 || indexL === 5) && showMoreUserFlg" style="margin-right: 15px;">
              <span @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="authorInfoList[indexL].institutionsIndex">{{ other.authorName }}</span>
              <sup>
                <i>
                  <span v-if="other.institutionsIndex" @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="authorInfoList[indexL].institutionsIndex" v-for="item in other.institutionsIndex.split(',').sort(function (a,b){ return a-b })">
                    {{ item }}
                  </span>
                </i>
              </sup>
            </a>
          </span>
           <span v-if="authorInfoList.length > 5">
              <a style="font-size: 14px;float: right;margin-right: 20px" @click="showMoreUser(showMoreUserFlg)">{{showMoreUserFlg?'收起':'更多'}}
                <a-icon :type="showMoreUserFlg?'caret-up':'caret-down'"/>
              </a>
          </span>
        </a-card>
      </a-row>
      <a-row v-if="institutionList.length > 0" class="extra" style=" margin-top: 5px;">
        <a-card style="width: 100%;margin-top:5px;">
          <template slot="title">
            作者机构：
          </template>
          <span v-for="(item,index) in institutionList" style="font-size: 15px;">
            <a :ref="'#'+item.institutionIndex" v-if="index < 3" style="margin-right: 15px;">
              <sup>
                <i @mouseover="highLightUser" @mouseleave="offLightUser" :id="item.institutionIndex">
                    {{ item.institutionIndex }}
                </i>
              </sup>
              <i @mouseover="highLightUser" @mouseleave="offLightUser" :id="item.institutionIndex">{{ item.institutionName }}</i>
            </a>
            <a :ref="'#'+item.institutionIndex" v-if="(index > 3 || index === 3) && showMoreInstitutionFlg" style="margin-right: 15px;">
              <sup>
                <i @mouseover="highLightUser" @mouseleave="offLightUser" :id="item.institutionIndex">
                    {{ item.institutionIndex }}
                </i>
              </sup>
              <i @mouseover="highLightUser" @mouseleave="offLightUser" :id="item.institutionIndex">{{ item.institutionName }}</i>
            </a>
          </span>
            <span v-if="institutionList.length > 3">
              <a style="font-size: 14px;float: right;margin-right: 20px" @click="showMoreInstitution(showMoreInstitutionFlg)">{{showMoreInstitutionFlg?'收起':'更多'}}
                <a-icon :type="showMoreInstitutionFlg?'caret-up':'caret-down'"/>
              </a>
          </span>
        </a-card>
      </a-row>
      <a-row>
        <a-card style="width: 100%;margin-top:10px;" >
          <template slot="title">
            论文摘要：
          </template>
          <slot>
            <a-spin :spinning="spinning">
              <!--showFlg?'publicationDataList.summary' : 'publicationDataList.summary textOVerThree'-->
              <div :class="publicationDataList.summary" style="font-size: 17px;">
                {{ publicationDataList.summary }}
              </div>
            </a-spin>
            <a-row>
              <!--<a v-if="publicationDataList.summary?(languageType === 'en'?publicationDataList.summary.length>320:publicationDataList.summary.length>150):false" style="font-size: 12px;float: right;margin-right: 20px" @click="showText(showFlg)">{{showFlg?'收起':'更多'}}-->
                <!--<a-icon :type="showFlg?'caret-up':'caret-down'"/>-->
              <!--</a>-->
              <a-button v-if="publicationDataList.summary" size="small" style="float: right; margin-right: 10px; font-size: 12px;height: 18px" @click="abstractTranslation(languageType)">
                <span v-if="languageType === 'en'">摘要翻译</span>
                <span v-else>摘要原文</span>
              </a-button>
            </a-row>
          </slot>
          <a-row :gutter="24" style="margin-top: 10px; font-size: 11px;text-align: center;">
            <a-col :span="8">
              <icon-text type="like-o" :text="publicationDataList.recommendations" />推荐
            </a-col>
            <a-col :span="8">
              <icon-text type="star-o" :text="publicationDataList.savings" />收藏
            </a-col>
            <a-col :span="8">
            <span>
              <citation style="width: 11px;height: 11px;"/>
              {{ publicationDataList.citations }}
            </span>
              引用
            </a-col>
          </a-row>
        </a-card>
      </a-row>
    </a-col>
  </a-row>
</template>

<script>
  import Qs from 'qs'
  import {getPublicationInfoByPublicationId,getAbstractTranslation} from './ArticlesShareApi'
  import ArticleListContent  from '@/components/ArticleListContent'
  import { citation } from '@/core/icons'
  import IconText from '@/views/business/components/NList/IconText'
  export default {
    components: {
      ArticleListContent,
      citation,
      IconText
    },
    data() {
      return {
        userId: '',
        publicationId: '',
        publicationDataList:[],
        showMoreUserFlg: false,
        showMoreInstitutionFlg: false,
        showFlg: false,
        languageType:'en',
        descriptionContent:'',
        descriptionContent_EN:'',
        descriptionContent_CN:'',
        languageType:'en',
        spinning: false,
        description:'',
        authorInfoList:[],
        institutionList:[],
      }
    },
    created () {
      this.userId = this.$store.getters.userId;
      this.publicationId = this.$router.history.current.query.publicationId;
      this.getSuggestedPublication();
      this.descriptionContent = this.description;
      this.descriptionContent_EN = this.description;
    },
    methods:{
      abstractTranslation(languageType) {
        if (languageType === 'en') {
          if (this.descriptionContent_CN !== '') {
            this.publicationDataList.summary = this.descriptionContent_CN;
            this.languageType = 'zh-CHS';
          } else {
            this.spinning = true;
            let param = {
              description: this.description,
              publicationId: this.publicationId
            };
            param = Qs.stringify(param);
            getAbstractTranslation(param).then(res => {
              this.publicationDataList.summary = res.data;
              this.descriptionContent_CN = res.data;
              this.languageType = 'zh-CHS';
              this.spinning = false;
            }).catch(
              err => {
                if(!err){
                  this.$notification.error({
                    message: '翻译失败'
                  })
                }

                this.spinning = false;
              }
            )
          }
        } else {
          this.publicationDataList.summary = this.descriptionContent_EN;
          this.languageType = 'en';
        }

      },
      highLightUser(e) {
        for(let key in this.$refs){
          if(key.indexOf('#')===-1){
            if(e.target.id !=='') {
              if (key.split(',').indexOf(e.target.id) !== -1) {
                for (let i of this.$refs[key]) {
                  i.style.cssText = "margin-right: 15px;color:#4dbbc6 !important"
                }
              }
            }
          }
        }
      },
      offLightUser(e) {
        for(let key in this.$refs){
          if(key.indexOf('#')===-1){
            if(e.target.id !=='') {
              if (key.split(',').indexOf(e.target.id) !== -1) {
                for (let i of this.$refs[key]) {
                  i.style.cssText = "margin-right: 15px;"
                }
              }
            }
          }
        }
      },
      highLightInstitution(e) {
        if(e.target.id !==''){
          for(let item of e.target.id.split(',')) {
            if(this.$refs[`#${item}`] && this.$refs[`#${item}`].length > 0){
              this.$refs[`#${item}`][0].style.cssText = "margin-right: 15px;color:#4dbbc6 !important"
            }
          }
        }
      },
      offLightInstitution(e) {
        if(e.target.id !=='') {
          for (let item of e.target.id.split(',')) {
            if(this.$refs[`#${item}`] && this.$refs[`#${item}`].length > 0) {
              this.$refs[`#${item}`][0].style.cssText = "margin-right: 15px;"
            }
          }
        }
      },
      showText(flg){
        this.showFlg = !flg;
      },
      showMoreInstitution(flg){
        this.showMoreInstitutionFlg = !flg;
      },
      showMoreUser(flg){
        this.showMoreUserFlg = !flg;
      },
      // 获取分享文献的信息
      getSuggestedPublication(){
        const param = Qs.stringify({userId: this.userId,publicationId: this.publicationId,});
        getPublicationInfoByPublicationId(param).then(res => {
          this.publicationDataList = res.data.list[0];
          this.description = res.data.list[0].summary;
          this.descriptionContent_EN = res.data.list[0].summary;
          this.authorInfoList = res.data.list[0].authorInfoList;
          this.institutionList = res.data.list[0].institutionList;
        }).catch(
          err => {
          }
        )
      }
    }
  }
</script>

<style lang="less" scoped>
  /*修改全局容器属性*/
  .baseContent {
    max-width: 100% !important;
    margin:0 !important;
  }
  .textOVerThree {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical
  }
</style>

<style>
  .ant-card-head-title{
    padding: 4px 0 !important;
    font-weight: normal !important;
  }
  .ant-card-head{
    padding: 0 10px !important;
    min-height: 20px;
  }
</style>