<template>

  <a-card size="small">
    <a-tree :default-expanded-keys="['0-0-0']" :selected-keys="selectedKeys" @select="onSelect" @expand="onExpand" ref="treeSelect" >
      <a-tree-node key="userFeatureResearch" title="代表性成果">
      </a-tree-node>
      <a-tree-node key="0-0-0" title="学术成果">
        <a-icon slot="switcherIcon" :type = "expanded?'caret-down':'caret-right'" style="width: 1em;height: 1em"/>
        <a-tree-node v-for="(item, index) in data" v-if="index > 0 && item.statisticsCount !== '0'" :key="item.code" :title="item.docTypeName + '(' + item.statisticsCount + ')'" />
      </a-tree-node>
      <a-tree-node v-if="userId == loginUserId" key="claimArticles" title="认领文章">
      </a-tree-node>
      <a-tree-node v-if="userId == loginUserId" key="manageAccess" title="管理文章访问权限">
      </a-tree-node>
      <a-tree-node v-if="userId == loginUserId" key="generateReport" title="生成报告" >
      </a-tree-node>

    </a-tree>
  </a-card>

</template>

<script>
import Qs from 'qs'
export default {
  name: 'UserAchievementsTree',
  props: {
    dom: {
        type: Object,
    },
    dataUrl: {
        type: String,
    },
    isUser:{
        type: String,
        default:'true'
    },
  },
  data() {
    return {
      expanded:{
        type: Boolean,
        default:true
      },
      data:[],
      userId:'',
      loginUserId:'',
      selectedKeys: ['userFeatureResearch'],
      param:[],
    };
  },

  created () {
    this.loginUserId = this.$store.getters.userId
    this.userId = this.dom.$router.history.current.query.userId;
    this.$watch('$route', (val) => {
          this.userId = val.query.userId
    })
    //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
    this.getList()
  },

  methods: {
    onSelect(selectedKeys, info) {
        if(info.selected){
          this.selectedKeys = selectedKeys;
          if(selectedKeys[0]==='claimArticles'){
              this.dom.$router.push({path:'/user/userPage/UserClaimArticles',
                  query:{
                      userId: this.userId,
                  }})
          }else if(selectedKeys[0]==='manageAccess'){
              this.dom.$router.push({path:'/user/userPage/UserManageAccess',
                  query:{
                      userId: this.userId,
                  }})
          }else if(selectedKeys[0]==='generateReport'){
              this.dom.$router.push({path:'/user/userPage/UserGenerateReport',
                  query:{
                      userId: this.userId,
                  }})
          }else if(selectedKeys[0]==='userFeatureResearch'){
                  let param = {
                      userId: this.userId,
                      index: 1,
                      rows: 999
                  }
                  this.$emit('getNList', param, '/userSummary/getUserFeatureResearchList')
          }else if(selectedKeys[0]==='0-0-0'){
              let param = {
                  userId: this.userId,
                  isUser: this.isUser,
                  code: "all,all",
                  index: 1,
                  rows: 5
              }
              this.$emit('getNList', param, '/userAchievements/getUserAchievementsList')
          } else {
            let param = {
                userId: this.userId,
                isUser: this.isUser,
                code: selectedKeys[0],
                index: 1,
                rows: 5
            }
              this.$emit('getNList', param, '/userAchievements/getUserAchievementsList')
          }
        }
    },
    onExpand(expandedKeys ,{expanded, node}) {
      this.expanded = expanded;
    },
    //方法，一般用来做提交表单一类的操作，类似于void方法，不用return
    getList () {
      const param = Qs.stringify({userId:this.userId});
      this.$http.post(this.dataUrl,param).then(res => {
        this.data = res.data
        this.loading = false
      }).catch(
        err => {
          this.loading = false
        }
      )
    },
  },
};
</script>

<style scoped>

</style>