<template>
<div>
  <a-row :gutter="30">
    <a-col span="8">
      <user-achievements-tree ref="tree" :dom="this" @getNList="getNlist" :dataUrl="'/userAchievements/getUserAchievementsStatistics'" />
    </a-col>
    <a-col span="16" aria-rowspan="4" v-if="showList">
      <n-list ref="articleList" :dataUrl="dataUrl" :home="false"
              :searchBar="!userFeatureResearch" :hasPagination="!userFeatureResearch" :sortBar="!userFeatureResearch" :parameters="this.param" :hasPadding="true"
              :minHeight="'600px'"
              :hasPaddingV="true" />
    </a-col>
    <a-col span="16" aria-rowspan="4" v-if="!showList">
      <router-view  />
    </a-col>
  </a-row>
</div>
</template>

<script>
import NList from '@/views/business/components/NList/NList'
import UserAchievementsTree from '@/views/business/user/userFrame/achievements/UserAchievementsTree'
export default {
  name: 'UserAchievements',
  'components': {
    //所引入的组件 需要先import进来
    NList,
    UserAchievementsTree
  },
  provide (){
    return {
      reload:this.reload
    }
  },
  created(){
      this.loginUserId = this.$store.getters.userId
      this.userId = this.$router.history.current.query.userId
      this.isUser = this.$router.history.current.query.isUser ? this.$router.history.current.query.isUser : 'true'

      if(this.$route.name === 'UserAchievements' || this.$route.name === 'ScholarAchievements'){
          this.showList= true
      }else {
          this.showList= false
      }
      this.$watch('$route', (val) => {
          if(val.name === 'UserAchievements' || val.name === 'ScholarAchievements'){
              this.showList= true
              this.userId = val.query.userId
              this.isUser = val.query.isUser ? val.query.isUser : 'true'
          }else {
              this.showList= false
          }
      })
  },
  mounted(){
      this.userFeatureResearch = true;
  },
  data() {
    return {
      showLine: true,
      showList: true,
      showIcon: false,
      param: {
        userId: this.$router.history.current.query.userId,
        code: 'all,all',
        index: 1,
        rows: 5
      },
      isRouterAlive:true,
      userId:'',
      loginUserId:'',
      isUser:'true',
      userFeatureResearch:false,
      dataUrl:'/userSummary/getUserFeatureResearchList'

    };
  },
  methods:{
    reload (){
      this.isRouterAlive = false
      this.$nextTick(function(){
        this.isRouterAlive = true
      })
    },
    getNlist(param, dataUrl) {
      if (!this.showList) {
        this.param = param
        this.$router.push({path:'/user/userPage/UserAchievements',
          query:{
            userId: this.userId,
          }})
      } else {
        this.dataUrl = dataUrl;
        if(dataUrl === '/userSummary/getUserFeatureResearchList'){
            this.userFeatureResearch = true;
        } else {
            this.userFeatureResearch = false;
        }
        this.$refs.articleList.getList(param, dataUrl)
      }
    }
  },
}
</script>

<style scoped>

</style>