<template>
  <div class="main" id="resetpassword">
    <h3 class="title">{{title}}</h3>
    <!--<a-icon v-if="pageFlg !== 'AvatarDropdown'" class="back" type="arrow-left"  @click="backLogin" />-->
    <div v-if="pageFlg !== 'AvatarDropdown'" class="back" @click="backLogin">
      <a-icon type="left" />
      <span>返回</span>
    </div>
    <a-form
      :form="form"
      @submit="handleSubmit"
    >
      <a-form-item >
        <!--<a-icon type="mobile" :style="{ color: 'rgba(0,0,0,.25)' }"/>-->
        <!--
          size="small"
          style="width: 250px; margin-left: 6px; border-radius: 25px;"
        -->
        <a-input
          size="large"
          type="text"
          style="width: 327px; border-radius: 25px; background: #f5f6f6;"
          placeholder="请输入您的手机号"
          oninput="value=value.replace(/[^\d]/g,'')"
          @change="onEvent"
          @blur="onEvent"
          v-decorator="['mobile', {initialValue: mobile, rules: [{ validator: this.handleMobileCheck}], validateTrigger: ['blur', 'change']}]"
        >
          <a-select slot="addonBefore" size="small" defaultValue="+86" style="width: 69px;">
            <a-select-option value="+86">+86</a-select-option>
          </a-select>
        </a-input>
      </a-form-item>
      <a-form-item style="margin-top: 8px;">
        <!--<a-icon type="lock" :style="{ color: 'rgba(0,0,0,.25)' }"/>-->
        <!--
          size="small"
          style="width: 250px; margin-left: 6px;"
          placeholder="请输入您的密码"
        -->
        <a-input-password
          id="password"
          size="large"
          style="width: 327px;"
          type="text"
          placeholder="请输入新密码"
          oninput="value=value.replace(/\s+/g,'')"
          @change="onEvent"
          @blur="onEvent"
          v-decorator="['password', {initialValue: password, rules: [{ validator: this.handlePasswordCheck}], validateTrigger: ['blur','change']}]">
        </a-input-password>
      </a-form-item>
      <a-form-item style="margin-top: 8px;">
        <!--<a-icon type="safety-certificate" :style="{ color: 'rgba(0,0,0,.25)' }"/>-->
        <!--
          size="small"
          style="width: 250px; margin-left: 6px;"
          placeholder="请输入您的密码"
        -->
        <a-input-password
          id="passwordConfirm"
          size="large"
          style="width: 327px;"
          type="text"
          placeholder="请确认密码"
          oninput="value=value.replace(/\s+/g,'')"
          @change="onEvent"
          @blur="onEvent"
          v-decorator="['passwordConfirm', {initialValue: passwordConfirm, rules: [{ validator: this.handlePasswordConfirmCheck}], validateTrigger: ['blur','change']}]">
        </a-input-password>
      </a-form-item>
      <a-form-item style="margin-top: 8px;">
        <!--<a-icon type="mail" :style="{ color: 'rgba(0,0,0,.25)' }"/>-->
        <!--
          size="small"
          style="width: 175px; margin-left: 6px; border-radius: 25px;"
          placeholder="请输入您收到的验证码"
        -->
        <a-input
          size="large"
          style="width: 216px; border-radius: 2px;"
          type="text"
          placeholder="请输入验证码"
          oninput="value=value.replace(/[^\d]/g,'')"
          @change="onEvent"
          @blur="onEvent"
          v-decorator="['captcha', {initialValue: captcha, rules: [{ validator: this.handleCaptchaCheck}], validateTrigger: ['blur','change']}]">
        </a-input>
        <!--size="small"-->
        <a-button
          class="getCaptcha"
          tabindex="-1"
          :disabled="state.captchaBtn"
          @click.stop.prevent="getCaptcha"
          v-text="!state.smsSendBtn && '获取验证码' || state.smsSendBtn && (state.time+'秒后重发')"
          size="large"
          type="primary"
        ></a-button>
      </a-form-item>
      <a-form-item style="margin-top:24px">
        <!--&gt;立即重置</a-button>-->
        <a-button
          type="primary"
          htmlType="submit"
          class="login-button"
          :loading="state.loginBtn"
          :disabled="loginBtn"
        >{{btnContent}}</a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>

    import { getSmsCaptcha } from '../login/LoginApi.js'
    import { mapActions } from 'vuex'
    import Qs from 'qs'

    export default {
        name: "resetPassword",
        props: {
            handleLoginCancel:{
                type:Function,
                default:function () {

                }
            },
            pageFlg: {
                type: String,
                default: 'login'
            },
            passwordTitleFlg:{
                type: String,
                default: 'resetPassword'
            },
            showRegistModal:{
                type: Function
            },
            loginForm: {
                type: Object
            },
            routerIndexFlg: {
                type: Boolean
            }
        },
        data () {
            return {
                errorMsg: '',
                routePath:'/',
                loginBtn: true,
                // login type: 0 email, 1 username, 2 telephone
                isLoginError: false,
                requiredTwoStepCaptcha: false,
                stepCaptchaVisible: false,
                form: this.$form.createForm(this),
                state: {
                    captchaBtn: true,
                    time: 60,
                    loginBtn: false,
                    // login type: 0 email, 1 username, 2 telephone
                    loginType: 0,
                    smsSendBtn: false
                },
                captchaResult: false,
                clickSubmit: false,
                requestId: '',
                mobile: '',
                captcha: '',
                agree: false,
                mobileValidateFlg: false,
                captchaValidateFlg: false,
                eventType: '',
                password: '',
                passwordConfirm: '',
                passwordConfirmValidateFlg: '',
                title: '重置密码',
                btnContent: '立即重置'
            }
        },
        created () {
            if (this.passwordTitleFlg === 'resetPassword') {
                // this.title = '重置密码'
                this.title = '密码重置'
                this.btnContent = '立即重置'
            } else {
                this.title = '设置密码'
                this.btnContent = '确认'
            }
            this.mobile = this.$route.params.mobile;
            this.$watch('$route', (val) => {
                this.mobile = val.params.mobile;
            })
        },

        methods: {
            ...mapActions(['Login', 'Logout']),
            handleSubmit (e) {
                e.preventDefault()
                const {
                    form: { validateFields },
                    state,
                    Login
                } = this

                state.loginBtn = true
                let validateFieldsKey =  ['mobile', 'password', 'passwordConfirm', 'captcha']
                this.clickSubmit = true;
                validateFields(validateFieldsKey, { force: true }, (err, values) => {
                    if (!err) {
                        if (null !== this.requestId && undefined !== this.requestId && '' !== this.requestId) {
                            const param = Qs.stringify({
                                captcha:this.captcha,
                                mobile:this.mobile,
                                loginFlg: 'phone',
                                requestId:this.requestId,
                                password:this.password,
                            });
                            this.$http.post('/login/resetPassword', param).then(res => {
                                if (res.ret_code === '0') {
                                    this.$notification.success({
                                        message: res.ret_msg
                                    });
                                    if (this.pageFlg === 'login') {
                                        // this.$router.push({ path: '/index/login',query:{customActiveKey: 'tab3'} } );
                                        Login(param)
                                            .then((res) => {
                                                if (res.ret_code === '0') {
                                                    this.loginSuccess(res)
                                                }
                                            })
                                            .catch(err => {this.requestFailed(err)})
                                            .finally(() => {
                                                state.loginBtn = false
                                            })
                                    } else if (this.pageFlg === 'routerNotIndex') {
                                        this.showRegistModal(true);
                                    } else {
                                        this.$store.dispatch('Logout').then(() => {
                                            // this.$store.dispatch('changeVisible', true)
                                            this.$router.push({ path: '/index' });
                                        })
                                        // Login(param)
                                        //     .then((res) => {
                                        //         if (res.ret_code === '0') {
                                        //             this.loginSuccess(res)
                                        //         }
                                        //     })
                                        //     .catch(err => {this.requestFailed(err)})
                                        //     .finally(() => {
                                        //         state.loginBtn = false
                                        //     })
                                    }
                                }
                            }).catch(
                                err => {
                                    if (err.ret_code === '20106' || err.ret_code === '20107' || err.ret_code === '20108') {
                                        this.form.setFields({
                                            "mobile": {
                                                "errors": [new Error(err.ret_msg)]
                                            }
                                        });
                                    }
                                }
                            );
                        } else {
                            this.form.setFields({
                                "captcha": {
                                    "errors": [new Error('请重新获取验证码')]
                                }
                            });
                        }

                    } else {
                        setTimeout(() => {
                            state.loginBtn = false
                        }, 600)
                    }
                });
                this.clickSubmit = false;
                state.loginBtn = false
            },

            onEvent(e){
                this.eventType = e.type;
            },

            getCaptcha (e) {
                e.preventDefault()
                const { form: { validateFields }, state } = this
                validateFields(['mobile'], { force: true }, (err, values) => {
                    if (!err) {
                        state.smsSendBtn = true
                        state.captchaBtn = true;
                        const interval = window.setInterval(() => {
                            if (state.time-- <= 0) {
                                state.time = 60
                                state.smsSendBtn = false;
                                state.captchaBtn = false;
                                window.clearInterval(interval)
                            }
                        }, 1000)

                        const hide = this.$message.loading('验证码发送中..', 0)
                        let type = "";
                        if (this.passwordTitleFlg === 'resetPassword') {
                            type = "resetPass";
                        } else {
                            type = "firstSetPass";
                        }
                        getSmsCaptcha(Qs.stringify({ mobile: values.mobile, type })).then(res => {
                            this.requestId = res.data;
                            setTimeout(hide, 2500)
                        }).catch(err => {
                            setTimeout(hide, 1)
                            clearInterval(interval)
                            state.time = 60
                            state.smsSendBtn = false
                            state.captchaBtn = false;
                            this.requestFailed(err)
                        })
                    }
                })
            },

            // 手机号校验
            handleMobileCheck (rule, value, callback) {
                this.mobile = value;
                let reStr = /^1[34578]/;
                if(this.eventType === 'input'){
                    if (value.length >= 3 && !reStr.test(value) || value.length > 11) {
                        this.state.captchaBtn = true;
                        this.mobileValidateFlg = false;
                        callback(new Error('手机号格式错误！'))
                    } else {
                        if (value.length === 11 && reStr.test(value)) {
                            this.state.captchaBtn = false;
                        } else {
                            this.state.captchaBtn = true;
                        }
                        this.mobileValidateFlg = true;
                        callback()
                    }
                } else {
                    if (value.length !== 11) {
                        this.state.captchaBtn = true;
                        this.mobileValidateFlg = false;
                        callback(new Error('手机号格式错误！'))
                    } else {
                        if (!this.state.smsSendBtn) {
                            this.state.captchaBtn = false;
                        }

                        // 登录状态下重置密码验证手机号是否为当前登录手机号
                        if(this.$store.getters.userId) {
                            const param = Qs.stringify({
                                mobile:this.mobile,
                                userId: this.$store.getters.userId
                            });

                            this.$http.post('/login/checkResetPasswordMobole', param).then(res => {
                                if (res.ret_code === '0') {
                                    let data = res.data;
                                    console.log(data)
                                    if (!data) {
                                        console.log(!data)
                                        callback(new Error('只允许修改当前登录手机号！'))
                                    } else {
                                        callback()
                                    }
                                }
                            }).catch(
                                err => {
                                }
                            );
                        } else {
                            callback()
                        }

                        this.mobileValidateFlg = true;
                    }
                }
                if (this.captchaValidateFlg && this.mobileValidateFlg && this.passwordConfirmValidateFlg && this.passwordValidateFlg) {
                    this.loginBtn = false;
                } else {
                    this.loginBtn = true;
                }
            },

            // 校验密码
            handlePasswordCheck (rule, value, callback) {
                this.password = value;
                if(this.eventType === 'blur'){
                    if (value.length < 6) {
                        this.passwordValidateFlg = false;
                        callback(new Error('密码长度6-20位！'));
                    } else {
                        this.passwordValidateFlg = true;
                    }
                } else {
                    if (value.length > 20) {
                        this.passwordValidateFlg = false
                        callback(new Error('密码长度6-20位！'));
                    }
                }
                if (this.captchaValidateFlg && this.mobileValidateFlg && this.passwordConfirmValidateFlg && this.passwordValidateFlg) {
                    this.loginBtn = false;
                } else {
                    this.loginBtn = true;
                }

                callback()
            },

            // 校验确认密码
            handlePasswordConfirmCheck (rule, value, callback) {
                this.passwordConfirm = value;
                if(this.eventType === 'blur'){
                    const password = this.form.getFieldValue('password')
                    if (value && password && value.trim() !== password.trim() || value.length === 0) {
                        this.passwordConfirmValidateFlg = false;
                        callback(new Error('两次密码输入不一致！'))
                    } else {
                        this.passwordConfirmValidateFlg = true;
                    }
                }

                if (this.captchaValidateFlg && this.mobileValidateFlg && this.passwordConfirmValidateFlg && this.passwordValidateFlg) {
                    this.loginBtn = false;
                } else {
                    this.loginBtn = true;
                }
                callback()
            },

            // 校验验证码
            handleCaptchaCheck (rule, value, callback) {
                this.captcha = value;
                if(this.eventType === 'blur'){
                    if (value.length < 6) {
                        this.captchaValidateFlg = false;
                        callback(new Error('验证码格式错误！'))
                    } else {
                        this.captchaValidateFlg = true;
                    }
                } else {
                    if (value.length > 6) {
                        this.captchaValidateFlg = false;
                        callback(new Error('验证码格式错误！'))
                    } else {
                        this.captchaValidateFlg = true;
                    }
                }

                if (this.captchaValidateFlg && this.mobileValidateFlg && this.passwordConfirmValidateFlg && this.passwordValidateFlg) {
                    this.loginBtn = false;
                } else {
                    this.loginBtn = true;
                }
                callback()
            },
            backLogin() {
                if (this.$route.fullPath.indexOf("index") !== -1){
                    this.mobile = '';
                    this.captcha = '';
                    this.password = ''
                    this.passwordConfirm = '';
                    this.form.resetFields();
                    this.$router.go(-1);
                } else {
                    this.showRegistModal(true, {
                        form: this.loginForm,
                        routerIndexFlg: this.routerIndexFlg,
                        forgetPasswordBack: '1'
                    });
                }
            },
            loginSuccess (res) {
                this.handleLoginCancel()
                this.$router.push({ path: this.routePath })
                this.isLoginError = false
                window.location.reload();
            },
            requestFailed (err) {
                if(err){
                    if (err.ret_code === '20104' || err.ret_code === '20105') {
                        this.form.setFields({
                            "captcha": {
                                "errors": [new Error(err.ret_msg)]
                            }
                        });
                    } else if (err.ret_code === '20106' || err.ret_code === '20107') {
                        this.form.setFields({
                            "mobileTab3": {
                                "errors": [new Error(err.ret_msg)]
                            }
                        });
                    } else if (err.ret_code === '20108') {
                        this.form.setFields({
                            "mobileTab3": {
                                "errors": [new Error(err.ret_msg)]
                            }
                            // "password": {
                            //     "errors": [new Error(err.ret_msg)]
                            // }
                        });
                    } else {
                        this.errorMsg = err.message
                    }
                } else {
                    this.errorMsg = "服务器错误，请联系管理员。"
                }
                this.isLoginError = true
            },
        }
    }
</script>

<style lang="less" scoped>
  .title {
    text-align: center;
    /*font-weight: 700;*/
    /*height: auto;*/
    height: 33px;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    line-height: 33px;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  /deep/.ant-form-item {
    text-align: center;
    margin-bottom: 0px;
    line-height: 1;
    height: 56px;
  }
  /deep/.ant-form-item input {
    font-size: 13px;
    background: #f5f6f6;
  }
  /deep/#password {
    /*width: 250px;*/
    /*border-radius: 25px;*/
    border-radius: 2px;
  }
  /deep/#passwordConfirm {
    /*width: 250px;*/
    /*border-radius: 25px;*/
    border-radius: 2px;
  }
  .getCaptcha {
    border: none;
    /*border-radius: 25px;*/
    border-radius: 2px;
    /*margin-top: 7px;*/
    /*font-size: 11px;*/
    /*margin-left: 6px;*/
    font-size: 13px;
    width: 103px;
    margin-left: 8px;
  }
  .login-button {
    /*border-radius: 25px;*/
    border-radius: 2px;
    text-align: center;
    /*width: 240px;*/
    width: 327px;
    height: 48px;
    margin-top: 22px;
    font-size: 15px;
  }
  .login-button[disabled] {
    color: #FFFFFF !important;
    background-color: #4dbbc6 !important;
    border-color: #4dbbc6 !important;
    opacity: 0.4;
  }
  /deep/.ant-select-selection__rendered {
    margin-left: 12px;
  }
  /deep/.ant-form-explain {
    /*padding-left: 35px;*/
    text-align: left;
    font-size: 12px;
    margin-top: 8px;
  }
  .back {
    position: absolute;
    top: 22px;
    left: 22px;
    cursor: pointer;
  }
  .back span {
    margin-left: 5px;
  }
</style>
