<template>
  <div>
    <a-row :gutter="36">
      <a-col :span="8">
        <user-favorites-tree
          ref="userFavoritesTree" v-if="$refs.userFavoritesList" :userFavoritesList="$refs.userFavoritesList" @onSelectFolder="onSelectFolder"></user-favorites-tree>

        <a-card title="星级" :bodyStyle="{'padding-top':'8px','padding-bottom':'0','margin-left':'8px'}" size="small" :bordered="false">
          <a-checkbox-group v-if="$refs.userFavoritesList" :disabled="$refs.userFavoritesList.loading?$refs.userFavoritesList.loading:false" @change="rateOnChange">
            <a-row>
              <a-col :span="24">
                <a-checkbox value="1">
                  <a-icon type="star" theme="filled" />
                </a-checkbox>
              </a-col>
              <a-col :span="24">
                <a-checkbox value="2">
                  <a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" />
                </a-checkbox>
              </a-col>
              <a-col :span="24">
                <a-checkbox value="3">
                  <a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" />
                </a-checkbox>
              </a-col>
              <a-col :span="24">
                <a-checkbox value="4">
                  <a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" />
                </a-checkbox>
              </a-col>
              <a-col :span="24">
                <a-checkbox value="5">
                  <a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" /><a-icon type="star" theme="filled" />
                </a-checkbox>
              </a-col>
            </a-row>
          </a-checkbox-group>
        </a-card>

        <a-card title="标签" :bodyStyle="{'padding-top':'8px','padding-bottom':'0','margin-left':'8px','height':'450px'}" size="small" :bordered="false">
          <div class="filedSelect">
            <a-checkbox-group style="width: 100%;" v-if="$refs.userFavoritesList" :disabled="$refs.userFavoritesList.loading?$refs.userFavoritesList.loading:false" @change="tagOnChange">
                <a-list :data-source="userLibraryLabelInfoList">
                    <a-list-item slot="renderItem" slot-scope="item, index">
                        <a-checkbox :value="item.labelId">
                          {{item.labelName}}
                        </a-checkbox>
                    </a-list-item>
                </a-list>
            </a-checkbox-group>
          </div>
        </a-card>
      </a-col>
      <a-col :span="16">
        <n-list
          ref="userFavoritesList"
          :dataUrl="'/userFavorites/userFavoritesPublication'"
          :parameters="{
            userId,
            folderId,
            index:1,
            rows:5
          }"
          :initSortColumns="'2'"
          :home="false"
          :searchBar="true"
          :hasPadding="true"
          :hasPaddingV="true"
          :userFavouritesFlg="true"
          :rateFlg="true"
          :tagFlg="true"
          :defaultSearchLabel="userLibraryLabelInfoList"
          @getUserLibraryLabelInfoList = "getList"
          @onSelectFolder="onSelectFolder"
          @getTreeList="getTreeList"
          :folderId="folderId"
        />
      </a-col>
    </a-row>
  </div>
</template>

<script>
//引入API 组件等等
//vuex辅助函数
import Qs from 'qs'
import  NList  from '@/views/business/components/NList/NList'
import UserFavoritesTree from '@/views/business/user/userFrame/favorites/UserFavoritesTree'
import NPublicationReader from '@/views/business/components/NPublicationReader/NPublicationReader'
import {getUserLibraryLabelInfoList} from './UserFavoritesApi'
import  NTagBar  from '@/views/business/components/NList/NTagBar'

export default {
  name: 'UserFavorites',
  components: {
    //所引入的组件 需要先import进来
    NList,
    UserFavoritesTree,
    NPublicationReader,
    NTagBar
  },
  provide (){
      return {
          reload:this.reload
      }
  },
  data () {
    //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {
      userId: '',
      checked1: false,
      checked2: false,
      checked3: false,
      pdfFullPath:"",
      userLibraryLabelInfoList: [],
      publicationGrades:"",
      labelIds:"",
      folderId:-3,
      timeout:1
    }
  },
  created () {
    //初始化所需操作（页面渲染前），调用API取下拉框数据等，此时dom对象不存在，不能操作dom对象，可以操作一些data
    this.userId = this.$store.getters.userId
    this.getList();
  },
  watch: {
      publicationGrades: function () {
          this.timeout = 1;
          clearInterval(this.timer);
          this.timer = setInterval(() => {
              this.timeout+=500;
          }, 500)
      },
      labelIds: function () {
          this.timeout = 1;
          clearInterval(this.timer);
          this.timer = setInterval(() => {
              this.timeout+=500;
          }, 500)
      },
      timeout: function (timeout) {
          if(timeout > 1000){
              let params = {
                  publicationGrades: this.publicationGrades,
                  labelIds: this.labelIds
              };
              this.$refs.userFavoritesList.getList(params);
              this.timeout = 1;
              clearInterval(this.timer);
          }
      },

  },
  methods: {
    getList() {
        const that = this;
        let param = {
            userId: this.userId,
        };
        param = Qs.stringify(param)
        // 左侧标签列表获取
        getUserLibraryLabelInfoList(param).then(res => {
            that.userLibraryLabelInfoList = res.data;

        })
    },
    getTreeList() {
        this.$refs.userFavoritesTree.getList();
    },
    rateOnChange(checked) {
        let publicationGrades = '';
        for(let item of checked){
            publicationGrades = publicationGrades + item + ','
        }
        publicationGrades = publicationGrades.substring(0, publicationGrades.lastIndexOf(','));
        this.publicationGrades = publicationGrades;
    },
    tagOnChange(checked) {
        let labelIds = '';
        for(let item of checked){
            labelIds = labelIds + item + ','
        }
        labelIds = labelIds.substring(0, labelIds.lastIndexOf(','));
        this.labelIds = labelIds;
    },
    onSelectFolder(folderId) {
        let params = {
            publicationGrades: this.publicationGrades,
            labelIds: this.labelIds,
            folderId: this.folderId
        };
        if (folderId) {
            params = {
                ...params,
                folderId
            }
            this.folderId = folderId;
        }
        this.$refs.userFavoritesList.getList(params);
    }
  },
}
</script>

<style>
.filedSelect {
  overflow: hidden;
  height: 420px;
}

.filedSelect:hover {
  overflow: auto;
}

.ant-list-item {
  padding: 0 0;
}

.ant-card {
  margin-bottom: 10px !important;
}
</style>