<template>
  <a-card size="small" class="aTree">
    <a-tree v-if="treeData.length > 0"
            ref="folderTree"
            :tree-data="treeData"
            :default-expand-all="true"
            show-icon
            :auto-expand-parent="true"
            :selectable="!userFavoritesList.loading"
            @select="onSelect"
    >
      <template #title="{ key: treeKey, title, parentFolderId, children, isSysFolder, dispOrder}">
        <a-dropdown :trigger="['contextmenu']">
          <span>
            <a-icon type="folder" />
            {{ title }}
          </span>
          <template #overlay>
            <a-menu @click="({ key: menuKey }) => onContextMenuClick(treeKey, menuKey, title, parentFolderId, children)">
              <a-menu-item v-if="isSysFolder === '1' || ( isSysFolder === '0' && dispOrder === 0 )" key="1">新增</a-menu-item>
              <a-menu-item v-if="isSysFolder === '1'" key="2">修改</a-menu-item>
              <a-menu-item v-if="isSysFolder === '1'" key="3">删除</a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </template>
    </a-tree>
    <user-folder-modal
      ref="userFolderModal"
      menuKey="menuKey"
      @getList="getList"
    />
    <a-modal
      title="删除收藏夹"
      centered
      :width="400"
      :visible="delConfirm"
      :confirm-loading="confirmLoading"
      @cancel="onCancel"
    >
      <p style="font-size: 13px; text-align: center;">删除后，文件夹“{{title}}”的全部内容将被移入"未分类"</p>
      <template slot="footer">
        <div style="text-align: center; height: 70px; padding: 17.5px;">
          <a-button shape="round" @click="onOk" style="width: 130px; height: 35px; margin-right: 10px;">
            确定
          </a-button>
          <a-button key="back" @click="onCancel" type="primary" style="width: 130px; height: 35px;">
            取消
          </a-button>
        </div>
      </template>
    </a-modal>
  </a-card>
</template>
<script>
import Qs from 'qs'
import { Modal } from 'ant-design-vue'
import{getCollectList,insertCollect,updateCollect,deleteCollect} from './UserFavoritesApi'
import UserFolderModal from '@/views/business/user/userFrame/favorites/UserFolderModal'

export default {
    name: 'UserFavoritesTree',
    components: {
        //所引入的组件 需要先import进来
        UserFolderModal
    },
    emit:["onSelectFolder"],
    props: {
        userFavoritesList:{
            type: Object,
            default: ()=> {}
        }
    },
    data() {
        return {
            treeData: [],
            expandedKeys: [],
            iconType: 'folder',
            title: '',
            menuKey:'',
            treeKey: '',
            delConfirm: false,
            confirmLoading: false,
        };
    },
    created() {
        this.userId = this.$store.getters.userId
        this.getList();
    },
    methods: {
        getList(){
            const that = this;
            this.treeData = [];
            let param = {
                userId: this.userId,
            };
            param = Qs.stringify(param);
            // 获取收藏夹列表
            getCollectList(param).then(res => {
                if (res.data && res.ret_code ==="0") {
                    that.treeData = res.data;
                }
            })
        },
        onContextMenuClick(treeKey, menuKey, title, parentFolderId, children) {
            this.title = title;
            this.treeKey = treeKey;
            let param = {
                userId: this.userId,
                treeKey,
                title,
                parentFolderId
            };

            if(menuKey !== "3"){
                this.$refs.userFolderModal.showModal(menuKey, param);
            } else {
                this.delConfirm = true;
            }
        },
        onOk() {
            let params = {
                userId: this.userId,
                folderId: this.treeKey,
            };
            params = Qs.stringify(params);
            deleteCollect(params).then(res => {
                if(res.ret_code === "0"){
                    if(res.data > 0){
                        this.$notification.success({
                            top:"100px",
                            message: '删除成功',
                            duration: 3
                        });
                        this.getList();
                        this.$emit("onSelectFolder");
                        this.delConfirm = false;
                    }
                } else {
                    this.$notification.error({
                        top: "100px",
                        message: res.ret_msg,
                        duration: 3
                    });
                }
            })
        },
        onCancel() {
            this.delConfirm = false;
        },
        onSelect(keys, event) {
            if (keys.length>0) {
                if (event.selectedNodes[0].data.props.isSysFolder === "0") {
                    switch (event.selectedNodes[0].data.props.dispOrder) {
                        case 0:
                            this.$emit("onSelectFolder", keys[0]);
                            break;
                        case 1:
                            this.$emit("onSelectFolder", -1);
                            break;
                        case 2:
                            this.$emit("onSelectFolder", -2);
                            break;
                    }
                } else {
                    this.$emit("onSelectFolder", keys[0]);
                }

            } else {
                this.$emit("onSelectFolder", -3);
            }
        }
    },
};
</script>

<style scoped>

.aTree {
  height: 60vh;
  overflow: scroll;
  overflow: hidden;
}
.aTree:hover {
  overflow: auto;
}

</style>