<template>
  <div>
    <a-modal
      :title="title"
      centered
      :okText="okText"
      :visible="visible"
      :width="modalWidth"
      :bodyStyle="bodyStyle"
      :confirm-loading="confirmLoading"
      :destroyOnClose="true"
      @ok="handleOk"
      @cancel="handleCancel"
    >
      <a-row style="margin-top: -10px;margin-bottom: 10px">
        <a-form :form="form">

          <a-form-item
            hasFeedback
          >
            <a-input
              placeholder="文件夹名称"
              v-decorator="[ 'folderName',{ initialValue: folderName ,rules: [{ required: true, message: '请输入文件夹名称', whitespace: true}]} ]"
            />
          </a-form-item>
        </a-form>
      </a-row>
    </a-modal>
  </div>
</template>

<script>
  import Qs from 'qs'
  import{insertCollect,updateCollect,deleteCollect} from './UserFavoritesApi'

  export default {
    name: "UserFolderModal",
    components: {
      //所引入的组件 需要先import进来
    },
    emit:["getList","getTreeList"],
    props: {
      modalWidth:{
        type: Number
      },
      bodyStyle:{
        type: Object
      },
      userFavouritesFlg:{
          type: Boolean,
          default: false
      }
    },
    data() {
      return {
        visible: false,
        okText:"保存",
        folderName:"",
        treeKey: "",
        title:"",
        confirmLoading:false,
        form: this.$form.createForm(this),
      }
    },
    created() {
      this.userId = this.$store.getters.userId;
    },
    methods: {
        showModal(menuKey, param) {
            this.menuKey = menuKey;
            this.treeKey = param.treeKey;
            this.parentFolderId = param.parentFolderId;
            if(menuKey === "1"){
                this.title = "新建文件夹"
            }else if(menuKey === "2"){
                this.folderName = param.title;
                this.title = "修改文件夹"
            }
            this.visible = true;
        },
        handleOk(e) {
            this.confirmLoading = true;
            const { form: { validateFields } } = this;
            validateFields((err, values) => {
                if (!err) {
                    let param = {
                        userId: this.userId,
                        folderId: this.treeKey,
                        parentFolderId: this.parentFolderId,
                        folderName: values.folderName.trim()
                    };
                    param = Qs.stringify(param)
                    if(this.menuKey === "1"){
                        insertCollect(param).then(res => {
                            if(res.ret_code === "0"){
                                if(res.data > 0){
                                    this.$notification.success({
                                        top:"100px",
                                        message: '新增成功',
                                        duration: 3
                                    });
                                    this.$emit("getList");
                                    if(this.userFavouritesFlg){
                                        this.$emit("getTreeList");
                                    }
                                }
                            } else {
                                this.$notification.error({
                                    top: "100px",
                                    message: res.ret_msg,
                                    duration: 3
                                });
                            }
                        });
                    }else if(this.menuKey === "2"){
                        updateCollect(param).then(res => {
                            if(res.ret_code === "0") {
                                if (res.data > 0) {
                                    this.$notification.success({
                                        top: "100px",
                                        message: '修改成功',
                                        duration: 3
                                    });
                                    this.$emit("getList");
                                    if(this.userFavouritesFlg){
                                        this.$emit("getTreeList");
                                    }
                                }
                            } else {
                                this.$notification.error({
                                    top: "100px",
                                    message: res.ret_msg,
                                    duration: 3
                                });
                            }
                        });
                    }
                }

                this.folderName = "";
                this.confirmLoading = false;
                this.visible = false;
            });
        },
        handleCancel(e) {
            this.folderName = "";
            this.visible = false;
        },
    },
  }
</script>