<template>
  <page-header-wrapper
    :tab-list="tabList"
    :tab-active-key="tabActiveKey"
    :tab-change="handleTabChange"
    :breadcrumb="false"
    :title="false"
  >
    <template v-slot:content >
      <a-card size="small" :loading="infoLoading" :bordered="false" style="padding-left: 25px">
        <a-row class="title">
          <a-col :span="2" >
            <user-img :userImg="avatar" :width="'85px'" :height="'85px'" />
          </a-col>
          <a-col :span="20" style="padding-left: 10px">
            <h2>{{name}}
<!--              <a-tag color="orange" v-if="userInfo.tiaUserId !== undefined && userInfo.tiaUserId !== null && userInfo.tiaUserId !== ''" style="margin-left: 50px; font-size: 14px;">在演示版中此学者论文收录不全</a-tag>-->
            </h2>
            <a-row style="font-size: 12px">{{userInfo.currentPosition}}<span v-if="userInfo.currentPosition && userInfo.institutionName">，</span>{{userInfo.institutionName}}</a-row>
          </a-col>
          <a-col :span="2">
<!--            <a-button v-if="userInfo.contactBtnFlg === '1'" block type="primary" icon="phone" style="margin-top:17px;width:90px;margin-right:10px;" @click="handleContact(userInfo)">-->
<!--              联系-->
<!--            </a-button>-->
            <a-button :loading="followLoading" v-if="userInfo.followingBtnFlg === '1'" block type="primary" style="margin-top: 17px;width:90px;" @click="handleFollow(userInfo)">
              关注
            </a-button>
            <a-button :loading="followLoading" v-if="userInfo.followingBtnFlg === '2'" block type="primary" style="margin-top: 17px;width:90px;" @click="handleFollow(userInfo)">
              已关注
            </a-button>
            <a-button :loading="followLoading" v-if="userInfo.followingBtnFlg === '3'" block type="primary" style="margin-top: 17px;width:90px;" @click="handleFollow(userInfo)">
              互相关注
            </a-button>
          </a-col>
        </a-row>

        <!--对话框-->
<!--        <n-modal-->
<!--          :Title="title"-->
<!--          :visible="visible"-->
<!--          :width="modalWidth"-->
<!--          :bodyStyle="modalHeight"-->
<!--          :confirm-loading="confirmLoading"-->
<!--          :handle-ok="handleOk"-->
<!--          :handle-cancel="handleCancel"-->
<!--        />-->
      </a-card>
    </template>
    <router-view :key="$route.fullPath" />
  </page-header-wrapper>
</template>

<script>
import Qs from 'qs'
import {getUserInfo} from './ScholarFrameApi.js'
import { followingBtnUrl } from '@/views/business/searchResults/searchResultsFrame/scholar/SearchResultsScholarApi'
import NModal from '@/views/business/components/NList/NModal'

const getActiveKey = (path) => {
  switch (path) {
    case '/scholar/scholarPage/ScholarSummary':
      return '1'
    case '/scholar/scholarPage/ScholarAchievements':
      return '2'
    case '/scholar/scholarPage/ScholarStatistics':
      return '3'
    case '/scholar/scholarPage/ScholarExperience':
      return '4'
    default:
      return '1'
  }
}
export default {
  name: 'SearchLayout',
  components: { NModal },
  data () {
    return {
      tabList: [
        { key: '1', tab: '概况' },
        { key: '2', tab: '成果' },
        { key: '3', tab: '统计' },
        { key: '4', tab: '经历' },
      ],
      tabActiveKey: '1',
      userInfo:{},
      infoLoading: false,
      search: true,
      userId: '',
      loginUserId:'',
      followLoading:false,
      /*假数据*/
      title:"联系",
      visible: false,
      modalWidth: 0,
      modalHeight: {},
      confirmLoading:false,
      avatar:'',
      name: ''
    }
  },
  created () {
    this.tabActiveKey = getActiveKey(this.$route.path)
    this.userId = this.$router.history.current.query.userId
    this.loginUserId = this.$store.getters.userId
    this.$watch('$route', (val) => {
        this.userId = val.query.userId
        this.isUser = 'false'
      this.tabActiveKey = getActiveKey(val.path)
    })
  },
  mounted(){
      this.getUserInfo();
  },
  methods: {
    handleTabChange (key) {
      this.tabActiveKey = key
      switch (key) {
        case '1':
          this.$router.push({path:'/scholar/scholarPage/ScholarSummary',query:{userId: this.userId,isUser: false,userName: this.userInfo.displayName}})
          break
        case '2':
          this.$router.push({path:'/scholar/scholarPage/ScholarAchievements',query:{userId: this.userId,isUser: false}})
          break
        case '3':
          this.$router.push({path:'/scholar/scholarPage/ScholarStatistics',query:{userId: this.userId}})
          break
        case '4':
          this.$router.push({path:'/scholar/scholarPage/ScholarExperience',query:{userId: this.userId}})
          break
        default:
          this.$router.push({path:'/scholar/scholarPage/ScholarSummary',query:{userId: this.userId}})
      }
    },
    // 初始化方法
    getUserInfo(){
        const param = Qs.stringify({userId:this.userId, loginUserId:this.loginUserId});
        this.infoLoading = true;
        //获取用户的信息
        getUserInfo(param).then(res => {
            if(res.ret_code==='0'){
                this.userInfo = res.data
                if (res.data.userInfo.profilePath != null) {
                    this.avatar = res.data.userInfo.profilePath;
                } else {
                    this.avatar = res.data.profilePhotoPath;
                }
                if (res.data.userInfo.nickname != null) {
                    this.name = res.data.userInfo.nickname;
                } else {
                    this.name = res.data.displayName;
                }
                this.infoLoading = false
            }else {
                this.$notification.error(res.ret_msg);
            }

        }).catch(err => {
        }).finally(() => {
            this.infoLoading = false
        })
    },
    // 点击关注按钮
    handleFollow(userInfo) {
      // 用户登录的情况下
      // if (this.$store.getters.userId !== null && this.$store.getters.userId !== '' && this.$store.getters.userId !== undefined) {
        this.followLoading = true
        if (userInfo.followingBtnFlg === '1') {
          const param = Qs.stringify({
            userId:this.$store.getters.userId,
            userIdFollowed : userInfo.userId,
            followingBtnFlg : userInfo.followingBtnFlg
          });
          followingBtnUrl(param).then(res => {
            userInfo.followingBtnFlg = '2'
            this.followLoading = false
          }).catch(
            err => {
                if(!err) {
                    this.$notification.error({
                        message: '关注失败'
                    })
                }
              this.followLoading = false
            }
          )
        } else if (userInfo.followingBtnFlg === '2') {
          const param = Qs.stringify({
            userId:this.$store.getters.userId,
            userIdFollowed : userInfo.userId,
            followingBtnFlg : userInfo.followingBtnFlg
          });
          followingBtnUrl(param).then(res => {
            userInfo.followingBtnFlg = '1'
            this.followLoading = false
          }).catch(
            err => {
                if(!err) {
                    this.$notification.error({
                        message: '取消关注失败'
                    })
                }
              this.followLoading = false
            }
          )
        }
      // } else {
      //   // 用户没登录的情况下
      //   this.$store.dispatch('changeVisible', true)
      // }
    },
    // 点击联系按钮 (待添加)
    // handleContact(userInfo) {
    //   this.modalWidth = 600
    //   this.modalHeight = {
    //     height: "450px",
    //     overflow: "auto"
    //   }
    //   this.visible = true;
    // },
    // 关闭对话框
    handleCancel() {
      this.visible = false;
    },
    // 发送消息
    handleOk() {
      this.confirmLoading = true
      setTimeout(() => {
        this.visible = false;
        this.confirmLoading = false;
        this.$notification.info({
          top:"100px",
          style: 'background-color:#40a9ff;',
          message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
          icon: <a-icon type="info-circle" style="color:white;" />,
          closeIcon: <a-icon type="close" style="color:white" />,
          duration: 10
        })
      }, 500);
    },
  }
}
</script>
<style scoped>
h2{
  margin-top: 15px;
  margin-bottom: 0px;
}
</style>