<template>
  <a-card size="small">
    <a-row>
      <a-row :gutter="24" v-if="data.total != 0">
        <a-col style="padding-top: 5px;padding-bottom:5px;margin-left:10px" :span="5">
          <span>共找到{{ data.total }}名作者</span>
        </a-col>
      </a-row>
      <a-list
        size="large"
        rowKey="id"
        :loading="loading"
        itemLayout="vertical"
        :dataSource="list"
        :grid="{ gutter: 16, column: 2 }"
      >
        <a-list-item :key="item.id" slot="renderItem" slot-scope="item">
          <a-row :gutter="24" style="margin-top: 30px;height: 90px;">
            <a-col :span="4" style="margin-left: 10px">
              <user-img :userImg="item.profilePath?item.profilePath:item.profilePhotoPath" :width="'60px'" :height="'60px'" />
            </a-col>
            <a-col :span="11">
              <a-row><a @click="routeUser(item.userId, item.nickname?item.nickname:item.displayName)" style="font-size: 16px;color:#595959;">{{item.nickname?item.nickname:item.displayName}}</a></a-row>
              <a-row style="font-size: 13px">{{item.currentPosition}}<span v-if="item.currentPosition && item.institutionName">，</span>{{item.institutionName}}</a-row>
              <a-row>
                <span style="font-size: 13px">{{item.publicationFamilies}}篇论文</span>
                <span style="font-size: 13px; margin-left: 15px">{{item.citations}}次被引用</span>
              </a-row>
            </a-col>
            <a-col :span="3">
              <a-col :span="24" style="text-align:left;">
                <a-button type="primary" shape="round" size="small" v-if="item.followingBtnFlg === '1'" style="margin-left: 10px" @click="followAction(item)">
                  关注
                </a-button>
                <a-button  type="primary" shape="round" size="small" v-if="item.followingBtnFlg === '2'" style="margin-left: 10px" @click="cancelFollowAction(item)">
                  已关注
                </a-button>
                <a-button  type="primary" shape="round" size="small" v-if="item.followingBtnFlg === '3'" style="margin-left: 10px" @click="cancelFollowAction(item)">
                  互相关注
                </a-button>
<!--                <a-button type="primary" shape="round" size="small" v-if="item.contactBtnFlg === '1'" style="margin-left: 10px;margin-top: 10px" @click="contactAction(item)">-->
<!--                  联系-->
<!--                </a-button>-->
              </a-col>
            </a-col>
          </a-row>
        </a-list-item>
        <!--加载更多-->
        <a-card slot="footer" v-if="data.hasNextPage" style="text-align: center; height: 40px" :bordered="false">
          <a-spin :spinning="loadingMore" size="large" />
        </a-card>
      </a-list>
    </a-row>

    <!--对话框-->
    <n-modal
      :Title="title"
      :visible="visible"
      :width="modalWidth"
      :bodyStyle="modalHeight"
      :confirm-loading="confirmLoading"
      :handle-ok="handleOk"
      :handle-cancel="handleCancel"
    />
  </a-card>
</template>

<script>
import Qs from 'qs'
import {getSearchResultsScholarList} from './SearchResultsScholarApi'
import {followingBtnUrl} from './SearchResultsScholarApi'
import NModal from '@/views/business/components/NList/NModal'

export default {
  name: "searchResultsScholar",
  components: {
    //所引入的组件 需要先import进来
    NModal
  },
  data(){
    return {
      dataSource: [],
      dataSourceKey: [],
      keyword:'',
      autocompleteKeyword:'',
      userId:'',
      loading: true,
      data: {},
      list: [],
      loadingMore: false,
      pageIndex: 2,
      /*假数据*/
      title:"联系",
      visible: false,
      modalWidth: 0,
      modalHeight: {},
      confirmLoading:false,
    }
  },
  mounted(){
    //初始化获取学者信息
    this.getSearchResultsScholar()
    window.onscroll = throttle(onScroll)
    const that = this;
    function onScroll() {
      //变量scrollTop是滚动条滚动时,距离顶部的距离
      let scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
      //变量windowHeight是可视区的高度
      let windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
      //变量scrollHeight是滚动条的总高度
      let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
      //滚动条到底部的条件
      if( scrollHeight - (scrollTop+windowHeight) <= 10 ){
        //写后台加载数据的函数
        that.loadMore();
      }
    }
    //函数节流
    function throttle(fn, interval=300) {
      let canRun = true;
      return function() {
        if(!canRun) return;
        canRun = false;
        setTimeout(() => {
          fn.apply(this, arguments);
          canRun=true;
        }, interval);
      }
    }
  },
  created () {
    this.userId = this.$store.getters.userId
    this.keyword = this.$router.history.current.query.keyword
    this.autocompleteKeyword = this.$router.history.current.query.autocompleteKeyword
  },
  methods:{
    // 初始化方法
    getSearchResultsScholar () {
      this.loading = true
      let param = Qs.stringify({
        userId: this.userId,
        keyword: this.keyword,
        autocompleteKeyword: this.autocompleteKeyword,
        index: 1,
        rows: 10,
      });
      getSearchResultsScholarList(param).then(res => {
        if (res.data && res.ret_code === '0') {
          this.data = res.data
            this.list = res.data.list ? res.data.list : []
          this.data.hasNextPage = res.data.hasNextPage ? res.data.hasNextPage : false
        }
        this.loading = false
      }).finally(() => {
        this.loading = false
      })
    },
    // 加载更多
    loadMore () {
      if(this.data.hasNextPage){
        this.loadingMore = true
        const param = Qs.stringify({
          userId: this.userId,
          index: this.pageIndex++,
          rows: 10,
          keyword: this.keyword,
          autocompleteKeyword: this.autocompleteKeyword,
        });
        getSearchResultsScholarList(param).then(res => {
          if (res.data && res.ret_code === '0') {
            this.data = res.data
            this.list = this.list.concat(res.data.list)
          }
          this.loading = false
        }).finally(() => {
          this.loadingMore = false
        })
      }
    },
    // 关注
    followAction(item){
      // 用户登录的情况下
      // if (this.$store.getters.userId !== null && this.$store.getters.userId !== '' && this.$store.getters.userId !== undefined) {
        const param = Qs.stringify({
          userId:this.$store.getters.userId,
          userIdFollowed : item.userId,
          followingBtnFlg : item.followingBtnFlg
        });
        followingBtnUrl(param).then(res => {
          item.followingBtnFlg = '2'
          this.loading = false
        }).catch(
          err => {
              if(!err) {
                  this.$notification.error({
                      message: '关注失败'
                  })
              }
            this.loading = false
          }
        )
      // } else {
      //  // 用户没登录的情况下
      //   this.$store.dispatch('changeVisible', true)
      // }
    },
    // 取消关注
    cancelFollowAction(item){
      const param = Qs.stringify({
        userId: this.$store.getters.userId,
        userIdFollowed : item.userId,
        followingBtnFlg : item.followingBtnFlg
      });
      followingBtnUrl(param).then(res => {
        item.followingBtnFlg = '1'
        this.loading = false
      }).catch(
        err => {
            if(!err) {
                this.$notification.error({
                    message: '取消关注失败'
                })
            }
          this.loading = false
        }
      )
    },
    // 联系打开对话框(待完善)
    contactAction() {
      this.modalWidth = 600
      this.modalHeight = {
        height: "450px",
        overflow: "auto"
      }
      this.visible = true;
    },
    // 关闭对话框
    handleCancel() {
      this.visible = false;
    },
    // 发送消息
    handleOk() {
      this.confirmLoading = true
      setTimeout(() => {
        this.visible = false;
        this.confirmLoading = false;
      }, 500);
    },

    // 点击作者名跳转画面
    routeUser(userId,userName){
      let routeUrl = this.$router.resolve({
        path: '/scholar/scholarPage/ScholarSummary',
        query: {
          userId,
          isUser: false,
          userName:userName
        }
      });
      window.open(routeUrl.href, '_blank');
    },
  }
}
</script>