<template>
    <div>
      <a-row :gutter="24">
        <a-col :xl="16" :lg="24" :md="24" :sm="24" :xs="24">

        </a-col>
      </a-row>
    </div>
</template>

<script>
//引入API 组件等等
//vuex辅助函数
import { PageHeaderWrapper } from '@ant-design-vue/pro-layout'
//全局常量，类，方法
const DataSet = require('@antv/data-set')

export default {
  name: 'Common',
  components: {
      //所引入的组件 需要先import进来
    PageHeaderWrapper,
  },
  data () {
      //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {

    }
  },
  computed: {
      //方法，一般用来写一些逻辑返回属性
    // ...mapState({
    //   nickname: (state) => state.user.nickname,
    //   welcome: (state) => state.user.welcome
    // }),
    // currentUser () {
    //   return {
    //     name: 'Serati Ma',
    //     avatar: 'https://gw.alipayobjects.com/zos/antfincdn/XAosXuNZyF/BiazfanxmamNRoxxVxka.png'
    //   }
    // },
    // userInfo () {
    //   return this.$store.getters.userInfo
    // }
  },
  created () {
    //初始化所需操作（页面渲染前），调用API取下拉框数据等，此时dom对象不存在，不能操作dom对象，可以操作一些data
    //   getRoleList().then(res => {
    //   })
    //   getServiceList().then(res => {
    //   })
  },
  mounted () {
      //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
  },
  methods: {
      //方法，一般用来做提交表单一类的操作，类似于void方法，不用return
  }
}
</script>

<style lang="less" scoped>
  @import "Common.less";

</style>
