<template>
    <a-card class="actionsClass" :title="dataTotal?(title+'('+data.total+')'):title" size="small" :loading="loading" :bordered="false">
      <a slot="extra" v-if="!isSuggestedUser && data.hasNextPage" style="color: #c4c4c4; font-size: 12px;" @click="showUserModal">{{titleExtra}}</a>
      <a-list
        size="large"
        rowKey="id"
        :loading="loading"
        itemLayout="vertical"
        :dataSource="list"
        :grid="{ gutter: 16,column: vertical?3:1 }"
      >
        <a-list-item v-if="showFive?index < 5:true" :key="item.id" slot="renderItem" slot-scope="item, index" class="paddingNone">
          <user-card
            :userId="item.userIdForReq"
            :userIdToFollow="item.userIdFollowedForReq"
            :username="item.nickname?item.nickname:item.displayName"
            :introduction="item.introduction"
            :userImg="item.profilePath?item.profilePath:item.profilePhotoPath"
            :identity="item.currentPosition"
            :institution="item.institutionName"
            :message="item.reason"
            :followingBtnUrl="followingBtnUrl"
            :initFollowingBtnFlg="item.followingBtnFlg"
            :inviteBtnFlg="item.inviteBtnFlg"
            :contactBtnFlg="item.contactBtnFlg"
            :isSuggestedUser="isSuggestedUser"
            :isUser="isUser!=='-1'?isUser:item.isUser"
          />
        </a-list-item>
      </a-list>
      <!--对话框-->
      <n-user-modal
        v-if="!isSuggestedUser"
        :dataUrl="modalUrl"
        :parameters="modalParameters"
        :Title="title"
        :visible="visible"
        :modal-width="modalWidth"
        :modal-height="modalHeight"
        :handle-cancel="handleCancel"
        :followingBtnUrl="followingBtnUrl"
        :key="uniqueKey"
      />
       <div slot="actions" v-if="suggestedUserMoareFlg" style="text-align: center;">
        <a style="font-size: 15px;" @click="showFiveSuggestedUser(showFive)">{{showFive?'查看更多':'收起'}}
        </a>
      </div>
    </a-card>
</template>

<script>
//引入API 组件等等
//vuex辅助函数
import UserCard from './UserCard'
import Qs from 'qs'
import NUserModal from '@/views/business/components/NUserModal/NUserModal'
//全局常量，类，方法
export default {
  name: 'NCardList',
  emit: ['cardSwitch'],
  components: {
    //所引入的组件 需要先import进来
    UserCard,
    NUserModal
  },
  props: {
      title: {
          type: String,
          required: true
      },
      isUser: {
          type: String,
          default:"-1"
      },
      'dataUrl':{
          type: String,
      },
      modalUrl:{
        type: String,
      },
      modalParameters:{
        type: Object,
        default(){
          return{
            index: 1,
            rows: 10
          }
        },
      },
      titleExtraUrl:{
          type: String,
      },
      titleExtra:{
          type: String,
      },
      followingBtnUrl:{
          type: String,
      },
      vertical:{
          type: Boolean,
          default: false
      },
      dataTotal:{
          type: Boolean,
          default: false
      },
      isSuggestedUser:{
          type: Boolean,
          default: false
      },
      parameters: {
          type: Object,
          default(){
              return{
                index: 1,
                rows: 5
              }
          },
      }
  },
  data () {
      //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {
        loading: true,
        visible: false,
        modalWidth: 0,
        modalHeight: {},
        more: false,
        data: {total: 0},
        list: [],
        uniqueKey: false,
        showFive: true,
        suggestedUserMoareFlg: false
    }
  },
  computed: {
      //方法，一般用来写一些逻辑返回属性
  },
  created () {
      //初始化所需操作（页面渲染前），调用API取下拉框数据等，此时dom对象不存在，不能操作dom对象，可以操作一些data

  },
  mounted () {
      //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
      this.getList()
  },
  methods: {
      //方法，一般用来做提交表单一类的操作，类似于void方法，不用return
      getList (params = {}) {
          const param = Qs.stringify({...this.parameters,...params});
          this.$http.post(this.dataUrl,param).then(res => {
              if(res.data && res.ret_code === '0') {
                  this.data = res.data
                  this.list = res.data.list ? res.data.list : []
                  if(this.list.length == 0){
                    this.setCardSwitch()
                  }
                  if (this.list.length > 5) {
                      this.setSuggestedUserMoare(true);
                  } else {
                      this.setSuggestedUserMoare(false);
                  }
              }
              this.loading = false
          }).catch(
              err => {
                  this.loading = false
              }
          )
      },
    // cardList开关方法
    setCardSwitch(){
      this.$emit('cardSwitch');
    },
    // 打开对话框
    showUserModal() {
      this.visible = true;
      this.modalWidth = 600
      this.modalHeight = {
        height: "450px",
        overflow: "auto"
      }
    },
    // 关闭对话框
    handleCancel(e) {
      this.visible = false;
      this.uniqueKey = !this.uniqueKey
    },
    showFiveSuggestedUser() {
        this.showFive = !this.showFive
    },

    setSuggestedUserMoare(suggestedUserMoareFlg) {
      this.suggestedUserMoareFlg = suggestedUserMoareFlg;
    }
  }
}
</script>
<style scoped>
  .paddingNone{
    padding:0 !important;
  }
</style>