<template>
    <img v-if="userImgUrl!==''" @dblclick="preview?previewClick(userImgUrl.indexOf('random') !== -1 && userImgUrl.indexOf('.png') !== -1 ? userImgUrl : (userImgUrl.substring(0,userImgUrl.length-4)+'_source.jpg')):()=>{return false;}" id="userImg" class="circleImg" :src="userImgUrl" :style="{'width': width, 'height': height, 'border': '1px solid #d0d0d0'}" @error="imgError" />
    <img v-else id="userImg" @dblclick="preview?previewClick(require('@/assets/user.png')):()=>{return false;}" class="circleImg" src="~@/assets/user.png" :style="{'width': width, 'height': height, 'border': '1px solid #d0d0d0'}" />
</template>

<script>
export default {
  name: 'UserImg',
  data() {
    return {
        userImgUrl:''
    }
  },
  props: {
    userImg: {
      type: String,
      default:""
    },
    width: {
      type: String,
      default:"40px"
    },
    height: {
      type: String,
      default:"40px"
    },
    preview: {
        type: Boolean,
        default:false
    },
  },
  created(){
      this.userImgUrl = this.userImg!==""&&this.userImg!==null?this.userImg :""
      this.$watch('userImg', (val) => {
          if(val){
              this.userImgUrl = val!==""&&val!==null?val :""
          }
      })
  },
  methods: {
      imgError(){
          this.userImgUrl = ''
      },
      // 图片全屏展示组件
      previewClick(url) {
          let urls = [];
          urls.push(url);
          this.$showImages({
              urls,
              index: 0,
          });
      },
  }
}
</script>
<style>
</style>