<template>
  <div style="width: 100%"
       @mouseleave="followingBtnMouseleave"
       @mouseover="followingBtnMouseover">
    <div style="position: absolute;top: 8px;right: 0;z-index: 1;"><!--v-show="followingBtnShowFlg"-->
      <a-button type="primary" size="small" v-if="followingBtnFlg === '1'" style="width: 50px;font-size: 12px;border-radius: 4px;margin-left: 10px" @click="followAction">
        关注
      </a-button>
      <a-button size="small" v-if="followingBtnFlg === '2'" style="width: 50px;color: #c5c5c5;background-color: #f5f6f6;font-size: 12px;border-radius: 4px;margin-left: 10px;border: none;" @click="cancelfollowAction" >
        已关注
      </a-button>
      <a-button size="small" v-if="followingBtnFlg === '3'" style="color: #c5c5c5;background-color: #f5f6f6;font-size: 12px;border-radius: 4px;margin-left: 10px;border: none;" @click="cancelfollowAction" >
        互相关注
      </a-button>
    </div>
    <a-row>
      <a-col :span="4">
        <div @click="routeUser(userIdToFollow)">
          <user-img style="cursor: pointer;" :userImg="userImg" :width="'45px'" :height="'45px'" />
        </div>
      </a-col>
      <a-col :span="14">
        <a-row style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap;"><a @click="routeUser(userIdToFollow)" style="font-size: 14px;color:#595959;">{{username}}</a></a-row>
        <a-row style="color: #999999;font-size: 12px">{{identity}}<span v-if="identity && institution">，</span>{{institution}}</a-row>
        <a-row style="color: #999999;font-size: 12px">{{introduction}}</a-row>
        <a-row v-if="isSuggestedUser" style="color: #999999;font-size: 12px">{{message}}</a-row>
      </a-col>
    </a-row>
<!--    <a-row slot="actions" v-if="show">-->
<!--      <a-col :span="24" style="text-align: left">-->
<!--        <a-button type="primary" shape="round" size="small" v-if="inviteBtnFlg === '1'" style="margin-left: 10px" @click="cancelInviteAction">-->
<!--          邀请-->
<!--        </a-button>-->
<!--        <a-button type="primary" shape="round" size="small" v-if="contactBtnFlg === '1'" style="margin-left: 10px" @click="showModal">-->
<!--          联系-->
<!--        </a-button>-->
<!--      </a-col>-->
<!--    </a-row>-->

    <!--对话框-->
    <n-modal
      :Title="title"
      :visible="visible"
      :width="modalWidth"
      :bodyStyle="modalHeight"
      :confirm-loading="confirmLoading"
      :handle-ok="handleOk"
      :handle-cancel="handleCancel"
    />
  </div>
</template>

<script>
import Qs from 'qs'
import NModal from '@/views/business/components/NList/NModal'
export default {
  name: 'UserCard',
  components: { NModal },
  data() {
    return {
      show: false,
      title:"联系",
      visible: false,
      modalWidth: 0,
      modalHeight: {},
      confirmLoading:false,
      followingBtnFlg:'0',
      followingBtnShowFlg: false
    }
  },
  props: {
    userId: {
      type: Number,
    },
    userIdToFollow: {
      type: Number,
    },
    username: {
      type: String,
    },
    introduction: {
      type: String,
    },
    userImg: {
      type: String,
      default:""
    },
    identity: {
      type: String,
    },
    institution: {
      type: String,
    },
    message: {
      type: String,
    },
    followingBtnUrl: {
      type: String,
    },
    initFollowingBtnFlg: {
      type: String,
      default:'0',
    },
    inviteBtnFlg: {
      type: String,
      default:'0',
    },
    contactBtnFlg: {
      type: String,
      default:'0',
    },
    isUser: {
      type: String,
      default:'0',
    },
    isSuggestedUser:{
        type: Boolean,
        default: false
    },
  },
  created(){
    this.followingBtnFlg = this.initFollowingBtnFlg
  },
  methods: {
      routeUser(userId){
          let path = '';
          let query = {};
          if (this.isUser === "1") {
              path = '/user/userPage/UserDynamic';
              query = {
                  userId
              };
          } else {
              path = '/scholar/scholarPage/ScholarSummary';
              query = {
                  userId,
                  isUser: false,
                  userName:this.username
              };
          }
          let routeUrl = this.$router.resolve({
              path,
              query
          });

          window.open(routeUrl.href, '_blank');
      },
      showActions(bol){
          this.show = bol;
      },
      // 关注
      followAction(){
          const param = Qs.stringify({
              userId: this.$store.getters.userId,
              userIdFollowed : this.userIdToFollow,
              followingBtnFlg : this.followingBtnFlg
          });
          this.$http.post(this.followingBtnUrl,param).then(res => {
              let userModal = res.data;
              if (userModal) {
                  this.followingBtnFlg = userModal.followingBtnFlg;
              } else {
                  this.followingBtnFlg = '2'
              }
              this.loading = false
          }).catch(
              err => {
                  if(!err) {
                      this.$notification.error({
                          message: '关注失败'
                      })
                  }
                  this.loading = false
              }
          )
      },
      // 取消关注
      cancelfollowAction(){
          const param = Qs.stringify({
              userId: this.$store.getters.userId,
              userIdFollowed : this.userIdToFollow,
              followingBtnFlg : this.followingBtnFlg
          });
          this.$http.post(this.followingBtnUrl,param).then(res => {
              this.followingBtnFlg = '1'
              this.loading = false
          }).catch(
              err => {
                  if(!err) {
                      this.$notification.error({
                          message: '取消关注失败'
                      })
                  }
                  this.loading = false
              }
          )
      },
      // 邀请 (待添加)
      cancelInviteAction() {
        this.$notification.info({
          top:"100px",
          style: 'background-color:#40a9ff;',
          message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
          icon: <a-icon type="info-circle" style="color:white;" />,
          closeIcon: <a-icon type="close" style="color:white" />,
          duration: 10
        })
      },
      // 联系(打开对话框)
      showModal() {
        this.modalWidth = 600
        this.modalHeight = {
          height: "450px",
          overflow: "auto"
        }
        this.visible = true;
      },
      // 关闭对话框
      handleCancel() {
        this.visible = false;
      },
      // 发送消息
      handleOk() {
        this.confirmLoading = true
        setTimeout(() => {
          this.visible = false;
          this.confirmLoading = false;
          this.$notification.info({
            top:"100px",
            style: 'background-color:#40a9ff;',
            message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
            icon: <a-icon type="info-circle" style="color:white;" />,
            closeIcon: <a-icon type="close" style="color:white" />,
            duration: 10
          })
        }, 500);
      },

      followingBtnMouseleave() {
          this.followingBtnShowFlg = false;
      },

      followingBtnMouseover() {
          this.followingBtnShowFlg = true;
      },
  }
}
</script>
<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>