<template>
  <div>
    <a-card size="small">
      <a-row :gutter="96">
        <a-col :span="48">
          <a-row style=" margin-left: 10px; margin-top: 10px ;">
            <p style="font-weight: bold">
              Members(16763)
            </p>
            <a-list item-layout="vertical" :data-source="data">
              <a-list-item slot="renderItem" slot-scope="item, index">
                <a-row :gutter="24">
                  <a-col :span="1">
                    <img id="userImg" :src="item.imgSrc" style="width: 40px; height: 40px;border-radius: 50%"/>
                  </a-col>
                  <a-col :span="11">
                    <a-row style="font-weight: bold">
                      {{ item.search2 }}
                    </a-row>
                    <a-row>
                      {{ item.search1 }}
                    </a-row>
                  </a-col>
                  <a-col :span="2">
                    <a-button  type="primary" shape="round" size="small" style="float: right" >关注</a-button>
                  </a-col>
                </a-row>
              </a-list-item>
            </a-list>
          </a-row>

        </a-col>
      </a-row>
    </a-card>
  </div>
</template>

<script>
export default {
  name: 'InstitutionsMember.vue',
  created () {
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000)
  },
  components: {
    //所引入的组件 需要先import进来
  },
  props: {},
  data () {
    return {
      data,
    }
  },
}

const data = [
  {
    search2: 'Aaa Aaa',
    search1: 'University of Pennsylvania,Annenberg School for Communication',
    imgSrc: require('@/assets/fakeheadImg1.png')
  },
  {
    search2: 'Erin Aakhus',
    search1: 'University of Pennsylvania,Division of Hematology/Oncology',
    imgSrc: require('@/assets/fakeheadImg2.jpg')
  },
  {
    search2: 'Mohammed Aamer',
    search1: 'University of Pennsylvania,School of Engineering and Applied S...',
    imgSrc: require('@/assets/fakeheadImg3.jpg')
  },
  {
    search2: 'Maria Paula Abadia',
    search1: 'University of Pennsylvania,Penn Law School',
    imgSrc: require('@/assets/fakeheadImg4.jpg')
  },
  {
    search2: 'Meric Aban',
    search1: 'University of Pennsylvania,MBA',
    imgSrc: require('@/assets/fakeheadImg5.jpg')
  },
  {
    search2: 'Rachel Abaskharon',
    search1: 'University of Pennsylvania,Department of Chenistry',
    imgSrc: require('@/assets/fakeheadImg6.jpg')
  },
  {
    search2: 'Leo Abaunza',
    search1: 'University of Pennsylvania,Department of Psychology',
    imgSrc: require('@/assets/fakeheadImg7.jpg')
  },
]

</script>

<style scoped>

</style>