<template>
  <div>
    <a-card size="small">
      <a-row :gutter="24" v-if="data.total != 0">
        <a-col style="padding-top: 5px;padding-bottom: 5px;margin-left: 10px" :span="5">
          <span>共找到{{ data.total }}个研究机构</span>
        </a-col>
      </a-row>
      <a-list size="large"
              rowKey="id"
              ref="loadMoreMsg"
              :loading="loading"
              itemLayout="vertical"
              :dataSource="list"
      >
        <a-list-item :key="item.id" slot="renderItem" slot-scope="item, index">
            <a-row :gutter="24" style="margin-top: 30px">
              <a-col :span="2" style="margin-left: 10px">
                <img id="userImg" src="~@/assets/qhxh.png" style="width: 65px; height: 65px;" />
              </a-col>
              <a-col :span="12" style="margin-left: 10px">
                <a-row style="font-size: 16px;font-weight:bold; color:black;" ><a @click="routeInstitution(item.id)">{{item.institution[0]}}</a></a-row>
                  <a-row style="font-weight:bold;color: rgba(0, 0, 0, 0.45);">{{Math.round(Math.random()*1000)}}</a-row>
                  <a-row style="font-size:12px;color: rgba(0, 0, 0, 0.45);">Members</a-row>
              </a-col>
            </a-row>
        </a-list-item>
        <!--加载更多-->
        <a-card slot="footer" v-if="data.hasNextPage" style="text-align: center; height: 40px" :bordered="false">
          <a-spin :spinning="loadingMore" size="large" />
        </a-card>
      </a-list>
    </a-card>
  </div>
</template>

<script>
import { getSearchResultsInstitutionInfo } from './SearchResultsInstitutionsApi'
import Qs from "qs";

export default {
  name: 'SearchResultsInstitutions',
  data() {
    //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {
      loading: true,
      loadingMore: false,
      parameters: {
        index: 1,
        rows: 10,
      },
      data: {},
      list: [],
      pageIndex: 2,
      keyword:'',
      autocompleteKeyword:'',
    }
  },
  mounted () {
    //初始化获取研究机构信息
   this.getSearchResultsInstitutionList()
    window.onscroll = throttle(onScroll)
    const that = this;
    function onScroll() {
      //变量scrollTop是滚动条滚动时,距离顶部的距离
      let scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
      //变量windowHeight是可视区的高度
      let windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
      //变量scrollHeight是滚动条的总高度
      let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
      //滚动条到底部的条件
      if( scrollHeight - (scrollTop+windowHeight) <= 10 ){
        //写后台加载数据的函数
        that.loadMore();
      }
    }
    //函数节流
    function throttle(fn, interval=300) {
      let canRun = true;
      return function() {
        if(!canRun) return;
        canRun = false;
        setTimeout(() => {
          fn.apply(this, arguments);
          canRun=true;
        }, interval);
      }
    }
  },
  created(){
    setTimeout(() => {
      this.keyword = this.$router.history.current.query.keyword
      this.autocompleteKeyword = this.$router.history.current.query.autocompleteKeyword
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10

      })
    }, 1000);
  },
  methods: {
    // 初始化方法
    getSearchResultsInstitutionList () {
      let param = Qs.stringify({
        ...this.parameters,
        keyword: this.keyword,
        autocompleteKeyword:this.autocompleteKeyword
      });
      getSearchResultsInstitutionInfo(param).then(res => {
        if(res.data && res.ret_code === '0') {
          this.data = res.data
          this.list = res.data.list ? res.data.list : []
        }
        this.loading = false
      }).finally(() => {
        this.loading = false
      })
    },
    // 跳转画面
    routeInstitution(institutionId) {
      let routeUrl = this.$router.resolve({
        path: '/institutions/institutionsPage/InstitutionsSummary',
        query: {
          fieldId: institutionId
        }
      });
      window.open(routeUrl.href, '_blank');
    },
    // 加载更多
    loadMore (el) {
      if(this.data.hasNextPage){
        this.loadingMore = true
        const param = Qs.stringify({
          ...this.parameters,
          index: this.pageIndex++,
          keyword: this.keyword,
          autocompleteKeyword: this.autocompleteKeyword
        });
        getSearchResultsInstitutionInfo(param).then(res => {
          if (res.data && res.ret_code === '0') {
            this.data = res.data
            this.list = this.list.concat(res.data.list ? res.data.list : [])
          }
          this.loadingMore = false
        }).finally(() => {
          this.loadingMore = false
        })
      }
    },
  },
};
</script>