<template>
  <a-card size="small" :bordered="false" :style="{'background-color': listBackColor,'width':'100%','cursor':'pointer'}"  @mouseover="listBackColor='#f0f2f5'" @mouseleave="listBackColor='#fff'">
    <a-row>
      <a-col :span="2">
        <a-avatar
          :src=imgUserUrl
        />
      </a-col>
      <a-col :span="22">
        <div style="color:#000;">{{ item.title }}</div>
        <div>{{ item.description }}</div>
      </a-col>
    </a-row>
  </a-card>
</template>

<script>
export default {
  name: 'IconTexNotificationListItem',
  props: {
    item: {
      type: Object,
    }
  },
  data(){
    return{
      imgUserUrl:require("@/assets/user.png"),
      listBackColor:"#fff"
    }
  }
}
</script>
