<template>
  <div :gutter="24" >
    <a-card size="small">
      <!--左侧-->
      <a-col :span="11">
        <a-list item-layout="horizontal" :data-source="data">
          <a-list-item slot="renderItem" slot-scope="item, index">
            <notification-list-item :item="item" />
          </a-list-item>
        </a-list>
      </a-col>
      <!--右侧-->
      <a-col :span="13">
        <!--分隔线-->
        <div style="width: 1px; height: 850px; float:left; background: darkgray; display:inline-block; margin-top: 10px;"></div>

        <div class="chat-content" style="margin-left: 10px; margin-top: 25px;">
          <div class="word">
            <img :src=imgUserUrl>
            <div class="info">
              <p class="time">Martinn Puttkammer  2020-11-25 14:12</p>
              <div class="info-content">Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin</div>
            </div>
          </div>
          <div class="myWord">
            <div class="myInfo">
              <p class="myTime">Romain Coffinier  2020-11-25 14:15</p>
              <div class="myInfo-content">We supply a series of design principles, practical patterns and high quality design resources</div>
            </div>
            <img :src=imgUserUrl>
          </div>
          <div class="word">
            <img :src=imgUserUrl>
            <div class="info">
              <p class="time">Martinn Puttkammer  2020-11-25 14:16</p>
              <div class="info-content">Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin</div>
            </div>
          </div>
          <div class="myWord">
            <div class="myInfo">
              <p class="myTime">Romain Coffinier  2020-11-25 14:18</p>
              <div class="myInfo-content">We supply a series of design principles, practical patterns and high quality design resources</div>
            </div>
            <img :src=imgUserUrl>
          </div>
          <div class="myWord">
            <div class="myInfo">
              <p class="myTime">Romain Coffinier  2020-11-25 15:01</p>
              <div class="myInfo-content">We supply a series of design principles, practical patterns and high quality design resources</div>
            </div>
            <img :src=imgUserUrl>
          </div>
          <div class="myWord">
            <div class="myInfo">
              <p class="myTime">Romain Coffinier  2020-11-25 16:18</p>
              <div class="myInfo-content">We supply a series of design principles, practical patterns and high quality design resources</div>
            </div>
            <img :src=imgUserUrl>
          </div>
          <div class="word">
            <img :src=imgUserUrl>
            <div class="info">
              <p class="time">Martinn Puttkammer  2020-11-25 16:22</p>
              <div class="info-content">Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin</div>
            </div>
          </div>
        </div>
        <!--分隔线-->
        <hr style="border-color:#f0f2f5; border-width: 1px;">
        <!-- 输入私信框-->
        <div>
          <a-list
            v-if="comments.length"
            :data-source="comments"
            :header="`${comments.length} ${comments.length > 1 ? 'replies' : 'reply'}`"
            item-layout="horizontal"
          >
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a-comment
                :author="item.author"
                :avatar="item.avatar"
                :content="item.content"
                :datetime="item.datetime"
              />
            </a-list-item>
          </a-list>
          <a-comment>
            <div slot="content">
              <a-form-item>
                <a-textarea :rows="4" :value="value"/>
              </a-form-item>
              <a-form-item>
                <a-button html-type="submit" :loading="submitting" type="primary" style="background-color: #f0f2f5; border-color: #f0f2f5; color: #000; float: right;">
                  发送(S)
                </a-button>
              </a-form-item>
            </div>
          </a-comment>
        </div>
      </a-col>
    </a-card>
  </div>
</template>

<script>
import moment from 'moment';
import NotificationListItem from '@/views/business/notification/notificationFrame/messages/NotificationListItem'
export default {
  name: 'NotificationMessages',
  created(){
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000);
  },
  components:{
    NotificationListItem
  },
  data() {
    return {
      data,
      listBackColor:"#fff",
      imgUserUrl:require("@/assets/user.png"),
      comments: [],
      submitting: false,
      value: '',
      moment,
    };
  },
}
const data = [
  {
    title: 'Martinn Puttkammer',
    description:'Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin',
  },
  {
    title: 'Karinne Miqueu',
    description:'We supply a series of design principles, practical patterns and high quality design resources',
  },
  {
    title: 'Jean-Marc Sotiropoulos',
    description:'Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin',
  },
  {
    title: 'Romain Coffinier',
    description:'Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin',
  },
  {
    title: 'Martinn Puttkammer',
    description:'Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin',
  },
  {
    title: 'Karinne Miqueu',
    description:'We supply a series of design principles, practical patterns and high quality design resources',
  },
  {
    title: 'Jean-Marc Sotiropoulos',
    description:'Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin',
  },
  {
    title: 'Romain Coffinier',
    description:'Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin',
  },
  {
    title: 'Romain Coffinier',
    description:'Hi Xiaoyi,Thank you for the feedback,I will do that.Regards,Martin',
  },
];
</script>

<style scoped>
/*对方*/
.word{
  display: flex;
  margin-bottom: 20px;
}
img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.info {
  margin-left: 10px;
}
.time{
  font-size: 12px;
  color: rgba(51,51,51,0.8);
  margin: 0;
  height: 20px;
  line-height: 20px;
  margin-top: -5px;
}
.info-content{
  padding: 10px;
  font-size: 14px;
  background: #f0f2f5;
  position: relative;
  margin-top: 8px;
}
/*小三角形*/
.info-content::before{
  position: absolute;
  left: -8px;
  top: 8px;
  content: '';
  border-right: 10px solid #f0f2f5;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
/*我的*/
.myWord{
  display: flex;
  justify-content:flex-end;
  margin-bottom: 20px;
}
.myInfo {
  width: 90%;
  margin-left: 10px;
  text-align: right;
}
.myTime{
  font-size: 12px;
  color: rgba(51,51,51,0.8);
  margin: 0;
  height: 20px;
  line-height: 20px;
  margin-top: -5px;
  margin-right: 10px;
}
.myInfo-content{
  max-width: 70%;
  padding: 10px;
  font-size: 14px;
  float: right;
  margin-right: 10px;
  position: relative;
  margin-top: 8px;
  background: #f0f2f5;
  text-align: left;
}
/*小三角形*/
.myInfo-content::after{
  position: absolute;
  right: -8px;
  top: 8px;
  content: '';
  border-left: 10px solid #f0f2f5;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
</style>