<template>
  <div>
    <a-row>
<!--      <a-card :bodyStyle="{'padding-top': '0'}" :bordered="false" size="small">-->
        <page-header-wrapper
          :tab-list="tabList"
          :tab-active-key="tabActiveKey"
          :tab-change="handleTabChange"
          :breadcrumb="false"
          :title="false"
        >
          <router-view :key="$route.fullPath"/>
        </page-header-wrapper>
<!--      </a-card>-->
    </a-row>
  </div>
</template>

<script>
//引入API 组件等等
//vuex辅助函数

const getActiveKey = (path) => {
  switch (path) {
    case '/searchResults/searchResultsPage/SearchResultsScholar':
      return '1'
    case '/searchResults/searchResultsPage/SearchResultsArticles':
      return '2'
    case '/searchResults/searchResultsPage/SearchResultsDirection':
      return '3'
    // case '/searchResults/searchResultsPage/SearchResultsInstitutions':
    //   return '4'
    default:
      return '1'
  }
}
export default {
  name: 'searchResultsFrame',
  components: {
  },
  props: {
    articlesBtnGroup:{
      type: Boolean,
      default: true
    },
  },
  data () {
    return {
      tabList: [
        { key: '1', tab: '学者' },
        { key: '2', tab: '文献' },
        { key: '3', tab: '研究方向' },
        // { key: '4', tab: '研究机构' },
      ],
      tabActiveKey: '1',
    }
  },
  created () {
    this.tabActiveKey = getActiveKey(this.$route.path)
    this.userId = this.$store.getters.userId
    this.publicationId = this.$router.history.current.query.publicationId
    this.keyword = this.$router.history.current.query.keyword
    this.autocompleteKeyword = this.$router.history.current.query.autocompleteKeyword
    this.$watch('$route', (val) => {
      this.keyword = val.query.keyword
      this.autocompleteKeyword = val.query.autocompleteKeyword
      this.tabActiveKey = getActiveKey(val.path)
    })
  },
  mounted () {
  },
  methods: {
    handleTabChange (key) {
      this.tabActiveKey = key
      switch (key) {
        case '1':
          this.$router.push({
            path: '/searchResults/searchResultsPage/SearchResultsScholar',
            query: {
                userId: this.userId,
                keyword: this.keyword,
                autocompleteKeyword: this.autocompleteKeyword,
            }
          })
          break
        case '2':
          this.$router.push({
            path: '/searchResults/searchResultsPage/SearchResultsArticles',
            query: {
              keyword: this.keyword,
              autocompleteKeyword: this.autocompleteKeyword,
            }
          })
          break
        case '3':
          this.$router.push({
            path: '/searchResults/searchResultsPage/SearchResultsDirection',
            query: {
              keyword: this.keyword,
              autocompleteKeyword: this.autocompleteKeyword,
            }
          })
          break
        case '4':
          this.$router.push({
            path: '/searchResults/searchResultsPage/SearchResultsInstitutions',
            query: {
                keyword: this.keyword,
                autocompleteKeyword: this.autocompleteKeyword,
            }
          })
          break
        default:
          this.$router.push({
            path: '/searchResults/searchResultsPage/SearchResultsScholar',
            query: {
              userId: this.userId,
              keyword: this.keyword,
              autocompleteKeyword: this.autocompleteKeyword,
            }
          })
      }
    },
  }
}
</script>