<template>
  <a-card :bordered="false" size="small">
    <a-row :gutter="24">
      <a-col :span="19">
        <a-row>
          <a v-if="isLink" style="font-size: 14px;font-weight: 900" :href="linkUrl" target="_blank">{{jobTitle}}</a>
          <span v-else style="font-size: 14px;font-weight: 900">{{jobTitle}}</span>
        </a-row>
        <a-row style="font-size: 12px">{{institutionName}}</a-row>
        <a-row style="font-size: 12px">{{location}}<span v-if="location && country">，</span>{{country}}</a-row>
      </a-col>
      <a-col :span="5">
        <img v-if="imagePath" src="@/assets/institution.jpg" style="width: 50px; height: 50px;" />
      </a-col>
    </a-row>
  </a-card>
</template>

<script>
export default {
  name: 'AdsCard',
  props: {
    jobTitle: {
      type: String,
    },
    institutionName: {
      type: String,
    },
    location: {
      type: String,
    },
    country: {
      type: String,
    },
    institutionImg: {
      type: String,
    },
    imagePath: {
      type: String,
    },
    isLink:{
      type:Boolean,
      default() {
        return false
      }
    },
    linkUrl:{
      type:String
    },
  }
}
</script>