<template>
    <a-card :title="title" size="small" :loading="loading" :bordered="false">
      <a slot="extra" @click="loadMore()">{{titleExtra}}</a>
      <a-list
        size="large"
        rowKey="id"
        :loading="loading"
        itemLayout="vertical"
        :dataSource="data"
      >
        <a-list-item :key="item.id" slot="renderItem" slot-scope="item" class="paddingNone">
          <ads-card
            :jobTitle="item.title"
            :institutionName="item.institution"
            :location="item.institutionCity"
            :country="item.institutionCountry"
            :imagePath="item.imagePath"
            :isLink=isLink
            :linkUrl="item.link"
          />
        </a-list-item>
      </a-list>
    </a-card>
</template>

<script>
//引入API 组件等等
//vuex辅助函数
import AdsCard from './AdsCard'
import Qs from 'qs'
//全局常量，类，方法

export default {
  name: 'NCardList',
  components: {
      //所引入的组件 需要先import进来
      AdsCard
  },
  props: {
      title: {
          type: String,
          required: true
      },
      'dataUrl':{
          type: String,
          required: true
      },
      titleExtraUrl:{
          type: String,
      },
      titleExtra:{
          type: String,
      },
      parameters: {
          type: Object,
          default(){
              return{
                  index: 1,
                  rows: 5
              }
          },
      },
      isLink:{
          type:Boolean,
          default() {
            return false
          }
      }
  },
  data () {
      //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {
        loading: true,
        more: false,
        data: [],
    }
  },
  computed: {
      //方法，一般用来写一些逻辑返回属性

  },
  created () {
      //初始化所需操作（页面渲染前），调用API取下拉框数据等，此时dom对象不存在，不能操作dom对象，可以操作一些data

  },
  mounted () {
      //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
      this.getList()
  },
  methods: {
      //方法，一般用来做提交表单一类的操作，类似于void方法，不用return
      getList () {
          const param = Qs.stringify(this.parameters);
          this.$http.post(this.dataUrl,param).then(res => {
              this.data = res.data.list
              this.loading = false
          }).catch(
              err => {
                  this.loading = false
              }
          )
      },
  }
}
</script>
<style scoped>
  .paddingNone{
    padding:0px;
  }
</style>