<template>
  <a-row :gutter="24">
    <a-col :span="14">
      <a-card size="small">
        <a-list item-layout="horizontal" :data-source="data">
          <a-list-item slot="renderItem" slot-scope="item, index">
            <a-col :span="2" style="margin-top:-60px;">
              <a-list-item-meta>
                <a-avatar
                  slot="avatar"
                  :src='imgUserUrl'
                  style="position: absolute;left: 10px;"
                />
                <a-avatar
                  slot="avatar"
                  :src='imgExportUrl'
                  style="position: absolute;left: 35px;"
                />
              </a-list-item-meta>
            </a-col>
           <a-col :span="22">
            <a-col :span="19">
              <span style="color: #000; font-weight: bold;">{{item.title}}</span>
              <span style="color: #000; font-weight: bold; text-decoration:underline; cursor: pointer;">{{item.content}}</span>
              <a-row style="margin-top: 10px;"><a-button>查看引文</a-button></a-row>
            </a-col>
             <a-col :span="5">
               <span style="float: right;">{{item.time}}</span>
             </a-col>
           </a-col>
          </a-list-item>
        </a-list>
      </a-card>
    </a-col>
    <a-col :span="10">
      <a-card size="small" title="你有研究问题吗？" style="padding-left: 10px;">
        <a-row :gutter="24">
          <a-col :span="4">
            <img id="userImg" src="~@/assets/user.png" style="width: 50px; height: 50px;" />
          </a-col>
          <a-col :span="20" style="color:#000; font-weight: bold; cursor: pointer;">
            Ask questions in Q&A to get help from experts in your field.
          </a-col>
        </a-row>
        <a-row style="text-align: center;margin-top: 10px; ">
          <a-button style="width:450px; ">Ask a question</a-button>
        </a-row>
        <a-row style="margin-top: 10px; text-align: center;">
          Ask me later
        </a-row>
      </a-card>
    </a-col>
  </a-row>
</template>

<script>
export default {
  name: 'NotificationUpdates',
  created(){
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000);
  },
  data() {
    return {
      data,
      imgUserUrl:require("@/assets/user.png"),
      imgExportUrl:require("@/assets/export.png")
    };
  },
}
const data = [
  {
    title: 'Your stats for last week are now available.',
    content:'',
    time:'2d ago'
  },
  {
    title: 'Your conference paper reached 40 citations:',
    content:'From Light to Rich ERE:Annotation of Entities,Relations, and Events',
    time:'4d ago'
  },
  {
    title: 'You hava a new citation on:',
    content:'Champolion:A robust parallel text sentence aligner',
    time:'Sep 8'
  },
  {
    title: 'You hava a new citation on:',
    content:'From Light to Rich ERE:Annotation of Entities, Relations and Events',
    time:'Sep 6'
  },
  {
    title: 'You hava a new citation on:',
    content:'Champolion:A robust parallel text sentence aligner',
    time:'Jun 4'
  },
  {
    title: 'You hava a new citation on:',
    content:'Champolion:A robust parallel text sentence aligner',
    time:'May 20'
  },
  {
    title: 'You hava a new citation on:',
    content:'From Light to Rich ERE:Annotation of Entities, Relations and Events',
    time:'May 24'
  },
  {
    title: 'You hava a new citation on:',
    content:'Champolion:A robust parallel text sentence aligner',
    time:'Apr 14'
  },
  {
    title: 'You hava a new citation on:',
    content:'From Light to Rich ERE:Annotation of Entities, Relations and Events',
    time:'May 2'
  },
  {
    title: 'You hava a new citation on:',
    content:'The Annotation Graph Toolkit: Software Components for Building Linguistiec Annotation Tools',
    time:'Apr 29'
  },
  {
    title: 'You hava a new citation on:',
    content:'Champolion:A robust parallel text sentence aligner',
    time:'Dec 1,2019'
  },
  {
    title: 'You hava a new citation on:',
    content:'From Light to Rich ERE:Annotation of Entities, Relations and Events',
    time:'Otc 6,2019'
  },
  {
    title: 'You hava a new citation on:',
    content:'The Annotation Graph Toolkit: Software Components for Building Linguistiec Annotation Tools',
    time:'Jul 11, 2019'
  },
  {
    title: 'You hava a new citation on:',
    content:'From Light to Rich ERE:Annotation of Entities, Relations and Events',
    time:'Sep 2,2019'
  },
  {
    title: 'You hava a new citation on:',
    content:'The Annotation Graph Toolkit: Software Components for Building Linguistiec Annotation Tools',
    time:'May 17,2019'
  },
];
</script>

<style scoped>

</style>