<template>
  <div>
    <a-row :gutter="30">
      <a-col span="24" aria-rowspan="4" v-if="showList">
          <n-list v-if="isRouterAlive" :dataUrl="'/articlesCitation/getArticlesCitationList'" :home="false" :hasPadding="true" :hasPaddingV="true"
                  :searchBar="false" :parameters="param"  />
      </a-col>
    </a-row>
  </div>
</template>

<script>
import NList from '@/views/business/components/NList/NList'

export default {
  name: 'ArticlesCitation',

  components: {
    //所引入的组件 需要先import进来
    NList,
  },
  data () {
    //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {
      showList: true,
      isRouterAlive:true,
      param: {
        publicationId: '',
        userId:'',
        index: 1,
        rows: 5
      },
    }
  },

  computed: {
    //方法，一般用来写一些逻辑返回属性
  },

  created () {
    //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
    this.param = this.$route.query;
  },
  methods: {
    reload (){
      this.isRouterAlive = false
      this.$nextTick(function(){
        this.isRouterAlive = true
      })
    }
  }
}

</script>

<style scoped>
.gutter-10 {
  margin-bottom: 10px;
}
</style>