<template>
<div>
  <a-card size="small">
    <template slot="title" >
      <span class="statisticalHistoryTitle">统计历史</span>
    </template>
    <a-row slot="extra">
      <div style="width: 140px;height: 34px;background: #ededed;border-radius: 18px; text-align: center">
        <div style="display: inline-block;" :class="yearStatisticalClass" @click="yearStatistical">
          <span :class="yearStatisticalFontClass">按年统计</span>
        </div>
        <div style="display: inline-block;" :class="monthStatisticalClass" @click="monthStatistical">
          <span :class="monthStatisticalFontClass">按月统计</span>
        </div>
      </div>
    </a-row>
    <a-row style="margin: 12px 0px;">
      <a-col :span="6">
        <div class="statisticalHistoryCheckBoxClass">
          <a-checkbox :checked="yyFlg" id="yyFlg" @change="onChange">
            作者被引用次数
          </a-checkbox>
          <div style="width: 8px;height: 8px;background: #4dbbc6;border: 1px solid #f5f6f6;border-radius: 50%;display: inline-block;"></div>
          <div style="width: 25px;height: 3px;background: #4dbbc6;border-radius: 2px;display: inline-block;top: -2.5px;position: relative;"></div>
        </div>
      </a-col>
      <a-col :span="6">
        <div class="statisticalHistoryCheckBoxClass">
          <a-checkbox :checked="ydFlg" id="ydFlg" @change="onChange">
            文献被阅读次数
          </a-checkbox>
          <div style="width: 8px;height: 8px;background: #5d80f3;border: 1px solid #f5f6f6;border-radius: 50%;display: inline-block;"></div>
          <div style="width: 25px;height: 3px;background: #5d80f3;border-radius: 2px;display: inline-block;top: -2.5px;position: relative;"></div>
        </div>
      </a-col>
      <a-col :span="6">
        <div class="statisticalHistoryCheckBoxClass">
          <a-checkbox :checked="tjFlg" id="tjFlg" @change="onChange">
            文献被推荐次数
          </a-checkbox>
          <div style="width: 8px;height: 8px;background: #ff6060;border: 1px solid #f5f6f6;border-radius: 50%;display: inline-block;"></div>
          <div style="width: 25px;height: 3px;background: #ff6060;border-radius: 2px;display: inline-block;top: -2.5px;position: relative;"></div>
        </div>
      </a-col>
      <a-col :span="6">
        <div class="statisticalHistoryCheckBoxClass">
          <a-checkbox :checked="bcFlg" id="bcFlg" @change="onChange">
            被收藏次数
          </a-checkbox>
          <div style="width: 8px;height: 8px;background: #ff9651;border: 1px solid #f5f6f6;border-radius: 50%;display: inline-block;"></div>
          <div style="width: 25px;height: 3px;background: #ff9651;border-radius: 2px;display: inline-block;top: -2.5px;position: relative;"></div>
        </div>
      </a-col>
    </a-row>

    <!--折线图-->
    <a-row>
      <ve-line :data="chartData" :grid="grid" :extend="extend" :events="chartEvents"></ve-line>
    </a-row>
  </a-card>
  <!--<br>-->
  <!--<a-card size="small">-->
  <a-card size="small" style="margin-top: 10px;" id="overview">
    <template slot="title" >
      <span class="statisticalHistoryTitle">统计信息概述</span>
    </template>
    <div>
      <!--第一组-->
      <a-row :gutter="16">
        <a-col :span="6">
          <a-card size="small" class="overviewCard">
            <div class="overviewTitle">引用次数</div>
            <div class="overviewNum">{{citations}}</div>
            <div class="overviewType">Cited</div>
            <img src="~@/assets/icons/icon-quote-statistics@2x.png" height="40" width="40" style="top: 12px;right: 12px;position: absolute;"/>
          </a-card >
        </a-col>
        <a-col :span="6">
          <a-card size="small" class="overviewCard">
            <div class="overviewTitle">阅读次数</div>
            <div class="overviewNum">{{reads}}</div>
            <div class="overviewType">Read</div>
            <img src="~@/assets/icons/icon-read-statistics@2x.png" height="40" width="40" style="top: 12px;right: 12px;position: absolute;"/>
          </a-card >
        </a-col>
        <a-col :span="6">
          <a-card size="small" class="overviewCard">
            <div class="overviewTitle">推荐次数</div>
            <div class="overviewNum">{{recommendations}}</div>
            <div class="overviewType">Recommended</div>
            <img src="~@/assets/icons/icon-recommend-statistics@2x.png" height="40" width="40" style="top: 12px;right: 12px;position: absolute;"/>
          </a-card >
        </a-col>
        <a-col :span="6">
          <a-card size="small" class="overviewCard">
            <div class="overviewTitle">收藏次数</div>
            <div class="overviewNum">{{savings}}</div>
            <div class="overviewType">Collected</div>
            <img src="~@/assets/icons/icon-collection-statistics@2x.png" height="40" width="40" style="top: 12px;right: 12px;position: absolute;"/>
          </a-card >
        </a-col>
      </a-row>
    </div>
  </a-card>
</div>
</template>

<script>
import Qs from 'qs'
import {getStatsUserYearlyList} from './UserStatisticsApi'
import {getStatsUserList} from './UserStatisticsApi'
import moment from 'moment'

export default {
  name: 'UserStatistics.vue',
  data() {
    const self = this
    this.chartEvents = {
      legendselectchanged: function (item) {
        self.yyFlg = item.selected.引用次数
        self.ydFlg = item.selected.阅读次数
        self.tjFlg = item.selected.推荐次数
        self.bcFlg = item.selected.收藏次数
      }
    }
    return {
      fwFlg: true,
      yyFlg: true,
      ydFlg: true,
      tjFlg: true,
      fxFlg: true,
      bcFlg: true,
      xzFlg: true,
      gzFlg: true,
      dateformat: "YYYY",
      chartData: {
        columns: ['日期',  '引用次数', '阅读次数', '推荐次数','收藏次数'],
        rows: []
      },
      grid:{
        right:'3%'
      },
      extend:{
        series:{
          smooth: false
        },
        xAxis: {
          axisLabel:{
            interval:0,
            formatter: (value, index) => {
             let datejson = new Date(value).toJSON();
              let date = new Date( + new Date(datejson)
                + 8*3600*1000).toISOString().
              replace(/T/g,' ').
              replace(/\.[\d]{3}Z/,'')
              let time = moment(date).format(this.dateformat)
              return time;
            },
          }
        },
        legend: {
          data:[],
          selected:{},
        },
      },
      publications: "",
      citations: "",
      reads: "",
      recommendations: "",
      sharings: "",
      savings: "",
      downloads: "",
      followings: "",
      yearStatisticalClass: 'selectStatisticalClass',
      monthStatisticalClass: 'unSelectStatisticalClass',
      yearStatisticalFontClass: 'selectStatisticalFontClass',
      monthStatisticalFontClass: 'unSelectStatisticalFontClass'
    };
  },
  created(){
      //初始化所需操作（页面渲染前），调用API取下拉框数据等，此时dom对象不存在，不能操作dom对象，可以操作一些data
      this.userId = this.$router.history.current.query.userId
      this.getList();
      this.changeFormat(0);
  },
  mounted () {
  },
  methods: {
    getList(){
      const that = this;
      let param = {
        userId: this.userId,
      }
      param = Qs.stringify(param)
      getStatsUserList(param).then(res => {
          if(res.data){
              that.citations = res.data.citations;
              that.reads = res.data.reads;
              that.recommendations = res.data.recommendations;
              that.savings = res.data.savings;
          }
      })
    },
    onChange(e){
      let flg = e.nativeEvent.target.id
      let flgVal = e.target.checked
      switch (flg){
        case 'yyFlg': this.yyFlg = flgVal;break;
        case 'ydFlg': this.ydFlg = flgVal;break;
        case 'tjFlg': this.tjFlg = flgVal;break;
        case 'bcFlg': this.bcFlg = flgVal;break;
      }
      this.extend.legend.selected = {
        '引用次数':this.yyFlg,
        '阅读次数':this.ydFlg,
        '推荐次数':this.tjFlg,
        '收藏次数':this.bcFlg,
      }
    },
    changeFormat(e){
      const that = this;
      if(e === "1"){
        this.chartData.rows=[];
        this.dateformat="YYYY-MM";
        let param = {
            userId: this.userId,
            timeType: 1
        }
        param = Qs.stringify(param)
        getStatsUserYearlyList(param).then(res => {
            for(let i=0; i<res.data.length; i++){
              let obj = {
                  '日期': res.data[i].months + '',
                  '引用次数': res.data[i].citationsSum,
                  '阅读次数': res.data[i].readsSum,
                  '推荐次数': res.data[i].recommendSum,
                  '收藏次数': res.data[i].savingsSum
              };
              that.chartData.rows.push(obj);
            }
        })
      }else {
        this.chartData.rows=[];
        this.dateformat="YYYY";
        let param = {
          userId: this.userId,
          timeType: 0
        }
        param = Qs.stringify(param)
        getStatsUserYearlyList(param).then(res => {
          for(let i=0; i<res.data.length; i++){
            let obj = {
                '日期': res.data[i].years + '',
                '引用次数': res.data[i].citationsSum,
                '阅读次数': res.data[i].readsSum,
                '推荐次数': res.data[i].recommendSum,
                '收藏次数': res.data[i].savingsSum,
            };
          that.chartData.rows.push(obj);
          }
        })
      }
    },

    yearStatistical() {
      this.yearStatisticalClass="selectStatisticalClass";
      this.monthStatisticalClass="unSelectStatisticalClass";
      this.yearStatisticalFontClass="selectStatisticalFontClass";
      this.monthStatisticalFontClass="unSelectStatisticalFontClass";
      this.changeFormat("0");
    },

    monthStatistical() {
      this.yearStatisticalClass="unSelectStatisticalClass";
      this.monthStatisticalClass="selectStatisticalClass";
      this.yearStatisticalFontClass="unSelectStatisticalFontClass";
      this.monthStatisticalFontClass="selectStatisticalFontClass";
      this.changeFormat("1");
    },
  }
}
</script>

<style scoped>
  .overviewTitle {
    width: 52px;
    height: 18px;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: #666666;
    line-height: 18px;
  }
  /deep/.overviewCard .ant-card-body{
    padding: 12px !important;
  }
  /deep/#overview > .ant-card-body{
    padding: 48px 24px !important;
  }
  /deep/#researcher > .ant-card-body{
    padding: 0px !important;
  }
  /deep/#suggestedUser > .ant-card-body{
    padding: 0px !important;
  }
  /deep/#userCoauthor > .ant-card-body{
    padding: 0px !important;
  }
  .overviewCard {
    background: #f5f6f6;
    border-radius: 4px !important;
  }
  .overviewNum {
    width: 45px;
    height: 26px;
    font-size: 20px;
    font-family: DINPro, DINPro-Bold;
    font-weight: 700;
    text-align: left;
    color: #333333;
    line-height: 26px;
  }
  .overviewType {
    width: 87px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #999999;
    line-height: 17px;
  }

  /deep/#researcher .ant-card-head-title {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 21px;
  }

  .statisticalHistoryTitle {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 21px;
  }

  .selectStatisticalClass {
    width: 66px;
    line-height: 26px;
    background: rgb(77, 187, 198);
    border-radius: 14px;
    margin: 4px 0px;
    text-align: center;
  }

  .selectStatisticalFontClass {
    width: 48px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    line-height: 17px;
  }

  .unSelectStatisticalClass {
    width: 66px;
    height: 26px;
  }

  .unSelectStatisticalFontClass {
    width: 48px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 17px;
  }

  .statisticalHistoryCheckBoxClass {
    height: 32px;
    background: #f5f6f6;
    border: 0.5px solid #ececec;
    border-radius: 16.5px;
    text-align: left;
    line-height: 32px;
    padding-left: 24px;
    margin-right: 24px
  }
  #overview > .ant-card-body {
    padding: 24px 24px 48px 24px !important;
  }

  #overview.ant-card-body {
    padding: 0px !important;
  }
</style>