<template>
  <div class="home">
    <div ref="file"></div>
  </div>
</template>

<script>
const docx = require('docx-preview');
window.JSZip = require('jszip')
export default {
    name: 'Agreement',
    data() {
        return {
            wordText: "",
            wordURL: '../../agreement/用户协议.docx'
        };
    },
    mounted(){
        if (this.$route.query.agreementFlg) {
            if (this.$route.query.agreementFlg === '1') {
                this.wordURL = '/agreement/用户协议.docx'
            } else if (this.$route.query.agreementFlg === '2') {
                this.wordURL = '/agreement/隐私政策.docx'
            } else {
                this.wordURL = '/agreement/cookie协议.docx'
            }
        }
        const xhr = new XMLHttpRequest();
        xhr.open("get", this.wordURL, true);
        xhr.responseType = "blob";
        xhr.onload = () => {
            console.log(xhr.response)
            docx.renderAsync(xhr.response,this.$refs.file)
        };
        xhr.send();
        console.log(document.querySelector('section.topmenu').style)
        if(this.$route.fullPath.indexOf('agreementForUser/agreement')) {
            // document.querySelector('#app > section').style.background='none !important'
            // document.querySelector('#app > section > section.topmenu').style.background='none !important'
        }
    }
}
</script>

<style scoped lang="less">
  /deep/.docx-wrapper > .docx{
    padding: 12px;
    width: 800pt !important;
  }

  /deep/.docx-wrapper {
    background: none !important;
    padding: 0px !important;
    padding-bottom: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  /deep/.docx-wrapper>section.docx {
    box-shadow: none !important;
    padding: 12px !important;
  }
</style>

<style scoped>
  /*修改全局容器属性*/
  .baseContent {
    max-width: 100% !important;
    margin:0 !important;
    background: #ffffff !important;
  }
</style>