@font-face {
  font-family: 'kennsight-icon';
  src:  url('./fonts/kennsight-icon.eot?eda6vl');
  src:  url('./fonts/kennsight-icon.eot?eda6vl#iefix') format('embedded-opentype'),
    url('./fonts/kennsight-icon.ttf?eda6vl') format('truetype'),
    url('./fonts/kennsight-icon.woff?eda6vl') format('woff'),
    url('./fonts/kennsight-icon.svg?eda6vl#kennsight-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-kennsight-pdf"], [class*=" icon-kennsight-pdf"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kennsight-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kennsight-pdf-minus:before {
  content: "\ea0b";
}
.icon-kennsight-pdf-checkmark:before {
  content: "\ea10";
}
.icon-kennsight-pdf-font-size:before {
  content: "\ea61";
}
