<template>
  <span>
    <a-row :gutter="24" class="gutter-row">
      <a-col :span="8">
        <a-button type="primary" style="width: 100px" @click="IsMine(item.publicationId, index, true)"
                  :loading="loadingMine">是我的
        </a-button>
      </a-col>
      <a-col :span="8">
         <a-button style="width: 100px" @click="IsNotMine(item.publicationId, index)"
                   :loading="loadingNotMine">不是我的
        </a-button>
      </a-col>
    </a-row>
    <!--对话框-->
      <n-user-modal
        :dataUrl="'/UserClaimArticles/GetOldInformation'"
        :parameters="{
            index: 1,
            rows: 10,
            publicationId:item.publicationId,
            clickFlg: '',
            userId: '',
          }"
        :Title="'认领文章'"
        :visible="visible"
        :modal-width="modalWidth"
        :modal-height="modalHeight"
        :handle-cancel="handleCancel"
        :hasPagination="true"
        :btnAction="IsMine"
        :listIndex="index"
        :claimBtnFlg="true"
      />
  </span>
</template>

<script>
import { UpdatePublicationUser, UpdateSuggestedPublicationToClaim } from './UserClaimArticlesApi'
import Qs from 'qs'
import NUserModal from '@/views/business/components/NUserModal/NUserModal'

export default {
  name: 'ClaimBtnGroup',
  components: {
    NUserModal
  },
  props: {
    item: {
      type: Object,
    },
    list: {
      type: Array,
    },
    userId: {
      type: Number,
    },
    index: {
      type: Number
    },
    modalUrl: {
      type: String,
    },
    'dataUrl': {
      type: String,
    },
  },
  data () {
    return {
      loadingNotMine: false,
      loadingMine: false,
      modalWidth: 0,
      modalHeight: {},
      visible: false,
    }
  },
  methods: {
    IsMine (publicationId, index, type, searchUserId) {
      this.loadingMine = true
      let param =
        {
          userId: this.userId,
          publicationId: publicationId,
          clickFlg: type ? '200' : '100',
        }
      if (searchUserId) {
        param = {
          ...param,
          searchUserId: searchUserId
        }
      }
      param = Qs.stringify(param)
      UpdatePublicationUser(param).then(res => {
        if (res.ret_code === '0') {
          this.loadingMine = false
          this.list.splice(index, 1)
          this.handleCancel()
        }
      }).catch(err => {
        if (err.ret_code === '90000') {
          // 打开对话框
          this.showUserModal()
        } else {
          this.loadingMine = false
        }
        this.loadingMine = false
      })
    },

    IsNotMine (publicationId, index) {
      this.loadingNotMine = true
      let param =
        {
          userId: this.userId,
          publicationId: publicationId,
        }
      param = Qs.stringify(param)
      UpdateSuggestedPublicationToClaim(param).then(res => {
        if (res.ret_code === '0') {
          this.loadingNotMine = false
          this.list.splice(index, 1)
        } else {
          //错误的场合
          this.loadingNotMine = false
        }
      }).catch(err => {
        this.loadingNotMine = false
      })
    },

    // 打开对话框
    showUserModal () {
      this.modalWidth = 600
      this.modalHeight = {
        height: '450px',
        overflow: 'auto'
      }
      this.visible = true
    },

    // 关闭对话框
    handleCancel (e) {
      this.visible = false
    },
  }
}
</script>

<style scoped>
.gutter-row {
  margin-bottom: 20px;
}
</style>