<template>
  <div>
    <a-card size="small">
      <p>
        这是你文章吗?
      </p>
    </a-card>
    <a-row :gutter="24">
      <a-col :span="24">
        <n-list
          :dataUrl="'/UserClaimArticles/GetBookList'"
          :parameters="{
            userId:this.userId,
            index:1,
            rows:5,
            }"
          :home="false"
          :searchBar="false"
          :btnGroup="false"
          :btnGroupUp="false"
          :sortBar="false"
          :showShare="false"
          :claimBtnGroup="true"
        />
      </a-col>
    </a-row>
    <a-card slot="footer" v-if="data.hasNextPage" style="text-align: center; height: 80px ;margin-top: 10px"
            :bordered="false">
      <a-spin :spinning="loadingMore" size="large"/>
    </a-card>
  </div>
</template>

<script>
import { GetBookList } from './UserClaimArticlesApi'
import ClaimBtnGroup from './ClaimBtnGroup'
import Qs from 'qs'
import NList from '@/views/business/components/NList/NList'

export default {
  name: 'UserClaimArticles',
  components: {
    //所引入的组件 需要先import进来
    NList,
    ClaimBtnGroup
  },

  data () {
    //返回值
    //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {
      loading: true,
      loadingMore: false,
      data: {},
      list: [],
      index: 2,
      userId: this.$router.history.current.query.userId
    }
  },

  mounted () {
    //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
    window.onscroll = throttle(onScroll)
    const that = this

    function onScroll () {
      //变量scrollTop是滚动条滚动时,距离顶部的距离
      let scrollTop = document.documentElement.scrollTop || document.body.scrollTop
      //变量windowHeight是可视区的高度
      let windowHeight = document.documentElement.clientHeight || document.body.clientHeight
      //变量scrollHeight是滚动条的总高度
      let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight
      //滚动条到底部的条件
      if( scrollHeight - (scrollTop+windowHeight) <= 10 ) {
        //写后台加载数据的函数
        that.loadMore()
      }
    }

    //函数节流
    function throttle (fn, interval = 300) {
      let canRun = true
      return function () {
        if (!canRun) return
        canRun = false
        setTimeout(() => {
          fn.apply(this, arguments)
          canRun = true
        }, interval)
      }
    }
  },
  methods: {
    loadMore () {
      if (this.data.hasNextPage) {
        this.loadingMore = true
        let param = {
          userId: this.userId,
          index: this.index++,
          rows: 5,
        }
        param = Qs.stringify(param)
        GetBookList(param).then(res => {
          if (res.ret_code === '0') {
            if (res.data) {
              //成功返回的场合
              this.data = res.data
              this.list = this.list.concat(res.data.list)
            }
            this.loadingMore = false
          } else {
            //错误的场合
            this.loading = false
          }
        }).finally(() => {
          this.loadingMore = false
        })
      }
    },
  }
}
</script>

<style scoped>

</style>
