<template>
  <page-header-wrapper
    :tab-list="tabList"
    :tab-active-key="tabActiveKey"
    :tab-change="handleTabChange"
    :breadcrumb="false"
    :title="false"
  >
    <template v-slot:content >
      <a-card size="small" :loading="infoLoading" :bordered="false" style="padding-left: 25px" :bodyStyle="{'padding':'0 !important'}">
        <a-row class="title">
          <a-col :span="2" >
            <div style="text-align: center">
              <user-img :preview="true" :userImg="avatar" :width="'80px'" :height="'80px'" />
            </div>
          </a-col>
          <a-col :span="18" style="padding-left: 10px;">
            <h2 style=" display: inline-block;">
              {{name}}
<!--              <a-tag color="orange" v-if="userInfo.tiaUserId !== undefined && userInfo.tiaUserId !== null && userInfo.tiaUserId !== ''" style="margin-left: 50px; font-size: 14px;">在演示版中此学者论文收录不全</a-tag>-->
            </h2>
            &nbsp<div v-if="isSex == '1'" style=" display: inline-block;"><a-icon type="man" :rotate="-45" style="font-size: 16px; color: #2a82e4;" /></div>
            &nbsp<div v-if="isSex == '2'" style=" display: inline-block;"><a-icon type="woman" style="font-size: 16px; color: #FF359A;" /></div>
<!--            <a-row style="font-size: 12px">{{userInfo.currentPosition}}<span v-if="userInfo.currentPosition && userInfo.institutionName">，</span>{{userInfo.institutionName}}</a-row>-->
            <a-row v-if="province != null || city != null" style="font-size: 12px; margin-top: 8px;">{{province}}&nbsp·&nbsp{{city}}</a-row>
            <a-row v-if="userId == loginUserId && introduction != null" style="font-size: 12px; margin-top: 8px;">{{introduction}}</a-row>
            <!--<a-row v-if="userId == loginUserId && introduction == null" style="font-size: 12px; margin-top: 8px;">你还没有设置个人介绍哦~</a-row>-->
            <a-row v-if="userId == loginUserId && (introduction == null || introduction == '')" style="font-size: 12px; margin-top: 8px;">你还没有设置个人介绍哦~</a-row>
            <a-row v-if="userId != loginUserId && introduction != null" style="font-size: 12px; margin-top: 8px;">{{introduction}}</a-row>
            <!--<a-row v-if="userId != loginUserId && introduction == null" style="font-size: 12px; margin-top: 8px;">他很懒，还没留下个人介绍...</a-row>-->
            <a-row v-if="userId != loginUserId && (introduction == null || introduction == '')" style="font-size: 12px; margin-top: 8px;">他很懒，还没留下个人介绍...</a-row>
          </a-col>
          <a-col :span="4">
            <div v-if="isSelfFlg">
              <a-button @click="showUploadModal" block type="primary" icon="plus" id="button">
              <!--添加新的研究-->
                上传私人PDF
              </a-button>
              <a-button @click="routerEditDetail" block type="primary" icon="edit" id="editButton">
                编辑个人资料
              </a-button>
            </div>
            <div v-else>
              <a-button :loading="followLoading" v-if="userInfo.followingBtnFlg == '1'" @click="followAction" block type="primary" class="followingButton">
                关注
              </a-button>
              <a-button :loading="followLoading" v-if="userInfo.followingBtnFlg == '2'" @click="followAction" block type="primary" class="followingButton">
                已关注
              </a-button>
              <a-button :loading="followLoading" v-if="userInfo.followingBtnFlg == '3'" @click="followAction" block type="primary" class="followingButton">
                互相关注
              </a-button>
            </div>
          </a-col>
            <!--<n-upload-modal
              :title="'添加新的研究'"
              :visible="visible"
              :modal-width="650"
              :modal-height="{height:'520px',overflow: 'auto'}"
              :handle-cancel="handleCancel"
            />-->
            <n-upload-modal
              ref="nUploadMoadl"
              :title="'上传文档'"
              :visible="visible"
              :modal-width="uploadModelWidth"
              :modal-height="uploadBodyStyle"
              :handle-cancel="handleCancelModal"
              :setModelWidthAndHeight="setModelWidthAndHeight"
            />
        </a-row>
      </a-card>
    </template>
    <router-view />
  </page-header-wrapper>
</template>

<script>
import Qs from 'qs'
import {getUserInfo} from './UserFrameApi'
import NUploadModal from '@/views/business/components/NUploadModal/NUploadModal'

const getActiveKey = (path) => {
  switch (path) {
    case '/user/userPage/UserDynamic':
      return '1'
    case '/user/userPage/UserFavorites':
      return '2'
    default:
      return '1'
  }
}
export default {
  name: 'SearchLayout',
  components:{
      NUploadModal
  },
  data () {
    return {
      // tabList: [
      //   { key: '1', tab: '动态' },
      //   { key: '2', tab: '收藏' },
      // ],
      tabList: [
          { key: '1', tab: '动态' }
      ],
      tabActiveKey: '1',
      userInfo:{},
      infoLoading: false,
      visible: false,
      search: true,
      userId:'',
      loginUserId: '',
      avatar:'',
      name: '',
      introduction: '',
      province: '',
      city: '',
      isSex: '',
      uploadModelWidth: 450,
      uploadBodyStyle:{
        height: '200px',
        padding: '0 24px',
        overflow: 'auto'
      },
      isSelfFlg: true,
      followLoading:false,
    }
  },
  created () {
    this.loginUserId = this.$store.getters.userId
    this.tabActiveKey = getActiveKey(this.$route.path)
    this.userId = this.$router.history.current.query.userId
    this.$watch('$route', (val) => {
      this.tabActiveKey = getActiveKey(val.path)
      this.userId = this.$router.history.current.query.userId
      if (this.userId != this.loginUserId) {
        this.isSelfFlg = false
      } else {
        let index = this.tabList.findIndex(item => item.key=== '2')
        if (index === -1) {
           this.getUserInfo();
           this.tabList.push({ key: '2', tab: '收藏' })
        }
      }
    })
    if (this.userId != this.loginUserId) {
      this.isSelfFlg = false
    } else {
      this.tabList.push({ key: '2', tab: '收藏' })
    }
  },
  mounted(){
    this.getUserInfo();
  },
  methods: {
    handleTabChange (key) {
      this.tabActiveKey = key
      switch (key) {
        case '1':
          this.$router.push({path:'/user/userPage/UserDynamic',query:{userId: this.userId,}})
          break
        case '2':
          this.$router.push({path:'/user/userPage/UserFavorites',query:{userId: this.userId,}})
          break
        default:
          this.$router.push({path:'/user/userPage/UserDynamic',query:{userId: this.userId,}})
      }
    },
    getUserInfo(){
      /*const param = Qs.stringify({userId:this.userId});*/
      const param = Qs.stringify({userId:this.userId, loginUserId: this.loginUserId})
      this.infoLoading = true;
      //获取用户的信息
      getUserInfo(param).then(res => {
        if(res.ret_code==='0'){
            this.userInfo = res.data
            if (res.data.userInfo.profilePath != null) {
              this.avatar = res.data.userInfo.profilePath;
            } else {
              this.avatar = res.data.profilePhotoPath;
            }
            if (res.data.userInfo.nickname != null) {
              this.name = res.data.userInfo.nickname;
            } else {
              this.name = res.data.displayName;
            }
            this.introduction = res.data.userInfo.introduction;
            this.isSex = res.data.userInfo.sex;
            this.province = res.data.userInfo.provinceName;
            this.city = res.data.userInfo.cityName;
            this.infoLoading = false
        }else {
            this.$notification.error(res.ret_msg);
        }

      }).catch(err => {
      }).finally(() => {
        this.infoLoading = false
      })
    },
    showUploadModal() {
      // this.visible = true;
      // this.$notification.info({
      //   top:"100px",
      //   style: 'background-color:#40a9ff;',
      //   message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
      //   icon: <a-icon type="info-circle" style="color:white;" />,
      //   closeIcon: <a-icon type="close" style="color:white" />,
      //   duration: 10
      // });
      this.visible = true;
      this.uploadModelWidth = 450;
      this.uploadBodyStyle.height = '200px'
      this.$refs.nUploadMoadl.setCurrent();
    },
    routerEditDetail() {
      this.$router.push({
          path: '/user/userPage/EditProfile'
      });
    },
    // 关闭对话框
    handleCancel(e) {
        this.visible = false;
    },
    handleCancelModal(e) {
        this.visible = false;
        this.$http.post('/userAchievements/delTempFile').then(res => {})
    },
    setModelWidthAndHeight(width, height) {
      this.uploadModelWidth = width;
      this.uploadBodyStyle.height = height;
    },
    followAction(){
      this.followLoading = true
      const param = Qs.stringify({
        userId:this.$store.getters.userId,
        userIdFollowed : this.userId,
        followingBtnFlg : this.userInfo.followingBtnFlg
      });
      this.$http.post('/userHome/addRecommendedClickToFollow', param).then(res => {
        let userModal = res.data;
        console.log('userModal')
        console.log(userModal)
        if (userModal) {
            this.userInfo.followingBtnFlg = userModal.followingBtnFlg;
        } else {
            if (this.userInfo.followingBtnFlg === '1') {
                this.userInfo.followingBtnFlg = '2'
            } else {
                this.userInfo.followingBtnFlg = '1'
            }
        }
        this.followLoading = false
      }).catch(
        err => {
          if(!err) {
            let message = ''
            if (this.userInfo.followingBtnFlg === '1') {
                message = '关注'
            } else {
                message = '取消关注'
            }
            this.$notification.error({
                message: `${message}失败`
            })
            this.followLoading = false
          }
        }
      )
    }
  },
}
</script>
<style scoped>
h2{
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
#button{
  margin-top: 12px;
  width: 160px;
}
#editButton{
  margin-top: 12px;
  width: 160px;
}
.followingButton{
  margin-top: 12px;
  width: 160px;
}
</style>