<template>
  <div style="background-color: #f0f2f5">
    <!--上方header-->
    <a-row style="height: 80px;background-color: #fdffff">
      <a-col span="4" push="3">
        <img src="~@/assets/logo.png" class="logo" alt="logo" style="height:25px;width: 180px;margin-top: 30px"/>
      </a-col>
      <a-col span="4" push="16">
        <a-dropdown placement="bottomRight">
          <span class="ant-pro-account-avatar">
            <a-icon type="user" style="font-size: 22px; cursor: pointer; margin-top: 30px" />
          </span>
          <template v-slot:overlay>
            <a-menu class="ant-pro-drop-down menu" :selected-keys="[]">
              <a-menu-item key="logout" @click="handleLogout">
                <a-icon type="logout" />
                退出登录
              </a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </a-col>
    </a-row>
    <!--中间各部分数据-->
    <a-row style="margin-top: 30px;">
      <a-col span="18" push="3">
        <a-card>
          <a-tabs default-active-key="1" @change="callback">
            <a-tab-pane key="1" tab="驾驶舱">
              <!--数据部分-->
              <a-row>
                <a-col span="24">
                  <a-card title="数据总览">
                    <a-row>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>用户</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>作者</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center;height: 90px">
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center;height: 90px">
                      </a-card-grid>
                    </a-row>
                    <a-row>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>论文</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>期刊</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>会议</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>预览版</a-row>
                      </a-card-grid>
                    </a-row>
                    <a-row>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>专利</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>美国</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>中国</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>欧洲</a-row>
                      </a-card-grid>
                    </a-row>
                    <a-row>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>基金</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>美国</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>中国</a-row>
                      </a-card-grid>
                      <a-card-grid style="width:25%;text-align:center">
                        <a-row>334,568</a-row>
                        <a-row>欧洲</a-row>
                      </a-card-grid>
                    </a-row>
                  </a-card>
                </a-col>
              </a-row>
              <!--图表1-->
              <a-row style="margin-top: 30px">
                <a-col span="24">
                  <a-card title="注册用户">
                    <!--放置折线图-->
                    <a-row>
                      <a-col span="24">
                        <ve-line :data="chartData1" ></ve-line>
                      </a-col>
                    </a-row>
                  </a-card>
                </a-col>
              </a-row>
              <!--图表2-->
              <a-row style="margin-top: 30px">
                <a-col span="24">
                  <a-card title="上传文献">
                    <a slot="extra" href="#">more</a>
                    <!--放置折线图-->
                    <a-row>
                      <a-col span="24">
                        <ve-line :data="chartData2" ></ve-line>
                      </a-col>
                    </a-row>
                  </a-card>
                </a-col>
              </a-row>
              <!--图表3-->
              <a-row style="margin-top: 30px">
                <a-col span="24">
                  <a-card title="社交">
                    <a slot="extra" href="#">more</a>
                    <a-col span="24">
                      <ve-line :data="chartData3" ></ve-line>
                    </a-col>
                  </a-card>
                </a-col>
              </a-row>
            </a-tab-pane>
            <a-tab-pane key="2" tab="用户" force-render>
            </a-tab-pane>
            <a-tab-pane key="3" tab="作者">
            </a-tab-pane>
            <a-tab-pane key="4" tab="文献">
            </a-tab-pane>
            <a-tab-pane key="5" tab="学术机构">
            </a-tab-pane>
            <a-tab-pane key="6" tab="院系">
            </a-tab-pane>
            <a-tab-pane key="7" tab="期刊">
            </a-tab-pane>
            <a-tab-pane key="8" tab="会议">
            </a-tab-pane>
            <a-tab-pane key="9" tab="管理人员">
            </a-tab-pane>
          </a-tabs>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import { Modal } from 'ant-design-vue'

export default {
  name: 'Cockpit',
  data: function () {
    return {
      chartData1: {
        columns: ['日期', '注册用户', '本天', '本月', '本年', 'Max'],
        rows: [
          { '日期': '1/1', '注册用户': 1393 },
          { '日期': '1/2', '注册用户': 3530 },
          { '日期': '1/3', '注册用户': 2923 },
          { '日期': '1/4', '注册用户': 1723 },
          { '日期': '1/5', '注册用户': 3792 },
          { '日期': '1/6', '注册用户': 4593 },
          { '日期': '1/7', '注册用户': 1393 },
          { '日期': '1/8', '注册用户': 3530 },
          { '日期': '1/9', '注册用户': 29236 },
          { '日期': '1/10', '注册用户': 1723 },
          { '日期': '1/11', '注册用户': 3792 },
          { '日期': '1/12', '注册用户': 4593, }
        ]
      },
      chartData2: {
        columns: ['日期', '文献数量', '本天', '本月', '本年', 'Max'],
        rows: [
          { '日期': '1/1', '文献数量': 15393 },
          { '日期': '1/2', '文献数量': 35430 },
          { '日期': '1/3', '文献数量': 29123 },
          { '日期': '1/4', '文献数量': 10723 },
          { '日期': '1/5', '文献数量': 3792 },
          { '日期': '1/6', '文献数量': 4593 },
          { '日期': '1/7', '文献数量': 13393 },
          { '日期': '1/8', '文献数量': 3530 },
          { '日期': '1/9', '文献数量': 29236 },
          { '日期': '1/10', '文献数量': 17223 },
          { '日期': '1/11', '文献数量': 3792 },
          { '日期': '1/12', '文献数量': 4593, }
        ]
      },
      chartData3: {
        columns: ['日期', '关注', '推荐', '保存', '分享', '全文请求'],
        rows: [
          { '日期': '2020年1月', '关注': 15393, '推荐': 35430, '保存': 15393, '分享': 38430, '全文请求': 21830 },
          { '日期': '2020年2月', '关注': 35430, '推荐': 52830, '保存': 2593, '分享': 75430, '全文请求': 95130 },
          { '日期': '2020年3月', '关注': 29123, '推荐': 35430, '保存': 33393, '分享': 35430, '全文请求': 8430 },
          { '日期': '2020年4月', '关注': 10723, '推荐': 358, '保存': 47393, '分享': 3630, '全文请求': 38430 },
          { '日期': '2020年5月', '关注': 3792, '推荐': 35430, '保存': 8033, '分享': 66430, '全文请求': 66630 },
          { '日期': '2020年6月', '关注': 4593, '推荐': 35030, '保存': 65393, '分享': 3540, '全文请求': 37770 },
          { '日期': '2020年7月', '关注': 13393, '推荐': 358630, '保存': 5393, '分享': 35430, '全文请求': 130 },
          { '日期': '2020年8月', '关注': 3530, '推荐': 530, '保存': 99393, '分享': 35430, '全文请求': 22430 },
          { '日期': '2020年9月', '关注': 29236, '推荐': 65430, '保存': 35393, '分享': 3430, '全文请求': 8430 },
          { '日期': '2020年10月', '关注': 17223, '推荐': 95430, '保存': 69393, '分享': 35430, '全文请求': 3830 },
          { '日期': '2020年11月', '关注': 3792, '推荐': 75430, '保存': 81393, '分享': 35830, '全文请求': 3840 },
          { '日期': '2020年12月', '关注': 4593, '推荐': 15430, '保存': 5393, '分享': 35490, '全文请求': 3830 }
        ]
      }
    }
  },
  created(){
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000);
  },
  methods: {
    callback(key) {
    },
    handleLogout (e) {
        Modal.confirm({
            title: this.$t('layouts.managemenu.dialog.title'),
            content: this.$t('layouts.managemenu.dialog.content'),
            okText: '确认',
            cancelText: '取消',
            onOk: () => {
                this.$router.push({ name: 'manageLogin' })
            },
            onCancel () {}
        })
    }
  },
}

</script>

<style scoped>

</style>