<template>
  <div class="antd-pro-components-article-list-content-index-listContent">
    <a-row class="extra docType-row">
      <div class="ellipsisOne">
        <a-tag v-if="docTypeName" class="docTypeName"><div style="margin-top: 2px">{{ docTypeName }}</div></a-tag>
        <span class="updateAt" v-if="updateAt && !beingRead">发表于{{ updateAt }}年</span>
        <span v-if="source && !beingRead" :title="source" class="source">{{source}}</span>
<!--        <a-tag v-if="uploadBtnFlg === '2' && !beingRead" style="border-radius: 5px;margin-right: 20px;font-size: 14px;background-color: #f9f9f9;border-color: #7f8c8d">有全文</a-tag>-->
        <a-rate v-if="rateFlg && !beingRead" @change="onRate" :allow-clear="false" :defaultValue="score"  v-model="rateScore" />
      </div>
    </a-row>
    <a-row class="extra" style=" margin-top: 4px;">
      <span style="color: #595959;font-size: 15px" v-if="doiFlg && !beingRead">
           DOI:{{doi}}
      </span>
    </a-row>
    <a-row class="extra" style="margin-top: 4px;">
      <span v-for="(other,indexL) in otherOwner">
        <a :ref="otherOwner[indexL].institutionsIndex" v-if="indexL < (beingRead?2:5)" @click="routeUser(other.authorId, other.authorName)">
          <span class="authour"  @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="otherOwner[indexL].institutionsIndex">{{ other.authorName }}</span>
          <sup v-if="!beingRead">
            <span>
              <span v-if="other.institutionsIndex" @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="otherOwner[indexL].institutionsIndex" v-for="item in other.institutionsIndex.split(',').sort(function (a,b){ return a-b })" class="authourIndex">
                {{ item }}
              </span>
            </span>
          </sup>
          <span v-if="indexL < otherOwner.length - 1" class="authour">/</span>
        </a>
        <a :ref="otherOwner[indexL].institutionsIndex" v-if="(indexL > (beingRead?2:5) || indexL === (beingRead?2:5)) && showMoreUserFlg" @click="routeUser(other.authorId, other.authorName)">
          <span class="authour" @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="otherOwner[indexL].institutionsIndex">{{ other.authorName }}</span>
          <sup v-if="!beingRead">
            <span>
              <span v-if="other.institutionsIndex" @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="otherOwner[indexL].institutionsIndex" v-for="item in other.institutionsIndex.split(',').sort(function (a,b){ return a-b })" class="authourIndex">
                {{ item }}
              </span>
            </span>
          </sup>
          <span v-if="indexL < otherOwner.length - 1" class="authour">/</span>
        </a>
      </span>
      <a v-if="otherOwner.length > (beingRead?3:5) && !showMoreUserFlg">
        <span class="authour" v-text="'...'" @click="()=> {beingRead?routeArticles(publicationId):showMoreUser(showMoreUserFlg)}"></span>
      </a>
      <a :ref="otherOwner[otherOwner.length-1].institutionsIndex"  v-if="(otherOwner.length > (beingRead?2:5) && !showMoreUserFlg)" @click="routeUser(otherOwner[otherOwner.length-1].authorId, otherOwner[otherOwner.length-1].authorName)">
        <span class="authour">/</span>
        <span class="authour" @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="otherOwner[otherOwner.length-1].institutionsIndex">{{ otherOwner[otherOwner.length-1].authorName }}</span>
        <sup v-if="!beingRead">
          <span>
              <span v-if="otherOwner[otherOwner.length-1].institutionsIndex" @mouseover="highLightInstitution" @mouseleave="offLightInstitution" :id="otherOwner[otherOwner.length-1].institutionsIndex" v-for="item in otherOwner[otherOwner.length-1].institutionsIndex.split(',').sort(function (a,b){ return a-b })" class="authourIndex">
                {{ item }}
              </span>
          </span>
        </sup>
      </a>
    </a-row>
    <a-row v-if="!beingRead && institutionList.length > 0" class="extra">
      <span v-for="(item,index) in institutionList">
        <a :ref="'#'+item.institutionIndex" v-if="index < 3"><!--@click="routeInstitution(item.institutionId)"-->
          <a-tag class="institutionIndexTag">
            <div style="margin-top: 1px">
              <span class="institutionIndexNum">{{ item.institutionIndex }}</span>
              <span  @mouseover="highLightUser" @mouseleave="offLightUser" :id="item.institutionIndex" class="institutionIndexContent">{{ item.institutionName }}</span><!---->
            </div>
          </a-tag>
        </a>
        <a :ref="'#'+item.institutionIndex" v-if="(index > 3 || index === 3) && showMoreInstitutionFlg"><!--@click="routeInstitution(item.institutionId)"-->
          <a-tag class="institutionIndexTag">
            <div style="margin-top: 1px">
             <span class="institutionIndexNum">{{ item.institutionIndex }}</span>
             <span @mouseover="highLightUser" @mouseleave="offLightUser" :id="item.institutionIndex" class="institutionIndexContent">{{ item.institutionName }}</span><!-- -->
            </div>
          </a-tag>
        </a>
      </span>
      <a v-if="institutionList.length > 3 && !showMoreInstitutionFlg">
        <img src="~@/assets/icons/icon-ellipsis.png" height="24" width="24" @click="()=> {this.isPublication?showMoreInstitution(showMoreInstitutionFlg):routeArticles(publicationId)}"/><!---->
      </a>
    </a-row>
    <a-row  v-if="!beingRead">
      <a-row>
        <a-spin :spinning="spinning">
          <div class="summaryContent descriptionContent">
            {{ showFlg?descriptionContent:computedTxt }}
            <a v-if="computedByteLen>280" style="color: #2870FF !important;font-weight: 400;font-size: 15px;" @click="showText(showFlg)">{{showFlg?'收起':'更多'}}</a>
          </div>
        </a-spin>
      </a-row>
      <a-row style="margin-top: 8px;" class="recommendRow">
          <a-col :span="3">
            <img src="~@/assets/icons/icon-recommend@2x.png" height="13" width="13" style="margin-right: 3px; top: -2px; position: relative;"/><span style="margin-right: 4px;">{{recommendations}}</span>推荐
          </a-col>
          <a-col :span="3">
            <img src="~@/assets/icons/icon-collection@2x.png" height="13" width="13" style="margin-right: 3px; top: -2px; position: relative;"/><span style="margin-right: 4px;">{{savings}}</span>收藏
          </a-col>
          <a-col :span="3">
            <img src="~@/assets/icons/icon-quote@2x.png" height="13" width="13" style="margin-right: 3px; top: -2px; position: relative;"/><span style="margin-right: 4px;">{{citations}}</span>引用
          </a-col>
          <a-tag class="translate" v-if="descriptionContent"  @click="abstractTranslation(languageType)">
            <span v-if="languageType === 'en'" class="translateFont">摘要翻译</span>
            <span v-else class="translateFont">摘要原文</span>
          </a-tag>
          <a-tag class="translate" style="margin-right: 16px" v-if="displayTitleContent && displayTitleContent_CNFlg"  @click="displayTitleTranslation(displayTitleLanguageType)">
            <span v-if="displayTitleLanguageType === 'en'" class="translateFont">标题翻译</span>
            <span v-else class="translateFont">标题原文</span>
          </a-tag>
        </a-row>
    </a-row>
  </div>
</template>

<script>
import IconText from './IconText'
import { citation } from '@/core/icons'
import Qs from 'qs'

export default {
  name: 'ArticleListContent',
  components: {
      IconText,
      citation
  },
  props: {
    description: {
      type: String,
      default: ''
    },
    uploadBtnFlg: {
      type: String,
    },
    docTypeName: {
      type: String,
    },
    otherOwner: {
      type: Array,
      default:[]
    },
    institutionList: {
      type: Array,
      default(){
          return []
      }
    },
    href: {
      type: String,
    },
    savings: {
      type: [String, Number],
    },
    recommendations: {
      type: [String, Number],
    },
    citations: {
      type: [String, Number],
    },
    updateAt: {
      type: Number,
    },
    source: {
      type: String,
    },
    publicationId: {
      type: Number,
    },
    doi: {
      type: String,
    },
    doiFlg: {
      type: Boolean,
      default: false,
    },
    isPublication:{
        type: Boolean,
        default:false
    },
    rateFlg:{
        type: Boolean,
        default: false
    },
    score:{
        type: Number,
        default: 5
    },
    home:{
        type: Boolean
    },
    beingRead:{
        type: Boolean
    },
    item:{
        type: Object
    },
    list:{
        type: Array
    },
    index: {
        type: Number
    },
    translationDisplayTitleLoading: {
        type: Function
    }
  },
  computed: {
      // 获取字符的个数
      computedCharLen() {
          if (this.descriptionContent) {
              return this.descriptionContent.length;
          } else {
              return 0;
          }

      },
      // 获取字节的个数
      computedByteLen() {
          if (this.descriptionContent) {
              return this.descriptionContent.replace(/[^\x00-\xff]/g, '01').length;
          } else {
              return 0;
          }

      },
      // 控制显示的内容
      computedTxt() {
          if (this.descriptionContent) {
              return this.methodGetByteLen(this.descriptionContent, 280);
          } else {
              return "";
          }

      }
  },
  beforeCreate(){

  },
  created(){
      this.rateScore = this.score;
      this.descriptionContent = this.description;
      this.descriptionContent_EN = this.description;
      if (this.item) {
        this.displayTitleContent = this.item.displayTitle;
        this.displayTitleContent_EN = this.item.displayTitle;
      }
  },
  mounted(){
      this.isInitTitleCn(this.displayTitleContent);
  },
  data(){
    return {
        showFlg: false,
        showMoreUserFlg: false,
        showMoreInstitutionFlg: false,
        descriptionContent:'',
        descriptionContent_EN:'',
        descriptionContent_CN:'',
        languageType:'en',
        displayTitleContent:'',
        displayTitleContent_EN:'',
        displayTitleContent_CN:'',
        displayTitleLanguageType: 'en',
        rateScore: 5,
        spinning: false,
        displayTitleContent_CNFlg: true
    }
  },
  methods:{
      methodGetByteLen(str, len) {
          if (this.computedByteLen <= len) {
              return str
          }
          for (let i = Math.floor(len / 2); i < str.length; i++) {
              if (str.substr(0, i).replace(/[^\x00-\xff]/g, '01').length >= len) {
                  return str.substr(0, Math.floor(i / 2) * 2) + '...'
              }
          }
      },
      showText(flg){
          this.showFlg = !flg;
      },
      showMoreUser(flg){
          this.showMoreUserFlg = !flg;
      },
      showMoreInstitution(flg){
          this.showMoreInstitutionFlg = !flg;
      },
      routeUser(userId, userName){
          let routeUrl = this.$router.resolve({
              path: this.$store.getters.userId == userId?'/user/userPage/UserSummary':'/scholar/scholarPage/ScholarSummary',
              query: {
                  userId,
                  isUser: this.$store.getters.userId == userId,
                  userName
              }
          });
          window.open(routeUrl.href, '_blank');
      },
      routeArticles (publicationId) {
          let routeUrl = this.$router.resolve({
              path: '/articles/articlesPage',
              query: {
                  publicationId
              }
          });
          window.open(routeUrl.href, '_blank');
      },
      routeInstitution(institutionId) {
          let routeUrl = this.$router.resolve({
              path: '/institutions/institutionsPage/InstitutionsSummary',
              query: {
                  fieldId: institutionId
              }
          });
          window.open(routeUrl.href, '_blank');
      },
      highLightInstitution(e) {
          if(e.target.id !==''){
              for(let item of e.target.id.split(',')) {
                  if(this.$refs[`#${item}`] && this.$refs[`#${item}`].length > 0){
                      this.$refs[`#${item}`][0].children[0].style.cssText = "color:#4dbbc6 !important"
                  }
              }
          }
      },
      offLightInstitution(e) {
          if(e.target.id !=='') {
              for (let item of e.target.id.split(',')) {
                  if(this.$refs[`#${item}`] && this.$refs[`#${item}`].length > 0) {
                      this.$refs[`#${item}`][0].children[0].style.cssText = ""
                  }
              }
          }
      },
      highLightUser(e) {
          for(let key in this.$refs){
              if(key.indexOf('#')===-1){
                  if(e.target.id !=='') {
                      if (key.split(',').indexOf(e.target.id) !== -1) {
                          for (let i of this.$refs[key]) {
                              i.style.cssText = "color:#4dbbc6 !important"
                          }
                      }
                  }
              }
          }
      },
      offLightUser(e) {
          for(let key in this.$refs){
              if(key.indexOf('#')===-1){
                  if(e.target.id !=='') {
                      if (key.split(',').indexOf(e.target.id) !== -1) {
                          for (let i of this.$refs[key]) {
                              i.style.cssText = ""
                          }
                      }
                  }
              }
          }
      },

      // 摘要翻译
      abstractTranslation(languageType) {
          if (languageType === 'en') {
              if (this.descriptionContent_CN !== '') {
                  this.descriptionContent = this.descriptionContent_CN;
                  this.languageType = 'zh-CHS';
              } else {
                  this.spinning = true;
                  let param = {
                      description: this.description,
                      publicationId: this.publicationId
                  };
                  param = Qs.stringify(param);
                  this.$http.post('/translation/getAbstractTranslation', param).then(res => {
                      this.descriptionContent = res.data;
                      this.descriptionContent_CN = res.data;
                      this.languageType = 'zh-CHS';
                      this.spinning = false;
                  }).catch(
                      err => {
                          if(!err){
                              this.$notification.error({
                                  message: '翻译失败'
                              })
                          }

                          this.spinning = false;
                      }
                  )
              }
          } else {
              this.descriptionContent = this.descriptionContent_EN;
              this.languageType = 'en';
          }

      },

      // 标题翻译
      displayTitleTranslation(displayTitleLanguageType) {
          if (displayTitleLanguageType === 'en') {
              if (this.displayTitleContent_CN !== '') {
                  this.list[this.index].displayTitle = this.displayTitleContent_CN;
                  this.displayTitleLanguageType = 'zh-CHS';
              } else {
                  this.translationDisplayTitleLoading(true);
                  let param = {
                      displayTitle: this.item.displayTitle,
                      publicationId: this.item.publicationId
                  };
                  param = Qs.stringify(param);
                  this.$http.post('/translation/getDisplayTitleTranslation', param).then(res => {
                      this.list[this.index].displayTitle = res.data;
                      this.displayTitleContent_CN = res.data;
                      this.displayTitleLanguageType = 'zh-CHS';
                      this.translationDisplayTitleLoading(false);
                  }).catch(
                      err => {
                          if(!err){
                              this.$notification.error({
                                  message: '翻译失败'
                              })
                          }

                          this.translationDisplayTitleLoading(false);
                      }
                  )
              }
          } else {
              this.list[this.index].displayTitle = this.displayTitleContent_EN;
              this.displayTitleLanguageType = 'en';
          }

      },

      onRate(){
          let param = {
              userId: this.$store.getters.userId,
              publicationId: this.publicationId,
              publicationGrade: this.rateScore
          };
          param = Qs.stringify(param);
          this.$http.post('/userFavorites/updPublicationGrade', param);
      },

      // 判断标题是否为中文
      isInitTitleCn(displayTitleContent) {
          const reg = new RegExp("[\\u4E00-\\u9FFF]+","g");
          if (reg.test(displayTitleContent)) {
              this.displayTitleContent_CNFlg = false;
          } else {
              this.displayTitleContent_CNFlg = true;
          }
      }
  }
}
</script>

<style lang="less" scoped>
  @import "~ant-design-vue/lib/style/index";
.antd-pro-components-article-list-content-index-listContent {
  .description {
    line-height: 22px;
    margin-top: 16px;
    padding-right: 18px;
  }
  .extra {
    color: @text-color-secondary;
    line-height: 22px;
    & /deep/ .ant-avatar {
      position: relative;
      top: 1px;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: top;
    }

    & > em {
      margin-left: 16px;
      color: @disabled-color;
      font-style: normal;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .antd-pro-components-article-list-content-index-listContent {
    .extra {
      & > em {
        display: block;
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }
}
  .textOVerThree {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
  }

  .docType-row {
    font-weight: 600;
    text-align: left;
    color: #008191;
    line-height: 17px;
    height: 17px;
    font-size: 12px;
    text-align: left;
    line-height: 17px;
  }

  .docTypeName {
    height: 25px;
    background: rgba(77,187,198,0.10);
    border: 0px;
    border-radius: 2px;
    color: #008191 !important;
  }

  .updateAt {
    color: #008191 !important;
    margin-right: 8px;
  }

  .source {
    color: #008191 !important;
    margin-right: 8px;
  }

  .authour {
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #6a8e94 !important;
    line-height: 17px;
    margin-right: 5px;
  }

  .authourIndex {
    width: 6px;
    height: 12px;
    font-size: 10px;
    font-family: DINPro, DINPro-Bold;
    font-weight: 700;
    text-align: left;
    color: #ff8500;
    line-height: 12px;
  }

  .institutionIndexTag {
    height: 24px;
    background: #eef4f4;
    border-radius: 12px;
    color: #6a8e94 !important;
    padding: 0px;
    margin-bottom: 4px;
    border: 0px;
    cursor:default;
  }

  .institutionIndexNum {
    width: 5px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 17px;
    margin-right: 4px;
    margin-left: 14px;
  }

  .institutionIndexContent {
    margin-right: 14px;
  }

  .summaryContent{
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #353636;
    line-height: 23px;
    margin-top: 8px;
  }

  .recommendRow {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: #889799;
    line-height: 25px;

  }

  .translate {
    background: #eef4f4;
    border-radius: 2px;
    color: #6a8e94;
    padding: 0px;
    line-height: 25px;
    float: right;
    cursor:pointer;
  }

  .translateFont {
    height: 17px;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #6a8e94;
    line-height: 17px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .ellipsisOne {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }

  /deep/.ant-tag {
    border: none;
  }

</style>
