<template>
  <span>
    <n-user-favorites-modal
      ref="NUserFavoritesModal"
      :list="list"
      :item="item"
      :index="index"
      :userFavouritesFlg="userFavouritesFlg"
      @onSelectFolder="onSelectFolder"
      @getTreeList="getTreeList"
      :folderId="folderId"
    />
    <span v-if="item.status === '3' || item.status ==='4'">
       <a-button :loading="saveLoading" v-if="userFavouritesFlg && item.saveBtnFlg === '2'" shape="round" type="primary" ghost @click="delectePrivateUploadContent">
      删除
    </a-button>
    </span>
    <span v-if="item.status !== '3' && item.status !=='4'">
       <a-button :loading="saveLoading" v-if="userFavouritesFlg && item.saveBtnFlg === '1'" shape="round" type="primary" ghost @click="handleSaveForFavorites(item.saveBtnFlg, item.authorInfoList, item.publicationId, item.userId, index)">
        收藏
      </a-button>
    <a-button class="cancelCollection" :loading="saveLoading" v-if="userFavouritesFlg && item.saveBtnFlg === '2'" shape="round" type="primary" ghost @click="handleSaveForFavorites(item.saveBtnFlg, item.authorInfoList, item.publicationId, item.userId, index)">
      取消收藏
    </a-button>
    </span>
    <a-button v-if="userFavouritesFlg && item.saveBtnFlg === '2'" type="primary" ghost @click="showModalForCollect">
      移动分组
    </a-button>

    <span v-if="item.status !== '3' && item.status !=='4'">
      <a-config-provider :autoInsertSpaceInButton="false">
      <a-button v-if="!userFavouritesFlg && item.saveBtnFlg === '1'" type="primary" ghost @click="showModalForCollect">
        收藏
      </a-button>
      </a-config-provider>
      <a-button class="cancelCollection" :loading="saveLoading" v-if="!userFavouritesFlg && item.saveBtnFlg === '2'" shape="round" type="primary" ghost @click="handleSave(item.saveBtnFlg, item.authorInfoList, item.publicationId, item.userId, index)">
        取消收藏
      </a-button>
      <a-config-provider :autoInsertSpaceInButton="false">
      <a-button :loading="likeLoading" v-if="item.recommendBtnFlg === '1'" shape="round" type="primary" ghost @click="handleLike(item.recommendBtnFlg, item.authorInfoList, item.publicationId, item.userId, index)">
        推荐
      </a-button>
      </a-config-provider>
      <a-button class="cancelRecommendation" :loading="likeLoading" v-if="item.recommendBtnFlg === '2'" shape="round" type="primary" ghost @click="handleLike(item.recommendBtnFlg, item.authorInfoList, item.publicationId, item.userId, index)">
        取消推荐
      </a-button>
      <a-button :loading="followLoading" v-if="item.followingBtnFlg === '2'" shape="round" type="primary" ghost @click="handleFollow(item.followingBtnFlg, item.authorInfoList, item.publicationId, item.userId, index)">
        已关注
      </a-button>
    </span>
     <a-modal
       v-model="delModalVisible"
       :footer="false"
       :width="400"
       :centered="true"
       :bodyStyle="delModalBodyStyle"
     >

        <div class="confirmText">
          <a-row>
            <a-col>
              是否删除您上传的文献？
            </a-col>
          </a-row>
          <a-row>
            <a-col>
              <span style="font-size: 13px">删除操作将不可撤销</span>
            </a-col>
          </a-row>
        </div>

          <a-row>
            <a-col :span="4" :push="4">
              <a-button block size="small" type="primary" @click="handleOk(item.saveBtnFlg, item.authorInfoList, item.publicationId, item.userId, index, item.docIdNotAuthor)">
                是
              </a-button>
            </a-col>
            <a-col :span="4" :push="12">
              <a-button block size="small" type="primary" @click="handleNo">
                否
              </a-button>
            </a-col>
          </a-row>
        </a-modal>
  </span>
</template>

<script>
import Qs from 'qs'
import { Modal } from 'ant-design-vue'
import NUserFavoritesModal from '@/views/business/components/NList/NUserFavoritesModal'

const userSaveActionUrl = '/userFavorites/updPublicationToFolder';
const userActionUrl = '/userHome/updUserAction';
export default {
  name: 'BtnGroup',
  props: {
    item: {
      type: Object,
    },
    data: {
      type: Object,
    },
    list: {
      type: Array,
    },
    index:{
      type: Number
    },
    folderId:{
        type: Number,
    },
    userFavouritesFlg:{
      type: Boolean,
      default: false
    },
    getList: {
      type:Function
    }
  },
  components:{
    NUserFavoritesModal
  },
  emit:["onSelectFolder","getTreeList"],
  data(){
    return{
      delLoading:false,
      saveLoading:false,
      followLoading:false,
      likeLoading:false,
      loading: false,
      ModalText: '您是否确认将这篇文章从您的收藏中移除',
      visible: false,
      confirmLoading: false,
      delModalVisible: false,
      delModalBodyStyle:{
          height: '300px',
          padding: '0 24px',
          overflow: 'auto',
          lineHeight: '60px',
      },
    }
  },
  watch: {
      checkedKeys(val) {
      },
  },
  created(){
  },
  methods:{
      handleSaveForFavorites (bol, authorInfoList, publicationId, userId, index, deletePrivateFlg, docId) {
          this.saveLoading = true
          let authorIds = null;
          if (authorInfoList !== null) {
              authorIds = '';
              for(let item of authorInfoList){
                  authorIds = authorIds + item.authorId + ','
              }
              authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));
          }
          let deletePrivatePublicationFlg = false;
          if (deletePrivateFlg && deletePrivateFlg !== undefined && deletePrivateFlg !== null) {
              deletePrivatePublicationFlg = deletePrivateFlg;
          }

          let folderIds = '';
          if (this.item.folderIdList) {
              for(let item of this.item.folderIdList){
                  folderIds = folderIds + item + ','
              }
              folderIds = folderIds.substring(0, folderIds.lastIndexOf(','));
          }

          let param = {
              actionFlg: '4',
              authorIds : authorIds,
              publicationId,
              userId: this.$store.getters.userId,
              deletePrivateFlg: deletePrivatePublicationFlg,
              docId: docId
          }
          if(bol === '1'){
              param = Qs.stringify({
                  ...param,
                  folderIds,
                  operationalBehaviorFlg: true,
              });
              this.$http.post(userSaveActionUrl,param).then(res => {
                  this.list[index].saveBtnFlg = '2'
                  this.list[index].savings = this.list[index].savings + 1
                  this.saveLoading = false
                  this.$notification.success({
                      message: '收藏成功'
                  })
              }).catch(
                  err => {
                      if(!err) {
                          this.$notification.error({
                              message: '收藏失败'
                          })
                      }
                      this.saveLoading = false
                  }
              )
          }else if(bol === '2'){
              let hasFolder = this.item.folderIdList.length > 0;
              param = {
                  ...param,
                  folderIds: this.item.clickFolderId + ""
              }

              param = Qs.stringify({
                  ...param,
                  operationalBehaviorFlg: false,
                  hasFolder
              });
              this.$http.post(userSaveActionUrl,param).then(res => {
                  this.list[index].saveBtnFlg = '1'
                  this.list[index].savings = this.list[index].savings - 1
                  this.saveLoading = false
              }).catch(
                  err => {
                      if(!err) {
                          this.$notification.error({
                              message: '取消收藏失败'
                          })
                      }
                      this.saveLoading = false
                  }
              )

          }
      },
      // 收藏
      handleSave (bol, authorInfoList, publicationId, userId, index) {
          this.saveLoading = true
          let authorIds = ''
          for(let item of authorInfoList){
              authorIds = authorIds + item.authorId + ','
          }
          authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));

          let param = {
              actionFlg: '4',
              authorIds : authorIds,
              publicationId,
              userId: this.$store.getters.userId
          }
          if(bol === '2'){
              param = Qs.stringify({
                  ...param,
                  operationalBehaviorFlg: false,
              });
              this.$http.post(userActionUrl,param).then(res => {
                  // 是用户收藏画面时,取消收藏需要删除(如何判断是用户收藏画面)
                  if(this.userFavouritesFlg){
                      this.list.splice(index,1)
                      this.data.total = this.data.total -1
                  }else {
                      this.list[index].saveBtnFlg = '1';
                      this.list[index].folderIdList = [];
                      this.$refs.NUserFavoritesModal.handleCancelForCollect();
                      this.list[index].savings = this.list[index].savings - 1
                  }
                  this.saveLoading = false;
              }).catch(
                  err => {
                      if(!err){
                          this.$notification.error({
                              message: '取消收藏失败'
                          })
                      }

                      this.saveLoading = false
                  }
              )

          }


      },
      // 关注
      handleFollow (bol, authorInfoList, publicationId, userId, index) {
          this.followLoading = true
          let authorIds = ''
          for(let item of authorInfoList){
              authorIds = authorIds + item.authorId + ','
          }
          authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));

          let param = {
              actionFlg: '6',
              authorIds : authorIds,
              publicationId,
              userId: this.$store.getters.userId
          }
              if (bol === '1') {
                  param = Qs.stringify({
                      ...param,
                      operationalBehaviorFlg: true,
                  });
                  this.$http.post(userActionUrl, param).then(res => {
                      this.list[index].followingBtnFlg = '2'
                      this.followLoading = false
                  }).catch(
                      err => {
                          if(!err) {
                              this.$notification.error({
                                  message: '关注失败'
                              })
                          }
                          this.followLoading = false
                      }
                  )
              } else if (bol === '2') {
                  param = Qs.stringify({
                      ...param,
                      operationalBehaviorFlg: false,
                  });
                  this.$http.post(userActionUrl, param).then(res => {
                      this.list[index].followingBtnFlg = '1'
                      this.followLoading = false
                  }).catch(
                      err => {
                          if(!err) {
                              this.$notification.error({
                                  message: '取消关注失败'
                              })
                          }
                          this.followLoading = false
                      }
                  )

              }
      },
      // 推荐
      handleLike (bol, authorInfoList, publicationId, userId, index) {
          this.likeLoading = true
          let authorIds = ''
          for(let item of authorInfoList){
              authorIds = authorIds + item.authorId + ','
          }
          authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));

          let param = {
              actionFlg: '2',
              authorIds : authorIds,
              publicationId,
              userId: this.$store.getters.userId
          }
              if (bol === '1') {
                  param = Qs.stringify({
                      ...param,
                      operationalBehaviorFlg: true,
                  });
                  this.$http.post(userActionUrl, param).then(res => {
                      this.list[index].recommendBtnFlg = '2'
                      this.list[index].recommendations = this.list[index].recommendations + 1
                      this.likeLoading = false
                  }).catch(
                      err => {
                          if(!err) {
                              this.$notification.error({
                                  message: '推荐失败'
                              })
                          }
                          this.likeLoading = false
                      }
                  )
              } else if (bol === '2') {
                  param = Qs.stringify({
                      ...param,
                      operationalBehaviorFlg: false,
                  });
                  this.$http.post(userActionUrl, param).then(res => {
                      this.list[index].recommendBtnFlg = '1'
                      this.list[index].recommendations = this.list[index].recommendations - 1
                      this.likeLoading = false
                  }).catch(
                      err => {
                          if(!err) {
                              this.$notification.error({
                                  message: '取消推荐失败'
                              })
                          }
                          this.likeLoading = false
                      }
                  )

              }
      },
      onCheck(checkedKeys) {
          this.checkedKeys = checkedKeys;
      },
      showModalForCollect(){
          if(this.$store.getters.userId){
              this.$refs.NUserFavoritesModal.showModalForCollect();
          }else {
              this.$store.dispatch('changeVisible', true);
          }
      },
      onSelectFolder(forderId){
          this.$emit('onSelectFolder',forderId);
      },
      getTreeList(){
          this.$emit('getTreeList');
      },

      // 删除私人上传文献
      delectePrivateUploadContent () {
         this.delModalVisible = true;
      },

      handleOk(bol, authorInfoList, publicationId, userId, index, docIdNotAuthor) {
          this.handleSaveForFavorites (bol, authorInfoList, publicationId, userId, index, true, docIdNotAuthor);
          this.delModalVisible = false;
          this.getList();
      },

      handleNo() {
          this.delModalVisible = false;
      }
  }
}
</script>
<style scoped>
  /deep/.ant-modal-header {
    border-bottom: none;
  }
  .confirmText {
    margin-top: 60px;
    text-align: center;
    font-size: 16px;
  }
  .cancelCollection {
    border: 1px solid #9fafb0 !important;
    border-radius: 4px;
  }
  /deep/.ant-btn.cancelCollection > span {
    color: #9fafb0 !important;
  }
  .cancelRecommendation {
    border: 1px solid #9fafb0 !important;
    border-radius: 4px;
  }
  /deep/.ant-btn.cancelRecommendation > span {
    color: #9fafb0 !important;
  }
  /deep/.ant-btn {
    width: 92px;
    height: 37px;
    font-size: 15px;
  }
</style>
