<template>
  <span>
    <a-button style="margin-right: 10px" v-if="item.downloadBtnFlg === '2'" type="primary" shape="round" @click="showFullTextModal">
      催更全文
    </a-button>
<!--    <a-button style="margin-right: 10px" v-else-if="item.uploadPdfBtnFlg === '1'" type="primary" shape="round" @click="showModal(1,item.publicationId,item.displayTitle,item.docTypeName,item.year,item.venue,index)">-->
<!--      上传全文-->
<!--    </a-button>-->
<!--    <a-button :loading="downloading" style="margin-right: 10px" v-else-if="item.downloadBtnFlg === '1'" type="primary" shape="round" icon="download-o" @click="handleDown(item.downloadBtnFlg, item.authorInfoList, item.publicationId,undefined !== list[index].docPathNotAuthor && null !== list[index].docPathNotAuthor && '' !== list[index].docPathNotAuthor.trim()?list[index].docPathNotAuthor:list[index].fulltextPath)">-->
<!--      下载-->
<!--    </a-button>-->
<!--    <a-button style="margin-right: 10px" v-if="item.uploadOtherFileBtnFlg === '1'" type="primary" shape="round" icon="plus-o" @click="showModal(2,item.publicationId,item.displayTitle,item.docTypeName,item.year,item.venue)">-->
<!--      增加补充材料-->
<!--    </a-button>-->
    <a-button v-if="item.downloadBtnFlg === '1'" type="primary" shape="round" @click="readAllPdf(undefined !== list[index].docPathNotAuthor && null !== list[index].docPathNotAuthor && '' !== list[index].docPathNotAuthor.trim()?list[index].docPathNotAuthor:list[index].fulltextPath, item.publicationId, list[index].docIdAuthor, list[index].docIdNotAuthor,list[index].saveBtnFlg,list[index].authorInfoList)">
      阅读全文
    </a-button>
    <!--对话框-->
    <n-modal
      :Title="title"
      :visible="visible"
      :width="modalWidth"
      :bodyStyle="modalHeight"
      :confirm-loading="confirmLoading"
      :handle-ok="handleOk"
      :handle-cancel="handleCancel"
    />
  </span>
</template>

<script>
import Qs from 'qs'
import NModal from '@/views/business/components/NList/NModal'

const fullTextActionUrl = '/articlesFullText/fileDownload';

export default {
  name: 'BtnGroup',
  components: { NModal },
  props: {
    item: {
      type: Object,
    },
    list: {
      type: Array,
    },
    index:{
      type: Number
    },
    showModal:{
      type: Function
    },
    userFavouritesFlg:{
      type: Boolean,
      default: false
    }
  },
  data(){
    return{
        downloading:false,
        title:"催更全文",
        visible: false,
        modalWidth: 0,
        modalHeight: {},
        confirmLoading:false,
    }
  },
  methods:{
      // 下载PDF
      fileDownload(fileData, fulltextPath) {
          if (!fulltextPath) {
              return false
          }
          //获取heads中的filename文件名
          let fileName = fulltextPath.substr(fulltextPath.lastIndexOf("/") + 1);
          let url = fulltextPath.substr(fulltextPath.indexOf('/file'))
          let link = document.createElement('a')
          link.style.display = 'none'
          link.href = url
          link.setAttribute('download', fileName)
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
      },
      // 点击下载按钮
      handleDown (bol, authorInfoList, publicationId, fulltextPath) {
          this.downloading = true
          let authorIds = ''

          for (let item of authorInfoList) {
              authorIds = authorIds + item.authorId + ','
          }
          authorIds = authorIds.substring(0, authorIds.lastIndexOf(','))

          let param = {
              userId: this.$store.getters.userId,
              publicationId,
              authorIds: authorIds,
              fullTextPath: fulltextPath
          }
          if (bol === '1') {
              param = Qs.stringify({
                  ...param,
              })
              this.$http.post(fullTextActionUrl, param).then(res => {
                if ('0' === res.ret_code) {
                  this.fileDownload(res,fulltextPath)
                }
                this.downloading = false
              }).catch(err => {
                      this.downloading = false
                  }
              )
          }
      },
      // 打开对话框
      showFullTextModal() {
        if (this.$store.getters.userId) {
          this.modalWidth = 500
          this.modalHeight = {
              height: "280px",
              overflow: "auto"
          }
          this.visible = true;
        } else {
          this.$store.dispatch('changeVisible', true);
        }
      },
      // 关闭对话框
      handleCancel() {
        this.visible = false;
      },
      // 发送消息
      handleOk() {
        this.confirmLoading = true
        this.$message.success('已发送');
        setTimeout(() => {
          this.visible = false;
          this.confirmLoading = false;
        }, 500);
      },
      readAllPdf(pdfFullPath,publicationId,docIdAuthor,docIdNotAuthor,saveBtnFlg,authorInfoList) {
          let item = {
              pdfFullPath,
              publicationId,
              docIdAuthor,
              docIdNotAuthor,
              saveBtnFlg,
              authorInfoList
          }
          this.$root.$emit('readAllPdf', item);
      }
  }
}
</script>

<style scoped>
  /deep/.ant-btn {
    width: 92px;
    height: 37px;
    font-size: 15px;
  }
</style>
