<template>
  <span>
    <a @click="routeUser(userId)">
      <user-img :userImg="imgUrl" :width="'45px'" :height="'45px'" v-if="imgShow" />
      <span style="font-weight: 500"> {{username}} </span>
    </a>
    <!--{{isNews?":":""}}
    <a v-if="linkUrl" :href="linkUrl" target="_blank">
      <span :style="{fontWeight: isNews?'600':'400',fontSize:isNews?'15px':'14px',overflow:'hidden',whiteSpace:'nowrap',textOverflow:'ellipsis'}">
        {{content}}
      </span>
    </a>-->
    <span v-if="!isNews" :style="{fontWeight: '500',fontSize:'13px',color:'#008191', overflow:'hidden',whiteSpace:'nowrap',textOverflow:'ellipsis'}">
        {{content}}
      </span>
  </span>
</template>

<script>
import Qs from 'qs'
export default {
  name: 'CardHeader',
  props: {
    imgUrl: {
      type: String,
      default: ''
    },
    imgShow: {
      type: Boolean,
      default: true
    },
    username: {
      type: String,
    },
    userId: {
      type: Number,
    },
    content: {
      type: String,
    },
    time: {
      type: String,
    },
    linkUrl: {
        type: String
    },
    isNews: {
        type: Boolean,
        default: false
    },
    isUser: {
        type: Boolean,
        default: false
    },
  },
  methods:{
      routeUser(userId){
          let path = '';
          let query = {};
          if (this.isUser) {
              path = '/user/userPage/UserDynamic';
              query = {
                  userId
              };
          } else {
              path = '/scholar/scholarPage/ScholarSummary';
              query = {
                  userId,
                  isUser: false,
                  userName:this.username
              };
          }
          let routeUrl = this.$router.resolve({
              path,
              query
          });

          window.open(routeUrl.href, '_blank');
      },
  }
}
</script>
