<template>
  <span>
    <a-icon :type="type" />
    {{ text }}
  </span>
</template>

<script>
export default {
  name: 'IconText',
  props: {
    'type': {
      type: String,
    },
    text: {
      type: [String, Number],
    }
  }
}
</script>
