<template>
    <div>
      <a-card :bodyStyle="{'padding-top':'5px', 'padding-bottom':'5px'}" size="small" :bordered="false" v-if="searchBar || sortBar">
        <a-row id="searchBar" :gutter="24" style="height:50px;padding: 10px 0;">
          <a-col style="padding-top: 5px" :span="5">
            <span>共找到{{ data.total }}篇文献</span>
          </a-col>
          <a-col :span="13">
            <a-auto-complete
              style="width: 150%"
              @search="handleSearch"
              @select="onSelect"
              v-if="searchBar && autocomplete"
            >
              <template slot="dataSource">
                <a-select-option v-for="item in dataSource" :key="item">
                  <b>{{item}}</b>
                </a-select-option>
              </template>
              <a-input-search
                placeholder="搜索文献题目或关键词"
                class="searchBar"
                v-model="keyword"
                enter-button="搜 索"
                @search="handleSearchList"
              >
                <template slot="prefix">
                  <img src="~@/assets/search.png" height="16" width="16"/>
                </template>
              </a-input-search>
            </a-auto-complete>
            <a-input-search
              style="width: 150%"
              placeholder="搜索文献题目或关键词"
              class="searchBar"
              v-model="keyword"
              enter-button="搜 索"
              @search="handleSearchList"
              v-if="searchBar && !autocomplete"
            >
              <template slot="prefix">
                <img src="~@/assets/search.png" height="16" width="16"/>
              </template>
            </a-input-search>
          </a-col>
          <a-col :span="6" style="text-align: right;padding-right: 20px" v-if="sortBar">
            <label>排序：</label>
            <a-select style="width: 110px" v-model="sortColumns" @change="handleSearchList">
              <a-select-option value="0">
                重要性
              </a-select-option>
              <a-select-option value="1">
                老论文优先
              </a-select-option>
              <a-select-option value="2">
                新论文优先
              </a-select-option>
              <a-select-option value="3">
                引用次数
              </a-select-option>
            </a-select>
          </a-col>
        </a-row>
      </a-card>
      <a-spin :spinning="loading" style="margin-top: 5px;">
        <div :style="{'min-height':minHeight}" v-if="(beingRead && showOne)">
          <a-list
            v-if="showList || list.length>0"
            size="large"
            rowKey="id"
            ref="loadMoreMsg"
            itemLayout="vertical"
            :dataSource="currentPageData"
            :locale="{emptyText}"
          >
            <a-list-item v-if="index === 0" :key="item.id" slot="renderItem" slot-scope="item, index">
              <a-card
                v-if="item.userAction !== '7' || (item.userAction === '7' && item.userNewsModel && item.userNewsModel.visiblityFlg === '1')"
                :bodyStyle="{paddingLeft:hasPadding?'24px !important':'0px !important'
                            ,paddingRight:hasPadding?'24px !important':'0px !important'
                            ,paddingTop:hasPaddingV&&!home?'16px !important':'0px !important'
                            ,paddingBottom:hasPaddingV?'16px !important':'0px !important'}"
                :bordered="false"
                :extra="!beingRead?item.validateTime:''"
                size="small">
                <div v-if="(item.status==='3'||item.status==='4') && !beingRead " class="colorChange box0"><div class="state" style="font-size: 13px">私人上传</div></div>
                <template slot="title" v-if="home && !beingRead">
                  <card-header v-if="item.headerTitle || item.displayAuthorName || item.validateTime || item.profilePhotoPath || item.profilePath"  :imgUrl="item.profilePath?item.profilePath:item.profilePhotoPath"
                               :userId="item.userIdFollowed"
                               :username="item.nickname?item.nickname:item.displayAuthorName"
                               :imgShow="imgShow"
                               :content="item.headerTitle"
                               :isNews="item.userAction === '7'"
                               :linkUrl="item.userNewsModel?item.userNewsModel.newsExternalLink:''"
                               :isUser="item.isUser"
                               :style="(item.status==='3'||item.status==='4')?'width: calc(100% - 60px);':'width: 100%'"
                  />
                </template>
                <a-spin style="width: 96%;" :spinning="displayTitleSpinning">
                  <a-list-item-meta v-if="!home||item.userAction !== '7'" >
                  <span v-if="item.status==='3'||item.status==='4'"slot="title" style="font-weight: 600;font-size :20px;display: inline-block; width: calc(100% - 60px);">
                     <a v-if="beingRead" class="textOVerTwo" @click="readAllPdf(undefined !== item.docPathNotAuthor && null !== item.docPathNotAuthor && '' !== item.docPathNotAuthor.trim()?item.docPathNotAuthor:item.fulltextPath, item.publicationId, item.docIdAuthor, item.docIdNotAuthor,item.saveBtnFlg,item.authorInfoList)">
                        {{ item.displayTitle }}
                      </a>
                      <div v-else >
                        {{ item.displayTitle }}
                      </div>
                  </span>
                    <a v-else-if="titleRouterFlg"@click="!continueRead || item.downloadBtnFlg !== '1'?routeArticles(item.publicationId):readAllPdf(undefined !== item.docPathNotAuthor && null !== item.docPathNotAuthor && '' !== item.docPathNotAuthor.trim()?item.docPathNotAuthor:item.fulltextPath, item.publicationId, item.docIdAuthor, item.docIdNotAuthor,item.saveBtnFlg,item.authorInfoList)" slot="title" style="font-weight: 600;font-size :20px;display: inline-block;">
                      <div v-if="beingRead" class="textOVerTwo">
                        {{ item.displayTitle }}
                      </div>
                      <div v-else>
                        {{ item.displayTitle }}
                      </div>
                    </a>
                    <span slot="title" style="color: #000000a6; font-weight: 600;font-size :20px;display: inline-block;" v-else>{{ item.displayTitle }}</span>
                  </a-list-item-meta>
                </a-spin>
                <user-news-content
                  v-if="home&&item.userAction === '7'"
                  :item="item.userNewsModel"
                  :index="index"
                  :listForNews="list"
                  :home="home"
                  :isUser="item.isUser"
                />
                <article-list-content
                  v-else
                  :description="item.summary"
                  :uploadBtnFlg="item.uploadPdfBtnFlg"
                  :docTypeName="item.docTypeName"
                  :otherOwner="item.authorInfoList!==null?item.authorInfoList:[]"
                  :institutionList="item.institutionList!==null?item.institutionList:[]"
                  :href="item.href"
                  :updateAt="item.year"
                  :savings="item.savings"
                  :recommendations="item.recommendations"
                  :citations="item.citations"
                  :source="item.venue"
                  :doi="item.doi"
                  :doiFlg ="doiFlg"
                  :publicationId ="item.publicationId"
                  :isPublication ="isPublication"
                  :rateFlg = "rateFlg"
                  :score = "item.rateScore"
                  :home="home"
                  :beingRead="beingRead"
                  :translationDisplayTitleLoading="translationDisplayTitleLoading"
                />
              </a-card>
            </a-list-item>
            <a-card slot="footer" v-if="hasPagination && data.hasNextPage" :bodyStyle="{textAlign: 'center',height: '40px',paddingTop: '10px !important'}" :bordered="false">
              <a-spin :spinning="loadingMore" />
            </a-card>
          </a-list>
        </div>
        <div :style="{'min-height':minHeight}" v-else>
          <a-list
            v-if="showList || list.length>0"
            size="large"
            rowKey="id"
            ref="loadMoreMsg"
            itemLayout="vertical"
            :dataSource="beingRead? currentPageData:list"
            :locale="{emptyText}"
          >
            <a-list-item :key="item.id" slot="renderItem" slot-scope="item, index">
              <a-card
              v-if="item.userAction !== '7' || (item.userAction === '7' && item.userNewsModel && item.userNewsModel.visiblityFlg === '1')"
              :bodyStyle="{paddingLeft:hasPadding?'24px !important':'0px !important'
                          ,paddingRight:hasPadding?'24px !important':'0px !important'
                          ,paddingTop:hasPaddingV&&!home?'16px !important':'0px !important'
                          ,paddingBottom:hasPaddingV?'16px !important':'0px !important'}"
              :bordered="false"
              :extra="!beingRead?item.validateTime:''"
              size="small">
              <div v-if="item.status==='3'||item.status==='4' " class="colorChange box0"><div class="state" style="font-size: 13px">私人上传</div></div>
              <template slot="title" v-if="home && !beingRead"
              >
                <card-header v-if="item.headerTitle || item.displayAuthorName || item.validateTime || item.profilePhotoPath || item.profilePath"  :imgUrl="item.profilePath?item.profilePath:item.profilePhotoPath"
                             :userId="item.userIdFollowed"
                             :username="item.nickname?item.nickname:item.displayAuthorName"
                             :imgShow="imgShow"
                             :content="item.headerTitle"
                             :isNews="item.userAction === '7'"
                             :linkUrl="item.userNewsModel?item.userNewsModel.newsExternalLink:''"
                             :isUser="item.isUser"
                />
              </template>
              <a-spin style="width: 96%;" :spinning="displayTitleSpinning">
                <a-list-item-meta v-if="!home||item.userAction !== '7'">
                <span v-if="item.status==='3'||item.status==='4'"slot="title" style="font-weight: 600;font-size :20px;display: inline-block; width: calc(100% - 60px);">
                  <a v-if="beingRead" class="textOVerTwo" @click="readAllPdf(undefined !== item.docPathNotAuthor && null !== item.docPathNotAuthor && '' !== item.docPathNotAuthor.trim()?item.docPathNotAuthor:item.fulltextPath, item.publicationId, item.docIdAuthor, item.docIdNotAuthor,item.saveBtnFlg,item.authorInfoList)">
                    {{ item.displayTitle }}
                  </a>
                  <div v-else >
                    {{ item.displayTitle }}
                  </div>
                </span>
                  <!--                <a v-else-if="titleRouterFlg"@click="routeArticles(item.publicationId)" slot="title" style="font-weight: 600;font-size :20px;display: inline-block;">-->
                  <!--                  {{ item.displayTitle }}-->
                  <!--                </a>-->
                  <a v-else-if="titleRouterFlg"@click="!continueRead || item.downloadBtnFlg !== '1'?routeArticles(item.publicationId):readAllPdf(undefined !== item.docPathNotAuthor && null !== item.docPathNotAuthor && '' !== item.docPathNotAuthor.trim()?item.docPathNotAuthor:item.fulltextPath, item.publicationId, item.docIdAuthor, item.docIdNotAuthor,item.saveBtnFlg,item.authorInfoList)" slot="title" style="font-weight: 600;font-size :20px;display: inline-block;">
                    <div v-if="beingRead" class="textOVerTwo">
                      {{ item.displayTitle }}
                    </div>
                    <div v-else>
                      {{ item.displayTitle }}
                    </div>
                  </a>
                  <span slot="title" style="color: #000000a6; font-weight: 600;font-size :20px;display: inline-block;" v-else>{{ item.displayTitle }}</span>
                </a-list-item-meta>
              </a-spin>
              <user-news-content
                v-if="home&&item.userAction === '7'"
                :item="item.userNewsModel"
                :index="index"
                :listForNews="list"
                :home="home"
                :isUser="item.isUser"
              />
              <private-upload-content
                v-else-if="item.status === '4' && !beingRead"
                :uploadBtnFlg="item.uploadPdfBtnFlg"
                :otherOwner="item.authorInfoList!==null?item.authorInfoList:[]"
                :institutionList="item.institutionList!==null?item.institutionList:[]"
                :href="item.href"
                :updateAt="item.year"
                :savings="item.savings"
                :recommendations="item.recommendations"
                :citations="item.citations"
                :source="item.venue"
                :doi="item.doi"
                :doiFlg ="doiFlg"
                :publicationId ="item.publicationId"
                :isPublication ="isPublication"
                :rateFlg = "rateFlg"
                :score = "item.rateScore"
                :home="home"
                :beingRead="beingRead"
                :puicationModel="item"
              />
              <article-list-content
                v-else
                :description="item.summary"
                :uploadBtnFlg="item.uploadPdfBtnFlg"
                :docTypeName="item.docTypeName"
                :otherOwner="item.authorInfoList!==null?item.authorInfoList:[]"
                :institutionList="item.institutionList!==null?item.institutionList:[]"
                :href="item.href"
                :updateAt="item.year"
                :savings="item.savings"
                :recommendations="item.recommendations"
                :citations="item.citations"
                :source="item.venue"
                :doi="item.doi"
                :doiFlg ="doiFlg"
                :publicationId ="item.publicationId"
                :isPublication ="isPublication"
                :rateFlg = "rateFlg"
                :score = "item.rateScore"
                :home="home"
                :beingRead="beingRead"
                :item="item"
                :list="list"
                :index="index"
                :translationDisplayTitleLoading="translationDisplayTitleLoading"
              />
              <template v-if="!home||(item.userAction !== '7' && !beingRead)" slot="actions">
                <a-row :gutter="8" :style="{textAlign: 'left',paddingLeft:hasPadding?'24px':'0',paddingRight:hasPadding?'24px':'0'}">
                  <a-col :span="12" >
                  <span v-if="btnGroupUp">
                      <btn-group-up
                        :item="item"
                        :index="index"
                        :list="list"
                        :showModal="showModal"
                        :userFavouritesFlg="userFavouritesFlg"
                      />
                  </span>
                    <span v-if="claimBtnGroup">
                      <claim-btn-group
                        :item="item"
                        :list="list"
                        :index="index"
                        :user-id="loginUserId"
                      />
                  </span>
                  </a-col>
                  <a-col :span="12" style="text-align: right;">
                    <span v-if="btnGroup">
                      <btn-group
                        :item="item"
                        :index="index"
                        :data="data"
                        :list="list"
                        :userFavouritesFlg="userFavouritesFlg"
                        @onSelectFolder="onSelectFolder"
                        @getTreeList="getTreeList"
                        :folderId="folderId"
                        :getList="getList"
                      />
                    </span>
                    <a-dropdown v-if="showShare && item.shareBtnFlg === '1' && item.status !=='3' && item.status !=='4'" :trigger="['click']">
                      <a-menu style="width: 102px;height: 37px;padding: 8px " slot="overlay"><!--@click="handleShare"-->
                        <a-menu-item style="padding: 0;" key="1" v-if="item.shareBtnFlg === '1'">
                          <a-dropdown v-if="showShare && item.shareBtnFlg === '1' && item.status !=='3' && item.status !=='4'" :trigger="['click']">
                            <a-menu style="width: 102px;height: 37px;padding: 8px " slot="overlay"><!--@click="handleShare"-->
                              <a-menu-item style="padding: 0;" key="1" v-if="item.shareBtnFlg === '1'">
                                <div @click="weChatShare(item.publicationId)" style="cursor: pointer;">
                                  <img src="~@/assets/icons/icon-wechat.png" height="14" width="14" style="margin-right: 4px; top: -1px; position: relative;"/>
                                  <span>微信</span>
                                </div>
                              </a-menu-item>
                            </a-menu>
                            <div>
                              <img src="~@/assets/icons/icon-share.png" height="14" width="14" style="margin-right: 4px; top: -1px; position: relative;"/>
                              <span>分享</span>
                            </div>
                          </a-dropdown>
                        </a-menu-item>
                      </a-menu>
                      <img src="~@/assets/icons/icon-more@2x.png" style="cursor:pointer" height="32" width="32"/>
                    </a-dropdown>
                  </a-col>
                  <a-col span="24">
                  <span v-if="tagFlg" style="margin-top: 10px;margin-left: 18px;">
                    <n-tag-bar :publicationId="item.publicationId" :labelList="item.labelList" :defaultSearchLabel="defaultSearchLabel" @getUserLibraryLabelInfoList="getUserLibraryLabelInfoList"></n-tag-bar>
                  </span>
                  </a-col>
                </a-row>
              </template>
        </a-card>
            </a-list-item>
            <a-card slot="footer" v-if="hasPagination && data.hasNextPage" :bodyStyle="{textAlign: 'center',height: '40px',paddingTop: '10px !important'}" :bordered="false">
              <a-spin :spinning="loadingMore" />
            </a-card>
          </a-list>
        </div>
        <a-modal
        :width="650"
        :title="modelTitle"
        :visible="visible"
        @cancel="handleCancel"
        :maskClosable="false"
        :footer="false"
        :destroyOnClose="true"
      >
        <user-upload-articles v-if="mode === 1"
                              :publication-id="publicationId"
                              :display-title="displayTitle"
                              :doc-type-name="docTypeName"
                              :update-at="updateAt"
                              :source="source"
                              :list="list"
                              :listIndex="listIndex"
                              :handleCancel="handleCancel"
        />
        <user-add-supplementary v-else-if="mode === 2"
                              :publication-id="publicationId"
                              :display-title="displayTitle"
                              :doc-type-name="docTypeName"
                              :update-at="updateAt"
                              :source="source"
                              :list="list"
                              :listIndex="listIndex"
                              :handleCancel="handleCancel"
        />
      </a-modal>
        <!--对话框 (假数据待修正)-->
        <!--<n-user-modal
          :dataUrl="modalUrl"
          :parameters="modalParameters"
          :Title="title"
          :visible="visibleShare"
          :modal-width="modalWidth"
          :modal-height="modalHeight"
          :handle-cancel="handleShareCancel"
          :share-flg="shareFlg"
          :key="uniqueKey"
        />-->
        <a-modal v-model="visibleQR" :forceRender="true" title="分享到微信" width="400px" :maskClosable="true">
          <div>
            <canvas style="margin: 0 auto;" ref="QRCode"></canvas>
            <div style="width: 100%; text-align: center;">
              <a-icon type="wechat" style="font-size: 20px;margin-right: 10px;"/>微信扫一扫
            </div>
          </div>
          <template slot="footer">
            <div></div>
          </template>
        </a-modal>
      </a-spin>
    </div>
</template>

<script>
//引入API 组件等等
//vuex辅助函数
import ArticleListContent  from './ArticleListContent'
import CardHeader from './CardHeader'
import BtnGroup from './BtnGroup'
import ClaimBtnGroup from '@/views/business/user/userFrame/claimArticles/ClaimBtnGroup'
import UserUploadArticles from '@/views/business/user/userFrame/uploadArticles/UserUploadArticles'
import UserAddSupplementary from '@/views/business/user/userFrame/addSupplementary/UserAddSupplementary'
import Qs from 'qs'
import * as JOSN from 'cli-highlight'
import BtnGroupUp from './BtnGroupUp'
import NUserModal from '@/views/business/components/NUserModal/NUserModal'
import NTagBar from './NTagBar'
import UserNewsContent from '@/views/business/user/userFrame/summary/UserNewsContent'
import QRCode from 'qrcode'
import PrivateUploadContent from './PrivateUploadContent'
//全局常量，类，方法

export default {
  name: 'NList',
  components: {
    //所引入的组件 需要先import进来
    ArticleListContent,
    CardHeader,
    BtnGroup,
    BtnGroupUp,
    ClaimBtnGroup,
    UserUploadArticles,
    UserAddSupplementary,
    NUserModal,
    NTagBar,
    UserNewsContent,
    PrivateUploadContent
  },
  emit:["getUserLibraryLabelInfoList","onSelectFolder","getTreeList"],
  props: {
      'dataUrl':{
          type: String,
      },
      minHeight:{
          type: String,
          default:'150px'
      },
      folderId:{
          type: Number,
      },
      home:{
          type: Boolean,
          default:true
      },
      imgShow:{
          type: Boolean,
          default:true
      },
      showShare:{
          type: Boolean,
          default:true
      },
      searchBar:{
          type: Boolean,
          default:true
      },
      autocomplete:{
          type: Boolean,
          default:false
      },
      sortBar:{
          type: Boolean,
          default:true
      },
      hasPagination:{
          type: Boolean,
          default:true
      },
      isPublication:{
          type: Boolean,
          default:false
      },
      parameters: {
          type: Object,
      },
      initSortColumns:{
          type: String,
          default: '0'
      },
      emptyText:{
          type: String,
      },
      doiFlg:{
          type: Boolean,
          default: false
      },
      btnGroup:{
          type: Boolean,
          default: true
      },
      btnGroupUp:{
          type: Boolean,
          default: true
      },
      claimBtnGroup:{
          type: Boolean,
          default: false
      },
      userFavouritesFlg:{
        type: Boolean,
        default: false
      },
      showList:{
        type: Boolean,
        default: true
      },
      titleRouterFlg:{
        type: Boolean,
        default: true
      },
      publication:{
        type: Object
      },
      rateFlg:{
        type: Boolean,
        default: false
      },
      tagFlg:{
        type: Boolean,
        default: false
      },
      beingRead:{
        type: Boolean,
        default: false
      },
      showOne:{
        type: Boolean,
        default: true
      },
      hasPadding:{
        type: Boolean,
        default: false
      },
      hasPaddingV:{
        type: Boolean,
        default: false
      },
      defaultSearchLabel:{
          type:Array,
          default:() => []
      },
      continueRead:{
          type:Boolean,
          default: false
      },
      setAllPage: {
          type: Function,
          default:() => {return false;}
      }
  },
  data () {
      //页面所需要的一些状态，属性，双向绑定的一些属性，数据等
    return {
        loading: false,
        loadingMore: false,
        saveLoading: false,
        likeLoading: false,
        followLoading: false,
        visible: false,
        params: {},
        data: {hasNextPage : false},
        list: [],
        pageIndex: 2,
        dataSource: [],
        mode: 1,
        keyword:'',
        loginUserId:'',
        autocompleteKeyword:'',
        modelTitle:'上传全文',
        publicationId:'',
        displayTitle:'',
        docTypeName:'',
        updateAt:'',
        source:'',
        sortColumns:this.initSortColumns,
        listIndex:0,
        downloading:false,
        /*假数据*/
        modalUrl:'/userHome/userCoauthor',
        modalParameters:{
          index: 1,
          rows: 10,
          userId:this.$store.getters.userId
        },
        visibleShare:false,
        title:"文献分享",
        modalWidth: 0,
        modalHeight: {},
        shareFlg: true,
        uniqueKey: false,
        isActive: true,
        labelList:[],
        QRCodeMsg: '',
        visibleQR: false,
        popVisible: false,
        displayTitleContent:'',
        displayTitleContent_EN:'',
        displayTitleContent_CN:'',
        displayTitleLanguageType: 'en',
        displayTitleSpinning: false,
        totalPage: 1, // 统共页数，默认为1
        currentPage: 1, //当前页数 ，默认为1
        pageSize: 5, // 每页显示数量
        currentPageData: [],
    }
  },
  computed: {
      //方法，一般用来写一些逻辑返回属性
  },
  created (){
      this.loginUserId = this.$store.getters.userId
      if(this.publication){
          this.list.push(this.publication);
      } else {
          this.getList();
      }
  },
  mounted () {
      //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts

      if (this.hasPagination) {
        window.onscroll = throttle(onScroll);
      }

      this.$watch('hasPagination', (val) => {
          if (val) {
              window.onscroll = throttle(onScroll);
          }
      });

      const that = this;
      function onScroll() {
          //变量scrollTop是滚动条滚动时,距离顶部的距离
          let scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
          //变量windowHeight是可视区的高度
          let windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
          //变量scrollHeight是滚动条的总高度
          let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
          //滚动条到底部的条件
          if( scrollHeight - (scrollTop+windowHeight) <= 10 ){
              //写后台加载数据的函数
              that.loadMore();
          }
      }

      //函数节流
      function throttle(fn, interval=300) {
          let canRun = true;
          return function() {
              if(!canRun) return;
              canRun = false;
              setTimeout(() => {
                  fn.apply(this, arguments);
                  canRun=true;
              }, interval);
          }
      }
  },
  methods: {
    getQRCode(val){
      // 获取页面的canvas
      let msg = this.$refs.QRCode
      // 将获取到的数据（val）画到msg（canvas）上
      QRCode.toCanvas(msg, val, function (error) {
        if (error !== null) {
          console.log(error)
        }
      })
    },
    // 微信分享方法
    weChatShare(publicationId){
      this.QRCodeMsg = serverPath + "articles/articlesPage/ArticlesShare?publicationId=" + publicationId
      this.getQRCode(this.QRCodeMsg);
      this.popVisible = false;
      this.visibleQR = true;
    },
    //方法，一般用来做提交表单一类的操作，类似于void方法，不用return
    getList (params = {}, dataUrl) {
      this.loading = true;
      this.params = params;
      this.list =  [];
      if (dataUrl) {
          this.dataUrl = dataUrl;
      }
      this.keyword = this.parameters.keyword? this.parameters.keyword :'';
      this.autocompleteKeyword = this.parameters.autocompleteKeyword? this.parameters.autocompleteKeyword :'';
      this.keyword = params.keyword? params.keyword :this.parameters.keyword;
      this.autocompleteKeyword = params.autocompleteKeyword? params.autocompleteKeyword :this.parameters.autocompleteKeyword;
      this.pageIndex = 2;
      let param = Qs.stringify({
        loginUserId : this.loginUserId,
        keyword: this.keyword,
        sortColumns: this.sortColumns,
        ...this.parameters,
        ...params,
      });
      this.$http.post(this.dataUrl, param).then(res => {
        if (res.data) {
          this.data = res.data
          this.list = res.data.list ? res.data.list : []
          this.data.hasNextPage = res.data.hasNextPage ? res.data.hasNextPage : false
            if (this.beingRead) {
                // 计算一共有几页
                this.totalPage = Math.ceil(this.list.length / this.pageSize);
                // 计算得0时设置为1
                this.totalPage = this.totalPage == 0 ? 1 : this.totalPage;
                this.setCurrentPageData();
                this.setAllPage(this.totalPage);
            }
          this.loading = false
          if(this.isPublication){
              let authorIds = ''
              for(let item of this.list[0].authorInfoList){
                  authorIds = authorIds + item.authorId + ','
              }
              authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));

              let paramAction =  Qs.stringify({
                  ...this.parameters,
                  authorIds,
              })
              // this.$http.post('/articlesFullText/updUserAction', paramAction)
          }
        }
      }).finally(() => {
        this.loading = false
      })
    },
    loadMore (el) {
      if (this.hasPagination && this.data.hasNextPage && this.isActive) {
        this.loadingMore = true
        const param = Qs.stringify({
          loginUserId : this.loginUserId,
          keyword: this.keyword,
          sortColumns: this.sortColumns,
          ...this.parameters,
          ...this.params,
          index: this.pageIndex++,
        });
        this.$http.post(this.dataUrl, param).then(res => {
          if (res.data) {
            this.data = res.data
            this.list = this.list.concat(res.data.list ? res.data.list : [])
          }
          this.loadingMore = false
        }).finally(() => {
          this.loadingMore = false
        })
      }
    },
    handleSearch (value) {
      this.dataSource = !value ? [] : [value, value + value, value + value + value];
    },
    handleSearchList () {
      this.loading = true;
      let param = Qs.stringify({
        loginUserId : this.loginUserId,
        ...this.parameters,
        ...this.params,
        keyword: this.keyword,
        autocompleteKeyword: this.autocompleteKeyword,
        sortColumns: this.sortColumns
      });
      this.$http.post(this.dataUrl, param).then(res => {
        if (res.data) {
          this.data = res.data
          this.list = res.data.list ? res.data.list : []
          this.pageIndex = 2
        }
        this.loading = false
      }).finally(() => {
        this.loading = false
      })
    },
    onSelect (value) {
      this.autocompleteKeyword = value
    },
    routeArticles (publicationId) {
      this.$router.push({
          path: '/articles/articlesPage',
          query: {
              publicationId
          },
      });
    },
    showModal (mode, publicationId, displayTitle, docTypeName, updateAt, source, listIndex) {
      this.mode = mode;
      this.publicationId = publicationId;
      this.displayTitle = displayTitle;
      this.docTypeName = docTypeName;
      this.updateAt = updateAt;
      this.source = source;
      this.listIndex = listIndex;

      if (mode == "1") {
        this.modelTitle = "上传全文";
      } else {
        this.modelTitle = "增加补充材料";
      }
      this.visible = true;
    },
    // 关闭对话框
    handleCancel (e) {
      this.visible = false;
    },
    // 分享按钮(打开对话框)
    handleShare() {
        /*if(this.$store.getters.userId !== '' && this.$store.getters.userId !== undefined && this.$store.getters.userId !== null) {
            this.modalWidth = 600
            this.modalHeight = {
                height: "450px",
                overflow: "auto"
            }
            this.visibleShare = true;
        }else {
            this.$store.dispatch('changeVisible', true)
        }*/
    },
    // 分享按钮关闭对话框
    /*handleShareCancel() {
      this.visibleShare = false;
      this.uniqueKey = !this.uniqueKey
    },*/
    changeActive(bol) {
        this.isActive = bol;
    },
    getUserLibraryLabelInfoList(){
      this.$emit('getUserLibraryLabelInfoList');
    },
    onSelectFolder(forderId){
      this.$emit('onSelectFolder',forderId);
    },
    getTreeList(){
      this.$emit('getTreeList');
    },

    readAllPdf(pdfFullPath,publicationId,docIdAuthor,docIdNotAuthor,saveBtnFlg,authorInfoList) {
        let item = {
            pdfFullPath,
            publicationId,
            docIdAuthor,
            docIdNotAuthor,
            saveBtnFlg,
            authorInfoList
        }
        this.$root.$emit('readAllPdf', item);
    },
    // 设置当前页面数据，对数组操作的截取规则为[0~5],[5~10]...,
    setCurrentPageData() {
        let begin = (this.currentPage - 1) * this.pageSize;
        let end = this.currentPage * this.pageSize;
        this.currentPageData = this.list.slice(
            begin,
            end
        );
    },

    prevPage() {
        if (this.currentPage == 1) return;

        this.currentPage--;
        this.setCurrentPageData();
    },
    // 下一页
    nextPage() {
        if (this.currentPage == this.totalPage)return ;

        this.currentPage++;
        this.setCurrentPageData();
    },

    // 翻译标题时Loading
    translationDisplayTitleLoading(spinningFlg) {
      this.displayTitleSpinning = spinningFlg;
    }
  },
}
</script>


<style>
  .ant-card-actions > li > span{
    cursor: auto ;
  }

  .state{
    width: max-content;
    color: #fff;
    transform: rotate(45deg) translateY(1px) translateX(-65px);
    position: absolute;
  }
  .box0{
    width: 0px;
    height: 0px;
    border-top: 60px solid #4dbbc6;
    border-left: 60px solid transparent;
    position: absolute;
    right: 6px;
  }
  header-title {
    font-weight: 600;
    font-size :20px;
    display: inline-block;
  }
  .textOVerTwo {
    font-size: 13px !important;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
  }

</style>