<template>
  <div>
    <a-modal
      :title="Title"
      :okText="okText"
      :visible="visible"
      :width="modalWidth"
      :bodyStyle="modalHeight"
      :confirm-loading="confirmLoading"
      centered
      @ok="handleOk"
      @cancel="handleCancel"
    >
        <a-textarea :rows="6" placeholder="抱歉，我们现在还没有这篇论文的全文资源。分享推荐理由，我们的团队将 更有动力去寻找这篇论文的资源哦～" style="resize:none;background: #f5f6f6;border-radius: 4px;height: 142px;width: 460px;border: none;" />
    </a-modal>
  </div>
</template>

<script>
  export default {
    name: "NModal",
    components: {
      //所引入的组件 需要先import进来
    },
    props: {
      Title:{
        type: String,
      },
      visible:{
        type: Boolean
      },
      modalWidth:{
        type: Number
      },
      modalHeight:{
        type: Object
      },
      confirmLoading:{
        type:Boolean
      },
      handleOk:{
        type: Function
      },
      handleCancel:{
        type: Function
      },
    },
    data() {
      return {
        okText:'发送',
      }
    }
  }
</script>
<style scoped>
  /deep/ .ant-modal-footer{
    border-top: none;
  }
</style>