<template>
  <div>
    <template v-for="(tag, index) in tags">
      <a-tooltip v-if="tag.labelName && tag.labelName.length > 20" :key="tag.labelId" :title="tag.labelName">
        <a-tag :style="{marginBottom: '5px'}" :key="tag.labelId" :closable="index !== 0" @close="() => handleClose(tag.labelId, tag.publicationId)">
          {{ `${tag.labelName.slice(0, 20)}...` }}
        </a-tag>
      </a-tooltip>
      <a-tag v-else :style="{marginBottom: '5px'}" :key="tag.labelId" :closable="true" @close="() => handleClose(tag.labelId, tag.publicationId)">
        {{ tag.labelName }}
      </a-tag>
    </template>
    <a-auto-complete
      v-if="inputVisible"
      v-model="inputValue"
      :data-source="dataSource"
      ref="input"
      type="text"
      size="small"
      :style="{ width: '150px' }"
      :dropdownMenuStyle="{ width: '150px' }"
      :defaultOpen="true"
      :defaultActiveFirstOption="false"
      @search="onSearch"
    >
      <a-input
        :style="{ width: '78px' }"
        @blur="handleInputConfirm"
        @keypress.enter="handleInputConfirm"
      />
    </a-auto-complete>
    <a-tag v-else style="background: #fff; borderStyle: dashed;" @click="showInput">
      <a-icon type="plus" /> 标签
    </a-tag>
  </div>
</template>

<script>

import Qs from 'qs'
export default {
  name: 'NTagBar',
  props: {
    labelList:{
      type:Array
    },
    publicationId:{
      type: Number,
    },
    defaultSearchLabel:{
      type:Array,
      default:[]
    },
  },
  emit:["getUserLibraryLabelInfoList"],
  data() {
    return {
      tags: [],
      inputVisible: false,
      inputValue: '',
      dataSource: [],
    };
  },
  created(){
    this.userId = this.$router.history.current.query.userId
    this.tags = this.labelList;
  },
  methods: {
    // 删除标签方法
    handleClose(removedTagId, publicationId) {
      let param = Qs.stringify({
          labelId: removedTagId,
          publicationId: this.publicationId,
      });
      this.$http.post("/userFavorites/delLabel", param).then(res=>{
          const tags = this.tags.filter(tag => tag.labelId !== removedTagId);
          this.tags = tags;
      });
    },
    // 新增标签输入框展开方法
    showInput() {
      this.onSearch("");
      this.inputVisible = true;
      this.$nextTick(function() {
          this.$refs.input.focus();
      });
    },
    // 新增标签方法
    handleInputConfirm() {
      if(this.inputValue === "") {
        this.inputVisible = false;
      } else {
        const inputValue = this.inputValue;
        let tags = this.tags;
        let newFlg = true;
        for (let tag of tags) {
            if (inputValue && tag.labelName.indexOf(inputValue) === -1) {
                newFlg = true;
            } else {
                newFlg = false;
                break;
            }
        }
        if (newFlg && inputValue) {
          let param = Qs.stringify({
              userId: this.userId,
              publicationId: this.publicationId,
              labelName: inputValue.trim(),
          });
          this.$http.post("/userFavorites/addLabel", param).then(res=>{
              if(res.data && res.ret_code === '0') {
                  this.$emit('getUserLibraryLabelInfoList');
                  let newLabel = {
                      labelId: res.data.labelId,
                      labelName: inputValue.trim()
                  }
                  tags = [...tags, newLabel];
                  Object.assign(this, {
                      tags,
                      inputVisible: false,
                      inputValue: '',
                  });
              }
          });

        } else {
          //提示重複
          this.$notification.info({
              message:"此文章已有此标签，请勿重复添加"
          });
        }
      }
    },
    // 自动补全查询
    onSearch(searchText) {
      let param = Qs.stringify({
          userId: this.userId,
          labelName: searchText.trim(),
      });
      this.$http.post("/userFavorites/autocompeleteLabelName", param).then(res=> {
          this.dataSource = [];
          for(let label of res.data) {
              this.dataSource.push(label.labelName);
          }
      });
    },
  },
};
</script>