<template>
  <div>
    <a-modal
      :width="400"
      :bodyStyle="{height: '373px',overflowY: 'scroll', userSelect:'none' }"
      v-model="visibleForCollect"
      :destroyOnClose="true"
      :forceRender="true"
      title="收藏夹"
      @cancel="handleCancelForCollect"
    >
      <template slot="footer">
        <div style="height: 69px; padding:17px 44px;">
          <a-button :loading="saveLoading" shape="round" type="primary" @click="handleSave(item.authorInfoList, item.publicationId, item.userId, index, item)" style="width: 130px; height: 35px; margin-right: 10px;">
            确定
          </a-button>
          <a-button key="back" @click="handleCancelForCollect" style="width: 130px; height: 35px;">
            取消
          </a-button>
        </div>
      </template>
      <a-tree
        v-model="checkedKeys"
        :defaultCheckedKeys="item.folderIdList"
        v-if="treeData.length > 0"
        :tree-data="treeData"
        :default-expand-all="true"
        :auto-expand-parent="true"
        :checkStrictly="true"
        checkable
        :selectable="false"
      >
        <template #title="{ key: treeKey, title, parentFolderId, children, isSysFolder, dispOrder}">
          <a-dropdown :trigger="['contextmenu']">
          <span>
            {{ title }}
          </span>
            <template #overlay>
              <a-menu @click="({ key: menuKey }) => onContextMenuClick(treeKey, menuKey, title, parentFolderId, children)">
                <a-menu-item v-if="isSysFolder === '1' || ( isSysFolder === '0' && dispOrder === 0 )" key="1">新增</a-menu-item>
                <a-menu-item v-if="isSysFolder === '1'" key="2">修改</a-menu-item>
              </a-menu>
            </template>
          </a-dropdown>
        </template>
      </a-tree>
      <user-folder-modal
        ref="userFolderModal"
        menuKey="menuKey"
        :userFavouritesFlg="userFavouritesFlg"
        @getList="getList"
        @getTreeList="getTreeList"
      />
    </a-modal>
  </div>
</template>

<script>
  import Qs from 'qs'
  import { Modal } from 'ant-design-vue'
  import{getCollectList,deleteCollect} from '../../user/userFrame/favorites/UserFavoritesApi'
  import UserFolderModal from '@/views/business/user/userFrame/favorites/UserFolderModal'


  const userSaveActionUrl = '/userFavorites/updPublicationToFolder';
  const userActionUrl = '/userHome/updUserAction';

  export default {
    name: "NUserFavoritesModal",
    components: {
      //所引入的组件 需要先import进来
      UserFolderModal
    },
    props: {
      item: {
          type: Object,
      },
      list: {
          type: Array,
      },
      index:{
          type: Number
      },
      folderId:{
          type: Number,
      },
      userFavouritesFlg:{
          type: Boolean,
          default: false
      }
    },
    emit:["onSelectFolder","getTreeList"],
    data() {
      return {
          visibleForCollect: false,
          checkedKeys: [],
          treeData: [],
          saveLoading:false,
      }
    },
    created(){
        this.checkedKeys = this.item.folderIdList;
        this.getList();
    },
    mounted(){
    },
    methods:{
        getList(){
            const that = this;
            if(this.$store.getters.userId){
              let param = {
                  userId: this.$store.getters.userId,
              };
              param = Qs.stringify(param);
              // 获取收藏夹列表
              getCollectList(param).then(res => {
                  if (res.data && res.ret_code ==="0") {
                      that.treeData = res.data.slice(0,res.data.length-1);
                  }
              })
            }
        },
        // 收藏弹窗
        showModalForCollect() {
            this.getList();
            if(this.checkedKeys.length === 0){
                this.checkedKeys = this.item.folderIdList;
            }
            this.visibleForCollect = true;
        },
        // 收藏
        handleSave (authorInfoList, publicationId, userId, index, item) {
            this.saveLoading = true
            let authorIds = '';
            if (authorInfoList !== null) {
                for(let item of authorInfoList){
                    authorIds = authorIds + item.authorId + ','
                }
                authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));
            }

            let folderIds = '';
            if (this.checkedKeys) {
                if (this.checkedKeys.checked) {
                    for(let item of this.checkedKeys.checked){
                        folderIds = folderIds + item + ','
                    }
                } else {
                    for(let item of this.checkedKeys){
                        folderIds = folderIds + item + ','
                    }
                }
                folderIds = folderIds.substring(0, folderIds.lastIndexOf(','));
            }

            let param = {
                actionFlg: '4',
                authorIds : authorIds,
                publicationId,
                folderIds,
                userId: this.$store.getters.userId,
                operationalBehaviorFlg: true,
                deletePrivateFlg: false
            };
            param = Qs.stringify(param);
            this.$http.post(userSaveActionUrl,param).then(res => {
                this.list[index].saveBtnFlg = '2'
                this.list[index].savings = this.list[index].savings + 1
                this.saveLoading = false
                if(this.$route.name !== "UserFavorites") {
                    this.checkedKeys = [];
                }
                this.visibleForCollect = false;
                this.$notification.success({
                    message: '收藏成功'
                })
                if(this.userFavouritesFlg){
                    if(!this.folderId || this.folderId === ""){
                        this.$emit("onSelectFolder");
                    }else {
                        this.$emit("onSelectFolder",parseInt(this.folderId));
                    }
                }

            }).catch(
                err => {
                    if(!err){
                        this.$notification.error({
                            message: '收藏失败'
                        })
                    }
                    this.saveLoading = false
                }
            )

        },
        handleCancelForCollect(e) {
            if(this.$route.name !== "UserFavorites") {
                this.checkedKeys = [];
            }
            this.visibleForCollect = false;
        },
        onContextMenuClick(treeKey, menuKey, title, parentFolderId, children) {
            let param = {
                userId: this.$store.getters.userId,
                treeKey,
                title,
                parentFolderId
            };

            if(menuKey !== "3"){
                this.$refs.userFolderModal.showModal(menuKey, param);
            } else {
                Modal.confirm({
                    title: "删除确认",
                    content: "确认删除此文件夹以及此文件夹下所有文件夹和文件吗？",
                    okText: '确认',
                    cancelText: '取消',
                    onOk: () => {
                        let params = {
                            userId: this.$store.getters.userId,
                            folderId: treeKey,
                        };
                        params = Qs.stringify(params);
                        deleteCollect(params).then(res => {
                            if(res.ret_code === "0"){
                                if(res.data > 0){
                                    this.$notification.success({
                                        top:"100px",
                                        message: '删除成功',
                                        duration: 3
                                    });
                                    if(this.userFavouritesFlg){
                                        this.$emit("onSelectFolder");
                                        this.$emit("getTreeList");
                                    }
                                    this.getList();
                                }
                            } else {
                                this.$notification.error({
                                    top: "100px",
                                    message: res.ret_msg,
                                    duration: 3
                                });
                            }
                        })
                    },
                    onCancel () {}
                })
            }

        },
        getTreeList(){
            this.$emit('getTreeList');
        }
    }
  }
</script>

<style>
  /deep/.ant-modal-content {
      width: 400px;
  }
</style>