<template>
  <div class="antd-pro-components-article-list-content-index-listContent">
    <a-row class="extra">
      <a-tag v-if="puicationModel.docTypeName" color="cyan" style="border-radius: 5px;margin-right: 20px;">{{puicationModel.docTypeName}}</a-tag>
      <span style="color: #595959;margin-right: 20px;font-weight: 600">{{puicationModel.year }}</span>
      <span style="color: #595959;margin-right: 20px;font-weight: 600">{{puicationModel.dateStr}}</span>
    </a-row>
    <a-row class="extra" style=" margin-top: 5px;">
      <span style="color: #595959;margin-right: 20px;font-weight: 600">作者&nbsp;&nbsp;{{ puicationModel.displayAuthors }}</span>
    </a-row>
    <!--期刊名称--><!--&& puicationModel.journalName-->
    <a-row v-if="puicationModel.docType === 'Journal'" class="extra" style=" margin-top: 5px;">
      <span style="color: #595959;margin-right: 20px;font-weight: 600">期刊名称&nbsp;&nbsp;{{journalName}}</span>
    </a-row>

    <a-row v-if="puicationModel.docType === 'Conference'" class="extra" style=" margin-top: 5px;">
      <!--系列会议名称--> <!--v-if="puicationModel.conferenceSerieName"-->
      <span style="color: #595959;margin-right: 20px;font-weight: 600">系列会议名称&nbsp;&nbsp;{{conferenceSerieName}}</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!--会议名称--><!--v-if="puicationModel.conferenceInstanceName"-->
      <span  style="color: #595959;margin-right: 20px;font-weight: 600">会议名称&nbsp;&nbsp;{{conferenceInstanceName}}</span>
    </a-row>
    <!--链接--> <!--v-if="puicationModel.publicationLink"-->
    <a-row class="extra" style=" margin-top: 5px;">
      <span style="color: #595959;margin-right: 20px;font-weight: 600">链接&nbsp;&nbsp;{{ puicationModel.publicationLink }}</span>
    </a-row>
    <!--doi--> <!--v-if="puicationModel.doi"-->
    <a-row class="extra" style=" margin-top: 5px;">
      <span style="color: #595959;margin-right: 20px;font-weight: 600">doi&nbsp;&nbsp;{{ puicationModel.doi }}</span>
    </a-row>
    <!--ISSN--> <!--&& puicationModel.issn-->
    <a-row v-if="puicationModel.docType === 'Journal'" class="extra" style=" margin-top: 5px;">
      <span style="color: #595959;margin-right: 20px;font-weight: 600">ISSN&nbsp;&nbsp;{{puicationModel.issn}}</span>
    </a-row>

    <!--卷 期-->
    <a-row class="extra" style=" margin-top: 5px;">
      <span style="color: #595959;margin-right: 20px;font-weight: 600">卷&nbsp;&nbsp;{{ puicationModel.volume }}</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span style="color: #595959;margin-right: 20px;font-weight: 600">期&nbsp;&nbsp;{{ puicationModel.issue }}</span>
    </a-row>

    <!--出版商 出版商网址-->
    <a-row class="extra" style=" margin-top: 5px;">
      <span style="color: #595959;margin-right: 20px;font-weight: 600">出版商&nbsp;&nbsp;{{ puicationModel.publisher }}</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span style="color: #595959;margin-right: 20px;font-weight: 600">出版商网址&nbsp;&nbsp;{{ puicationModel.publisherUrl }}</span>
    </a-row>
    <!--第一页-->
    <a-row class="extra" style=" margin-top: 5px;">
      <span style="color: #595959;margin-right: 20px;font-weight: 600">第一页&nbsp;&nbsp;{{ puicationModel.firstPage }}</span>
    </a-row>
    <!--最后一页-->
    <a-row class="extra" style=" margin-top: 5px;">
      <span style="color: #595959;margin-right: 20px;font-weight: 600">最后一页&nbsp;&nbsp;{{ puicationModel.lastPage }}</span>
    </a-row>
  </div>
</template>

<script>
import IconText from './IconText'
import { citation } from '@/core/icons'
import Qs from 'qs'
import {selJournal, selConferenceSerie, selConferenceInstance} from '../../../business/user/userFrame/uploadDocuments/UserUploadDocuments.js'

export default {
    name: 'ArticleListContent',
    components: {
        IconText,
        citation
    },
    props: {
        description: {
            type: String,
            default: ''
        },
        uploadBtnFlg: {
            type: String,
        },
        docTypeName: {
            type: String,
        },
        institutionList: {
            type: Array,
            default(){
                return []
            }
        },
        href: {
            type: String,
        },
        savings: {
            type: [String, Number],
        },
        recommendations: {
            type: [String, Number],
        },
        citations: {
            type: [String, Number],
        },
        updateAt: {
            type: Number,
        },
        source: {
            type: String,
        },
        publicationId: {
            type: Number,
        },
        doi: {
            type: String,
        },
        doiFlg: {
            type: Boolean,
            default: false,
        },
        isPublication:{
            type: Boolean,
            default:false
        },
        rateFlg:{
            type: Boolean,
            default: false
        },
        score:{
            type: Number,
            default: 5
        },
        home:{
            type: Boolean
        },
        beingRead:{
            type: Boolean
        },
        dateStr: {
            type: String
        },
        displayAuthors: {
            type: String
        },
        docType: {
            type: String
        },
        puicationModel: {
            type: Object
        }
    },
    beforeCreate(){

    },
    created(){
        this.rateScore = this.score;
        this.descriptionContent = this.description;
        this.descriptionContent_EN = this.description;
    },
    mounted(){
        this.getJournal();
        this.getConferenceSerie();
        this.getConferenceInstance();
    },
    data(){
        return {
            showFlg: false,
            showMoreUserFlg: false,
            showMoreInstitutionFlg: false,
            descriptionContent:'',
            descriptionContent_EN:'',
            descriptionContent_CN:'',
            languageType:'en',
            rateScore: 5,
            spinning: false,
            journalName: '',
            conferenceSerieName: null,
            conferenceInstanceName: null,
        }
    },
    methods:{
        showText(flg){
            this.showFlg = !flg;
        },
        showMoreUser(flg){
            this.showMoreUserFlg = !flg;
        },
        showMoreInstitution(flg){
            this.showMoreInstitutionFlg = !flg;
        },
        routeUser(userId, userName){
            const param = Qs.stringify({
                userId,
            });
            let routeUrl = null;
            this.$http.post('/userAuth/getUserAuthCountByUserId',param).then(res => {
                if (res.data > 0) {
                    routeUrl = this.$router.resolve({
                        path: '/user/userPage/UserDynamic',
                        query: {
                            userId
                        }
                    });
                } else {
                    routeUrl = this.$router.resolve({
                        path: '/scholar/scholarPage/ScholarSummary',
                        query: {
                            userId,
                            isUser: false,
                            userName
                        }
                    });
                }
                window.open(routeUrl.href, '_blank');
            }).catch(
                err => {
                    if(!err) {
                        this.$notification.error({
                            message: '获取信息失败'
                        })
                    }
                    this.loading = false
                }
            )
        },
        routeArticles (publicationId) {
            let routeUrl = this.$router.resolve({
                path: '/articles/articlesPage',
                query: {
                    publicationId
                }
            });
            window.open(routeUrl.href, '_blank');
        },
        routeInstitution(institutionId) {
            let routeUrl = this.$router.resolve({
                path: '/institutions/institutionsPage/InstitutionsSummary',
                query: {
                    fieldId: institutionId
                }
            });
            window.open(routeUrl.href, '_blank');
        },
        highLightInstitution(e) {
            if(e.target.id !==''){
                for(let item of e.target.id.split(',')) {
                    if(this.$refs[`#${item}`] && this.$refs[`#${item}`].length > 0){
                        this.$refs[`#${item}`][0].style.cssText = "margin-right: 15px;color:#4dbbc6 !important"
                    }
                }
            }
        },
        offLightInstitution(e) {
            if(e.target.id !=='') {
                for (let item of e.target.id.split(',')) {
                    if(this.$refs[`#${item}`] && this.$refs[`#${item}`].length > 0) {
                        this.$refs[`#${item}`][0].style.cssText = "margin-right: 15px;"
                    }
                }
            }
        },
        highLightUser(e) {
            for(let key in this.$refs){
                if(key.indexOf('#')===-1){
                    if(e.target.id !=='') {
                        if (key.split(',').indexOf(e.target.id) !== -1) {
                            for (let i of this.$refs[key]) {
                                i.style.cssText = "margin-right: 15px;color:#4dbbc6 !important"
                            }
                        }
                    }
                }
            }
        },
        offLightUser(e) {
            for(let key in this.$refs){
                if(key.indexOf('#')===-1){
                    if(e.target.id !=='') {
                        if (key.split(',').indexOf(e.target.id) !== -1) {
                            for (let i of this.$refs[key]) {
                                i.style.cssText = "margin-right: 15px;"
                            }
                        }
                    }
                }
            }
        },
        abstractTranslation(languageType) {
            if (languageType === 'en') {
                if (this.descriptionContent_CN !== '') {
                    this.descriptionContent = this.descriptionContent_CN;
                    this.languageType = 'zh-CHS';
                } else {
                    this.spinning = true;
                    let param = {
                        description: this.description,
                        publicationId: this.publicationId
                    };
                    param = Qs.stringify(param);
                    this.$http.post('/abstractTranslation/getAbstractTranslation', param).then(res => {
                        this.descriptionContent = res.data;
                        this.descriptionContent_CN = res.data;
                        this.languageType = 'zh-CHS';
                        this.spinning = false;
                    }).catch(
                        err => {
                            if(!err){
                                this.$notification.error({
                                    message: '翻译失败'
                                })
                            }

                            this.spinning = false;
                        }
                    )
                }
            } else {
                this.descriptionContent = this.descriptionContent_EN;
                this.languageType = 'en';
            }

        },
        onRate(){
            let param = {
                userId: this.$store.getters.userId,
                publicationId: this.publicationId,
                publicationGrade: this.rateScore
            };
            param = Qs.stringify(param);
            this.$http.post('/userFavorites/updPublicationGrade', param);
        },

        // 获取期刊信息
        getJournal(){
            const param = Qs.stringify({journalId:this.puicationModel.journalId});
            // 获取会议系列信息
            selJournal(param).then(res => {
                if(res.ret_code==='0'){
                    let journal = res.data;
                    this.journalName = journal.displayName;
                }else {
                    this.$notification.error(res.ret_msg);
                }

            }).catch(err => {
            }).finally(() => {
            })
        },

        // 获取会议系列信息
        getConferenceSerie(){
            const param = Qs.stringify({conferenceSerieId:this.puicationModel.conferenceSerieId});
            // 获取会议系列信息
            selConferenceSerie(param).then(res => {
                if(res.ret_code==='0'){
                    let conferenceSerie = res.data;
                    this.conferenceSerieName = conferenceSerie.displayName;
                }else {
                    this.$notification.error(res.ret_msg);
                }

            }).catch(err => {
            }).finally(() => {
            })
        },

        // 获取会议实例信息
        getConferenceInstance(){
            const param = Qs.stringify({conferenceInstanceId:this.puicationModel.conferenceInstanceId});
            // 获取会议实例信息
            selConferenceInstance(param).then(res => {
                if(res.ret_code==='0'){
                    let conferenceInstance = res.data;
                    this.conferenceInstanceName = conferenceInstance.displayName;
                }else {
                    this.$notification.error(res.ret_msg);
                }
            }).catch(err => {
            }).finally(() => {
            })
        },
    }
}
</script>

<style lang="less" scoped>
  @import "~ant-design-vue/lib/style/index";
  .antd-pro-components-article-list-content-index-listContent {
    padding-left: 20px;
    .description {
      line-height: 22px;
      margin-top: 16px;
      padding-right: 18px;
    }
    .extra {
      color: @text-color-secondary;
      line-height: 22px;
      & /deep/ .ant-avatar {
        position: relative;
        top: 1px;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: top;
      }

      & > em {
        margin-left: 16px;
        color: @disabled-color;
        font-style: normal;
      }
    }
  }

  @media screen and (max-width: @screen-xs) {
    .antd-pro-components-article-list-content-index-listContent {
      .extra {
        & > em {
          display: block;
          margin-top: 8px;
          margin-left: 0;
        }
      }
    }
  }
  .textOVerThree {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
  }
</style>
