<template>
  <div class="main" id="perfectUserInfo">
    <h3 class="title">离成功注册只差一步了</h3>
    <a-row style="text-align: center;margin-bottom: 24px;">
      <a-col :span="24">
        <span class="prefect-tips">绑定手机号参与学术范社区讨论</span>
      </a-col>
    </a-row>
    <a-form
      :form="form"
      @submit="handleSubmit"
    >
      <a-form-item>
        <a-input
          size="large"
          type="text"
          style="width: 327px; border-radius: 25px;"
          placeholder="请输入您的手机号"
          oninput="value=value.replace(/[^\d]/g,'')"
          @change="onEvent"
          @blur="onEvent"
          v-decorator="['mobile', {initialValue: mobile, rules: [{ validator: this.handleMobileCheck}], validateTrigger: ['blur', 'change']}]"
        >
          <a-select slot="addonBefore" size="small" defaultValue="+86" style="width: 69px;">
            <a-select-option value="+86">+86</a-select-option>
          </a-select>
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          size="large"
          style="width: 216px; border-radius: 2px;"
          type="text"
          placeholder="请输入您收到的验证码"
          oninput="value=value.replace(/[^\d]/g,'')"
          @change="onEvent"
          @blur="onEvent"
          v-decorator="['captcha', {initialValue: captcha, rules: [{ validator: this.handleCaptchaCheck}], validateTrigger: ['blur','change']}]">
        </a-input>
        <a-button
          class="getCaptcha"
          tabindex="-1"
          :disabled="state.captchaBtn"
          @click.stop.prevent="getCaptcha"
          v-text="!state.smsSendBtn && '获取验证码' || state.smsSendBtn && (state.time+'秒后重发')"
          size="large"
          type="primary"
        ></a-button>
      </a-form-item>
      <a-form-item style="margin-top:26px">
        <a-button
          size="large"
          type="primary"
          htmlType="submit"
          class="login-button"
          :loading="state.loginBtn"
          :disabled="loginBtn"
        >进入学术范</a-button>
        <div style="line-height: 1;text-align: left;">
          <span style="font-size: 13px; color:#A8A8A8;display: block;margin-top: 8px;">未注册过的手机号将为您自动注册账号</span>
        </div>
      </a-form-item>
    </a-form>
  </div>
</template>
<script>
import Qs from 'qs'
import { getSmsCaptcha } from '../login/LoginApi'
import { mapActions } from 'vuex'
export default {
  name: 'perfectUserInfo',
  data() {
    return {
      errorMsg: '',
      routePath:'/',
      loginBtn: true,
      isLoginError: false,
      requiredTwoStepCaptcha: false,
      stepCaptchaVisible: false,
      form: this.$form.createForm(this),
      state: {
          captchaBtn: true,
          time: 60,
          loginBtn: false,
          // login type: 0 email, 1 username, 2 telephone
          loginType: 0,
          smsSendBtn: false
      },
      captchaResult: false,
      clickSubmit: false,
      requestId: '',
      mobile: '',
      captcha: '',
      agree: false,
      mobileValidateFlg: false,
      captchaValidateFlg: false,
      eventType: '',
      password: '',
      passwordConfirm: '',
      passwordConfirmValidateFlg: '',
      openId: '',
      accessToken: ''
    }
  },
  created(){
    this.openId = this.$route.query.openId;
    this.accessToken = this.$route.query.accessToken;
  },
  methods: {
      ...mapActions(['Login', 'Logout']),
      handleSubmit (e) {
          e.preventDefault()
          const {
              form: { validateFields },
              state,
              Login,
          } = this

          state.loginBtn = true
          let validateFieldsKey =  ['mobile', 'captcha', 'agree']
          this.clickSubmit = true;
          validateFields(validateFieldsKey, { force: true }, (err, values) => {
              if (!err) {
                  if (null !== this.requestId && undefined !== this.requestId && '' !== this.requestId) {
                      const param = Qs.stringify({
                          captcha:this.captcha,
                          mobile:this.mobile,
                          loginFlg: 'wechat',
                          openId: this.openId,
                          accessToken: this.accessToken,
                          requestId:this.requestId
                      })
                      Login(param)
                          .then((res) => {
                              if (res.ret_code === '0') {
                                  this.loginSuccess(res)
                              }
                          })
                          .catch(err => {this.requestFailed(err)})
                          .finally(() => {
                              state.loginBtn = false
                          })
                  } else {
                      this.form.setFields({
                          "captcha": {
                              "errors": [new Error('请重新获取验证码')]
                          }
                      });
                  }

              } else {
                  setTimeout(() => {
                      state.loginBtn = false
                  }, 600)
              }
          });

          state.loginBtn = false
          this.clickSubmit = false;
      },
      loginSuccess (res) {
          this.handleLoginCancel()
          this.$router.push({ path: this.routePath })
          this.isLoginError = false
      },
      requestFailed (err) {
          if(err){
              if (err.ret_code === '20104' || err.ret_code === '20105') {
                  this.form.setFields({
                      "captcha": {
                          "errors": [new Error(err.ret_msg)]
                      }
                  });
              } else if (err.ret_code === '20106' || err.ret_code === '20107') {
                  this.form.setFields({
                      "mobileTab3": {
                          "errors": [new Error(err.ret_msg)]
                      }
                  });
              } else if (err.ret_code === '20108') {
                  this.form.setFields({
                      "password": {
                          "errors": [new Error(err.ret_msg)]
                      }
                  });
              } else {
                  this.errorMsg = err.message
              }
          } else {
              this.errorMsg = "服务器错误，请联系管理员。"
          }
          this.isLoginError = true
      },
      // 关闭对话框
      handleLoginCancel(e) {
          this.$store.dispatch('changeVisible', false);
          this.uniqueLoginKey = !this.uniqueLoginKey
      },

      onEvent(e){
          this.eventType = e.type;
      },

      getCaptcha (e) {
          e.preventDefault()
          const { form: { validateFields }, state } = this
          validateFields(['mobile'], { force: true }, (err, values) => {
              if (!err) {
                  state.smsSendBtn = true
                  state.captchaBtn = true;
                  const interval = window.setInterval(() => {
                      if (state.time-- <= 0) {
                          state.time = 60
                          state.smsSendBtn = false;
                          state.captchaBtn = false;
                          window.clearInterval(interval)
                      }
                  }, 1000)

                  const hide = this.$message.loading('验证码发送中..', 0)
                  getSmsCaptcha(Qs.stringify({ mobile: values.mobile, type:"setPhoneNum" })).then(res => {
                      this.requestId = res.data;
                      setTimeout(hide, 2500)
                  }).catch(err => {
                      setTimeout(hide, 1)
                      clearInterval(interval)
                      state.time = 60
                      state.smsSendBtn = false
                      state.captchaBtn = false;
                      this.requestFailed(err)
                  })
              }
          })
      },

      // 手机号校验
      handleMobileCheck (rule, value, callback) {
          this.mobile = value;
          let reStr = /^1[34578]/;
          if(this.eventType === 'input'){
              if (value.length >= 3 && !reStr.test(value) || value.length > 11) {
                  this.state.captchaBtn = true;
                  this.mobileValidateFlg = false;
                  callback(new Error('手机号格式错误！'))
              } else {
                  if (!this.state.smsSendBtn) {
                      this.state.captchaBtn = false;
                  }
                  this.mobileValidateFlg = true;
                  callback()
              }
          } else {
              if (value.length !== 11) {
                  this.state.captchaBtn = true;
                  this.mobileValidateFlg = false;
                  callback(new Error('手机号格式错误！'))
              } else {
                  if (!this.state.smsSendBtn) {
                      this.state.captchaBtn = false;
                  }
                  // 登录状态下重置密码验证手机号是否为当前登录手机号
                  if(this.mobile) {
                      const param = Qs.stringify({
                          mobile:this.mobile,
                      });

                      this.$http.post('/login/checkWechat', param).then(res => {
                          if (res.ret_code === '0') {
                              let data = res.data;
                              if (data) {
                                  callback(new Error('该手机号已被绑定！'))
                              } else {
                                  callback()
                              }
                          }
                      }).catch(
                          err => {
                          }
                      );
                  } else {
                      callback()
                  }

                  this.mobileValidateFlg = true;
              }
          }


          if (this.captchaValidateFlg && this.mobileValidateFlg) {
              this.loginBtn = false;
          } else {
              this.loginBtn = true;
          }
      },

      // 校验验证码
      handleCaptchaCheck (rule, value, callback) {
          this.captcha = value;
          if(this.eventType === 'blur'){
              if (value.length < 6) {
                  this.captchaValidateFlg = false;
                  callback(new Error('验证码格式错误！'))
              } else {
                  this.captchaValidateFlg = true;
              }
          } else {
              if (value.length > 6) {
                  this.captchaValidateFlg = false;
                  callback(new Error('验证码格式错误！'))
              } else {
                  this.captchaValidateFlg = true;
              }
          }

          if (this.captchaValidateFlg && this.mobileValidateFlg) {
              this.loginBtn = false;
          } else {
              this.loginBtn = true;
          }
          callback()
      },
      getUrlParam(name) {
          return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null
      },
  }
}
</script>
<style lang="less" scoped>
  .title {
    text-align: center;
    height: 33px;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    line-height: 33px;
    margin-top: 54px;
    margin-bottom: 0px;
  }
  .prefect-tips {
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    line-height: 18px;
  }
  /deep/.ant-form-item {
    text-align: center;
    margin-bottom: 0px;
    line-height: 1;
    height: 56px;
  }
  /deep/.ant-form-item input {
    font-size: 13px;
  }
  /deep/#password {
    border-radius: 2px;
  }
  /deep/#passwordConfirm {
    border-radius: 2px;
  }
  .getCaptcha {
    border: none;
    border-radius: 2px;
    font-size: 13px;
    width: 103px;
    margin-left: 8px;
  }
  .login-button {
    border-radius: 2px;
    text-align: center;
    width: 327px;
    height: 48px;
    margin-top: 22px;
    font-size: 15px;
  }
  .login-button[disabled] {
    color: #FFFFFF !important;
    background-color: #4dbbc6 !important;
    border-color: #4dbbc6 !important;
    opacity: 0.4;
  }
  /deep/.ant-select-selection__rendered {
    margin-left: 12px;
  }
  /deep/.ant-form-explain {
    text-align: left;
    font-size: 12px;
  }
  .back {
    position: absolute;
    top: 22px;
    left: 22px;
    cursor: pointer;
  }
  .back span {
    margin-left: 5px;
  }
</style>