<template>
  <div>
    <!--<a-row :gutter="64">-->
    <a-row :gutter="18">
      <!--<a-col :span="15">-->
      <a-col :span="16">
        <a-row>
          <a-card :extra="item.publishTime" size="small" style="width: 100%;" v-if="item.visiblityFlg === '1'">
            <template slot="title">
              <card-header
                :userId="parseInt(item.userId)"
                :imgUrl="(item.profilePath?item.profilePath:item.profilePhotoPath)"
                :username="item.nickname?item.nickname:item.displayName"
                :imgShow="true"
                :content="item.newsTitle"
                :isNews="true"
                :isUser="itemParent.isUser"
                :linkUrl="item.newsExternalLink?item.newsExternalLink:''"
              />
            </template>
            <user-news-content
              :item="item"
              :isDetails="true"
              :isUser="itemParent.isUser"
            >
            </user-news-content>
          </a-card>
        </a-row>
      </a-col>
      <!--<a-col :span="8">-->
      <a-col :span="7">
        <!--<span>TA的推荐动态</span>-->
        <!-- TA的最新动态 -->
        <a-row>
          <a-card :title="'TA的最新动态'" size="small">
            <a-list item-layout="horizontal" :data-source="userNewsTop3" :loading="userNewsLoading">
              <a-list-item slot="renderItem" slot-scope="item, index" @click="routeNewsDetails(item.userId, item.newsId)" style="cursor: pointer;">
                <a-row type="flex" justify="center" align="top" style="width: 100%;">
                  <a-col :span="5">
                    <img v-if="item.imgSrc != null" :src="item.imgSrc" :style="{'width': '58px', 'height': '45px', 'object-fit': 'cover'}" />
                    <img v-else src="~@/assets/newsSeatImg.png" :style="{'width': '58px', 'height': '45px'}" />
                  </a-col>
                  <a-col :span="19" style="padding-left: 5px;">
                    <a-row style="font-size: 14px">
                      <a-col :span="24" class="news-title">
                        {{item.newsTitle}}
                      </a-col>
                    </a-row>
                    <a-row style="color: #c4c4c4;font-size: 12px">
                      <a-col :span="24" class="news-content">
                        {{item.newsContent}}
                      </a-col>
                    </a-row>
                  </a-col>
                </a-row>
              </a-list-item>
            </a-list>
            <template slot="actions" class="ant-card-actions">
              <div class="card-footer">
                <a @click="routeUser(item.userId, true)">查看更多</a>
              </div>
            </template>
          </a-card>
        </a-row>
        <!-- TA推荐的论文 -->
        <a-row style="margin-top: 10px;">
          <a-card :title="'TA推荐的论文'" size="small">
            <n-list
              :dataUrl="'/userHome/getUserRecommendedPapers'"
              :parameters="{
                userId: userId,
                index: 1,
                rows:3
              }"
              :home="true"
              :searchBar="false"
              :sortBar="false"
              :hasPagination="false"
              :imgShow="false"
              :btnGroupUp="false"
              :btnGroup="false"
              :showShare="false"
              :beingRead="true"
              :showOne="false"
              :minHeight="'130px'"
            />
          </a-card>
        </a-row>
        <!-- 社区最新动态 -->
        <a-row style="margin-top: 10px;">
          <a-card :title="'社区最新动态'" size="small" :bodyStyle="{paddingBottom: '4px !important'}">
            <a-list item-layout="horizontal" :data-source="allNewsTop5" :loading="allNewsLoading">
              <a-list-item slot="renderItem" slot-scope="item, index" @click="routeNewsDetails(item.userId, item.newsId)" style="cursor: pointer;">
                <a-row type="flex" justify="center" align="top" style="width: 100%;">
                  <a-col :span="5">
                    <img v-if="item.imgSrc != null" :src="item.imgSrc" :style="{'width': '58px', 'height': '45px', 'object-fit': 'cover'}" />
                    <img v-else src="~@/assets/newsSeatImg.png" :style="{'width': '58px', 'height': '45px'}" />
                  </a-col>
                  <a-col :span="19" style="padding-left: 5px;">
                    <a-row style="font-size: 14px">
                      <a-col :span="24" class="news-title">
                        {{item.newsTitle}}
                      </a-col>
                    </a-row>
                    <a-row style="color: #c4c4c4;font-size: 12px">
                      <a-col :span="24" class="news-content">
                        {{item.newsContent}}
                      </a-col>
                    </a-row>
                  </a-col>
                </a-row>
              </a-list-item>
            </a-list>
            <!--<template slot="actions" class="ant-card-actions">
              <div class="card-footer">查看更多</div>
            </template>-->
          </a-card>
        </a-row>
      </a-col>
    </a-row>
  </div>
</template>

<script>
  import UserNewsContent from "@/views/business/user/userFrame/summary/UserNewsContent";
  import CardHeader from '@/views/business/components/NList/CardHeader';
  import  NList  from '@/views/business/components/NList/NList'
  import Qs  from 'qs'
  export default {
    components: {
      UserNewsContent,
      CardHeader,
      NList
    },
    data() {
      return {
        newsFormalPath:"/file/",
        item: {},
        itemParent: {},
        userId: '',
        newsId: '',
        userNewsTop3: [],
        allNewsTop5: [],
        userNewsLoading: true,
        allNewsLoading: true,
      }
    },
    created () {
      this.userId = this.$route.query.userId;
      this.newsId = this.$route.query.newsId;
      // 获取动态详情
      this.getNewsDetails();
    },
    methods: {
      routeUser (userId, jumpNewsFlg) {
          let path = '';
          let query = {};
          if (this.itemParent.isUser) {
              path = '/user/userPage/UserDynamic';
              query = {
                  userId
              };
          } else {
              path = '/scholar/scholarPage/ScholarSummary';
              query = {
                  userId,
                  isUser: false,
                  userName: this.username,
                  jumpNewsFlg: jumpNewsFlg
              };
          }
          let routeUrl = this.$router.resolve({
              path,
              query
          });

          window.open(routeUrl.href, '_blank');
      },
      getNewsDetails() {
        const param = Qs.stringify({
          loginUserId: this.$store.getters.userId,
          newsId: this.newsId,
          index: 1,
          rows: 1
        });
        this.$http.post('/userHome/getAllNewsList', param).then(res => {
            if (res.data && res.ret_code === "0") {
                this.itemParent = res.data.list[0]
                this.item = res.data.list[0].userNewsModel
                // 获取TA的最新动态(3条)
                this.getUserNewsTop3();
                // 获取社区最新动态(5条)
                this.getAllNewsTop5();
            }
        }).catch(err => {
            this.$message.error("抱歉，该动态已删除！");
            setTimeout(()=>{
                window.close();
            },1000);

        })
      },
      getUserNewsTop3() {
        const param = Qs.stringify({
          loginUserId: this.$store.getters.userId,
          userId: this.userId,
          index: 1,
          rows: 3
        });
        this.$http.post('/userHome/getAllNewsList', param).then(res => {
          let newsInfoList = [];
          res.data.list.forEach(function(item) {
            let newsInfo = {
              userId: item.userNewsModel.userId,
              newsId: item.userNewsModel.newsId,
              newsTitle: item.userNewsModel.newsTitle,
              newsContent: item.userNewsModel.newsContent
            }
            if (item.userNewsModel.userNewsFilesList.length > 0) {
                newsInfo.imgSrc = item.userNewsModel.userNewsFilesList[0].newsFileUrl
            }
            newsInfoList.push(newsInfo)
          })
          this.userNewsTop3 = newsInfoList
          this.userNewsLoading = false
        })
      },
      getAllNewsTop5() {
        const param = Qs.stringify({
          loginUserId: this.$store.getters.userId,
          index: 1,
          rows: 5
        });
        this.$http.post('/userHome/getAllNewsList', param).then(res => {
          let newsInfoList = [];
          res.data.list.forEach(function(item) {
            let newsInfo = {
              userId: item.userNewsModel.userId,
              newsId: item.userNewsModel.newsId,
              newsTitle: item.userNewsModel.newsTitle,
              newsContent: item.userNewsModel.newsContent
            }
            if (item.userNewsModel.userNewsFilesList.length > 0) {
                newsInfo.imgSrc = item.userNewsModel.userNewsFilesList[0].newsFileUrl
            }
            newsInfoList.push(newsInfo)
          })
          this.allNewsTop5 = newsInfoList
          this.allNewsLoading = false
        })
      },
      routeNewsDetails(userId, newsId) {
        let routeUrl = this.$router.resolve({
            name: 'NewsDetails',
            query:{userId: userId, newsId: newsId}
        });
        window.open(routeUrl.href, '_blank');
      }
    }
  }
</script>

<style lang="less" scoped>
  /*.ant-card-body{
    width: 85% !important;
    margin-left: 5% !important;
  }*/
  .news-more {
    font-size: 12px;
  }
  .news-title,.news-content {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .news-title {
    font-size: 13px;
    font-weight: 600;
    color: #333333;
    line-height: 18px;
  }
  .news-content {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    line-height: 17px;
  }
  /deep/.ant-card-actions {
    border-top: 1px solid #ececec !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  /deep/.ant-card-actions li {
    margin: 0 !important;
  }
  .card-footer {
    text-align: center !important;
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    height: 45px;
    line-height: 45px;
  }
</style>