<template>
  <div :style="backgroundSearch" style="overflow-x: hidden">
<!--    <a-affix :offset-top="0">-->
      <div id="headerDiv">
        <a-row class="title" type="flex"  justify="space-around" align="middle">
          <a-col :span="4" :push="2">
            <a @click="refreshIndex">
              <img src="~@/assets/logo-white.png" style="height: 26px;width: 123px;" class="logo" alt="logo" />
            </a>
          </a-col>
          <a-col :span="8" :push="5">
            <a-button type="primary" id="login_button" @click="showModal">
              登录/注册
            </a-button>
          </a-col>
        </a-row>
      </div>
<!--    </a-affix>-->

    <!-- body1中的搜索学术信息部分 -->
    <div style="width: 100%">
      <!-- 搜索学术信息所占部分 -->
      <a-row style="margin-top: 165px">
        <a-col :span="8" :push="6">
          <img src="~@/assets/index_logo.png" height="55" width="178"/></a-col>
      </a-row>
      <a-row style="margin-top: 30px">
        <a-col :span="8" :push="7">
          <h3 style="color: #ffffff;font-size: 20px;font-weight: 600">一站式文件搜索、阅读批注的学术讨论社区</h3>
        </a-col>
      </a-row>
      <a-row id="searchBar" style="margin-top: 35px">
        <a-col :span="8" :push="7">
          <a-auto-complete
            style="width: 100%;"
            size="large"
            @search="handleSearch"
            @select="onSelect"
            v-model="keyword"
            :defaultActiveFirstOption="false"
          >
            <template slot="dataSource">
              <a-select-option v-if="dataSource.length > 0" v-for="(item, index) in dataSource" :key="dataSourceKey[index]">
              <span v-for="(item, index) in item">
                <a-icon style="margin-right: 5px;: " :type="item.icon" />
                <span style="margin-right: 5px;: " v-html="item.text"></span>
              </span>
              </a-select-option>
            </template>
            <a-input-search
              size="large"
              placeholder="搜索文献、学者、研究方向"
              enter-button="搜索"
              @search="handleKeyPress"
            >
              <template slot="prefix">
                <img src="~@/assets/search.png" height="16" width="16"/>
              </template>
            </a-input-search>
          </a-auto-complete>
          <div :class="{active:searchFlg}" style="margin-left: 40px; color: #f5222d;">请输入搜索词</div>
        </a-col>
      </a-row>
    </div>

    <div style="width:100%;text-align: center;position: absolute;bottom: 0;">
      <global-footer :color="'#ffffff'" />
    </div>

    <a-modal
      :width="modalWidth"
      :bodyStyle="modalHeight"
      :visible="visible"
      :confirm-loading="confirmLoading"
      @cancel="handleCancel"
      :maskClosable="true"
      :footer="false"
      centered
    >
      <keep-alive>
        <router-view :key="$route.fullPath"/>
      </keep-alive>
    </a-modal>
<!--    <a-modal-->
<!--      v-model="demoInfoMode"-->
<!--      width="700px"-->
<!--      :centered="true"-->
<!--      :footer="null"-->
<!--      :bodyStyle="{'background-color':'#40a9ff', 'color':'#FFF', 'padding':'5px 0 10px 25px'}"-->
<!--      :closable="true"-->
<!--      class="demo-info-mode"-->
<!--    >-->
<!--      <a-row type="flex" align="middle" style="padding-top: 15px;">-->
<!--        <a-col :span="2">-->
<!--          <a-icon type="info-circle" style="color:white; font-size: 36px;" />-->
<!--        </a-col>-->
<!--        <a-col :span="21" style="font-size: 26px;">-->
<!--          您正在使用KeenSight学术社区平台演示版：-->
<!--        </a-col>-->
<!--      </a-row>-->
<!--      <ul style="padding: 0 0 0 12px; margin-top: 10px; font-size: 20px;">-->
<!--        <li>1.演示版展示了大部分平台功能以及未实现功能的视觉效果。</li>-->
<!--        <li>-->
<!--          2.演示版中的数据仅限于到2020年12月为止<span style="color: #FAAD14;">量子力学</span>研究的<span style="color: #FAAD14;">英文</span>数据。-->
<!--        </li>-->
<!--        <li>3.中文数据以及其他研究方向的数据将在平台的正式版本当中发布。</li>-->
<!--        <li>-->
<!--          4.演示版中搜索时请使用作者、机构、研究领域的<span style="color: #FAAD14;">英文拼写</span>。-->
<!--        </li>-->
<!--        <li>5.中文搜索将在平台的正式版本当中发布。</li>-->
<!--      </ul>-->
<!--    </a-modal>-->
  </div>
</template>
<script>
  import Qs from 'qs'
  import { mapActions } from 'vuex'
  import moment from 'moment'
  import GlobalFooter from '@/components/GlobalFooter'

  export default {
    name: "Index",
    components: {
        GlobalFooter,
    },
    data(){
      return {
        errorMsg: '',
        routePath:'/',
        visible: false,
        confirmLoading: false,
        modalWidth: 375,
        modalHeight: {
            height: "506px",
            padding: '24px 24px 24px 24px'
        },
        backgroundSearch: {
         backgroundImage: 'url(' + require('@/assets/background1.png') + ')',
         backgroundRepeat: "no-repeat",
         backgroundSize:'100% 100%',
         height: '100%'
        },
        keyword: '',
        autocompleteKeyword: '',
        dataSource: [],
        dataSourceKey: [],
        emailFlg: false,
        email:'',
        password: '',
        passwordconfrim: '',
        passwordFlg: false,
        passwordConfirmFlg: false,
        checkEmailError: false,
        checkEmail: [],
        agree: true,
        isEmailError: false,
        isPwError:false,
        isPwConfirmError:false,
        isAgreeError: false,
        // demoInfoMode:false,
        searchFlg: true,
      }
    },
    mounted(){
      const {
          Login
      } = this

      this.$watch('$route', (val) => {
        let param = val.query;
        if(param.modalWidth){
            this.modalWidth = param.modalWidth
        }
        if(param.modalHeight){
            this.modalHeight = param.modalHeight
        }
      })
      // this.demoInfoMode = true
      // setTimeout(() => {
      //   this.demoInfoMode =false;
      // }, 20 * 1000);
      // 微信扫码登陆
      let code = this.getUrlParam('code')
      if (code != null) {
        const param = Qs.stringify({
            code: code,
        });
        this.$http.post('/login/wechatLoginCheck', param).then(res => {
          if (res.ret_code === "0") {
              // 打开完善信息Modal
              if (res.data.firstLoginFlg) {
                  this.showPerfectUserInfo(res.data.openId, res.data.accessToken);
              } else {
                  const param = Qs.stringify({
                      openId:res.data.openId,
                      loginFlg: 'wechatLogin'
                  })
                  Login(param)
                      .then((res) => {
                          if (res.ret_code === '0') {
                              this.loginSuccess(res)
                          }
                      })
                      .catch(err => {this.requestFailed(err)})
                      .finally(() => {
                          state.loginBtn = false
                      })
              }
          }
        })
      }
    },
    methods:{
      moment,
      ...mapActions(['Login', 'Logout']),
      showModal() {
        this.$router.push('/index/login')
        // this.modalWidth = 350
        this.modalWidth = 375
        this.modalHeight = {
            height: "506px",
            padding: '24px 24px 24px 24px'
        }
        this.visible = true;
      },
      showRegistModal() {
        this.$router.push('/index/register')
        this.modalWidth = 750
        this.modalHeight = {
            height: "610px"
        }
        this.visible = true;
      },
      emailCheck (e) {
        // 邮箱地址格式正确判断
        const regEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
        this.emailFlg = regEmail.test(e.target.value);
        this.email = e.target.value;
        this.checkEmail = [];
        this.checkEmailError = false
      },
      passwordCheck (e) {
        if(e.target.value !== '') {
          this.passwordFlg = true;
          this.password = e.target.value
        } else {
          this.passwordFlg = false
        }

        if(this.passwordconfrim === this.password) {
            this.passwordConfirmFlg = true
        } else {
            this.passwordConfirmFlg = false
        }
      },
      passwordConfirm (e) {
        if(e.target.value === this.password) {
          this.passwordConfirmFlg = true
          this.passwordconfrim = e.target.value
        } else {
          this.passwordConfirmFlg = false
        }
      },
      agreeCheck(e) {
        this.agree = e.target.checked
      },
      showRegist() {
        this.$http.post('/register/checkEmail', Qs.stringify({email:this.email})).then(res => {
          this.isEmailError = false
          this.isPwError = false
          this.isPwConfirmError = false
          this.isAgreeError = false
          this.checkEmailError = false

          this.checkEmail = res.data
          if(this.checkEmail !== null) {
            this.checkEmailError = true
            this.emailFlg = false
          } else {
            this.isEmailError = !this.emailFlg
            if(!this.isEmailError) {
              this.isPwError = !this.passwordFlg
            }
            if(!this.isEmailError && !this.isPwError) {
              this.isPwConfirmError = !this.passwordConfirmFlg
            }
            if(!this.isEmailError && !this.isPwError && !this.isPwConfirmError) {
              this.isAgreeError = !this.agree
            }
            if (this.emailFlg && this.passwordFlg && this.passwordConfirmFlg && this.agree) {
              this.$router.push({path:'/index/register',query:{flg: '2', email: this.email, password:this.password, passwordconfrim: this.passwordconfrim, agree: this.agree}});
              this.modalWidth = 750
              this.modalHeight = {
                height: "610px"
              }
              this.visible = true;
            }
          }
        }).catch(
          err => {
            console.log(err)
          }
        )
      },
      handleOk(e) {
        this.ModalText = 'The modal will be closed after two seconds';
        this.confirmLoading = true;
        setTimeout(() => {
            this.visible = false;
            this.confirmLoading = false;
        }, 2000);
      },
      handleCancel(e) {
        this.visible = false;
      },
      onSelect(value, option) {
        this.autocompleteKeyword = value
        value = value.replaceAll('<ks_a>',' ').replaceAll('</ks_a>','')
            .replaceAll('<ks_i>',' ').replaceAll('</ks_i>','')
            .replaceAll('<ks_p>',' ').replaceAll('</ks_p>','')
            .replaceAll('<ks_f>',' ').replaceAll('</ks_f>','')
            .replaceAll('<b>','').replaceAll('</b>','')

        this.keyword = value.trim()
        this.handleSearch(value.trim(), false)
      },
      handleSearch(value, clearAuto = false) {
          if(clearAuto){
              this.autocompleteKeyword = '';
          }
          let param = Qs.stringify({
              keyword: value
          });
          this.$http.post('/autocomplete/getKeyword4AllSearch',param).then(res => {
              if(res.data) {
                  this.dataSource = []
                  this.dataSourceKey = res.data
                  let suggestedWordList = res.data.filter(function(suggestedWord) {
                      return suggestedWord.indexOf("<ks_i>") < 0
                  })
                  this.dataSourceKey = suggestedWordList;
                  //for(let i of res.data){
                  for(let i of suggestedWordList){

                      let sortedTag = '';
                      let wordArr = ''
                      while(i.indexOf("<ks_") > -1) {
                          let tag = i.substring(i.indexOf("<ks_"), 6);
                          sortedTag += tag + ",";

                          let word = i.substring(i.indexOf(tag), i.indexOf(tag.replaceAll("<", "</")) + 7);
                          wordArr += word + ","
                          i += word;
                          i = i.replaceAll(word, "");

                      }
                      sortedTag = sortedTag.substring(0,sortedTag.lastIndexOf(","))
                      wordArr = wordArr.substring(0,wordArr.lastIndexOf(","))

                      sortedTag = sortedTag.split(",")
                      wordArr = wordArr.split(",")

                      let objList = []

                      for(let index in sortedTag){
                          let obj = {}

                          if(sortedTag[index] === '<ks_a>'){
                              obj.icon = 'user'
                          }else if(sortedTag[index] === '<ks_i>'){
                              obj.icon = 'bank'
                          }else if(sortedTag[index] === '<ks_p>'){
                              obj.icon = 'read'
                          }else if(sortedTag[index] === '<ks_f>'){
                              obj.icon = 'experiment'
                          }
                          obj.text = wordArr[index]

                          objList.push(obj)
                      }

                      this.dataSource.push(objList)
                  }

              }
              this.loading = false
          }).finally(() => {
              this.loading = false
          })
      },
      handleKeyPress(ev) {
          let params = {
              keyword : this.keyword,
              autocompleteKeyword : this.autocompleteKeyword,
          }
          if(this.keyword !== ''){
              this.searchFlg = true;
              if(this.autocompleteKeyword !== ''){
                  if(this.autocompleteKeyword.indexOf('<ks_p>') !== -1){
                      let param = Qs.stringify({
                          userId:this.$store.getters.userId,
                          index:1,
                          rows:5,
                          keyword:this.keyword,
                          autocompleteKeyword:this.autocompleteKeyword,
                          yearFrom: moment('1900').format('YYYY'),
                          yearTo:  moment().format('YYYY')
                      });
                      this.$http.post('/searchResultsArticles/searchResultsArticlesPublication', param).then(res => {
                          if(res.data){
                              if(res.data.total === 1){
                                  this.$router.push({
                                      path: '/articles/articlesPage/ArticlesFullText',
                                      query: {
                                          publicationId: res.data.list[0].publicationId
                                      }
                                  })
                              }else {
                                  this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsArticles')
                              }
                          }
                      })

                  } else if(this.autocompleteKeyword.indexOf('<ks_a>') !== -1){
                      let param = Qs.stringify({
                          userId:this.$store.getters.userId,
                          index:1,
                          rows:10,
                          keyword:this.keyword,
                          autocompleteKeyword:this.autocompleteKeyword,
                      });
                      this.$http.post('/searchResultsScholar/getSearchResultsScholarList', param).then(res => {
                          if(res.data){
                              if(res.data.total === 1){
                                  this.$router.push({
                                      path: '/scholar/scholarPage/ScholarSummary',
                                      query: {
                                          userId:res.data.list[0].userId,
                                          isUser: false,
                                          userName:res.data.list[0].displayName
                                      }
                                  })
                              }else {
                                  this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsScholar')
                              }
                          }
                      })
                  } else if(this.autocompleteKeyword.indexOf('<ks_f>') !== -1){
                      let param = Qs.stringify({
                          index:1,
                          rows:5,
                          keyword:this.keyword,
                          autocompleteKeyword:this.autocompleteKeyword,
                      });
                      this.$http.post('/searchResultsDirection/getSearchResultsDirectionList', param).then(res => {
                          if(res.data.pageInfo){
                              if(res.data.pageInfo.total === 1){
                                  this.$router.push({
                                      path: '/searchResults/searchResultsPage/searchResultsDirectionDetail',
                                      query: {
                                          fieldId: res.data.fieldList[0].fieldId
                                      }
                                  })
                              }else {
                                  this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsDirection')
                              }
                          }
                      })
                  } else if(this.autocompleteKeyword.indexOf('<ks_i>') !== -1){
                      let param = Qs.stringify({
                          index:1,
                          rows:5,
                          keyword:this.keyword,
                          autocompleteKeyword:this.autocompleteKeyword,
                      });
                      this.$http.post('/searchResultsInstitution/getSearchResultsInstitutionList', param).then(res => {
                          if(res.data){
                              if(res.data.total === 1){
                                  this.$router.push({
                                      path: '/institutions/institutionsPage/InstitutionsSummary',
                                      query: {
                                          institutionId: res.data.list[0].id
                                      }
                                  })
                              }else {
                                  this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsInstitutions')
                              }
                          }
                      })
                  } else {
                      let param = Qs.stringify({
                          userId:this.$store.getters.userId,
                          index:1,
                          rows:5,
                          keyword:this.keyword,
                          autocompleteKeyword:this.autocompleteKeyword,
                          yearFrom: moment('1900').format('YYYY'),
                          yearTo:  moment().format('YYYY')
                      });
                      this.$http.post('/searchResultsArticles/searchResultsArticlesPublication', param).then(res => {
                          if(res.data){
                              if(res.data.total === 1){
                                  this.$router.push({
                                      path: '/articles/articlesPage/ArticlesFullText',
                                      query: {
                                          publicationId: res.data.list[0].publicationId
                                      }
                                  })
                              }else {
                                  this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsArticles')
                              }
                          }
                      })
                  }
              }else {
                  let param = Qs.stringify({
                      userId:this.$store.getters.userId,
                      index:1,
                      rows:5,
                      keyword:this.keyword,
                      autocompleteKeyword:this.autocompleteKeyword,
                      yearFrom: moment('1900').format('YYYY'),
                      yearTo:  moment().format('YYYY')
                  });
                  this.$http.post('/searchResultsArticles/searchResultsArticlesPublication', param).then(res => {
                      if(res.data){
                          if(res.data.total === 1){
                              this.$router.push({
                                  path: '/articles/articlesPage/ArticlesFullText',
                                  query: {
                                      publicationId: res.data.list[0].publicationId
                                  }
                              })
                          }else {
                              this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsArticles')
                          }
                      }
                  })
              }
          }else {
              this.searchFlg = false;
              // this.$notification.info({
              //     message: '请输入搜索内容！'
              // })
          }

      },
      routeSearchResult(params, url) {
        this.$router.push({
          path: url,
          query: {
              ...params
          }
        });
      },
      openNotificationWithIcon(type) {
        this.$notification[type]({
          style: 'background-color:#40a9ff;',
          message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
          icon: <a-icon type="info-circle" style="color:white;" />,
          closeIcon: <a-icon type="close" style="color:white" />,
          duration: 10
        });
      },
      getUrlParam(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null
      },
      showPerfectUserInfo(openId, accessToken) {
        this.$router.push({ path: '/index/perfectUserInfo',query:{openId: openId, accessToken: accessToken} } );
        this.modalWidth = 375
        this.modalHeight = {
            height: "506px",
            padding: '24px 24px 24px 24px'
        }
        this.visible = true;
      },
      loginSuccess (res) {
          this.$router.push({ path: this.routePath })
      },
      requestFailed (err) {
          if(err){
              this.errorMsg = err.message
          } else {
              this.errorMsg = "服务器错误，请联系管理员。"
          }
          this.isLoginError = true
      },
      refreshIndex() {
        this.$router.push({ path: this.routePath })
      }
    }
  }
</script>
<style>
.logo{
  height:24px;
  width: 185.6px;
  margin-top: 8px;
}
.a-row2{
  height: 200px;
}
.body1_1,.body1_2{
  background-color: #d6d6d6;
}
#confirm_cookie,#free_join_button{
  margin-top: 20px;
}
#login_button. #regist_button{
  margin-top: 5px;
}
.title{
  height: 64px;
}
#login_button,#search_input,#freejoin_button,#join_button,#regist_button{
  border-radius: 20px;
}
.a-row3{
  height: 80px;
  background-color: #d6d6d6;
}
#headerDiv{
}
#regist_button{
  margin-left: 10px;
}
.demo-info-mode .ant-modal-close-x{
  font-size: 26px;
  width: 40px;
  line-height: 40px;
}
.demo-info-mode .ant-modal-close-icon{
  color: #FFF;
}
.active {
  display: none;
}
</style>
