<template>
  <div>
    <a-dropdown placement="bottomRight">
    <span class="ant-pro-account-avatar" @click="handleToCenter">
      <user-img :userImg="avatar" width="32px" height="32px" />
    </span>
      <template v-slot:overlay>
        <!--<a-menu class="ant-pro-drop-down menu" :selected-keys="[]">
          <a-menu-item v-if="menu" key="center" @click="handleToCenter">
            <a-icon type="user" />
            个人主页
          </a-menu-item>
          <a-menu-item v-if="menu" key="settings" @click="handleToPasswordSettings">
            <a-icon type="setting" />
            密码设置
          </a-menu-item>
          <a-menu-divider v-if="menu" />
          <a-menu-item key="logout" @click="handleLogout">
            <a-icon type="logout" />
            退出登录
          </a-menu-item>
        </a-menu>-->
        <div class="avatar-dropdown">
          <a-row class="avatar-head" type="flex" align="middle">
            <a-col :span="7">
              <div class="avatar-bg">
                <div class="avatar">
                  <user-img :userImg="avatar" width="45px" height="45px"/>
                </div>
              </div>
            </a-col>
            <a-col :span="17">
              <div class="user-name">{{nickname}}</div>
              <div class="introduction">{{userInfo.introduction?userInfo.introduction:"你还没有设置个人介绍哦~"}}</div>
            </a-col>
          </a-row>
          <a-row class="avatar-body" type="flex" align="middle">
            <a-col :span="8">
              <div class="menu-item" @click="handleToCenter">
                <div>
                  <img src="~@/assets/icon-user.png" :style="{'width': '28px', 'height': '28px'}" />
                </div>
                <div class="item-text">个人主页</div>
              </div>
            </a-col>
            <a-col :span="8">
              <div class="menu-item" @click="handleToPasswordSettings">
                <div>
                  <img src="~@/assets/icon-setting.png" :style="{'width': '28px', 'height': '28px'}" />
                </div>
                <div>密码设置</div>
              </div>

            </a-col>
            <a-col :span="8">
              <div class="menu-item" @click="handleLogout">
                <div>
                  <img src="~@/assets/icon-logout.png" :style="{'width': '28px', 'height': '28px'}" />
                </div>
                <div>退出登录</div>
              </div>
            </a-col>
          </a-row>
        </div>
      </template>
    </a-dropdown>
    <a-modal
      :width="modalWidth"
      :bodyStyle="modalHeight"
      :visible="resetPassvisible"
      :confirm-loading="confirmLoading"
      @cancel="handleCancel"
      :maskClosable="false"
      :footer="false"
      centered
    >
      <reset-password
        :passwordTitleFlg="passwordTitleFlg"
        :handleLoginCancel="handleCancel"
        :pageFlg="'AvatarDropdown'"
      />
    </a-modal>
  </div>
</template>

<script>
import { Modal } from 'ant-design-vue'
import ResetPassword from '@/views/business/userLogin/resetPassword/ResetPassword.vue'
import Qs from 'qs'

export default {
  name: 'AvatarDropdown',
  components:{
      ResetPassword
  },
  props: {
    currentUser: {
      type: Object,
      default: () => null
    },
    menu: {
      type: Boolean,
      default: true
    }
  },
  created(){
      this.avatar = this.$store.getters.avatar;
      this.nickname = this.$store.getters.nickname;
      this.userInfo = this.$store.getters.userInfo;
      this.passwordTitleFlg = this.$store.getters.userInfo.hasPassword === '1'?'resetPassword':'setPassword';
      this.$watch("$store.getters.nickname",(val)=>{
          this.nickname = val;
      })
      this.$watch("$store.getters.userInfo",(val)=>{
          this.userInfo = val;
          this.passwordTitleFlg = val.hasPassword === '1'?'resetPassword':'setPassword';
      })
      this.$watch("$store.getters.avatar",(val)=>{
          this.avatar = val;
      })
  },
  mounted() {
      this.avatar = this.$store.getters.avatar;
  },
  data(){
      return{
          resetPassvisible: false,
          confirmLoading: false,
          // modalWidth: 350,
          modalWidth: 375,
          avatar: '',
          nickname: '',
          userInfo: {},
          modalHeight: {
            height: "506px"
          },
          //设置密码画面title setPassword: 设置密码 resetPassword: 重置密码
          passwordTitleFlg: ''
      }
  },
  methods: {
    handleCancel(e) {
        this.resetPassvisible = false;
    },
    handleToCenter () {
      this.$router.push({ path: '/user/userPage/UserDynamic',query:{userId: this.$store.getters.userId} });
      if (this.$route.path.indexOf('/user/userPage/UserDynamic') !== -1) {
          this.$router.go(0);
      }
    },

    handleToPasswordSettings () {
        this.resetPassvisible = true;
    },

    handleLogout (e) {
      Modal.confirm({
        title: this.$t('layouts.usermenu.dialog.title'),
        content: this.$t('layouts.usermenu.dialog.content'),
        okText: '确认',
        cancelText: '取消',
        onOk: () => {
          return this.$store.dispatch('Logout').then(() => {
            this.$router.push({ name: 'index' })
          })
        },
        onCancel () {}
      })
    }
  }
}
</script>

<style lang="less" scoped>
.ant-pro-drop-down {
  /deep/ .action {
    margin-right: 8px;
  }
  /deep/ .ant-dropdown-menu-item {
    min-width: 160px;
  }
}
  .avatar-dropdown {
    width: 306px;
    height: 240px;
    background: #ffffff;
    border-radius: 4px;
  }
  .avatar-head {
    width: 306px;
    height: 102px;
    background-image: url("~@/assets/avatartBackground.png");
  }
  .avatar-bg {
    display: flex;
    justify-content: center;
  }
  .avatar {
    width: 48px;
    height: 48px;
    border: 2px solid #ffffff;
    border-radius: 50%;
  }
  .user-name {
    height: 21px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 21px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .introduction {
    height: 17px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #999999;
    line-height: 17px;
    margin-top: 6.5px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .avatar-body {
    width: 306px;
    height: 138px;
    text-align: center;
  }
  .menu-item {
    cursor: pointer;
  }
</style>
