<template>
  <div :class="wrpCls">
    <a-row id="searchBar" v-if="showOptions" :gutter="24" >
      <a-col :span="14">
        <a-auto-complete
          v-if="this.$store.getters.searchBar"
          style="width: 130%;z-index: 0"
          @search="handleSearch"
          @select="onSelect"
          v-model="keyword"
          :defaultActiveFirstOption="false"
        >
          <template slot="dataSource">
            <a-select-option v-if="dataSource.length > 0" v-for="(item, index) in dataSource" :key="dataSourceKey[index]">
              <span v-for="(item, index) in item">
                <a-icon style="margin-right: 5px;: " :type="item.icon" />
                <span style="margin-right: 5px;: " v-html="item.text"></span>
              </span>
            </a-select-option>
          </template>
          <!--<a-input
            placeholder="搜索文献、学者、研究机构、期刊、研究方向"
            class="searchBar"
            @keypress.native.enter="handleKeyPress"
          >
            <a-icon slot="prefix" type="search" />
          </a-input>-->
          <a-input-search
            placeholder="搜索文献、学者、研究方向"
            class="searchBar"
            enter-button="搜 索"
            @search="handleKeyPress"
          >
            <template slot="prefix">
              <img src="~@/assets/search.png" height="16" width="16"/>
            </template>
          </a-input-search>
        </a-auto-complete>
      </a-col>
      <a-col v-if="this.$store.getters.userId !== undefined && this.$store.getters.userId !== ''" :span="10">
        <a-row type="flex" :gutter="24">
          <a-col :flex="2">
          </a-col>
          <a-col :flex="2">
          </a-col>
          <a-col :flex="2">
          </a-col>
          <a-col :flex="2">
          </a-col>
          <a-col :flex="2">
            <div title="上传PDF" style="cursor: pointer;" @click="showUploadModal">
              <div style="height: 20px;text-align: center;margin-top: -5px;">
                <img src="~@/assets/icon-upload.png" height="32" width="32"/>
              </div>
            </div>
          </a-col>
<!--          <a-col :flex="2">-->
<!--          <span title="人才地图" @click="routePage('TalentMap')">-->
<!--            <a-icon type="environment" style="font-size: 22px; cursor: pointer;" />-->
<!--          </span>-->
<!--          </a-col>-->
          <a-col :flex="2">
            <div title="我的收藏" style="cursor: pointer;" @click="routePage('UserFavorites')">
              <div style="height: 20px;text-align: center;margin-top: -5px;">
                <img src="~@/assets/icon-save.png" height="32" width="32"/>
              </div>
            </div>
          </a-col>
<!--          <a-col :flex="2">-->
<!--          <span title="最新消息" @click="routePage('NotificationUpdates')">-->
<!--            <a-icon type="bell" style="font-size: 22px; cursor: pointer;" />-->
<!--          </span>-->
<!--          </a-col>-->
<!--          <a-col :flex="2">-->
<!--          <span title="私信" @click="routePage('NotificationMessages')">-->
<!--              <a-icon type="mail" style="font-size: 22px; cursor: pointer;" />-->
<!--          </span>-->
<!--          </a-col>-->
<!--          <a-col :flex="2">-->
<!--          <span title="全文请求" @click="routePage('NotificationRequests')">-->
<!--            <a-icon type="alert" style="font-size: 22px; cursor: pointer;" />-->
<!--          </span>-->
<!--          </a-col>-->
          <a-col :flex="2">
            <div style="text-align: center;margin-top: -5px;">
              <avatar-dropdown :menu="showMenu" :class="prefixCls" />
            </div>
          </a-col>
        </a-row>
      </a-col>
      <a-col v-else :span="10">
        <a-button type="primary" id="login_button" @click="showLoginModal(true)">
          登录/注册
        </a-button>
      </a-col>
    </a-row>
    <n-upload-modal
      ref="nUploadMoadl"
      :title="'上传文档'"
      :visible="visible"
      :modal-width="uploadModelWidth"
      :modal-height="uploadBodyStyle"
      :handle-cancel="handleCancel"
      :setModelWidthAndHeight="setModelWidthAndHeight"
    />
    <a-modal
      :width="modalWidth"
      :bodyStyle="modalHeight"
      :visible="this.$store.getters.loginVisible"
      :confirm-loading="confirmLoading"
      @cancel="handleLoginCancel"
      :maskClosable="false"
      :footer="false"
      :zIndex="1000"
      :key="uniqueLoginKey"
      centered
    >
      <login v-if="isLogin" :showRegistModal="showLoginModal" :handleLoginCancel="handleLoginCancel" :loginForm="loginForm" :routerIndexFlg="false" :forgetPasswordBack="forgetPasswordBack"/>
      <!--      <regist v-if="!isLogin" :handleLoginCancel="handleLoginCancel" />-->
      <reset-password
        v-if="!isLogin"
        :showRegistModal="showLoginModal"
        :handleLoginCancel="handleLoginCancel"
        :loginForm="loginForm"
        :routerIndexFlg="false"
        :pageFlg="'routerNotIndex'"
      />
    </a-modal>
    <!--    <select-lang :class="prefixCls" />-->
    <n-publication-reader ref="NPublicationReader"></n-publication-reader>
  </div>
</template>

<script>
    import AvatarDropdown from './AvatarDropdown'
    import SelectLang from '@/components/SelectLang'
    import NUploadModal from '@/views/business/components/NUploadModal/NUploadModal'
    import Qs from 'qs'
    import Login from '@/views/business/userLogin/login/Login'
    import Regist from '@/views/business/userLogin/regist/Regist'
    import moment from 'moment'
    import ResetPassword from '@/views/business/userLogin/resetPassword/ResetPassword.vue'
    import NPublicationReader from '@/views/business/components/NPublicationReader/NPublicationReader'

    export default {
        name: 'RightContent',
        components: {
            AvatarDropdown,
            ResetPassword,
            Login,
            Regist,
            NUploadModal,
            NPublicationReader,
            SelectLang
        },
        props: {
            prefixCls: {
                type: String,
                default: 'ant-pro-global-header-index-action'
            },
            isMobile: {
                type: Boolean,
                default: () => false
            },
            topMenu: {
                type: Boolean,
                required: true
            },
            theme: {
                type: String,
                required: true
            }
        },
        data () {
            return {
                isLogin: true,
                loginVisible: false,
                confirmLoading: false,
                modalWidth: 375,
                modalHeight: {
                    height: "506px",
                    padding: '24px 24px 24px 24px'
                },
                keyword: '',
                autocompleteKeyword: '',
                showMenu: true,
                visible: false,
                dataSource: [],
                dataSourceKey: [],
                currentUser: {},
                inputEmail:{
                    backgroundImage:'url(' + require('@/assets/email.png') + ')',
                    backgroundRepeat: "no-repeat",
                    backgroundPositionY:"center",
                    backgroundPositionX:"10px",
                    paddingLeft:"40px",
                    borderRadius: "20px"
                },
                inputPassword:{
                    backgroundImage:'url(' + require('@/assets/password.png') + ')',
                    backgroundRepeat: "no-repeat",
                    backgroundPositionY:"center",
                    backgroundPositionX:"10px",
                    paddingLeft:"40px",
                    borderRadius: "20px"
                },
                uniqueLoginKey:false,
                showOptions:true,
                loginForm: {},
                routerIndexFlg: false,
                forgetPasswordBack: '',
                uploadModelWidth: 450,
                uploadBodyStyle:{
                    height: '200px',
                    padding: '0 24px',
                    overflow: 'auto'
                }
            }
        },
        computed: {
            wrpCls () {
                return {
                    'ant-pro-global-header-index-right': true,
                    [`ant-pro-global-header-index-${(this.isMobile || !this.topMenu) ? 'light' : this.theme}`]: true
                }
            }
        },
        created () {
            if(this.$route.name === 'ArticlesShare'){
                this.showOptions= false
            }else {
                this.showOptions= true
            }
            this.keyword = this.$route.query.keyword?this.$route.query.keyword:'';
            this.autocompleteKeyword = this.$route.query.autocompleteKeyword?this.$route.query.autocompleteKeyword:'';
            this.$root.$on('readAllPdf', (item)=>{
               this.readAllPdf(item.pdfFullPath, item.publicationId, item.docIdAuthor, item.docIdNotAuthor,item.saveBtnFlg,item.authorInfoList);
            })
            this.$watch('$route', (val, old) => {
                this.keyword = '';
            });
        },
        methods: {
            /*showTalentMap(){
              this.$router.push({ path: '/user/userPage/UserSummary',query:{userId: this.$store.getters.userId} })
            },*/
            moment,
            developing() {
                this.$notification.info({
                    top:"100px",
                    style: 'background-color:#40a9ff;',
                    message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
                    icon: <a-icon type="info-circle" style="color:white;" />,
                    closeIcon: <a-icon type="close" style="color:white" />,
                    duration: 10
            })
            },

            handleToCenter () {
                this.$router.push({ path: '/user/userPage/UserDynamic',query:{userId: this.$store.getters.userId} })
            },
            onSelect(value, option) {
                this.autocompleteKeyword = value
                value = value.replaceAll('<ks_a>',' ').replaceAll('</ks_a>','')
                    .replaceAll('<ks_i>',' ').replaceAll('</ks_i>','')
                    .replaceAll('<ks_p>',' ').replaceAll('</ks_p>','')
                    .replaceAll('<ks_f>',' ').replaceAll('</ks_f>','')
                    .replaceAll('<b>','').replaceAll('</b>','')

                this.keyword = value.trim()
                this.handleSearch(value.trim(), false)
            },
            handleSearch(value, clearAuto = false) {
                if(clearAuto){
                    this.autocompleteKeyword = '';
                }
                let param = Qs.stringify({
                    keyword: value
                });
                this.$http.post('/autocomplete/getKeyword4AllSearch',param).then(res => {
                    if(res.data) {
                        this.dataSource = []
                        this.dataSourceKey = res.data
                        let suggestedWordList = res.data.filter(function(suggestedWord) {
                            return suggestedWord.indexOf("<ks_i>") < 0
                        })
                        this.dataSourceKey = suggestedWordList;
                        //for(let i of res.data){
                        for(let i of suggestedWordList){

                            let sortedTag = '';
                            let wordArr = ''
                            while(i.indexOf("<ks_") > -1) {
                                let tag = i.substring(i.indexOf("<ks_"), 6);
                                sortedTag += tag + ",";

                                let word = i.substring(i.indexOf(tag), i.indexOf(tag.replaceAll("<", "</")) + 7);
                                wordArr += word + ","
                                i += word;
                                i = i.replaceAll(word, "");

                            }
                            sortedTag = sortedTag.substring(0,sortedTag.lastIndexOf(","))
                            wordArr = wordArr.substring(0,wordArr.lastIndexOf(","))

                            sortedTag = sortedTag.split(",")
                            wordArr = wordArr.split(",")

                            let objList = []

                            for(let index in sortedTag){
                                let obj = {}

                                if(sortedTag[index] === '<ks_a>'){
                                    obj.icon = 'user'
                                }else if(sortedTag[index] === '<ks_i>'){
                                    obj.icon = 'bank'
                                }else if(sortedTag[index] === '<ks_p>'){
                                    obj.icon = 'read'
                                }else if(sortedTag[index] === '<ks_f>'){
                                    obj.icon = 'experiment'
                                }
                                obj.text = wordArr[index]

                                objList.push(obj)
                            }

                            this.dataSource.push(objList)
                        }

                    }
                    this.loading = false
                }).finally(() => {
                    this.loading = false
                })
            },
            handleKeyPress(ev) {
                let params = {
                    keyword : this.keyword,
                    autocompleteKeyword : this.autocompleteKeyword,
                }
                if(this.keyword !== ''){
                    if(this.autocompleteKeyword !== ''){
                        if(this.autocompleteKeyword.indexOf('<ks_p>') !== -1){
                            let param = Qs.stringify({
                                userId:this.$store.getters.userId,
                                index:1,
                                rows:5,
                                keyword:this.keyword,
                                autocompleteKeyword:this.autocompleteKeyword,
                                yearFrom: moment('1900').format('YYYY'),
                                yearTo:  moment().format('YYYY')
                            });
                            this.$http.post('/searchResultsArticles/searchResultsArticlesPublication', param).then(res => {
                                if(res.data){
                                    if(res.data.total === 1){
                                        this.$router.push({
                                            path: '/articles/articlesPage/ArticlesFullText',
                                            query: {
                                                publicationId: res.data.list[0].publicationId
                                            }
                                        })
                                    }else {
                                        this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsArticles')
                                    }
                                }
                            })

                        } else if(this.autocompleteKeyword.indexOf('<ks_a>') !== -1){
                            let param = Qs.stringify({
                                userId:this.$store.getters.userId,
                                index:1,
                                rows:10,
                                keyword:this.keyword,
                                autocompleteKeyword:this.autocompleteKeyword,
                            });
                            this.$http.post('/searchResultsScholar/getSearchResultsScholarList', param).then(res => {
                                if(res.data){
                                    if(res.data.total === 1){
                                        this.$router.push({
                                            path: '/scholar/scholarPage/ScholarSummary',
                                            query: {
                                                userId:res.data.list[0].userId,
                                                isUser: false,
                                                userName:res.data.list[0].displayName
                                            }
                                        })
                                    }else {
                                        this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsScholar')
                                    }
                                }
                            })
                        } else if(this.autocompleteKeyword.indexOf('<ks_f>') !== -1){
                            let param = Qs.stringify({
                                index:1,
                                rows:5,
                                keyword:this.keyword,
                                autocompleteKeyword:this.autocompleteKeyword,
                            });
                            this.$http.post('/searchResultsDirection/getSearchResultsDirectionList', param).then(res => {
                                if(res.data.pageInfo){
                                    if(res.data.pageInfo.total === 1){
                                        this.$router.push({
                                            path: '/searchResults/searchResultsPage/searchResultsDirectionDetail',
                                            query: {
                                                fieldId: res.data.fieldList[0].fieldId
                                            }
                                        })
                                    }else {
                                        this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsDirection')
                                    }
                                }
                            })
                        } else if(this.autocompleteKeyword.indexOf('<ks_i>') !== -1){
                            let param = Qs.stringify({
                                index:1,
                                rows:5,
                                keyword:this.keyword,
                                autocompleteKeyword:this.autocompleteKeyword,
                            });
                            this.$http.post('/searchResultsInstitution/getSearchResultsInstitutionList', param).then(res => {
                                if(res.data){
                                    if(res.data.total === 1){
                                        this.$router.push({
                                            path: '/institutions/institutionsPage/InstitutionsSummary',
                                            query: {
                                                institutionId: res.data.list[0].id
                                            }
                                        })
                                    }else {
                                        this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsInstitutions')
                                    }
                                }
                            })
                        } else {
                            let param = Qs.stringify({
                                userId:this.$store.getters.userId,
                                index:1,
                                rows:5,
                                keyword:this.keyword,
                                autocompleteKeyword:this.autocompleteKeyword,
                                yearFrom: moment('1900').format('YYYY'),
                                yearTo:  moment().format('YYYY')
                            });
                            this.$http.post('/searchResultsArticles/searchResultsArticlesPublication', param).then(res => {
                                if(res.data){
                                    if(res.data.total === 1){
                                        this.$router.push({
                                            path: '/articles/articlesPage/ArticlesFullText',
                                            query: {
                                                publicationId: res.data.list[0].publicationId
                                            }
                                        })
                                    }else {
                                        this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsArticles')
                                    }
                                }
                            })
                        }
                    }else {
                        let param = Qs.stringify({
                            userId:this.$store.getters.userId,
                            index:1,
                            rows:5,
                            keyword:this.keyword,
                            autocompleteKeyword:this.autocompleteKeyword,
                            yearFrom: moment('1900').format('YYYY'),
                            yearTo:  moment().format('YYYY')
                        });
                        this.$http.post('/searchResultsArticles/searchResultsArticlesPublication', param).then(res => {
                            if(res.data){
                                if(res.data.total === 1){
                                    this.$router.push({
                                        path: '/articles/articlesPage/ArticlesFullText',
                                        query: {
                                            publicationId: res.data.list[0].publicationId
                                        }
                                    })
                                }else {
                                    this.routeSearchResult(params, '/searchResults/searchResultsPage/SearchResultsArticles')
                                }
                            }
                        })
                    }
                }else {
                    this.$notification.info({
                        message: '请输入搜索内容！'
                    })
                }

            },
            routeSearchResult(params, url) {
                this.$router.push({
                    path: url,
                    query: {
                        ...params
                    }
                });
            },
            routePage(name) {
                this.$router.push({
                    name,
                    query:{userId: this.$store.getters.userId}
                });
            },
            showUploadModal() {
                this.visible = true;
                this.uploadModelWidth = 450;
                this.uploadBodyStyle.height = '200px'
                this.$refs.nUploadMoadl.setCurrent();
            },
            showLoginModal(bol, param={}) {
                this.modalWidth = param.modalWidth ? param.modalWidth : 375
                this.modalHeight = param.modalHeight ? param.modalHeight : {
                    height: "506px",
                    padding: '24px 24px 24px 24px'
                }
                this.isLogin = bol
                this.$store.dispatch('changeVisible', true)
                this.loginForm = param.form;
                this.routerIndexFlg = param.routerIndexFlg;
                this.forgetPasswordBack =  param.forgetPasswordBack;
            },
            // 关闭上传文档对话框
            handleCancel(e) {
                this.visible = false;
                this.$http.post('/userAchievements/delTempFile').then(res => {})
            },
            // 关闭登录对话框
            handleLoginCancel(e) {
                this.$store.dispatch('changeVisible', false);
                this.uniqueLoginKey = !this.uniqueLoginKey
            },

            // 设置上传文档model大小
            setModelWidthAndHeight(width, height) {
                this.uploadModelWidth = width;
                this.uploadBodyStyle.height = height;
            },
            readAllPdf(pdfFullPath,publicationId,docIdAuthor,docIdNotAuthor,saveBtnFlg,authorInfoList) {
                if (this.$store.getters.userId) {
                    if(this.$refs.NPublicationReader.$refs.pdfIframe){
                        this.$refs.NPublicationReader.$refs.pdfIframe.contentWindow.location.reload();;
                    }
                    this.$refs.NPublicationReader.showDrawer(pdfFullPath,publicationId,docIdAuthor,docIdNotAuthor,true,saveBtnFlg, authorInfoList);
                    let paramAction =  Qs.stringify({
                        userId: this.$store.getters.userId,
                        publicationId
                    })
                    this.$http.post('/articlesFullText/updUserAction', paramAction);
                    this.$refs.NPublicationReader.seachExcerpt(publicationId);
                } else {
                    this.$store.dispatch('changeVisible', true);
                }
            },

        }
    }
</script>
<style>
  .ant-pro-global-header-index-right {
    float: right;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  .searchBar {
    padding-top: 3px;
    height: 38px !important;
    width: 75% !important;
    background: #f5f6f6 !important;
    border-radius: 20px !important;
    margin-top: -3px;
  }
  .searchBar input{
    /*width: 65%;*/
    /*border-radius: 20px;*/
    border-radius: 20px !important;
    background: #f5f6f6 !important;
    border: none;
  }
  #regist_button, #login_button{
    margin-left: 10px;
    border-radius: 20px;
    font-size: 13px;
  }
</style>