<template>
  <div v-if="data.list">
    <a-card :bodyStyle="{paddingBottom: '16px !important', paddingTop: '16px !important'}"
      v-if="data.list[0].downloadBtnFlg === '2' || data.list[0].downloadBtnFlg === '0'|| data.list[0].uploadPdfBtnFlg === '1'">
      <a-row style="text-align: center;">
        <a-icon type="file-text" style="font-size: 85px;"/>
      </a-row>
      <a-row style="margin-top: 10px;text-align: center;">
        <span v-if="data.list[0].uploadPdfBtnFlg === '1'">
          <span>此文暂无全文,您可以上传全文</span>
        </span>
        <span v-else>
          <!--上传文件为私密时-->
          <span v-if="data.list[0].publicDoc === false">此文为私密文章,但您可以联系作者,请求他发给您全文</span>
          <span v-else>此文暂无全文,但您可以联系作者,请求他发给您全文</span>
          <a-button size="small" type="primary" shape="round" icon="mail-o" @click="AskFullText"
                    style="margin-left: 20px">
            催更全文
          </a-button>
        </span>
      </a-row>
    </a-card>
    <a-card :bodyStyle="{paddingBottom: '16px !important', paddingTop: '16px !important'}"
            v-if="data.list[0].downloadBtnFlg === '1' && (pdfNotFoundFlg || pdfLoadErrorFlg)">
      <a-row style="text-align: center;">
        <a-icon v-if="pdfNotFoundFlg" type="file-unknown" style="font-size: 85px;"/>
        <a-icon v-if="pdfLoadErrorFlg" type="file-exclamation" style="font-size: 85px;"/>
      </a-row>
      <a-row style="margin-top: 10px; text-align: center;">
        <span v-if="pdfNotFoundFlg">很抱歉，文件未找到</span>
        <span v-if="pdfLoadErrorFlg">文件读取失败，请尝重新加载</span>
        <a-button v-if="pdfLoadErrorFlg" size="small" type="primary" shape="round" icon="reload" @click="reloadPdf"
                  style="margin-left: 20px">
          重新加载
        </a-button>
      </a-row>
    </a-card>
    <a-spin :spinning="loadingPdf" size="large">
      <pdf class="read-pdf" v-if="list[0].downloadBtnFlg === '1'"
           ref="pdf"
           :src="pdfUrl"
           :key="1"
           :page="1"
      />
      <pdf class="read-pdf" v-if="list[0].downloadBtnFlg === '1'"
           ref="pdf"
           :src="pdfUrl"
           :key="2"
           :page="2"
      />
      <pdf class="read-pdf" v-if="list[0].downloadBtnFlg === '1'"
           ref="pdf"
           :src="pdfUrl"
           :key="3"
           :page="3"
      />
    </a-spin>
    <a-button @click="readAllPdf(pdfFullPath, publicationId, docIdAuthor, docIdNotAuthor, saveBtnFlg, authorInfoList)" type="primary" block v-if="!loadingPdf && list[0].downloadBtnFlg === '1' && !pdfNotFoundFlg && !pdfLoadErrorFlg" style="margin-top:12px;text-align: center;" :bordered="false">
      阅 读 全 文
    </a-button>
    <!--加载更多-->
<!--    <a-card slot="footer" v-if="data.list[0].downloadBtnFlg === '1' && turnPageFlg"-->
<!--            style="text-align: center; height: 80px"-->
<!--            :bordered="false">-->
<!--      <a-spin :spinning="loadingMore" size="large"/>-->
<!--    </a-card>-->
    <!--对话框-->
    <n-modal
      :Title="title"
      :visible="visible"
      :width="modalWidth"
      :bodyStyle="modalHeight"
      :confirm-loading="confirmLoading"
      :handle-ok="handleOk"
      :handle-cancel="handleCancel"
    />
  </div>
</template>

<script>
import pdf from 'vue-pdf'
import Qs from 'qs'
import {getArticlesFullTextList, isCanvasBlank, throttle} from './ArticlesFullTextApi'
import NModal from '@/views/business/components/NList/NModal'
import NPublicationReader from '@/views/business/components/NPublicationReader/NPublicationReader'

export default {
  name: 'ArticlesFullText',
  components: {
    pdf,
    NModal,
    NPublicationReader
  },
  data() {
    return {
      loadedRatio: '',
      data: {},
      list: [],
      pdfUrl: '',
      numPages: 0,
      maxPages: 0,
      pdfNotFoundFlg: false,
      pdfLoadErrorFlg: false,
      loadingPdf: true,
      turnPageFlg: false,
      /*索要全文假数据*/
      title: "催更全文",
      visible: false,
      modalWidth: 0,
      modalHeight: {},
      confirmLoading: false,
      pdfFullPath:'',
      publicationId: this.$router.history.current.query.publicationId,
      /*全文路径*/
      textPath: '',
      docIdNotAuthor: '',
      docIdAuthor: ''

    }
  },
  methods: {
    // 初始化方法
    getDocument() {
      this.loadingPdf = true;
      let param = {
        userId: this.$store.getters.userId,
        publicationId: this.$router.history.current.query.publicationId,
        isArticlesFullTextFlg: true
      }
      param = Qs.stringify(param)
      getArticlesFullTextList(param).then(res => {
        if (res.data && res.ret_code === '0') {
          this.data = res.data
          this.list = res.data.list ? res.data.list : []
          if ( undefined !== res.data.list[0].docPathNotAuthor && null !== res.data.list[0].docPathNotAuthor && '' !== res.data.list[0].docPathNotAuthor.trim()) {
            this.pdfFullPath = res.data.list[0].docPathNotAuthor;
            this.readPdf();
          } else if (res.data.list && res.data.list.length > 0 && undefined !== res.data.list[0].fulltextPath && null !== res.data.list[0].fulltextPath && '' !== res.data.list[0].fulltextPath.trim()) {
              this.pdfFullPath = res.data.list[0].fulltextPath;
              this.readPdf();
          }
          this.docIdAuthor = res.data.list[0].docIdAuthor;
          this.docIdNotAuthor = res.data.list[0].docIdNotAuthor;
          this.saveBtnFlg = res.data.list[0].saveBtnFlg;
          this.authorInfoList = res.data.list[0].authorInfoList;
          if (res.data.list[0].fulltextPath === "" || res.data.list[0].fulltextPath === null) {
              this.loadingPdf = false;
          }
        } else {
            this.loadingPdf = false;
        }
      }).finally(() => {
      })
    },
    readPdf() {
      this.turnPageFlg = true
      let loadingTask = pdf.createLoadingTask(this.pdfFullPath)
      loadingTask.promise.then(pdf => {
        this.maxPages = pdf.numPages
        this.pdfUrl = loadingTask
        if (pdf.numPages > 0 && pdf.numPages > this.numPages) {
          this.pdfTurnPage()
        } else {
          this.numPages = pdf.numPages
        }
        this.turnPageFlg = false
        this.loadingPdf = false;
      }).catch(err => {
        this.loadingPdf = false;
        this.pdfNotFoundFlg = true
        this.turnPageFlg = false
      })
    },
    // pdf翻页
    pdfTurnPage() {
      this.turnPageFlg = false
      /* 2021/01/25 pdf阅读 从滚动加载改为一次性全部加载
      if (this.maxPages > 0 && this.numPages >= this.maxPages) {
        return false
      }
      this.numPages += 1*/
      this.numPages = this.maxPages
      // pdf画布绘制出错场合
      setTimeout(() => {
        let newCanvase = document.querySelectorAll('.read-pdf canvas')[0]
        if (!newCanvase) {
          return false
        }
        if (isCanvasBlank(newCanvase)) {
          this.pdfLoadErrorFlg = true
          this.numPages = 0
          document.documentElement.scrollTop = 0
        } else {
          this.pdfLoadErrorFlg = false
        }
      }, 1500)
    },
    // 索要全文
    AskFullText() {
      this.modalWidth = 500
      this.modalHeight = {
        height: "280px",
        overflow: "auto"
      }
      this.visible = true
    },
    // 关闭对话框
    handleCancel() {
      this.visible = false
    },
    // 发送消息
    handleOk() {
      this.confirmLoading = true;
      this.$message.success('已发送');
      setTimeout(() => {
        this.visible = false
        this.confirmLoading = false
      }, 500);
    },
    reloadPdf() {
      this.pdfLoadErrorFlg = false
      this.readPdf()
    },
    readAllPdf(pdfFullPath,publicationId,docIdAuthor,docIdNotAuthor,saveBtnFlg,authorInfoList) {
        let item = {
            pdfFullPath,
            publicationId,
            docIdAuthor,
            docIdNotAuthor,
            saveBtnFlg,
            authorInfoList
        }
        this.$root.$emit('readAllPdf', item);
    },
  },
  mounted() {
    //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
    this.getDocument()
    /* 2021/01/25 pdf阅读 从滚动加载改为一次性全部加载
    window.onscroll = throttle(onScroll)
    const that = this

    function onScroll() {
      //变量scrollTop是滚动条滚动时,距离顶部的距离
      let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      //变量windowHeight是可视区的高度
      let windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
      //变量scrollHeight是滚动条的总高度
      let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
      // 一页PDF高度
      let onePdfPageHeight = 0
      if (document.querySelector('.ant-pro-page-header-wrap-children-content>div>span')) {
        onePdfPageHeight = document.querySelector('.ant-pro-page-header-wrap-children-content>div>span').offsetHeight
      }
      // 加载下一页
      if (scrollTop + windowHeight === scrollHeight && !that.pdfNotFoundFlg && !that.pdfLoadErrorFlg) {
        that.turnPageFlg = true
        that.pdfTurnPage()
      }
    }
    */
  }
}
</script>
<style scoped>
.ant-pro-page-header-wrap-children-content span:not(:last-child) {
  margin-bottom: 10px;
}

/deep/ .annotationLayer * {
  display: none;
}
</style>