<template>
  <div>
    <a-row :gutter="24">
      <a-col :span="24">
        <br>
        <a-card>
          <div style="float: left;width: 10%;">
            <a-auto-complete
              v-model="displayName"
              :data-source="dataSource"
              style="width: 200px"
              ref="input"
              type="text"
              @select="onSelect"
              @search="onSearch"
              @change="onChange"
            >
              <a-input class="searchInput" placeholder="研究方向" style="margin-top: 20px;">
                <a-icon slot="prefix" type="search" />
              </a-input>
            </a-auto-complete>
            <a-select
              show-search
              v-model="code"
              placeholder="搜索/选择国家"
              option-filter-prop="children"
              style="width: 200px;margin-top: 20px;"
              :filter-option="filterOption"
              @change="handleChange"
            >
              <a-select-option v-for="item in countryList" :value="item.code">{{item.name}}</a-select-option>
            </a-select>
            <!--<a-range-picker style="border-radius: 20px;margin-top: 20px;" :placeholder="['起始时间', '结束时间']">
            </a-range-picker>-->
            <a-radio-group v-model="isethniccn" name="radioGroup" :default-value="1" style="margin-top: 20px;width: 200px">
              <a-radio :value="0">
                华裔
              </a-radio>
              <a-radio :value="1">
                非华裔
              </a-radio>
            </a-radio-group>
            <a-button type="primary" style="margin-top: 20px;border-radius: 20px;width: 200px;" @click="allSearch">
              检索人才地图
            </a-button>
          </div>
          <!--地图窗口-->
          <div style="text-align: right;">
            <div id="container" style="margin-left:15.5%;height:760px;width:85%"></div>
          </div>
          <a-modal v-model="visible" :forceRender="true" title="关系详情" @ok="handleOk" width="1000px"  @cancel="handleOk" :maskClosable="true">
            <div style="margin-top:-10px;width:calc(100%);height:480px;">
              <SeeksRelationGraph ref="seeksRelationGraph" :options="graphOptions2" />
            </div>
            <template slot="footer">
<!--                <div style="line-height: 20px;">节点筛选：</div>-->
            </template>
          </a-modal>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>

<script>
    /*假数据待修正*/
    import SeeksRelationGraph from 'relation-graph'
    import RelatedPublicationCard from '@/views/business/articles/articlesFrame/RelatedPublicationCard'
    import Qs from 'qs'
    import {getCountryNameList, getUserMaker} from './TalentMapApi'
    // 取东北经度与西南经度差的三分之一与东北纬度与西南纬度差的三分之一的平方和 开平方
    const offsetMap = {
        zoom3: 56.488554,
        zoom4: 44.377476,
        zoom5: 21.647170,
        zoom6: 11.029552,
        zoom7: 5.577551,
        zoom8: 2.752145,
        zoom9: 1.399918,
        zoom10: 0.678083,
        zoom11: 0.333852,
        zoom12: 0.166970,
        zoom13: 0.081037,
        zoom14: 0.043681,
        zoom15: 0.021354,
        zoom16: 0.010954,
        zoom17: 0.005385,
        zoom18: 0.002828
    }

    export default {
        name: 'TalentMap',
        components: {
            RelatedPublicationCard,SeeksRelationGraph
        },
        data: function () {
            return {
                disabled: false,
                headers: {
                    authorization: 'authorization-text',
                },
                visible: false,
                g_loading: true,
                demoname: '-&#45;&#45;',
                rel_checkList: ['师生', '上下级', '亲戚', '亲人', '朋友', '夫妻'],
                all_rel_type: ['师生', '上下级', '亲戚', '亲人', '朋友', '夫妻'],
                graphOptions2: {
                    allowShowMiniToolBar:false,
                    allowShowMiniNameFilter:true,
                    defaultNodeBorderWidth: 0,
                    defaultNodeColor: 'rgba(238, 178, 94, 1)',
                    allowSwitchLineShape: true,
                    allowSwitchJunctionPoint: true,
                    defaultLineShape: 1,
                    'layouts': [
                        {
                            'label': '自动布局',
                            'layoutName': 'force',
                            'layoutClassName': 'seeks-layout-force'
                        }
                    ],
                    defaultJunctionPoint: 'border'

                    // 这里可以参考"Graph 图谱"中的参数进行设置（关系图谱样式，配置在标签内属性中）
                },
                list:[],
                netWorkData:[],
                defaultHeadImg:"/user.png",
                dataSource: [],
                countryList:[],
                displayName:'',
                fieldId:'',
                code:'',
                isethniccn: '',
                offsetMap:offsetMap
            }
        },
        mounted () {
            //关系图(小)
            this.demoname = this.$route.params.demoname
        },
        created () {
            this.getList();
            this.gaoDeLoading();
            // 将vue方法赋值给window
            window.showModalForR = this.showModal;
            window.getMapUserMaker = this.getUserMakerForMap;
            window.defaultHeadImgForMap = this.defaultHeadImg;
            window.netWorkDataForMap = this.netWorkData;
        },
        methods:{
            makeUserMap(){
                for(let i = 0;i<window.netWorkDataForMap.length;i++) {
                    const maker = new AMap.Marker({
                        position: [window.netWorkDataForMap[i].longitude, window.netWorkDataForMap[i].latitude], // 地理位置经纬度
                        icon: new AMap.Icon({
                            image: (window.netWorkDataForMap[i].profilePhotoPath != null)?"'" + window.netWorkDataForMap[i].profilePhotoPath + "'" :defaultHeadImgForMap,
                            size: (window.netWorkDataForMap[i].rank >= 10000 && window.netWorkDataForMap[i].rank <= 12000) ? new AMap.Size(64, 64) : ((window.netWorkDataForMap[i].rank > 12000 && window.netWorkDataForMap[i].rank <= 14000) ? new AMap.Size(48, 48) : ((window.netWorkDataForMap[i].rank > 14000 && window.netWorkDataForMap[i].rank <= 16000) ? new AMap.Size(32, 32) : ((window.netWorkDataForMap[i].rank > 16000 && window.netWorkDataForMap[i].rank <= 18000) ? new AMap.Size(25, 25) : (new AMap.Size(16, 16))))),
                            /*size: new AMap.Size(64, 64), */ //图标大小
                            imageSize: (window.netWorkDataForMap[i].rank >= 10000 && window.netWorkDataForMap[i].rank <= 12000) ? new AMap.Size(64, 64) : ((window.netWorkDataForMap[i].rank > 12000 && window.netWorkDataForMap[i].rank <= 14000) ? new AMap.Size(48, 48) : ((window.netWorkDataForMap[i].rank > 14000 && window.netWorkDataForMap[i].rank <= 16000) ? new AMap.Size(32, 32) : ((window.netWorkDataForMap[i].rank > 16000 && window.netWorkDataForMap[i].rank <= 18000) ? new AMap.Size(25, 25) : (new AMap.Size(16, 16))))),
                        }),
                    });
                    this.maker3 = maker;
                    // 初始化加载的层级maker
                    window.map.add(maker);
                    //实例化信息窗体
                    let title = '<span style="font-size: 13px;">' + window.netWorkDataForMap[i].displayName + '</span>' + '<span>(点击这里查看关系网图)</span>';
                    let content = [];
                    let userImg =  window.netWorkDataForMap[i].profilePhotoPath!=null?window.netWorkDataForMap[i].profilePhotoPath:"/user.png";
                    content.push("<img style='width: 64px;height: 64px;' src='" + userImg + "'>" + "研究机构：" + window.netWorkDataForMap[i].institutionName + "<br/>" + "研究领域：" + window.netWorkDataForMap[i].fieldStr + "<br/>" + "h-index：" + window.netWorkDataForMap[i].hindex + "<br/>" + "发文数：" + window.netWorkDataForMap[i].publications);
                    let infoWindow = new AMap.InfoWindow({
                        isCustom: true,  //使用自定义窗体
                        content: createInfoWindow(title, content),
                        offset: new AMap.Pixel(16, -45)
                    });
                    //鼠标点击marker弹出自定义的信息窗体
                    AMap.event.addListener(maker, 'click', function () {
                        infoWindow.open(window.map, maker.getPosition());
                    })

                    //构建自定义信息窗体（坐标头像信息）
                    function createInfoWindow(title, content) {
                        let info = document.createElement("div");
                        info.className = "custom-info input-card content-window-card";

                        //可以通过下面的方式修改自定义窗体的宽高
                        //info.style.width = "400px";
                        // 定义顶部标题
                        let top = document.createElement("div");
                        let titleD = document.createElement("div");
                        let closeX = document.createElement("img");
                        top.className = "info-top";
                        titleD.id = window.netWorkDataForMap[i].userId;
                        titleD.innerHTML = title;
                        titleD.onclick = openRelationShips;
                        titleD.style.cursor = "pointer";
                        closeX.src = "https://webapi.amap.com/images/close2.gif";
                        closeX.onclick = closeInfoWindow;

                        top.appendChild(titleD);
                        top.appendChild(closeX);
                        info.appendChild(top);

                        // 定义中部内容
                        let middle = document.createElement("div");
                        middle.className = "info-middle";
                        middle.style.backgroundColor = 'white';
                        middle.innerHTML = content;
                        info.appendChild(middle);

                        // 定义底部内容
                        let bottom = document.createElement("div");
                        bottom.className = "info-bottom";
                        bottom.style.position = 'relative';
                        bottom.style.top = '0px';
                        bottom.style.margin = '0 auto';
                        let sharp = document.createElement("img");
                        sharp.src = "https://webapi.amap.com/images/sharp.png";
                        bottom.appendChild(sharp);
                        info.appendChild(bottom);
                        return info;
                    }
                }

                //关闭坐标点头像信息窗体
                function closeInfoWindow() {
                    window.map.clearInfoWindow();
                }
                function openRelationShips(e){
                    window.showModalForR(e.currentTarget.id);
                }
            },
            getUserMakerForMap(nLng,nLat,sLng,sLat){
                let param = Qs.stringify({
                    fieldId: this.fieldId,
                    code : this.code,
                    isethniccn : this.isethniccn,
                    nLng,
                    nLat,
                    sLng,
                    sLat
                });
                getUserMaker(param).then(res => {
                    // 清除地图上原有的maker
                    map.clearMap();
                    window.netWorkDataForMap = this.netWorkData = res.data;
                    this.makeUserMap();
                }).catch(
                    err => {
                        this.loading = false
                    }
                )
            },
            // 加载地图方法
            gaoDeLoading(){
                const that = this;
                window.onLoad = function () {
                    let oldCenterLng = 0;
                    let oldCenterLat = 0;
                    // 加载高德地图map
                    let map = new AMap.Map("container",{
                        resizeEnable: true,
                        zoom: 3, //级别*/
                        center: [107.587327,20.216703], //中心点坐标
                    });
                    window.map = map;
                    // 获取当前地图可视范围及地图层级
                    let nLng = map.getBounds().northeast.lng;
                    let nLat = map.getBounds().northeast.lat;
                    let sLng = map.getBounds().southwest.lng;
                    let sLat = map.getBounds().southwest.lat;
                    let zoomOld = map.getZoom();
                    map.on('movestart',function () {
                        zoomOld = map.getZoom();
                    });
                    oldCenterLng = map.getCenter().lng;
                    oldCenterLat = map.getCenter().lat;
                    getMapUserMaker(nLng,nLat,sLng,sLat);
                    // 地图层级改变时,地图发生移动时触发该方法
                    map.on('moveend',function () {
                        let zoom = map.getZoom();
                        let nowCenterLng = map.getCenter().lng;
                        let nowCenterLat = map.getCenter().lat;
                        let changeCenterLng = 0;
                        let changeCenterLat = 0;
                        // 偏移量计算
                        if(nowCenterLng > 0 && oldCenterLng > 0 || nowCenterLng < 0 && oldCenterLng <0) {
                            changeCenterLng = nowCenterLng - oldCenterLng;
                            changeCenterLat = nowCenterLat - oldCenterLat;
                        } else {
                            if(Math.abs(nowCenterLng - oldCenterLng) >= 180) {
                                changeCenterLng = (180 - nowCenterLng) + (180 + oldCenterLng);
                                changeCenterLat = nowCenterLat - oldCenterLat;
                            } else {
                                changeCenterLng = nowCenterLng - oldCenterLng;
                                changeCenterLat = nowCenterLat - oldCenterLat;
                            }
                        }
                        let offsetValue = parseFloat(Math.sqrt(Math.pow(changeCenterLng,2) + Math.pow(changeCenterLat,2))).toFixed(6);
                        //比较地图经纬度偏移量，大于指定范围加载数据
                        if(zoom !== zoomOld || (offsetValue >= that.offsetMap[`zoom${zoom}`])) {
                            // 获取地图的经纬度及地图层级
                            let nLng = map.getBounds().northeast.lng;
                            let nLat = map.getBounds().northeast.lat;
                            let sLng = map.getBounds().southwest.lng;
                            let sLat = map.getBounds().southwest.lat;
                            getMapUserMaker(nLng,nLat,sLng,sLat);
                            oldCenterLng = nowCenterLng;
                            oldCenterLat = nowCenterLat;
                        }
                    })
                };
                const url =
                    "https://webapi.amap.com/maps?v=1.4.15&key=d6539d5d8b25eabb846f6d0847f29652&callback=onLoad";
                //创建一个 script dom元素
                // doc需要补全document
                const jsapi = document.createElement("script");
                //设定script标签属性
                jsapi.charset = "utf-8";
                jsapi.src = url;
                //将API文件引入页面中,加载完毕以后会调用函数
                document.head.appendChild(jsapi);
            },
            showModal(id) {
                //关系图
                this.demoname = this.$route.params.demoname
                this.setGraphData2()
                this.visible = true;
            },
            handleOk(e) {
                this.visible = false;
            },
            // 关系图（关系详情）
            setGraphData2() {
                var __graph_json_data = {
                    // 关系主角
                    'rootId': 'N13',
                    // 关系人物
                    'nodes': [
                        { 'id': 'N1', 'text': '侯亮平',/* 'width':40,'height':40,*/ 'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2308340537,462224207&fm=58&app=83&f=JPEG?w=250&h=250&s=EC708F46DA96B89CB69D5DDA0300D014);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">侯亮平</div></div>' },
                        { 'id': 'N2', 'text': '李达康', /*'width':40,'height':40, */'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2677153550,2207805387&fm=58&app=83&f=JPEG?w=250&h=250&s=249039DDC2D153D411A851360300C062);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">李达康</div></div>' },
                        { 'id': 'N3', 'text': '祁同伟', /*'width':40,'height':40, */'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1725297532,1915921796&fm=58&app=83&f=JPEG?w=250&h=250&s=FE8EA444A60759554DAC1DBB03000092);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">祁同伟</div></div>' },
                        { 'id': 'N4', 'text': '陈岩石', /*'width':40,'height':40, */'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2025797948,1615296290&fm=58&app=83&f=JPEG?w=250&h=250&s=B5B04C331F32739C4604F9F503007021);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">陈岩石</div></div>' },
                        { 'id': 'N5', 'text': '陆亦可', /*'width':40,'height':40, */'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '女' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=344720653,260255884&fm=58&app=83&f=JPEG?w=250&h=250&s=57B8AB676AE862941D94ED170300E060);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">陆亦可</div></div>' },
                        { 'id': 'N6', 'text': '高育良', /*'width':40,'height':40, */'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3098576865,849900134&fm=58&app=83&f=JPEG?w=250&h=250&s=EDE01A63A65917DC104509920300C0C1);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">高育良</div></div>' },
                        { 'id': 'N7', 'text': '沙瑞金', /*'width':40,'height':40, */'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3722686698,2547355567&fm=58&app=83&f=JPEG?w=250&h=250&s=BF8A356E04E1B2BCEFA45D860100E0E1);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">沙瑞金</div></div>' },
                        { 'id': 'N8', 'text': '高小琴', /*'width':40,'height':40, */'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '女' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=4266886844,1791850012&fm=58&s=66B01AC758BB67960834B8FA0300C011);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">高小琴</div></div>' },
                        { 'id': 'N9', 'text': '高小凤', /*'width':40,'height':40, */'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '女' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2747443453,2680399969&fm=58&app=83&f=JPEG?w=150&h=150&s=DB8828C1562265150814ADFE03007012);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">高小凤</div></div>' },
                        { 'id': 'N10', 'text': '赵东来',/* 'width':40,'height':40,*/ 'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3301823375,1282024443&fm=58&app=83&f=JPG?w=250&h=250&s=2BC2834F2C22A25D12C06CA80300E013);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">赵东来</div></div>' },
                        { 'id': 'N11', 'text': '陈一凡', /*'width':40,'height':40, */'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=134233720,666111889&fm=58&app=83&f=JPG?w=250&h=250&s=4DE5A844801F1BD461E039A20300C0C3);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">陈一凡</div></div>' },
                        { 'id': 'N12', 'text': '吴惠芬',/* 'width':40,'height':40,*/ 'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '女' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1215039713,3597142764&fm=58&app=83&f=JPEG?w=250&h=250&s=1A20E0018E3B6E9CD10C7DA30300E081);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">吴惠芬</div></div>' },
                        { 'id': 'N13', 'text': '高宇哲',/* 'width':40,'height':40,*/ 'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1140839330,2922201597&fm=58&app=83&f=JPEG?w=250&h=250&s=CDF9A844D45AB87512C8508B0100F080);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">高宇哲</div></div>' },
                        { 'id': 'N14', 'text': '赵立春',/* 'width':40,'height':40,*/ 'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2110325119,1633583088&fm=58&app=83&f=JPEG?w=120&h=120&s=971E35C05A43305DCA7C1C0B030080C);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">赵立春</div></div>' },
                        { 'id': 'N15', 'text': '陈海', /*'width':40,'height':40, */'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1416498138,2265298708&fm=58&app=83&f=JPEG?w=250&h=250&s=F906CF1C0E1356D046AC3CEB0300B0A0);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">陈海</div></div>' },
                        { 'id': 'N16', 'text': '梁璐', /*'width':40,'height':40, */'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '女' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3749144697,3456463661&fm=58&app=83&f=JPEG?w=250&h=250&s=783823D3FE621E94138CC08B030070C2);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">梁璐</div></div>' },
                        { 'id': 'N17', 'text': '刘新建',/* 'width':40,'height':40,*/ 'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2263876103,310235844&fm=58&app=83&f=JPEG?w=250&h=250&s=6CE2A944CC1223DC632CC09203009082);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">刘新建</div></div>' },
                        { 'id': 'N18', 'text': '欧阳菁',/* 'width':40,'height':40,*/ 'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '女' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3590139977,3135325708&fm=58&app=83&f=JPEG?w=250&h=250&s=2F1C8B46C4A214BCE100A81A03004091);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">欧阳菁</div></div>' },
                        { 'id': 'N19', 'text': '吴心怡',/* 'width':40,'height':40,*/ 'color': '#ec6941', 'borderColor': '#ff875e', 'data': { 'isGoodMan': true, 'sexType': '女' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2110325119,1633583088&fm=58&app=83&f=JPEG?w=120&h=120&s=971E35C05A43305DCA7C1C0B030080C);border:#ff875e solid 3px;"><div class="c-node-name2" style="color:#ff875e">吴心怡</div></div>' },
                        { 'id': 'N20', 'text': '蔡成功',/* 'width':40,'height':40,*/ 'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4153440298,254451173&fm=58&app=83&f=JPEG?w=250&h=250&s=07C2B4488C42D355548CC41F010080D1);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">蔡成功</div></div>' },
                        { 'id': 'N21', 'text': '丁义珍',/* 'width':40,'height':40,*/ 'color': 'rgba(0, 206, 209, 1)', 'borderColor': '#6cc0ff', 'data': { 'isGoodMan': false, 'sexType': '男' }, 'innerHTML': '<div class="c-my-node2" style="background-image: url(https://dss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=842795163,1346447987&fm=58&app=83&f=JPEG?w=250&h=250&s=2BC3736EE499247D41C0B4820100E093);border:#6cc0ff solid 3px;"><div class="c-node-name2" style="color:#6cc0ff">丁义珍</div></div>' }],
                    // 相关关系数据
                    'links': [
                        { 'from': 'N6', 'to': 'N1', 'text': '师生', 'color': '#4B0082', 'fontColor': '#d2c0a5', 'data': { 'type': '师生' }},
                        { 'from': 'N6', 'to': 'N3', 'text': '师生', 'color': '#d2c0a5', isHideArrow: true, 'fontColor': '#d2c0a5', 'data': { 'type': '师生' }},
                        { 'from': 'N14', 'to': 'N6', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                        { 'from': 'N14', 'to': 'N13', 'text': '亲戚', 'color': '#d2c0a5', isHideArrow: true, 'fontColor': '#d2c0a5', 'data': { 'type': '亲戚' }},
                        { 'from': 'N14', 'to': 'N17', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                        { 'from': 'N2', 'to': 'N14', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                        { 'from': 'N3', 'to': 'N8', 'text': '亲人', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '亲人' }},
                        { 'from': 'N4', 'to': 'N15', 'text': '亲戚', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '亲戚' }},
                        { 'from': 'N5', 'to': 'N15', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                        { 'from': 'N7', 'to': 'N4', 'text': '朋友', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '朋友' }},
                        { 'from': 'N3', 'to': 'N15', 'text': '朋友', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '朋友' }},
                        { 'from': 'N3', 'to': 'N1', 'text': '朋友', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '朋友' }},
                        { 'from': 'N1', 'to': 'N15', 'text': '朋友', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '朋友' }},
                        { 'from': 'N1', 'to': 'N15', 'text': '朋友', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '朋友' }},
                        { 'from': 'N6', 'to': 'N12', 'text': '夫妻', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '夫妻' }},
                        { 'from': 'N15', 'to': 'N10', 'text': '朋友', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '朋友' }},
                        { 'from': 'N8', 'to': 'N9', 'text': '亲戚', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '亲戚' }},
                        { 'from': 'N3', 'to': 'N11', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                        { 'from': 'N2', 'to': 'N10', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                        { 'from': 'N13', 'to': 'N11', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                        { 'from': 'N7', 'to': 'N2', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                        { 'from': 'N7', 'to': 'N6', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                        { 'from': 'N3', 'to': 'N16', 'text': '夫妻', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '夫妻' }},
                        { 'from': 'N12', 'to': 'N16', 'text': '朋友', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '朋友' }},
                        { 'from': 'N2', 'to': 'N18', 'text': '夫妻', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '夫妻' }},
                        { 'from': 'N19', 'to': 'N5', 'text': '亲戚', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '亲戚' }},
                        { 'from': 'N19', 'to': 'N12', 'text': '亲戚', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '亲戚' }},
                        { 'from': 'N20', 'to': 'N1', 'text': '朋友', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '朋友' }},
                        { 'from': 'N2', 'to': 'N21', 'text': '上下级', 'color': '#d2c0a5', 'fontColor': '#d2c0a5', 'data': { 'type': '上下级' }},
                    ] }
                this.$refs.seeksRelationGraph.setJsonData(__graph_json_data, (seeksRGGraph) => {
                // 这些写上当图谱初始化完成后需要执行的代码
                })
            },
            // 研究领域自动补全方法
            onSearch(searchText) {
                this.displayName = searchText.trim();
                let param = Qs.stringify({
                    displayName: searchText.trim(),
                });
                this.$http.post("/talentMap/autocompeleteFieldName", param).then(res=> {
                    this.dataSource = [];
                    for(let display of res.data) {
                        this.dataSource.push(display.displayName);
                    }
                });
            },
            onSelect(value) {
            },
            onChange(value) {
            },
            // 获取国家名称列表
            getList() {
                const that = this;
                const param = Qs.stringify();
                getCountryNameList(param).then(res => {
                    that.countryList = res.data;
                })
            },
            // 搜索国家方法
            handleChange(value) {
            },
            filterOption(input, option) {
                return (
                    option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
                );
            },
            allSearch() {
                let nLng = map.getBounds().northeast.lng;
                let nLat = map.getBounds().northeast.lat;
                let sLng = map.getBounds().southwest.lng;
                let sLat = map.getBounds().southwest.lat;
                let params ={
                    fieldId: this.fieldId,
                    code : this.code,
                    isethniccn : this.isethniccn,
                    nLng,
                    nLat,
                    sLng,
                    sLat,
                };
                if(!this.fieldId && this.displayName) {
                    let param = Qs.stringify({
                        displayName: this.displayName,
                    });
                    this.$http.post("/talentMap/autocompeleteFieldName", param).then(res => {
                        let fieldId = res.data[0].fieldId;
                        this.fieldId = fieldId;
                        params =  {
                            ...params,
                            fieldId
                        }
                        this.$http.post("/talentMap/getUserMaker",  Qs.stringify(params)).then(res => {
                            // 清除地图上原有的maker
                            map.clearMap();
                            window.netWorkDataForMap = this.netWorkData = res.data;
                            this.makeUserMap();
                        }).catch(
                            err => {
                                this.loading = false
                            }
                        );
                    });
                } else {
                    this.$http.post("/talentMap/getUserMaker",  Qs.stringify(params)).then(res => {
                        // 清除地图上原有的maker
                        map.clearMap();
                        window.netWorkDataForMap = this.netWorkData = res.data;
                        this.makeUserMap();
                    }).catch(
                        err => {
                            this.loading = false
                        }
                    );
                }
            }
        }
    }
</script>

<style scoped>
  /*修改全局容器属性*/
  .baseContent {
    max-width: 100% !important;
    margin:0 !important;
  }
</style>
<style>
  /*maker头像圆形*/
  .amap-icon{
    border-radius: 50%;
  }
  .c-my-node{
    background-position: center center;
    background-size: 100%;
    border:#ff8c00 solid 2px;
    height:40px;
    width:40px;
    border-radius: 40px;
  }
  .c-node-name{
    width:160px;margin-left:-60px;text-align:center;margin-top:40px;
  }
  .c-my-node2{
    background-position: center center;
    background-size: 100%;
    border:#ff8c00 solid 2px;
    height:80px;
    width:80px;
    border-radius: 40px;
  }
  .c-node-name2{
    width:160px;margin-left:-40px;text-align:center;margin-top:80px;
  }
  .content-window-card {
    position: relative;
    box-shadow: none;
    bottom: 0;
    left: 0;
    width: 400px;
    padding: 0;
  }

  .content-window-card p {
    height: 2rem;
  }

  .custom-info {
    border: solid 1px silver;
  }

  div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
    text-align: left;
  }

  div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
  }

  div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
  }

  div.info-top img:hover {
    box-shadow: 0px 0px 5px #000;
  }

  div.info-middle {
    font-size: 12px;
    padding: 10px 6px;
    line-height: 20px;
    text-align: left;
  }

  div.info-bottom {
    height: 0px;
    width: 100%;
    clear: both;
    text-align: center;
  }

  div.info-bottom img {
    position: relative;
    z-index: 104;
  }

  span {
    margin-left: 5px;
    font-size: 11px;
  }

  .info-middle img {
    float: left;
    border-radius: 50%;
    margin-right: 6px;
  }
  .code-box-demo .ant-slider {
    margin-bottom: 16px;
  }
  .searchInput input{
    width: 200px;
    border-radius: 20px;
  }
  .ant-calendar-picker-input{
    border-radius: 20px;
  }
</style>