<template>
  <div>
    <a-row :gutter="24">
      <a-col :span="24">
        <br>
        <a-card>
          <div style="float: left;width: 10%;">
            <a-auto-complete
              v-model="displayName"
              :data-source="dataSource"
              style="width: 200px"
              ref="input"
              type="text"
              @select="onSelect"
              @search="onSearch"
              @change="onChange"
            >
              <a-input class="searchInput" placeholder="研究方向" style="margin-top: 20px;">
                <a-icon slot="prefix" type="search" />
              </a-input>
            </a-auto-complete>
            <a-select
              show-search
              v-model="code"
              placeholder="搜索/选择国家"
              option-filter-prop="children"
              style="width: 200px;margin-top: 20px;"
              :filter-option="filterOption"
              @change="handleChange"
            >
              <a-select-option v-for="item in countryList" :value="item.code">{{item.name}}</a-select-option>
            </a-select>
            <a-radio-group v-model="isethniccn" name="radioGroup" :default-value="1" style="margin-top: 20px;width: 200px">
              <a-radio :value="0">
                华裔
              </a-radio>
              <a-radio :value="1">
                非华裔
              </a-radio>
            </a-radio-group>
            <a-button type="primary" style="margin-top: 20px;border-radius: 20px;width: 200px;" @click="allSearch">
              检索人才地图
            </a-button>
          </div>
          <!--地图窗口-->
          <div style="text-align: right;">
            <div id="container" style="margin-left:15.5%;height:760px;width:85%"></div>
          </div>
          <a-modal v-model="visible" title="关系详情" :forceRender="true" @ok="handleOk" width="1000px"  @cancel="handleOk" :footer="null" :maskClosable="true">
            <div>
              <a-row>
                <a-col :span="4" style="border-radius: 1px;">
                  <div>
                    <a-checkbox-group v-model="values" :options="checkedList" @change="doFilter" />
                  </div>
                </a-col>
                <a-col :span="20">
                  <div :class="{'active':isActiveRelation}" style="margin-top:-10px;width:calc(100%);height:600px;">
                    <SeeksRelationGraph ref="seeksRelationGraph" :options="graphOptions2"/>
                  </div>
                  <div :class="{'active':isActiveTree}" style="margin-top:-10px;width:calc(100%);height:600px;">
                    <highcharts :options="chartOptions"></highcharts>
                  </div>
                  <div :class="{'active':isActiveNull}" style="margin-top:-10px;width:calc(100%);height:600px;">
                    <div class="ant-spin-container">
                      <div class="ant-list-empty-text">
                        <div class="ant-empty ant-empty-normal">
                          此节点暂无对应关系数据
                        </div>
                      </div>
                    </div>
                  </div>
                </a-col>
              </a-row>
            </div>
          </a-modal>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>

<script>
/*假数据待修正*/
import SeeksRelationGraph from 'relation-graph'
import RelatedPublicationCard from '@/views/business/articles/articlesFrame/RelatedPublicationCard'
import Qs from 'qs'
import {getCountryNameList, getUserMaker, getUserRelation, getAllRelation, getUserRelationNode, getUserCheckRelation, getUserCheckRelationNode} from './TalentMapApi'

export default {
  name: 'TalentMap',
  components: {
    RelatedPublicationCard,SeeksRelationGraph
  },
  data: function () {
    return {
      values:[],
      disabled: false,
      headers: {
        authorization: 'authorization-text',
      },
      visible: false,
      g_loading: true,
      demoname: '-&#45;&#45;',
      graphOptions2: {
        allowShowMiniToolBar:false,
        allowShowMiniNameFilter:true,
        defaultNodeBorderWidth: 0,
        defaultNodeColor: 'rgba(238, 178, 94, 1)',
        allowSwitchLineShape: true,
        allowSwitchJunctionPoint: true,
        defaultLineShape: 1,
        'layouts': [
          {
            'label': '自动布局',
            'layoutName': 'force',
            'layoutClassName': 'seeks-layout-force'
          }
        ],
        defaultJunctionPoint: 'border'
        // 这里可以参考"Graph 图谱"中的参数进行设置（关系图谱样式，配置在标签内属性中）
      },
        GraphJsonData: {
            rootId:'',
            nodes:[],
            links:[]
        },
        list:[],
        netWorkData:[],
        defaultHeadImg:"/user.png",
        dataSource: [],
        countryList:[],
        displayName:'',
        fieldId:'',
        code:'',
        isethniccn: '',
        checkedList: [],
        indeterminate: true,
        checkAll: false,
        chartOptions: {
          chart: {
            height: 600,
            inverted: true
          },
          title: {
            text: ''
          },
          series: [{
            type: 'organization',
            name: 'Highsoft',
            keys: ['from', 'to'],
            data: [
              ['10000120', '10000895'],
              ['10000895', '10001630'],
              ['10001630', '10002671'],
              ['10001630', '161429758'],
              ['10001630', '10006432'],
              ['10001630', '10004999'],
              ['10001630', '10002742'],
              ['10002671', '166264241'],
              ['10002671', '166265124'],
              ['10006432', '10008366'],
              ['10004999', '166826443']
            ],
            nodes: [{
              id: '10000120',
              name: '<div><a href="/scholar/scholarPage/ScholarSummary?userId=10000120&isUser=false&userName=Igor A. Abrikosov" target="_blank">Igor A. Abrikosov</a></div>',
              description: 'Linköping University',
              color: 'white',
            }, {
              id: '10000895',
              name: 'Fernando Fernández-Lázaro',
              description: 'Universidad Miguel Hernández de Elche',
              color: 'white',
              }, {
                id: '10001630',
                name: 'I. Miniati',
                description: 'University of Florence',
                color: 'white',
              }, {
                id: '10002742',
                name: 'Noriaki Muranaka',
                description: 'Kansai University',
                color: 'white',
              }, {
                id: '10002671',
                name: 'Kirill S. Napolskii',
                description: 'Moscow State University',
                color: 'white',
              }, {
                id: '161429758',
                name: 'P. Froelich',
                description: 'Uppsala University',
                color: 'white',
              }, {
                id: '10006432',
                name: 'Zhang Xujia',
                description: 'Peking University',
                color: 'white',
              }, {
                id: '10004999',
                name: 'Rob Leurs',
                description: 'VU University Amsterdam',
                color: 'white',
              }, {
                id: '166264241',
                name: 'S. Muto',
                description: 'University of Tokushima',
                color: 'white',
              }, {
                id: '166265124',
                name: 'J. K. G. Watson',
                description: 'Herzberg Institute of Astrophysics',
                color: 'white',
              }, {
                id: '10008366',
                name: 'Tamar Flash',
                description: 'Weizmann Institute of Science',
                color: 'white',
              }, {
                id: '166826443',
                name: 'C. Sbraccia',
                description: 'International School for Advanced Studies',
                color: 'white',
              }],
              colorByPoint: false,
              dataLabels: {
                color: '#555'
              },
              borderColor: 'white',
              nodeWidth: 90
            }],
            tooltip: {
              outside: true
            },
            exporting: {
              allowHTML: true,
              sourceWidth: 800,
              sourceHeight: 480
            }
        },
        value: 1,
        radioStyle: {
          display: 'block',
          height: '30px',
          lineHeight: '30px',
        },
        isActiveRelation: false,
        isActiveTree: true,
        isActiveNull: true,
        relationValue:'',
        relationValueStr:'',
        id:'',
        }
    },
  mounted () {
    //关系图(小)
    this.demoname = this.$route.params.demoname
  },
  created () {
    this.getList();
    this.gaoDeLoading();
    // 将vue方法赋值给window
    window.showModalForR = this.showModal;
    window.getMapUserMaker = this.getUserMakerForMap;
    window.defaultHeadImgForMap = this.defaultHeadImg;
    window.netWorkDataForMap = this.netWorkData;
  },
  methods:{
    makeUserMap(){
      for(let i = 0;i<window.netWorkDataForMap.length;i++) {
        const maker = new AMap.Marker({
          position: [window.netWorkDataForMap[i].longitude, window.netWorkDataForMap[i].latitude], // 地理位置经纬度
            icon: new AMap.Icon({
            image: (window.netWorkDataForMap[i].profilePhotoPath != null)?"'" + window.netWorkDataForMap[i].profilePhotoPath + "'" :defaultHeadImgForMap,
            size: (window.netWorkDataForMap[i].rank >= 10000 && window.netWorkDataForMap[i].rank <= 12000) ? new AMap.Size(64, 64) : ((window.netWorkDataForMap[i].rank > 12000 && window.netWorkDataForMap[i].rank <= 14000) ? new AMap.Size(48, 48) : ((window.netWorkDataForMap[i].rank > 14000 && window.netWorkDataForMap[i].rank <= 16000) ? new AMap.Size(32, 32) : ((window.netWorkDataForMap[i].rank > 16000 && window.netWorkDataForMap[i].rank <= 18000) ? new AMap.Size(25, 25) : (new AMap.Size(16, 16))))),
            /*size: new AMap.Size(64, 64), */ //图标大小
            imageSize: (window.netWorkDataForMap[i].rank >= 10000 && window.netWorkDataForMap[i].rank <= 12000) ? new AMap.Size(64, 64) : ((window.netWorkDataForMap[i].rank > 12000 && window.netWorkDataForMap[i].rank <= 14000) ? new AMap.Size(48, 48) : ((window.netWorkDataForMap[i].rank > 14000 && window.netWorkDataForMap[i].rank <= 16000) ? new AMap.Size(32, 32) : ((window.netWorkDataForMap[i].rank > 16000 && window.netWorkDataForMap[i].rank <= 18000) ? new AMap.Size(25, 25) : (new AMap.Size(16, 16))))),
        }),
      });
      this.maker3 = maker;
      // 初始化加载的层级maker
      window.map.add(maker);
      //实例化信息窗体
      let title = '<span id="window.netWorkDataForMap[i].userId" style="font-size: 13px;">' + window.netWorkDataForMap[i].displayName + '</span>' + '<span>(点击这里查看关系网图)</span>';
      let content = [];
      let userImg =  window.netWorkDataForMap[i].profilePhotoPath!=null?window.netWorkDataForMap[i].profilePhotoPath:"/user.png";
      content.push("<img style='width: 64px;height: 64px;' src='" + userImg + "'>" + "研究机构：" + window.netWorkDataForMap[i].institutionName + "<br/>" + "研究领域：" + window.netWorkDataForMap[i].fieldStr + "<br/>" + "h-index：" + window.netWorkDataForMap[i].hindex + "<br/>" + "发文数：" + window.netWorkDataForMap[i].publications);
      let infoWindow = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title, content),
        offset: new AMap.Pixel(16, -45)
      });
      //鼠标点击marker弹出自定义的信息窗体
      AMap.event.addListener(maker, 'click', function () {
        infoWindow.open(window.map, maker.getPosition());
      })

      //构建自定义信息窗体（坐标头像信息）
      function createInfoWindow(title, content) {
        let info = document.createElement("div");
        info.className = "custom-info input-card content-window-card";

        //可以通过下面的方式修改自定义窗体的宽高
        //info.style.width = "400px";
        // 定义顶部标题
        let top = document.createElement("div");
        let titleD = document.createElement("div");
        let closeX = document.createElement("img");
        top.className = "info-top";
        titleD.id = window.netWorkDataForMap[i].userId;
        titleD.innerHTML = title;
        titleD.onclick = openRelationShips;
        titleD.style.cursor = "pointer";
        closeX.src = "https://webapi.amap.com/images/close2.gif";
        closeX.onclick = closeInfoWindow;

        top.appendChild(titleD);
        top.appendChild(closeX);
        info.appendChild(top);

        // 定义中部内容
        let middle = document.createElement("div");
        middle.className = "info-middle";
        middle.style.backgroundColor = 'white';
        middle.innerHTML = content;
        info.appendChild(middle);

        // 定义底部内容
        let bottom = document.createElement("div");
        bottom.className = "info-bottom";
        bottom.style.position = 'relative';
        bottom.style.top = '0px';
        bottom.style.margin = '0 auto';
        let sharp = document.createElement("img");
        sharp.src = "https://webapi.amap.com/images/sharp.png";
        bottom.appendChild(sharp);
        info.appendChild(bottom);
        return info;
        }
      }

      //关闭坐标点头像信息窗体
      function closeInfoWindow() {
        window.map.clearInfoWindow();
      }
      function openRelationShips(e){
        window.showModalForR(e.currentTarget.id);
      }
    },
    getUserMakerForMap(nLng,nLat,sLng,sLat){
      let param = Qs.stringify({
        fieldId: this.fieldId,
        code : this.code,
        isethniccn : this.isethniccn,
        nLng,
        nLat,
        sLng,
        sLat
      });
      getUserMaker(param).then(res => {
        // 清除地图上原有的maker
        map.clearMap();
        window.netWorkDataForMap = this.netWorkData = res.data;
        this.makeUserMap();
      }).catch(
        err => {
            this.loading = false
        }
      )
    },
    // 加载地图方法
    gaoDeLoading(){
      const that = this;
      window.onLoad = function () {
        let oldCenterLng = 0;
        let oldCenterLat = 0;
        // 加载高德地图map
        let map = new AMap.Map("container",{
            resizeEnable: true,
            zoom: 3, //级别*/
            center: [107.587327,20.216703], //中心点坐标
        });
        window.map = map;
        // 获取当前地图可视范围及地图层级
        let nLng = map.getBounds().northeast.lng;// 地图右上角经度
        let nLat = map.getBounds().northeast.lat;// 地图右上角纬度
        let sLng = map.getBounds().southwest.lng;// 地图左下角经度
        let sLat = map.getBounds().southwest.lat;// 地图左下角纬度
        let zoomOld = map.getZoom();
        let lngAbs = parseFloat(Math.abs(nLng - sLng))/4;
        let latAbs = parseFloat(Math.abs(nLat - sLat))/4;
        oldCenterLng = map.getCenter().lng;
        oldCenterLat = map.getCenter().lat;
        getMapUserMaker(nLng,nLat,sLng,sLat);
        // 地图层级改变时,地图发生移动时触发该方法
        map.on('moveend',function () {
          let zoom = map.getZoom();
          let nLng = map.getBounds().northeast.lng;
          let nLat = map.getBounds().northeast.lat;
          let sLng = map.getBounds().southwest.lng;
          let sLat = map.getBounds().southwest.lat;
          // 取可视地图25%纬度经度差的绝对值计算允许进行的最大偏移量
          let lngAbs = null;
          if(nLng > 0 && sLng < 0) {
              lngAbs = parseFloat(Math.abs(nLng - sLng)-180)/4
          } else {
              lngAbs = parseFloat(Math.abs(nLng - sLng))/4;
          }
          let latAbs = parseFloat(Math.abs(nLat - sLat))/4;
          let offsetValueMax = parseFloat(Math.sqrt(Math.pow(lngAbs,2) + Math.pow(latAbs,2))).toFixed(6);
          // 取中心点坐标进行实际偏移量计算
          let nowCenterLng = map.getCenter().lng;
          let nowCenterLat = map.getCenter().lat;
          let changeCenterLng = 0;
          let changeCenterLat = 0;
          if(nowCenterLng > 0 && oldCenterLng > 0 || nowCenterLng < 0 && oldCenterLng <0) {
            changeCenterLng = nowCenterLng - oldCenterLng;
            changeCenterLat = nowCenterLat - oldCenterLat;
          } else {
            if(Math.abs(nowCenterLng - oldCenterLng) >= 180) {
              changeCenterLng = (180 - nowCenterLng) + (180 + oldCenterLng);
              changeCenterLat = nowCenterLat - oldCenterLat;
            } else {
              changeCenterLng = nowCenterLng - oldCenterLng;
              changeCenterLat = nowCenterLat - oldCenterLat;
            }
          }
          let offsetValue = parseFloat(Math.sqrt(Math.pow(changeCenterLng,2) + Math.pow(changeCenterLat,2))).toFixed(6);
          //比较地图经纬度偏移量，大于指定范围加载数据
          if(zoom !== zoomOld || (offsetValue >= offsetValueMax)) {
            // 获取当前地图的经纬度及地图层级
            let nLng = map.getBounds().northeast.lng;
            let nLat = map.getBounds().northeast.lat;
            let sLng = map.getBounds().southwest.lng;
            let sLat = map.getBounds().southwest.lat;
            zoomOld = map.getZoom();
            getMapUserMaker(nLng,nLat,sLng,sLat);
            oldCenterLng = nowCenterLng;
            oldCenterLat = nowCenterLat;
          }
        })
      };
      const url =
        "https://webapi.amap.com/maps?v=1.4.15&key=d6539d5d8b25eabb846f6d0847f29652&callback=onLoad";
      //创建一个 script dom元素
      // doc需要补全document
      const jsapi = document.createElement("script");
      //设定script标签属性
      jsapi.charset = "utf-8";
      jsapi.src = url;
      //将API文件引入页面中,加载完毕以后会调用函数
      document.head.appendChild(jsapi);
    },
    showModal(id) {
      // 关系展示modal
      setTimeout(() => {
        this.$notification.info({
          top:"100px",
          style: 'background-color:#40a9ff;',
          message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
          icon: <a-icon type="info-circle" style="color:white;" />,
          closeIcon: <a-icon type="close" style="color:white" />,
          duration: 10
        })
      }, 1000);
      this.getRelationTypeList();
      this.id = id;
      const that = this;
      let param = Qs.stringify({
        userId: id,
      });
      let nodes = [];
      let links = [];
      new Promise(resolve => {
        getUserRelationNode(param).then(res => {
          that.GraphJsonData.nodes = res.data;
          nodes = res.data;
          getUserRelation(param).then(res => {
            that.GraphJsonData.links = res.data;
            links = res.data;
            resolve();
          });
        });
      }).then(()=>{
        //关系图
        this.setGraphData2(id, nodes, links);
        this.visible = true;
      });
    },
    handleOk(e) {
      this.visible = false;
    },
    // 关系图（关系详情）
    setGraphData2(id, nodes, links) {
      let GraphJsonData = {
        // 关系主角
        rootId: id,
        // 关系人物
        nodes,
        // 相关关系数据
        links,
      }
      this.$refs.seeksRelationGraph.setJsonData(GraphJsonData, (seeksRGGraph) => {
      // 这些写上当图谱初始化完成后需要执行的代码
      })
    },
    // 研究领域自动补全方法
    onSearch(searchText) {
      this.displayName = searchText.trim();
      let param = Qs.stringify({
        displayName: searchText.trim(),
      });
      this.$http.post("/talentMap/autocompeleteFieldName", param).then(res=> {
        this.dataSource = [];
        for(let display of res.data) {
          this.dataSource.push(display.displayName);
        }
      });
    },
    onSelect(value) {
    },
    onChange(value) {
    },
    // 获取国家名称列表
    getList() {
      const that = this;
      const param = Qs.stringify();
      getCountryNameList(param).then(res => {
        that.countryList = res.data;
      })
    },
    // 搜索国家方法
    handleChange(value) {
    },
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
      );
    },
    allSearch() {
      let nLng = map.getBounds().northeast.lng;
      let nLat = map.getBounds().northeast.lat;
      let sLng = map.getBounds().southwest.lng;
      let sLat = map.getBounds().southwest.lat;
      let params ={
        fieldId: this.fieldId,
        code : this.code,
        isethniccn : this.isethniccn,
        nLng,
        nLat,
        sLng,
        sLat,
      };
      if(!this.fieldId && this.displayName) {
        let param = Qs.stringify({
          displayName: this.displayName,
        });
        this.$http.post("/talentMap/autocompeleteFieldName", param).then(res => {
        let fieldId = res.data[0].fieldId;
        this.fieldId = fieldId;
        params =  {
          ...params,
          fieldId
        }
        this.$http.post("/talentMap/getUserMaker",  Qs.stringify(params)).then(res => {
          // 清除地图上原有的maker
          map.clearMap();
          window.netWorkDataForMap = this.netWorkData = res.data;
        this.makeUserMap();
        }).catch(
          err => {
            this.loading = false
          });
        });
      } else {
        this.$http.post("/talentMap/getUserMaker",  Qs.stringify(params)).then(res => {
          // 清除地图上原有的maker
          map.clearMap();
          window.netWorkDataForMap = this.netWorkData = res.data;
          this.makeUserMap();
        }).catch(
          err => {
            this.loading = false
          });
      }
    },
    // 获取存在的关系类型
    getRelationTypeList() {
      const that = this;
      let param = Qs.stringify();
      getAllRelation(param).then(res => {
        that.checkedList = res.data;
        that.values = res.data;
      });
    },
    // 筛选条件
    doFilter() {
      // 数据重查方法
      const that = this;
      that.relationValue = '';
      for(let i=0; i<that.values.length; i++) {
       that.relationValue += "|" + that.values[i];
      };
      that.relationValueStr = that.relationValue.substr(1);
      if(that.relationValueStr != '') {
        let param = Qs.stringify({
          userId: that.id,
          relationValueStr: that.relationValueStr,
        });
        let nodes = [];
        let links = [];
        new Promise(resolve => {
          getUserCheckRelationNode(param).then(res => {
            that.GraphJsonData.nodes = res.data;
            nodes = res.data;
            getUserCheckRelation(param).then(res => {
              that.GraphJsonData.links = res.data;
              links = res.data;
              resolve();
            });
          });
        }).then(()=>{
          //关系图
          if(that.GraphJsonData.nodes.length != 0 && that.id != '') {
            this.setGraphData2(that.id, that.GraphJsonData.nodes, that.GraphJsonData.links);
            this.visible = true;
          }else {
            that.isActiveRelation = true;
            that.isActiveTree = true;
            that.isActiveNull = false;
          }
          if (that.values.length === 1 && that.values[0] === "RelationEdge") {
            that.isActiveRelation = true;
            that.isActiveTree = false;
            that.isActiveNull = true;
          }else {
            that.isActiveRelation = false;
            that.isActiveTree = true;
            that.isActiveNull = true;
          }
        });
      } else {
        that.isActiveRelation = true;
        that.isActiveTree = true;
        that.isActiveNull = false;
      }
      // 删除关联线方法
      // let _all_lines = this.$refs.seeksRelationGraph.getLines();
      // _all_lines.forEach(thisLine => {
      //   // 注意这里的line和json数据中link不一样，一条线（line）上可以附着多条关系(link),可以通过line.relations获取到这条线上所有的关系数据(link)
      //   let _isHideThisLine = true;
      //   thisLine.relations.forEach(thisLink => {
      //     if (that.values.indexOf(thisLink.data) === -1) {
      //       thisLink.isHide = true;
      //       if (that.values.length === 1 && that.values[0] === "RelationEdge") {
      //         that.isActiveRelation = true;
      //         that.isActiveTree = false;
      //       }else{
      //         that.isActiveRelation = false;
      //         that.isActiveTree = true;
      //       }
      //     } else {
      //       _isHideThisLine = false;
      //       thisLink.isHide = false
      //     }
      //   })
      // })
    },
    //页面跳转
    routerDirectionDetail(id, userName) {
      let routeUrl = this.$router.resolve({
        path: '/scholar/scholarPage/ScholarSummary',
        query: {
          userId: id,
          isUser: false,
          userName:userName
        }
      });
      window.open(routeUrl.href, '_blank');
    },
  }
}
</script>

<style scoped>
  /*修改全局容器属性*/
  .baseContent {
    max-width: 100% !important;
    margin:0 !important;
  }
</style>
<style>
  /*maker头像圆形*/
  .amap-icon{
    border-radius: 50%;
  }
  .highcharts-credits{
    display: none;
  }
  .c-my-node{
    background-position: center center;
    background-size: 100%;
    border:#ff8c00 solid 2px;
    height:40px;
    width:40px;
    border-radius: 40px;
  }
  .c-node-name{
    width:160px;margin-left:-60px;text-align:center;margin-top:40px;
  }
  .c-my-node2{
    background-position: center center;
    background-size: 100%;
    border:#6cc0ff solid 2px;
    height:80px;
    width:80px;
    border-radius: 40px;
  }
  .c-node-name2{
    width:160px;margin-left:-40px;text-align:center;margin-top:80px;color: #6cc0ff;
  }
  .content-window-card {
    position: relative;
    box-shadow: none;
    bottom: 0;
    left: 0;
    width: 400px;
    padding: 0;
  }

  .content-window-card p {
    height: 2rem;
  }

  .custom-info {
    border: solid 1px silver;
  }

  div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
    text-align: left;
  }

  div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
  }

  div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
  }

  div.info-top img:hover {
    box-shadow: 0px 0px 5px #000;
  }

  div.info-middle {
    font-size: 12px;
    padding: 10px 6px;
    line-height: 20px;
    text-align: left;
  }

  div.info-bottom {
    height: 0px;
    width: 100%;
    clear: both;
    text-align: center;
  }

  div.info-bottom img {
    position: relative;
    z-index: 104;
  }

  span {
    margin-left: 5px;
    font-size: 11px;
  }

  .info-middle img {
    float: left;
    border-radius: 50%;
    margin-right: 6px;
  }
  .code-box-demo .ant-slider {
    margin-bottom: 16px;
  }
  .searchInput input{
    width: 200px;
    border-radius: 20px;
  }
  .ant-calendar-picker-input{
    border-radius: 20px;
  }
  .active {
    display: none;
  }
  .ant-checkbox-inner{
    display: table-cell !important;
  }
</style>