<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div>
    <!--<a-row :gutter="40">-->
    <a-row :gutter="18">
      <!--<a-col :span="15" id="span1">-->
      <a-col :span="16" id="span1">
        <!-- 最新动态模块-->
        <a-row>
          <a-list :loading="listLoading" :data-source="newsData">
            <a-list-item slot="renderItem" slot-scope="item, index">
              <a-card :bordered="false" :bodyStyle="{paddingBottom: '16px !important'}" :extra="item.publishTime" size="small" style="width: 100%;" v-if="item.visiblityFlg === '1'">
                <template slot="title">
                  <card-header
                    :userId="item.userId"
                    :imgUrl="item.profilePath?item.profilePath:item.profilePhotoPath"
                    :username="item.nickname?item.nickname:item.displayName"
                    :imgShow="true"
                    :content="item.newsTitle"
                    :isNews="true"
                    :isUser="true"
                    :linkUrl="item.newsExternalLink?item.newsExternalLink:''"
                  />
                </template>
                <user-news-content
                  :item="item"
                  :index="index"
                  :listForNews="newsData"
                  :isUser="true"
                  @fetchData="fetchData"
                >
                </user-news-content>
              </a-card>
            </a-list-item>
          </a-list>
        </a-row>
      </a-col>
      <!--右侧整体col-->
      <!--<a-col :span="8" :offset="1" id="span3">-->
      <a-col :span="8" id="span3">
        <!--关注部分-->
        <a-row style="margin-bottom: 20px;" v-if="attentionSwitch == '0'">
          <n-card-list :title="userId == loginUserId?'我的关注': userInfo.sex==='0'?'TA的关注':userInfo.sex==='1'?'他的关注':'她的关注'" :titleExtraUrl="'#'" :titleExtra="'查看全部'"
                       :dataTotal="true"
                       :dataUrl="'/userSummary/getUserAuthorFollowing'"
                       :followingBtnUrl="'/userSummary/updateDeletedByPrimaryKey'"
                       :parameters="{
                            rows: 3,
                            index: 1,
                            userId,
                       }"
                       :modal-parameters="{
                          rows: 10,
                          index: 1,
                          userId,
                       }"
                       :modal-url="'/userSummary/getUserAuthorFollowing'"
                       :seeUserId="userId"
                       @cardSwitch="setAttentionSwitch"/>
        </a-row>
        <!--粉丝部分-->
        <a-row v-if="fansSwitch == '0'">
          <n-card-list :title="userId == loginUserId?'我的粉丝': userInfo.sex==='0'?'TA的粉丝':userInfo.sex==='1'?'他的粉丝':'她的粉丝'" :titleExtra="'查看全部'" :titleExtraUrl="'#'"
                       :dataTotal="true"
                       :dataUrl="'/userSummary/getFanInformation'"
                       :followingBtnUrl="'/userSummary/updateDeletedByPrimaryKey'"
                       :parameters="{
                            rows: 3,
                            index: 1,
                            userId,
                       }"
                       :modal-parameters="{
                       rows: 10,
                       index: 1,
                       userId,
                       }"
                       :modal-url="'/userSummary/getFanInformation'"
                       @cardSwitch="setFansSwitch"/>
        </a-row>
      </a-col>
    </a-row>
  </div>
</template>
<script>
    import NList from "@/views/business/components/NList/NList";
    import NCardList from "@/views/business/components/NCardList/NCardList";
    import UserNewsContent from "@/views/business/user/userFrame/summary/UserNewsContent";
    import CardHeader from '@/views/business/components/NList/CardHeader';
    import moment from 'moment'
    import Qs from 'qs'
    import {getNewDevelopments} from './UserDynamicApi'
    import {echartsXAxisFormat4Year} from '@/utils/util'
    import {USER_ID} from "@/store/mutation-types";
    import {getUserInfo} from '../../../scholar/scholarFrame/ScholarFrameApi'

    export default {
        name: "UserSummary",
        components: {
            NList,
            NCardList,
            UserNewsContent,
            CardHeader
        },
        data() {
            return {
                ShowIndex:0,
                display: 'none',
                MinDisplay:'flex',
                newsFormalPath:"/file/",
                // index: 0,
                index: 1,
                newsHasNextPage: false,
                newsData: [],
                loading: false,
                listLoading: false,
                attentionSwitch:"0",
                fansSwitch:"0",
                userId: '',
                loginUserId: '',
                userName: '自己',
                isUser: 'true',
                fieldFlg: false,
                tecFlg: false,
                editBtn: true,
                fieldLoading: false,
                institutionLoading: false,
                statsUserListLoading: false,
                chartSettings: {
                    showLine: ['citations'],
                    axisSite: {right: ['citations']},
                    xAxisType: 'time',
                    yAxisName: ['发文数', '被引用次数'],
                    labelMap: {
                        publications: '发文数',
                        citations: '被引用次数',
                        year: '日期',
                    },
                },
                grid: {
                    right: '5%',
                    left: '5%'
                },
                extend: {
                    color: ['#76ADE4', '#1362AE'],
                    series: {
                        smooth: false,
                        barCategoryGap: '40%',
                        symbolSize: 5,
                        barMaxWidth: 20,
                    },
                    xAxis: {
                        axisLabel: {
                            interval: 0,
                            formatter: (value, index) => {
                                if (1 < index && index < this.chartData.rows.length - 2) {
                                    return echartsXAxisFormat4Year(this.chartData.rows.length - 4, value, index - 2)
                                } else {
                                    return ''
                                }
                            }
                        }
                    },
                    yAxis: () => [
                        {
                            splitLine: {
                                lineStyle: {
                                    width: 0.5,
                                    opacity: 0.4
                                }
                            },
                            name: '发文数',
                            nameLocation: 'middle',
                            nameTextStyle: {
                                padding: [0, 0, 15, 0]
                            },
                            axisLabel: {
                                interval: 0,
                            },
                        },
                        {
                            splitLine: {
                                lineStyle: {
                                    width: 0.5,
                                    opacity: 0.4
                                }
                            },
                            name: '被引用次数',
                            nameLocation: 'middle',
                            nameTextStyle: {
                                padding: [25, 0, 0, 0]
                            },
                            axisLabel: {
                                interval: 0,
                                formatter: (value, index) => {
                                    let result = '0'
                                    if (value && !isNaN(value)) {
                                        if (value >= 1000) {
                                            result = `${value / 1000} k`
                                        } else {
                                            result = value
                                        }
                                    }
                                    return result
                                }
                            },
                        }
                    ],
                },
                chartData: {
                    columns: ['year', 'publications', 'citations'],
                    rows: []
                },
                commonInfo: {
                    statsUserTotal: {},
                    userField: [],
                    userDisciplines: [],
                    userInstitution: {},
                },
                userInfo: {}
            }
        },
        beforeMount() {
            this.fetchData();
        },
        created() {
            this.loginUserId = this.$store.getters.userId
            this.userId = this.$router.history.current.query.userId
            this.isUser = this.$router.history.current.query.isUser ? this.$router.history.current.query.isUser : 'true'
            this.userName = this.$router.history.current.query.userName ? this.$router.history.current.query.userName : '自己'
            this.$watch('$route', (val) => {
                this.userId = val.query.userId
                this.isUser = val.query.isUser ? val.query.isUser : 'true'
                this.userName = val.query.userName ? val.query.userName : '自己'
            })
        },
        mounted() {
            this.getUserInfo(this.userId);
            //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
            window.onscroll = throttle(onScroll)
            const that = this;
            function onScroll() {
                //变量scrollTop是滚动条滚动时,距离顶部的距离
                let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                //变量windowHeight是可视区的高度
                let windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
                //变量scrollHeight是滚动条的总高度
                let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
                //滚动条到底部的条件
                if (scrollHeight - (scrollTop + windowHeight) <= 10 ) {
                    //写后台加载数据的函数
                    that.handleInfiniteOnLoad();
                }
            }

            //函数节流
            function throttle(fn, interval=300) {
                let canRun = true;
                return function() {
                    if(!canRun) return;
                    canRun = false;
                    setTimeout(() => {
                        fn.apply(this, arguments);
                        canRun=true;
                    }, interval);
                }
            }
            if(this.$router.history.current.query.userName!=undefined)
            {
                document.title= this.$router.history.current.query.userName+'-'+'学者概述' ;
            }
        },
        methods: {
            // 查询最新动态
            fetchData() {
                this.listLoading = true;
                /*const param = Qs.stringify({loginUserId: this.loginUserId, userId: this.userId,index: 1,rows: 5});*/
                const param = Qs.stringify({loginUserId: this.loginUserId, userId: this.userId,index: this.index,rows: 5})
                getNewDevelopments(param).then(res => {
                    this.newsData = res.data.userNews;
                    this.newsHasNextPage = res.data.hasNextPage;
                    this.listLoading = false;
                }).catch(
                    err => {
                        this.listLoading = false;
                    }
                )
            },
            handleInfiniteOnLoad() {
                const data = this.newsData;
                this.listLoading = true;
                if (!this.newsHasNextPage) {
                    this.listLoading = false;
                    return;
                }else {
                    this.index++;
                    const param = Qs.stringify({loginUserId: this.loginUserId, userId: this.userId,index: this.index,rows: 5});
                    getNewDevelopments(param).then(res => {
                        this.newsData = this.newsData.concat(res.data.userNews);
                        this.newsHasNextPage = res.data.hasNextPage;
                        this.listLoading = false;
                    }).catch(
                        err => {
                            this.listLoading = false;
                        }
                    )
                }
            },
            developing() {
                this.$notification.info({
                    top:"100px",
                    style: 'background-color:#40a9ff;',
                    message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
                    icon: <a-icon type="info-circle" style="color:white;" />,
                    closeIcon: <a-icon type="close" style="color:white" />,
                    duration: 10
            })
            },
            showMoreField(bol) {
                this.fieldFlg = !bol
            },
            showMoreTec(bol) {
                this.tecFlg = !bol
            },
            // 画面跳转
            routerDirectionDetail(fieldId) {
                let routeUrl = this.$router.resolve({
                    path: '/searchResults/searchResultsPage/searchResultsDirectionDetail',
                    query: {
                        fieldId
                    }
                });
                window.open(routeUrl.href, '_blank');
            },
            // 关注开关
            setAttentionSwitch(){
                this.attentionSwitch = "1"
            },
            // 粉丝开关
            setFansSwitch(){
                this.fansSwitch = "1"
            },
            getUserInfo(userId){
                const param = Qs.stringify({userId:userId});
                //获取用户的信息
                getUserInfo(param).then(res => {
                    if(res.ret_code==='0'){
                        this.userInfo = res.data.userInfo;
                    }else {
                        this.$notification.error(res.ret_msg);
                    }

                }).catch(err => {
                }).finally(() => {
                })
            },
        }
    }
</script>

<style scoped>
  .SongList{
    width: 40%;
    margin-left: 3vh;
  }
</style>
<style>
  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
  .newsTitle{
    text-overflow: ellipsis;  /*超出内容用省略号*/
    overflow: hidden; /*内容超出后隐藏*/
    white-space: nowrap; /*文本不进行换行*/
  }
  .ant-list-item{
    padding: 0 0 10px 0 !important;
  }
</style>