<template>
  <div>
    <a-row style="margin-bottom: 8px">
      <a-col :span="24" >
        <div class="ant-list-item-meta">
          <div class="ant-list-item-meta-content">
            <h4 class="ant-list-item-meta-title" style="font-weight: 600; font-size: 20px;display: inline-block;">
              {{ this.displayTitle }}
            </h4>
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row style="margin-bottom: 16px">
      <a-col :span="24">
        <div class="antd-pro-components-article-list-content-index-listContent">
          <div class="extra ant-row">
            <a-tag v-if="this.docTypeName" color="blue" style="border-radius: 5px;margin-right: 20px;">{{ this.docTypeName }}</a-tag>
            <span style="color: #595959;margin-right: 20px;font-weight: 600">{{ this.updateAt }}</span>
            <span style="color: #595959;margin-right: 20px;font-weight: 600">{{ this.source }}</span>
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row style="margin-top: 30px;" >
      <a-col :span="3" style="margin-top: 4px">
        <span style="color: #595959;font-weight: 600">材料类型</span>
      </a-col>
      <a-col :span="21">
        <a-select default-value="0"  @change="selectedChange($event)" style="width: 200px">
          <a-select-option value="0">
            PPT
          </a-select-option>
          <a-select-option value="1">
            网文
          </a-select-option>
          <a-select-option value="2">
            讲座视频
          </a-select-option>
        </a-select>
      </a-col>
    </a-row>

    <a-row style="margin-top: 20px;" v-show="showLink">
      <a-col :span="3" style="margin-top: 4px">
        <span style="color: #595959;font-weight: 600">链接</span>
      </a-col>
      <a-col :span="21">
        <a-input default-value=""></a-input>
      </a-col>
    </a-row>

    <a-row style="border: #00A0E9; margin-top: 20px;" v-show="showFile">
      <a-col :span="3" style="margin-top: 4px">
        <span style="color: #595959;font-weight: 600">文档</span>
      </a-col>
      <a-col :span="21">

          <a-upload
            :file-list="fileList"
            list-type="text"
            class="avatar-uploader"
            :remove="handleRemove"
            :before-upload="beforeUpload"
            accept=".pdf"
          >
            <a-button> <a-icon type="plus" /> 选择上传文档 </a-button>
          </a-upload>
      </a-col>
    </a-row>

    <a-row style="margin-top: 40px; margin-bottom: 5px">
      <a-col :span="24" align="right">
        <a-button
          shape="round"
          style="margin-right: 20px;"
          @click="handleCancel"
        >
          取消
        </a-button>
        <a-button
          type="primary"
          :loading="uploading"
          shape="round"
          @click="handleUpload()"
        >
          {{ uploading ? '正在上传' : '上传' }}
        </a-button>
      </a-col>
      <a-col :span="6" align="center" style="margin-left: 3px">

      </a-col>
    </a-row>
  </div>
</template>

<script>
import { FileUpload } from './UserAddSupplementaryApi.js'
export default {
  name: 'UserAddSupplementary',
  props:{
    publicationId:{
      type: Number,
    },
    displayTitle:{
      type: String,
    },
    docTypeName:{
      type: String,
    },
    updateAt:{
      type: Number,
    },
    source:{
      type: String,
    },
    handleCancel:{
      type: Function,
    },
  },
  data() {
    return {
      fileList: [],
      uploading: false,
      showFile:true,
      showLink:false,
    };
  },
  methods: {
    handleRemove(file) {
      const index = this.fileList.indexOf(file);
      const newFileList = this.fileList.slice();
      newFileList.splice(index, 1);
      this.fileList = newFileList;
    },
    beforeUpload(file) {
      this.fileList = [file];
      return false;
    },
    handleUpload() {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
      // let uploadMsg;
      // let isPublicOrPrivate;
      // const { fileList } = this;
      // const isMoreThan1M = fileList[0].size / 1024 / 1024 < 1;
      // if (!isMoreThan1M) {
      //   this.uploading = false;
      //   this.$message.error('上传的文档大小不能超过1M!');
      //   return;
      // }
      //
      // const formData = new FormData();
      // this.uploading = true;
      // formData.append('file', fileList[0]);
      // formData.append('publicationId' , this.publicationId);
      // formData.append('isPublicDoc' , '1');
      // FileUpload(formData).then(res => {
      //   this.fileList = [];
      //   this.uploading = false;
      //   uploadMsg = '上传成功。';
      //   this.$message.success(uploadMsg);
      // }).catch(err => {
      //   console.log(err)
      //   this.uploading = false;
      //   uploadMsg = '上传失败。';
      //   this.$message.error(uploadMsg);
      // })
    },
    // 上传文档和输入链接切换显示
    selectedChange(value){
      if (0 == value) {
        this.showFile = true;
        this.showLink = false;
      } else {
        this.showFile = false;
        this.showLink = true;
      }
    },
  },
}
</script>