<template>
  <div class="main">
    <a-form
      id="formLogin"
      class="user-layout-login"
      ref="formLogin"
      :form="form"
      @submit="handleSubmit"
    >
      <!--:tabBarStyle="{ textAlign: 'center', borderBottom: 'unset'}"-->
      <a-tabs
        :activeKey="customActiveKey"
        :tabBarStyle="{ textAlign: 'left', borderBottom: 'unset', marginBottom: '48px'}"
        :tabBarGutter="0"
        @change="handleTabClick"
      >
        <a-tab-pane key="tab1" tab="手机号登录">
          <a-form-item>
            <!--<a-icon type="mobile" :style="{ color: 'rgba(0,0,0,.25)' }"/>-->
            <!--
              size="small"
              style="width: 250px; margin-left: 6px; border-radius: 25px;"
            -->
            <a-input
              size="large"
              type="text"
              style="width: 327px; border-radius: 25px; background: #f5f6f6;"
              placeholder="请输入您的手机号"
              oninput="value=value.replace(/[^\d]/g,'')"
              @change="onEvent"
              @blur="onEvent"
              v-decorator="['mobile', {initialValue: mobile, rules: [{ validator: this.handleMobileCheck}], validateTrigger: ['blur', 'change']}]"
            >
              <a-select slot="addonBefore" size="small" defaultValue="+86" style="width: 69px;">
                <a-select-option value="+86">+86</a-select-option>
              </a-select>
            </a-input>
          </a-form-item>
          <a-form-item style="margin-top: 8px;">
            <!--<a-icon type="mail" :style="{ color: 'rgba(0,0,0,.25)' }"/>-->
            <!--
              size="small"
              style="width: 175px; margin-left: 6px; border-radius: 25px;"
            -->
            <a-input
              size="large"
              style="width: 216px; border-radius: 2px;"
              type="text"
              placeholder="请输入您收到的验证码"
              oninput="value=value.replace(/[^\d]/g,'')"
              @change="onEvent"
              @blur="onEvent"
              v-decorator="['captcha', {initialValue: captcha, rules: [{ validator: this.handleCaptchaCheck}], validateTrigger: ['blur','change']}]">
            </a-input>
            <!--size="small"-->
            <a-button
              class="getCaptcha"
              tabindex="-1"
              :disabled="state.captchaBtn"
              @click.stop.prevent="getCaptcha"
              v-text="!state.smsSendBtn && '获取验证码' || state.smsSendBtn && (state.time+'秒后重发')"
              size="large"
              type="primary"
            ></a-button>
          </a-form-item>
          <a-form-item style="margin-top:64px">
            <!--&gt;确定</a-button>-->
            <a-button
              size="large"
              type="primary"
              htmlType="submit"
              class="login-button"
              :loading="state.loginBtn"
              :disabled="loginBtn"
            >立即登录</a-button>
            <div style="line-height: 1;text-align: left;">
              <!--<span style="font-size: 11px; color:#d9d9d9;">*未注册过的手机号将会为您自动注册账号</span>-->
              <span style="font-size: 13px; color:#A8A8A8;display: block;margin-top: 8px;">未注册过的手机号将为您自动注册账号</span>
            </div>
          </a-form-item>
          <a-form-item class="agreeFormItem" style="text-align: left;margin-top: 109px;">
            <!--style="font-size: 11px; text-align: left; padding-left: 18px; line-height: 17px; margin-top:12px;"-->
            <a-checkbox
              style="font-size: 10px; text-align: left; line-height: 10px;color: #999999"
              :checked="agree"
              v-decorator="[
                'agree',
                {initialValue: agree,
                  rules: [{ validator: this.checkboxChange }], validateTrigger: ['change']}
              ]"
            >
              <!--我已阅读并同意<router-link style="text-decoration:underline; color: #1890ff !important;":to="{ path: '/agreementForUser', query: { agreementFlg: '1'} }" target="_blank">《用户协议》</router-link>、-->
              <!--<router-link style="text-decoration:underline; color: #1890ff !important;":to="{ path: '/agreementForUser', query: { agreementFlg: '2'} }"  target="_blank">《隐私政策》</router-link>和-->
              <!--<router-link style="text-decoration:underline; color: #1890ff !important;":to="{ path: '/agreementForUser', query: { agreementFlg: '3'} }"  target="_blank">《cookie协议》</router-link>-->
              我已阅读并同意<router-link style="color: #2870FF !important;font-weight: 400;":to="{ path: '/agreementForUser', query: { agreementFlg: '1'} }" target="_blank">《用户协议》</router-link>、
              <router-link style="color: #2870FF !important;font-weight: 400;":to="{ path: '/agreementForUser', query: { agreementFlg: '2'} }"  target="_blank">《隐私政策》</router-link>和
              <router-link style="color: #2870FF !important;font-weight: 400;":to="{ path: '/agreementForUser', query: { agreementFlg: '3'} }"  target="_blank">《Cookie政策》</router-link>
            </a-checkbox>
          </a-form-item>
        </a-tab-pane>
        <a-tab-pane key="tab2" tab="微信登录">
          <a-row>
            <a-col :span="24">
              <h3 class="wxlogin-title">微信扫码登录</h3>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <wxlogin
                :appid="'wx9668c48723fbc89d'"
                :scope="'snsapi_login'"
                :theme="'black'"
                :redirect_uri="encodeURIComponent('https://dev.xueshufan.com/index')"
                :href="'data:text/css;base64,LmltcG93ZXJCb3ggLnFyY29kZSB7d2lkdGg6IDE0NnB4O30KLmltcG93ZXJCb3ggLnRpdGxlIHtkaXNwbGF5OiBub25lO30KLmltcG93ZXJCb3ggLmluZm8ge3dpZHRoOiAyODBweDtoZWlnaHQ6IDU0cHg7bWFyZ2luLXRvcDogMzFweDt9Ci5zdGF0dXNfaWNvbiB7ZGlzcGxheTogbm9uZX0KLmltcG93ZXJCb3ggLnN0YXR1cyB7ZGlzcGxheTogbm9uZTt9IAouaW1wb3dlckJveCAuaW5mbyAuc3RhdHVzX2Jyb3dzZXIge2Rpc3BsYXk6IG5vbmU7fQouc3RhdHVzX3N1Y2MsLnN0YXR1c19mYWlsIHtiYWNrZ3JvdW5kOiAjZjVmNmY2O2JvcmRlci1yYWRpdXM6IDJweDt9'" rel="external nofollow"
              >
              </wxlogin>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
            <div style="font-size: 12px; text-align: center; padding-left: 18px; line-height: 17px;color: #999999">
              <!--继续扫码代表您同意同意<router-link style="text-decoration:underline; color: #1890ff !important;":to="{ path: '/agreementForUser', query: { agreementFlg: '1'} }"  @click.stop="" target="_blank">《用户协议》</router-link>、
              <router-link style="text-decoration:underline; color: #1890ff !important;":to="{ path: '/agreementForUser', query: { agreementFlg: '2'} }"  @click.stop="" target="_blank">《隐私政策》</router-link>和
              <router-link style="text-decoration:underline; color: #1890ff !important;":to="{ path: '/agreementForUser', query: { agreementFlg: '3'} }"  @click.stop="" target="_blank">《cookie协议》</router-link>-->
              <div>继续扫码代表您同意</div>
              <div>
                学术范<router-link style="color: #2870FF !important;font-weight: 400;":to="{ path: '/agreementForUser', query: { agreementFlg: '1'} }"  @click.stop="" target="_blank">《用户协议》</router-link>
                <router-link style="color: #2870FF !important;font-weight: 400;":to="{ path: '/agreementForUser', query: { agreementFlg: '2'} }"  @click.stop="" target="_blank">《隐私政策》</router-link>和
                <router-link style="color: #2870FF !important;font-weight: 400;;":to="{ path: '/agreementForUser', query: { agreementFlg: '3'} }"  @click.stop="" target="_blank">《Cookie政策》</router-link>
              </div>
            </div>
          </a-col>
          </a-row>
        </a-tab-pane>
        <a-tab-pane key="tab3" tab="密码登录">
          <a-form-item>
            <!--<a-icon type="mobile" :style="{ color: 'rgba(0,0,0,.25)' }"/>-->
            <!--
              size="small"
              style="width: 250px; margin-left: 6px; border-radius: 25px;"
            -->
            <a-input
              size="large"
              type="text"
              style="width: 327px; border-radius: 25px; background: #f5f6f6;"
              placeholder="请输入您的手机号"
              oninput="value=value.replace(/[^\d]/g,'')"
              @change="onEvent"
              @blur="onEvent"
              v-decorator="['mobileTab3', {initialValue: mobileTab3, rules: [{ validator: this.handleMobileCheckTab3}], validateTrigger: ['blur', 'change']}]"
            >
              <a-select slot="addonBefore" size="small" defaultValue="+86" style="width: 69px;">
                <a-select-option value="+86">+86</a-select-option>
              </a-select>
            </a-input>
          </a-form-item>
          <a-form-item style="margin-top: 8px;">
            <!--<a-icon type="lock" :style="{ color: 'rgba(0,0,0,.25)' }"/>-->
            <!--
              size="small"
              style="width: 250px; margin-left: 6px; border-radius: 25px;"
            -->
            <a-input-password
              id="password"
              size="large"
              style="width: 327px;"
              type="text"
              placeholder="请输入您的密码"
              @change="onEvent"
              oninput="value=value.replace(/\s+/g,'')"
              @blur="onEvent"
              v-decorator="['password', {initialValue: password, rules: [{ validator: this.handlePasswordCheck}], validateTrigger: ['blur','change']}]">
            </a-input-password>
          </a-form-item>
          <div class="forget-password-bg">
            <a class="forget-password" @click="forgetPassword">忘记密码？</a>
          </div>
          <a-form-item style="margin-top:39px">
            <a-button
              type="primary"
              htmlType="submit"
              class="login-button"
              :loading="state.loginBtnTab3"
              :disabled="loginBtnTab3"
            >立即登录</a-button>
          </a-form-item>
          <!--<a-form-item>
            <a class="forget-password" @click="forgetPassword">忘记密码？</a>
          </a-form-item>-->
        </a-tab-pane>
      </a-tabs>
    </a-form>
  </div>
</template>

<script>
import TwoStepCaptcha from '@/components/tools/TwoStepCaptcha'
import { mapActions } from 'vuex'
import { getSmsCaptcha} from './LoginApi.js'
import Qs from 'qs'
import Agreement from '@/views/business/userLogin/agreement/Agreement'
import wxlogin from 'vue-wxlogin'

export default {
    name: "Login",
    components: {
        TwoStepCaptcha,
        Agreement,
        wxlogin
    },
    props:{
        handleLoginCancel:{
            type:Function,
            default:function () {

            }
        },
        showRegistModal:{
            type: Function
        },

        loginForm: {
            type: Object
        },
        routerIndexFlg: {
            type: Boolean
        },
        forgetPasswordBack: {
            type: String
        }
    },
    data () {
        return {
            errorMsg: '',
            routePath:'/',
            customActiveKey: 'tab1',
            loginBtn: true,
            loginBtnTab3: true,
            // login type: 0 email, 1 username, 2 telephone
            isLoginError: false,
            requiredTwoStepCaptcha: false,
            stepCaptchaVisible: false,
            form: this.$form.createForm(this),
            state: {
                captchaBtn: true,
                captchaBtnTab3: true,
                time: 60,
                loginBtn: false,
                // login type: 0 email, 1 username, 2 telephone
                loginType: 0,
                smsSendBtn: false
            },
            captchaResult: false,
            clickSubmit: false,
            requestId: '',
            mobile: '',
            captcha: '',
            // agree: true,
            agree: false,
            mobileValidateFlg: false,
            captchaValidateFlg: false,
            eventType:'',
            password: '',
            mobileTab3: '',
            mobileValidateFlgTab3: false,
            passwordValidateFlgTab3: false,
        }
    },
    created () {
        if (this.$route.query.customActiveKey) {
            this.customActiveKey = this.$route.query.customActiveKey;
        }
    },
    mounted() {
        if(!this.routerIndexFlg) {
            if (this.forgetPasswordBack === '1') {
                this.customActiveKey = 'tab3'
                this.mobile = this.loginForm.mobile;
                this.captcha = this.loginForm.captcha;
                this.agree = this.loginForm.agree;
                this.mobileTab3 = this.loginForm.mobileTab3;
                this.password = this.loginForm.password;
                const {
                    form: {validateFields},
                } = this
            }
        }
    },
    methods: {
        ...mapActions(['Login', 'Logout']),
        // handler
        handleUsernameOrEmail (rule, value, callback) {
            const { state } = this
            const regex = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/
            if (regex.test(value)) {
                state.loginType = 0
            } else {
                state.loginType = 1
            }
            callback()
        },
        handleTabClick (key) {
            this.customActiveKey = key
            this.form.resetFields()
        },
        handleSubmit (e) {
            e.preventDefault()
            const {
                form: { validateFields },
                state,
                customActiveKey,
                Login
            } = this

            state.loginBtn = true
            if(customActiveKey === 'tab1'){
                let validateFieldsKey =  ['mobile', 'captcha', 'agree']
                this.clickSubmit = true;
                validateFields(validateFieldsKey, { force: true }, (err, values) => {
                    if (!err) {
                        if (null !== this.requestId && undefined !== this.requestId && '' !== this.requestId) {
                            const param = Qs.stringify({
                                captcha:this.captcha,
                                mobile:this.mobile,
                                loginFlg: 'phone',
                                requestId:this.requestId,
                            })
                            Login(param)
                                .then((res) => {
                                    if (res.ret_code === '0') {
                                        this.loginSuccess(res)
                                    }
                                })
                                .catch(err => {this.requestFailed(err)})
                                .finally(() => {
                                    state.loginBtn = false
                                })
                        } else {
                            this.form.setFields({
                                "captcha": {
                                    "errors": [new Error('登录失败，验证码输入错误！')]
                                }
                            });
                        }

                    } else {
                        setTimeout(() => {
                            state.loginBtn = false
                        }, 600)
                    }
                });

                state.loginBtn = false
                this.clickSubmit = false;
            } else if (customActiveKey === 'tab3') {
                let validateFieldsKey =  ['mobileTab3', 'password']
                this.clickSubmit = true;
                validateFields(validateFieldsKey, { force: true }, (err, values) => {
                    if (!err) {
                        const param = Qs.stringify({
                            mobile:this.mobileTab3,
                            password: this.password,
                            loginFlg: 'password'
                        })
                        Login(param)
                            .then((res) => {
                                if (res.ret_code === '0') {
                                    this.loginSuccess(res)
                                }
                            })
                            .catch(err => {this.requestFailed(err)})
                            .finally(() => {
                                state.loginBtn = false
                            })

                    } else {
                        setTimeout(() => {
                            state.loginBtn = false
                        }, 600)
                    }
                });

                state.loginBtn = false
                this.clickSubmit = false;
            }
        },
        getCaptcha (e) {
            e.preventDefault()
            const { form: { validateFields }, state } = this

            validateFields(['mobile'], { force: true }, (err, values) => {
                if (!err) {
                    state.smsSendBtn = true
                    state.captchaBtn = true;
                    const interval = window.setInterval(() => {
                        if (state.time-- <= 0) {
                            state.time = 60
                            state.smsSendBtn = false;
                            state.captchaBtn = false;
                            window.clearInterval(interval)
                        }
                    }, 1000)

                    const hide = this.$message.loading('验证码发送中..', 0)
                    getSmsCaptcha(Qs.stringify({ mobile: values.mobile, type:"login" })).then(res => {
                        this.requestId = res.data;
                        setTimeout(hide, 2500)
                    }).catch(err => {
                        setTimeout(hide, 1)
                        clearInterval(interval)
                        state.time = 60
                        state.smsSendBtn = false
                        state.captchaBtn = false;
                        this.requestFailed(err)
                    })
                }
            })
        },
        stepCaptchaSuccess () {
            this.loginSuccess()
        },
        stepCaptchaCancel () {
            this.Logout().then(() => {
                this.loginBtn = false
                this.stepCaptchaVisible = false
            })
        },
        loginSuccess (res) {
            this.handleLoginCancel()
            this.$router.push({ path: this.routePath })
            this.isLoginError = false
        },
        requestFailed (err) {
            if(err){
                if (err.ret_code === '20104' || err.ret_code === '20105') {
                    this.form.setFields({
                        "captcha": {
                            "errors": [new Error(err.ret_msg)]
                        }
                    });
                } else if (err.ret_code === '20106' || err.ret_code === '20107') {
                    this.form.setFields({
                        "mobileTab3": {
                            "errors": [new Error(err.ret_msg)]
                        }
                    });
                } else if (err.ret_code === '20108') {
                    this.form.setFields({
                        "mobileTab3": {
                            "errors": [new Error(err.ret_msg)]
                        }
                        // "password": {
                        //     "errors": [new Error(err.ret_msg)]
                        // }
                    });
                } else {
                    this.errorMsg = err.message
                }
            } else {
                this.errorMsg = "服务器错误，请联系管理员。"
            }
            this.isLoginError = true
        },
        // 手机号校验
        handleMobileCheck (rule, value, callback) {
            let reStr = /^1[34578]/;
            if(this.eventType === 'input'){
                if (value.length >= 3 && !reStr.test(value) || value.length > 11) {
                    this.state.captchaBtn = true;
                    this.mobileValidateFlg = false;
                    callback(new Error('手机号格式错误！'))
                } else {
                    if (value.length === 11 && reStr.test(value)) {
                        this.state.captchaBtn = false;
                    } else {
                        this.state.captchaBtn = true;
                    }
                    this.mobileValidateFlg = true;
                }
            } else {
                if (value.length !== 11) {
                    this.state.captchaBtn = true;
                    this.mobileValidateFlg = false;
                    callback(new Error('手机号格式错误！'))
                } else {
                    if (!this.state.smsSendBtn) {
                        this.state.captchaBtn = false;
                    }
                    this.mobileValidateFlg = true;
                }
            }
            if (this.captchaValidateFlg && this.mobileValidateFlg && this.agree) {
                this.loginBtn = false;
            } else if (this.captchaValidateFlg && this.mobileValidateFlg && !this.agree) {
                this.loginBtn = true;
                this.form.setFields({
                    "agree": {
                        "errors": [new Error('*请先勾选同意《用户协议》与“隐私政策”！')]
                    }
                });
            } else {
                this.loginBtn = true;
            }
            this.mobile = value;
            callback()
        },
        // 手机号校验
        handleMobileCheckTab3 (rule, value, callback) {
            this.mobileTab3 = value;
            let reStr = /^1[34578]/;
            if(this.eventType === 'input'){
                if (value.length >= 3 && !reStr.test(value)) {
                    this.state.captchaBtnTab3 = true;
                    this.mobileValidateFlgTab3 = false;
                    callback(new Error('手机号格式错误！'))
                } else if(value == '') {
                    this.state.captchaBtnTab3 = true;
                    this.mobileValidateFlgTab3 = false;
                    callback(new Error('手机号格式错误！'))
                } else if(value.length >= 12) {
                    this.state.captchaBtnTab3 = true;
                    this.mobileValidateFlgTab3 = false;
                    callback(new Error('手机号格式错误！'))
                } else {
                    this.mobileValidateFlgTab3 = true;
                }
            } else {
                if (value.length !== 11) {
                    callback(new Error('手机号格式错误！'))
                    this.mobileValidateFlgTab3 = false;
                } else {
                    this.mobileValidateFlgTab3 = true;
                }
            }
            if (this.mobileValidateFlgTab3 && this.passwordValidateFlgTab3) {
                this.loginBtnTab3 = false;
            } else {
                this.loginBtnTab3 = true;
            }
            callback()
        },

        // 协议校验
        checkboxChange (rule, value, callback) {
            this.agree = value;
            if (!value && this.clickSubmit) {
                callback(new Error('*请先勾选同意《用户协议》与“隐私政策”！'))
            } else {
                if (this.captchaValidateFlg && this.mobileValidateFlg && this.agree) {
                    this.loginBtn = false;
                } else if (this.captchaValidateFlg && this.mobileValidateFlg && !this.agree) {
                    this.loginBtn = true;
                    this.form.setFields({
                        "agree": {
                            "errors": [new Error('*请先勾选同意《用户协议》与“隐私政策”！')]
                        }
                    });
                } else {
                    this.loginBtn = true;
                }
                callback()
            }
        },
        // 校验密码
        handlePasswordCheck (rule, value, callback) {
            if(this.eventType === 'blur'){
                if (value.length < 6) {
                    this.passwordValidateFlgTab3 = false;
                    callback(new Error('密码长度6-20位！'));
                } else {
                    this.passwordValidateFlgTab3 = true;
                }
            } else {
                if (value.length > 20) {
                    this.passwordValidateFlgTab3 = false
                    callback(new Error('密码长度6-20位！'));
                } else {
                    this.passwordValidateFlgTab3 = true;
                }
            }
            if (this.mobileValidateFlgTab3 && this.passwordValidateFlgTab3) {
                this.loginBtnTab3 = false;
            } else {
                this.loginBtnTab3 = true;
            }
            this.password = value;
            callback()
        },
        // 校验验证码
        handleCaptchaCheck (rule, value, callback) {
            if(this.eventType === 'blur'){
                if (value.length < 6) {
                    this.captchaValidateFlg = false;
                    callback(new Error('验证码格式错误！'))
                } else {
                    this.captchaValidateFlg = true;
                }
            } else {
                if (value.length > 6) {
                    this.captchaValidateFlg = false;
                    callback(new Error('验证码格式错误！'))
                } else {
                    this.captchaValidateFlg = true;
                }
            }

            if (this.captchaValidateFlg && this.mobileValidateFlg && this.agree) {
                this.loginBtn = false;
            } else if (this.captchaValidateFlg && this.mobileValidateFlg && !this.agree) {
                this.loginBtn = true;
                this.form.setFields({
                    "agree": {
                        "errors": [new Error('*请先勾选同意《用户协议》与“隐私政策”！')]
                    }
                });
            } else {
                this.loginBtn = true;
            }
            this.captcha = value;
            callback()
        },

        handleCancel(e) {
            this.visible = false;
        },

        onEvent(e){
            this.eventType = e.type;
        },
        forgetPassword(){
            if (this.$route.fullPath.indexOf("index") !== -1) {
                this.$router.push(
                    /*{ name: 'resetPassword', query: { flg: '2',  modalWidth: 350, modalHeight: {height: ''}} }*/
                    { name: 'resetPassword', params:{mobile:this.mobileTab3,password:this.password}, query: { flg: '2',  modalWidth: 375, modalHeight: {height: "506px", padding: '24px 24px 24px 24px'}} }
                );
            } else {
                this.showRegistModal(false, {
                    form: {
                        form: this.form,
                        mobile: this.mobile,
                        captcha: this.captcha,
                        agree: this.agree,
                        password: this.password,
                        mobileTab3: this.mobileTab3,
                    }
                });
            }
        }
    }
}
</script>

<style lang="less" scoped>
  .user-layout-login {
    label {
      font-size: 14px;
    }
    .forget-password-bg {
      text-align: right;
    }
    .forget-password {
      font-size: 12px;
      /*float: right;*/
      /*text-decoration:underline;*/
      color: #999999 !important;
    }
    .login-button {
      /*border-radius: 25px;*/
      border-radius: 2px;
      text-align: center;
      /*width: 240px;*/
      width: 327px;
      height: 46px;
      font-size: 15px;
    }
    .login-button[disabled] {
      color: #FFFFFF !important;
      background-color: #4dbbc6 !important;
      border-color: #4dbbc6 !important;
      opacity: 0.4;
    }
    .getCaptcha {
      border: none;
      /*border-radius: 25px;*/
      border-radius: 2px;
      /*margin-top: 7px;*/
      font-size: 13px;
      /*margin-left: 6px;*/
      width: 103px;
      margin-left: 8px;
    }
    .user-login-other {
      text-align: left;
      margin-top: 24px;
      line-height: 22px;

      .item-icon {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.2);
        margin-left: 16px;
        vertical-align: middle;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #4dbbc6;
        }
      }

      .register {
        float: right;
      }
    }
    /deep/.ant-tabs-nav-wrap {
      padding-left: 0px;
    }
    /deep/.ant-form-item {
      margin-bottom: 0px;
      text-align: center;
      /*margin-top: 6px !important;*/
      height: 56px;
    }
    /deep/.ant-form-item input {
      font-size: 13px;
      background: #f5f6f6;
    }
    /deep/.ant-form-explain {
      text-align: left;
      font-size: 12px;
      margin-top: 4px;
    }
    /*/deep/#password {*/
    /*  width: 250px;*/
    /*  border-radius: 25px;*/
    /*}*/
    /deep/.ant-tabs-nav-container {
      font-size: 15px;
    }
    /deep/.ant-select-selection__rendered {
      margin-left: 12px;
    }
    /deep/.ant-tabs-tab {
      font-weight: 500;
      font-size: 15px;
      color: #999999;
      padding: 0 10px 12px 10px;
    }
    /deep/.ant-tabs-tab-active {
      font-size: 15px;
      color: #333333;
      font-weight: 600;
    }
    .wxlogin-title {
      font-size: 24px;
      color: #333333;
      font-weight: 600;
      text-align: center;
      margin: 0px;
    }
    /deep/iframe {
      width: 100%;
      height: 300px;
    }
    /deep/.agreeFormItem .ant-form-item-control {
      line-height: 1.5;
    }
  }
</style>
