.save-selection {
  cursor: pointer;
}

#fir-tool-bar {
  position: absolute;
  left: 0;
  top: 100px;
  height: 28px;
  line-height: 28px;
  background-color: #000;
  border-radius: 4px;
  display: none;
  z-index: 9999;
}
#fir-tool-bar .fir-tool-box {
  display: flex;
  align-items: center;
}
#fir-tool-bar .fir-tool-box .fir-tool-item {
  flex: 0 0 auto;
  text-align: center;
  padding: 0 6px;
  box-sizing: border-box;
  border-left: 1px solid #999;
}
#fir-tool-bar .fir-tool-box .fir-tool-item:last-child {
  border-right: none;
}
#fir-tool-bar .selected-color {
  display: none;
}
#fir-tool-bar .selected-color a {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: red;
}
#fir-tool-bar .fir-tool-box .fir-tool-item:first-child {
  border-left: none;
}
#fir-tool-bar .fir-tool-box a {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.hl-color-box {
  display: none;
  position: absolute;
  bottom: -32px;
  right: 0;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  align-items: center;
  padding: 2px;
  height: 20px;
  line-height: 20px;
  color: #323232;
  font-weight: bold;
  font-size: 12px;
}
.color-warp {
  display: flex;
  align-items: center;
  padding: 0 10px 0 5px;
  border-right: 1px solid #000;
}
.color-warp span {
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: red;
  margin-right: 5px;
}
.color-warp span:hover,
.color-remove:hover {
  cursor: pointer;
}
.color-warp span.selected {
  position: relative;
}
.color-warp span.selected:after {
  position: absolute;
  content: "";
  background-image: url("images/check.svg");
  width: 8px;
  height: 6px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.color-warp span:last-child {
  margin-right: 0;
}
.color-remove {
  padding: 0 10px;
}

.anchor {
  position: absolute;
  top: -200px;
}

.rect {
  position: absolute;
  background: #FFD400;
  opacity: 0.3;
}

.fn-tips {
  height: 30px;
  line-height: 30px;
  background: url(http://testfir.cn-sh2.ufileos.com/data_hub/fir/statics/images/fn-tips.png)
    5px center no-repeat #fff;
  background-size: 18px auto;
  padding-left: 30px;
  padding-right: 10px;
  font-size: 14px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -15px;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 100;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #f5f7fa;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ddd;
}
.can-not-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
}

.hide-btn {
  display: none !important;
}
#secondaryToolbarToggle {
  margin-right: 30px !important;
}

html[dir="ltr"] .secondaryToolbar {
  right: 32px;
}
.toolbarButton::before {
  opacity: 1;
}
.pre-screen::before,
.pre-screen-2::before {
  opacity: 0 !important;
}
.pre-screen {
  margin-right: 15px;
}
.pre-screen:hover {
  /*background-color: rgba(115, 115, 115, 1);*/
}
.pre-screen img {
  margin-top: -3px;
  position: absolute;
  right: 0;
}
.pre-screen-2 {
  padding-left: 10px !important;
}
.pre-screen-2 span,
img {
  display: inline-block;
  vertical-align: middle;
}
.pre-screen-2 img {
  width: 20px;
}
.pre-screen-2 span {
  margin-top: 2px;
  padding-left: 4px !important;
}
.sign {
  position: absolute;
}
.highlight-btn {
  position: relative;
  margin: 2px 1px;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
}
.highlight-btn:hover {
  cursor: pointer;
  background: #e3e3e3;
}
.highlight-btn.cursor-selected{
  background: #e3e3e3;
}
.highlight-btn svg{
  vertical-align: middle;
}
.lhq-color-box {
  display: none;
  margin: 0;
  position: fixed;
  padding: 3px 8px;
  box-sizing: border-box;
  width: max-content;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  line-height: 16px;
  top: 40px;
  right: 0;
  background-color: #fff;
}
.lhq-color-box li{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 8px;
}
.lhq-color-box li.seleted-color::after{
  position: absolute;
  content: "";
  background-image: url("images/check.svg");
  width: 8px;
  height: 6px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.lhq-color-box li.color1{
  background-color: #FFD400;
}
.lhq-color-box li.color2{
  background-color: #FF0000;
}
.lhq-color-box li.color3{
  background-color: #26FC00;
}
.lhq-color-box li.color4{
  background-color: #FF6F00;
}
.lhq-color-box li.color5{
  background-color: #00A6FF;
  margin-right: 0;
}
.lhq-color-box li.lhq-clear {
  display: none;
  font-size: 12px;
  width: 25px;
  margin-right: 0;
  padding-left: 8px;
  border-left: 1px solid #555;
  border-radius: 0;
  margin-left: 5px;
}

/* #viewerContainer {
  -webkit-touch-callout: none;
} */