<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div>
    <!--<a-row :gutter="40">-->
    <a-row :gutter="18">
      <!--<a-col :span="15" id="span1">-->
      <a-col :span="16" id="span1">
        <!--“关于自己模块”-->
        <a-row>
          <a-card :title="'关于'+userName" :loading="fieldLoading" :bordered="false" size="small" :bodyStyle="{paddingBottom:'16px !important'}">
            <a v-if="userId == loginUserId" slot="extra" href="#">
              <a-button @click="developing" type="primary" size="small">
                修改
              </a-button>
            </a>
            <p v-if="commonInfo.userDisciplines.length > 0" class="self_title" style="font-weight: bold;margin-bottom: 0px;">
              学科</p>
            <div v-if="commonInfo.userDisciplines.length > 0" style="margin-bottom: 10px;">
              <span v-for="(item,index) in commonInfo.userDisciplines">
                <a-tag style="margin-top: 5px;cursor: pointer" v-if="index < 5"
                       @click="routerDirectionDetail(item.fieldId)">{{ item.displayName }}</a-tag>
                <a-tag style="margin-top: 5px;cursor: pointer" v-if="(index > 5 || index === 5) && tecFlg"
                       @click="routerDirectionDetail(item.fieldId)">{{ item.displayName }}</a-tag>
              </span>
              <a v-if="commonInfo.userDisciplines.length > 5" style="font-size: 11px"
                 @click="showMoreTec(tecFlg)">{{ tecFlg ? '收起' : '更多' }}
                <a-icon :type="tecFlg?'caret-up':'caret-down'"/>
              </a>
            </div>
            <p v-if="commonInfo.userField.length > 0" class="self_title"
               style="margin-top: 13px;font-weight: bold;margin-bottom: 0px;">细分领域</p>
            <div v-if="commonInfo.userField.length > 0" style="margin-bottom: 10px;">
              <span v-for="(item,index) in commonInfo.userField">
                <a-tag style="margin-top: 5px;cursor: pointer" v-if="index < 5"
                       @click="routerDirectionDetail(item.fieldId)">{{ item.displayName }}</a-tag>
                <a-tag style="margin-top: 5px;cursor: pointer" v-if="(index > 5 || index === 5) && fieldFlg"
                       @click="routerDirectionDetail(item.fieldId)">{{ item.displayName }}</a-tag>
              </span>
              <a v-if="commonInfo.userField.length > 5" style="font-size: 11px"
                 @click="showMoreField(fieldFlg)">{{ fieldFlg ? '收起' : '更多' }}
                <a-icon :type="fieldFlg?'caret-up':'caret-down'"/>
              </a>
            </div>
          </a-card>
        </a-row>
        <!--    统计数据模块    -->
        <a-row>
          <!--<a-card title="统计数据" style="margin-top: 20px" :loading="statsUserListLoading" :bordered="false" size="small">-->
          <a-card title="统计数据" style="margin-top: 10px" :loading="statsUserListLoading" :bordered="false" size="small">
            <a-row type="flex" :gutter="24" style="text-align: center">
              <a-col :flex="1">
                <a-card :bordered="false" size="small">
                  <a-statistic title="论文" :value="commonInfo.statsUserTotal?commonInfo.statsUserTotal.publications:0"
                               valueStyle="font-size: 16px"/>
                </a-card>
              </a-col>
              <a-col :flex="1">
                <a-card :bordered="false" size="small">
                  <a-statistic title="h-index" :value="commonInfo.statsUserTotal?commonInfo.statsUserTotal.hindex:0"
                               valueStyle="font-size: 16px"/>
                </a-card>
              </a-col>
              <a-col :flex="1">
                <a-card :bordered="false" size="small">
                  <a-statistic title="被阅读" :value="commonInfo.statsUserTotal.reads?commonInfo.statsUserTotal.reads:0"
                               valueStyle="font-size: 16px"/>
                </a-card>
              </a-col>
              <a-col :flex="1">
                <a-card :bordered="false" size="small">
                  <a-statistic title="被引用" :value="commonInfo.statsUserTotal.citations?commonInfo.statsUserTotal.citations:0"
                               valueStyle="font-size: 16px"/>
                </a-card>
              </a-col>
              <a-col :flex="1">
                <a-card :bordered="false" size="small">
                  <a-statistic title="被推荐"
                               :value="commonInfo.statsUserTotal.recommendations?commonInfo.statsUserTotal.recommendations:0"
                               valueStyle="font-size: 16px"/>
                </a-card>
              </a-col>
            </a-row>
            <!--放置柱状图的地方-->
            <a-row style="margin-top: 20px">
              <a-list v-if="!(chartData.rows.length > 0)" :data-source="chartData.rows"/>
              <ve-histogram v-if="chartData.rows.length > 0" :data="chartData" :settings="chartSettings" :extend="extend"
                            :grid="grid"/>
            </a-row>
          </a-card>
        </a-row>
        <!--<a-row style="margin-top: 10px;">
          <n-list
            :dataUrl="'/userSummary/getMaxReadByUserId'"
            :parameters="{
              loginUserId : this.$store.getters.userId,
              userId,
              index:1,
              rows:1
            }"
            :home="true"
            :btnGroup="userId != loginUserId"
            :searchBar="false"
            :sortBar="false"
            :hasPagination="false"
            :imgShow="false"
            :showList="false"
            :emptyText="' '"
            :hasPadding="true"
            :hasPaddingV="true"
          />
        </a-row>-->
        <!-- 最新动态模块-->
<!--        <a-anchor style="display:none" :offsetTop="64" >-->
<!--          <a-anchor-link ref="jumpNews" href="#newsTitle" />-->
<!--        </a-anchor>-->
<!--        <a-row id="newsTitle" style="margin-top: 10px;">-->
<!--          <a-card title="最新动态" :bodyStyle="{'padding':'0','background-color':'#f0f2f5'}" :bordered="false" size="small">-->

<!--          </a-card>-->
<!--        </a-row>-->
<!--        <a-row style="margin-top: 10px;">-->
<!--          <a-list :loading="listLoading" :data-source="newsData">-->
<!--            <a-list-item slot="renderItem" slot-scope="item, index">-->
<!--              <a-card :extra="item.publishTime" size="small" style="width: 100%;margin-top: -10px;" v-if="item.visiblityFlg === '1'">-->
<!--                <template slot="title">-->
<!--                 <card-header-->
<!--                   :userId="item.userId"-->
<!--                   :imgUrl="item.profilePath?item.profilePath:item.profilePhotoPath"-->
<!--                   :username="item.nickname?item.nickname:item.displayName"-->
<!--                   :imgShow="true"-->
<!--                   :content="item.newsTitle"-->
<!--                   :isNews="true"-->
<!--                   :linkUrl="item.newsExternalLink?item.newsExternalLink:''"-->
<!--                  />-->
<!--                </template>-->
<!--                <user-news-content-->
<!--                  :item="item"-->
<!--                  :index="index"-->
<!--                  :listForNews="newsData"-->
<!--                  @fetchData="fetchData"-->
<!--                >-->
<!--                </user-news-content>-->
<!--              </a-card>-->
<!--            </a-list-item>-->
<!--          </a-list>-->
<!--        </a-row>-->
      </a-col>
      <!--右侧整体col-->
      <!--<a-col :span="8" :offset="1" id="span3">-->
      <a-col :span="8" id="span3">
        <!--右侧所属机构部分-->
        <a-row>
          <a-card title="所属机构" :bordered="false" :loading="institutionLoading" size="small" :bodyStyle="{paddingBottom:'16px !important'}">
            <a v-if="userId == loginUserId" slot="extra" href="#">
              <a-button @click="developing" type="primary" size="small">
                修改
              </a-button>
            </a>
            <div><span>{{ commonInfo.userInstitution.institutionName }}</span></div>
            <div>{{ commonInfo.userInstitution.departmentName }}</div>
          </a-card>
        </a-row>
        <!--右侧学术网络部分-->
        <!--你的关注部分-->
        <!--<a-row style="margin-top: 20px;" v-if="attentionSwitch == '0'">-->
        <a-row style="margin-top: 10px;" v-if="attentionSwitch == '0'">
          <n-card-list :title="userId == loginUserId?'我的关注': userInfo.sex==='0'?'TA的关注':userInfo.sex==='1'?'他的关注':'她的关注'" :titleExtraUrl="'#'" :titleExtra="'查看全部'"
                       :dataTotal="true"
                       :dataUrl="'/userSummary/getUserAuthorFollowing'"
                       :followingBtnUrl="'/userSummary/updateDeletedByPrimaryKey'"
                       :parameters="{
                            rows: 5,
                            index: 1,
                            userId,
                       }"
                       :modal-parameters="{
                          rows: 10,
                          index: 1,
                          userId,
                       }"
                       :modal-url="'/userSummary/getUserAuthorFollowing'"
                       @cardSwitch="setAttentionSwitch"/>
        </a-row>
        <!--你的粉丝部分-->
        <!--<a-row style="margin-top: 20px;" v-if="fansSwitch == '0'">-->
        <a-row style="margin-top: 10px;" v-if="fansSwitch == '0'">
          <n-card-list :title="userId == loginUserId?'我的粉丝': userInfo.sex==='0'?'TA的粉丝':userInfo.sex==='1'?'他的粉丝':'她的粉丝'" :titleExtra="'查看全部'" :titleExtraUrl="'#'"
                       :dataTotal="true"
                       :dataUrl="'/userSummary/getFanInformation'"
                       :followingBtnUrl="'/userSummary/updateDeletedByPrimaryKey'"
                       :parameters="{
                            rows: 5,
                            index: 1,
                            userId,
                       }"
                       :modal-parameters="{
                       rows: 10,
                       index: 1,
                       userId,
                       }"
                       :modal-url="'/userSummary/getFanInformation'"
                       @cardSwitch="setFansSwitch"/>
        </a-row>
        <!--合作作者部分-->
        <!--<a-row style="margin-top: 20px;">-->
        <a-row style="margin-top: 10px;">
          <n-card-list :title="'合作作者'" :titleExtra="'查看全部'" :titleExtraUrl="'#'" :dataUrl="'/userSummary/getUserCoauthor'"
                       :dataTotal="userId == loginUserId"
                       :isUser="'0'"
                       :followingBtnUrl="'/userSummary/updateDeletedByPrimaryKey'"
                       :parameters="{
                          rows: 5,
                          index: 1,
                          userId,
                       }"
                       :modal-parameters="{
                         rows: 10,
                         index: 1,
                         userId,
                       }"
                       :modal-url="'/userSummary/getUserCoauthor'"/>

        </a-row>
        <!--<a-row v-if="userId == loginUserId" style="margin-top: 20px;">-->
        <a-row v-if="userId == loginUserId" style="margin-top: 10px;">
          <n-card-list :title="'邀请合作作者加入学术社区'" :titleExtra="'邀请更多'" :titleExtraUrl="'#'"
                       :modal-parameters="{
                            rows: 10,
                            index: 1,
                            userId,
                          }"
                       :modal-url="'/userHome/userCoauthor'"
                       :dataUrl="'/userHome/userCoauthor'"
                       :parameters="{
                            rows: 5,
                            index: 1,
                            userId,
                          }"/>

        </a-row>
      </a-col>
    </a-row>
  </div>
</template>
<script>
import NList from "@/views/business/components/NList/NList";
import NCardList from "@/views/business/components/NCardList/NCardList";
import UserNewsContent from "@/views/business/user/userFrame/summary/UserNewsContent";
import CardHeader from '@/views/business/components/NList/CardHeader';
import moment from 'moment'
import Qs from 'qs'
import {getStatsUserTotal, getStatsUserYearlyList, getUserField, getUserInstitution, getNewDevelopments,updLikeNums} from './UserSummaryApi'
import {echartsXAxisFormat4Year} from '@/utils/util'
import {USER_ID} from "@/store/mutation-types";
import {getUserInfo} from '../../../scholar/scholarFrame/ScholarFrameApi'

export default {
  name: "UserSummary",
  components: {
    NList,
    NCardList,
    UserNewsContent,
    CardHeader
  },
  data() {
    return {
      ShowIndex:0,
      display: 'none',
      MinDisplay:'flex',
      newsFormalPath:"/file/",
      index: 0,
      newsHasNextPage: false,
      newsData: [],
      loading: false,
      listLoading: false,
      attentionSwitch:"0",
      fansSwitch:"0",
      userId: '',
      loginUserId: '',
      userName: '自己',
      isUser: 'true',
      fieldFlg: false,
      tecFlg: false,
      editBtn: true,
      fieldLoading: false,
      institutionLoading: false,
      statsUserListLoading: false,
      chartSettings: {
        showLine: ['citations'],
        axisSite: {right: ['citations']},
        xAxisType: 'time',
        yAxisName: ['发文数', '被引用次数'],
        labelMap: {
          publications: '发文数',
          citations: '被引用次数',
          year: '日期',
        },
      },
      grid: {
        right: '5%',
        left: '5%'
      },
      extend: {
        color: ['#76ADE4', '#1362AE'],
        series: {
          smooth: false,
          barCategoryGap: '40%',
          symbolSize: 5,
          barMaxWidth: 20,
        },
        xAxis: {
          axisLabel: {
            interval: 0,
            formatter: (value, index) => {
              if (1 < index && index < this.chartData.rows.length - 2) {
                return echartsXAxisFormat4Year(this.chartData.rows.length - 4, value, index - 2)
              } else {
                return ''
              }
            }
          }
        },
        yAxis: () => [
          {
            splitLine: {
              lineStyle: {
                width: 0.5,
                opacity: 0.4
              }
            },
            name: '发文数',
            nameLocation: 'middle',
            nameTextStyle: {
              padding: [0, 0, 15, 0]
            },
            axisLabel: {
              interval: 0,
            },
          },
          {
            splitLine: {
              lineStyle: {
                width: 0.5,
                opacity: 0.4
              }
            },
            name: '被引用次数',
            nameLocation: 'middle',
            nameTextStyle: {
              padding: [25, 0, 0, 0]
            },
            axisLabel: {
              interval: 0,
              formatter: (value, index) => {
                let result = '0'
                if (value && !isNaN(value)) {
                  if (value >= 1000) {
                    result = `${value / 1000} k`
                  } else {
                    result = value
                  }
                }
                return result
              }
            },
          }
        ],
      },
      chartData: {
        columns: ['year', 'publications', 'citations'],
        rows: []
      },
      commonInfo: {
        statsUserTotal: {},
        userField: [],
        userDisciplines: [],
        userInstitution: {},
      },
      jumpNewsFlg: 'false',
      userInfo:{},
    }
  },
  beforeMount() {
    // this.fetchData();
  },
  created() {
    this.loginUserId = this.$store.getters.userId
    this.userId = this.$router.history.current.query.userId
    this.isUser = this.$router.history.current.query.isUser ? this.$router.history.current.query.isUser : 'true'
    this.userName = this.$router.history.current.query.userName ? this.$router.history.current.query.userName : '自己'
    this.jumpNewsFlg = this.$router.history.current.query.jumpNewsFlg ? this.$router.history.current.query.jumpNewsFlg : 'false'
    this.$watch('$route', (val) => {
        this.userId = val.query.userId
        this.isUser = val.query.isUser ? val.query.isUser : 'true'
        this.userName = val.query.userName ? val.query.userName : '自己'
        this.jumpNewsFlg = val.query.jumpNewsFlg ? val.query.jumpNewsFlg : 'false'
      })
  },
  mounted() {
    this.getUserInfo(this.userId);
    //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
    window.onscroll = throttle(onScroll)
    const that = this;
    function onScroll() {
      //变量scrollTop是滚动条滚动时,距离顶部的距离
      let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      //变量windowHeight是可视区的高度
      let windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
      //变量scrollHeight是滚动条的总高度
      let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
      //滚动条到底部的条件
      if (scrollHeight - (scrollTop + windowHeight) <= 10 ) {
        //写后台加载数据的函数
        that.handleInfiniteOnLoad();
      }
    }

    //函数节流
    function throttle(fn, interval=300) {
      let canRun = true;
      return function() {
        if(!canRun) return;
        canRun = false;
        setTimeout(() => {
          fn.apply(this, arguments);
          canRun=true;
        }, interval);
      }
    }
    if(this.$router.history.current.query.userName!=undefined)
    {
      document.title= this.$router.history.current.query.userName+'-'+'学者概述' ;
    }
    this.getCommonInfo();
  },
  methods: {
    // 查询最新动态
    fetchData() {
      this.listLoading = true;
      this.index = 1;
      const param = Qs.stringify({loginUserId: this.loginUserId, userId: this.userId,index: this.index,rows: 5});
      getNewDevelopments(param).then(res => {
        this.newsData = res.data.userNews;
        this.newsHasNextPage = res.data.hasNextPage;
        this.listLoading = false;
        if (this.jumpNewsFlg === 'true') {
          this.$refs.jumpNews.handleClick();
        }
      }).catch(
        err => {
          this.listLoading = false;
        }
      )
    },
    handleInfiniteOnLoad() {
      const data = this.newsData;
      this.listLoading = true;
      if (!this.newsHasNextPage) {
        this.listLoading = false;
        return;
      }else {
        this.index++;
        const param = Qs.stringify({loginUserId: this.loginUserId, userId: this.userId,index: this.index,rows: 5});
        getNewDevelopments(param).then(res => {
          this.newsData = this.newsData.concat(res.data.userNews);
          this.newsHasNextPage = res.data.hasNextPage;
          this.listLoading = false;
        }).catch(
          err => {
            this.listLoading = false;
          }
        )
      }
    },
    developing() {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '系统功能开发中...'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    },
    showMoreField(bol) {
      this.fieldFlg = !bol
    },
    showMoreTec(bol) {
      this.tecFlg = !bol
    },
    getCommonInfo() {
      const param = Qs.stringify({userId: this.userId});
      this.fieldLoading = true
      this.institutionLoading = true
      this.statsUserListLoading = true
      //获取作者文献统计总数
      getStatsUserTotal(param).then(res => {
        if (res.ret_code === '0') {
          if (res.data) {
            this.commonInfo.statsUserTotal = res.data;
          }
        } else {
          this.$notification.error(res.ret_msg);
        }

      }).catch(err => {
      })
      //获取作者年度文献统计
      getStatsUserYearlyList(param).then(res => {
        if (res.ret_code === '0') {
          if (undefined !== res.data && null != res.data && res.data.length > 0) {
            this.chartData.rows = res.data.map(resultData => {
              return {
                year: new Date(resultData.year).getFullYear(),
                publications: resultData.publications,
                citations: resultData.citations
              }
            });
            this.chartData.rows.unshift({year: '', publications: null, citations: null})
            this.chartData.rows.unshift({year: '', publications: null, citations: null})
            this.chartData.rows.push({year: '', publications: null, citations: null})
            this.chartData.rows.push({year: '', publications: null, citations: null})
          }
          this.statsUserListLoading = false;
        } else {
          this.$notification.error(res.ret_msg);
        }

      }).catch(err => {
      }).finally(() => {
        this.statsUserListLoading = false
      });
      //获取用户的研究领域
      getUserField(param).then(res => {
        if (res.ret_code === '0') {
          this.commonInfo.userField = res.data.userFields
          this.commonInfo.userDisciplines = res.data.userDisciplines
          this.fieldLoading = false
        } else {
          this.$notification.error(res.ret_msg);
        }

      }).catch(err => {
      }).finally(() => {
        this.fieldLoading = false
      })
      //获取用户所属机构
      getUserInstitution(param).then(res => {
        if (res.ret_code === '0') {
          this.commonInfo.userInstitution = res.data
          document.title=  this.commonInfo.userInstitution.displayName+'-'+'学者概述' ;
          this.institutionLoading = false
        } else {
          this.$notification.error(res.ret_msg);
        }

      }).catch(err => {
      }).finally(() => {
        this.institutionLoading = false
      });
    },
    // 画面跳转
    routerDirectionDetail(fieldId) {
      let routeUrl = this.$router.resolve({
        path: '/searchResults/searchResultsPage/searchResultsDirectionDetail',
        query: {
          fieldId
        }
      });
      window.open(routeUrl.href, '_blank');
    },
    // 关注开关
    setAttentionSwitch(){
      this.attentionSwitch = "1"
    },
    // 粉丝开关
    setFansSwitch(){
      this.fansSwitch = "1"
    },
    getUserInfo(userId){
        const param = Qs.stringify({userId:userId});
        //获取用户的信息
        getUserInfo(param).then(res => {
            if(res.ret_code==='0'){
                this.userInfo = res.data.userInfo;
            }else {
                this.$notification.error(res.ret_msg);
            }

        }).catch(err => {
        }).finally(() => {
        })
    },
  }
}
</script>

<style scoped>
  .SongList{
    width: 40%;
    margin-left: 3vh;
  }
  /deep/.ant-list-item {
    padding: 10px 0;
  }
</style>
<style>
  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
  .newsTitle{
    text-overflow: ellipsis;  /*超出内容用省略号*/
    overflow: hidden; /*内容超出后隐藏*/
    white-space: nowrap; /*文本不进行换行*/
  }
</style>