<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <!-- 二级评论LIST -->
  <a-list
    v-if="lvl1.replyCommentList.length > 0"
    :data-source="lvl1.replyCommentList"
    :loading="lvl2Loading"
    item-layout="horizontal"
  >
    <a-list-item slot="renderItem" slot-scope="lvl2, index2">
      <a-row style="width: 100%; background: #f5f6f6;">
        <a-col :span="24">
          <a-comment
          >
            <!--学者名及评论信息-->
            <template slot="content">
              <user-news-comment-content
                :item="lvl2"
                :index="index2"
                :listForNews="lvl1.replyCommentList"
                :list="listForNews"
                :listIndex="listIndex"
                :level="2"
                :refreshFirstLevelComments="getFirstLevelComments"
                :home="home"
                @changeCommentNum="changeCommentNum"
              />
            </template>
          </a-comment>
        </a-col>
      </a-row>
    </a-list-item>
    <div
      v-if="lvl1.level2HasNextPage"
      slot="loadMore"
      :style="{ textAlign: 'left', marginLeft: '12px', height: '32px', lineHeight: '32px',fontSize: '12px' }"
    >
      <a @click="secondLevelCommentsOnLoad()">
        查看更多回复<a-icon type="caret-down" />
      </a>
    </div>
  </a-list>
</template>

<script>
  import Qs from 'qs';
  import {getSecondLevelComments} from './UserSummaryApi';
  import UserNewsCommentContent from './UserNewsCommentContent';

  import moment from 'moment';
  export default {
    name: "UserNewsCommentListLevelTwo",
    components: {
      //所引入的组件 需要先import进来
        UserNewsCommentContent
    },
    props: {
      lvl1: {
        type: Object,
      },
      index:{
        type: Number
      },
      listIndex:{
        type: Number
      },
      list:{
          type: Array,
          default:[]
      },
      getFirstLevelComments:{
          type: Function
      },
      home:{
          type: Boolean,
          default:false
      },
      listForNews:{
          type: Array,
          default:[]
      },
    },
    emit:["changeCommentNum"],
    data(){
      return{
        lvl2Loading:false
      }
    },
    created() {
        this.loginUserId = this.$store.getters.userId;
    },
    methods:{
      secondLevelCommentsOnLoad() {
          this.lvl2Loading = true;
          if (!this.lvl1.level2HasNextPage) {
              this.lvl2Loading = false;
              return;
          }else {
              const param = Qs.stringify({loginUserId: this.loginUserId, newsCommentId: this.lvl1.newsCommentId,listCount: this.lvl1.level2CommentNum, index: this.lvl1.level2NextPage,rows: 5});
              getSecondLevelComments(param).then(res => {
                  this.list[this.index].replyCommentList = this.list[this.index].replyCommentList.concat(res.data.secondComments);
                  this.list[this.index].level2HasNextPage = res.data.hasNextPage;
                  this.lvl2Loading = false;
              }).catch(
                  err => {
                      this.lvl2Loading = false;
                  }
              )
          }
      },
      changeCommentNum(type) {
          this.$emit("changeCommentNum",type)
      }
    }
  }
</script>
