<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <a-row style="font-size: 13px;user-select: none">
    <a-col @mouseenter="showOptions" @mouseleave="showOptions" :span="24">
      <span @click="routeUser(item.commentUserId, item.commentUserProfilePath)" v-if="level === 1" style="font-size: 14px; font-weight: 600; color: #252626; cursor:pointer;">{{item.commentNickName?item.commentNickName:item.commentUserName}}</span>
      <span v-else >
        <span @click="routeUser(item.commentUserId, item.commentUserProfilePath)" style="font-size: 14px; font-weight: 600; color: #252626; cursor:pointer;">
          {{item.commentNickName?item.commentNickName:item.commentUserName}}
        </span>
        回复
        <span @click="routeUser(item.replyUserId, item.replyUserProfilePath)" style="font-size: 14px; font-weight: 600; color: #252626; cursor:pointer;">
          {{item.replyNickName?item.replyNickName:item.replyUserName}}
        </span>
      </span>
      <br>
      <span style="font-size: 14px; font-weight: 400; color: #555555;">{{item.newsComment}}</span>
      <a-row>
        <a-col style="height: 18px">
          <div style="float: left;color:#bbbbbb;font-size: 12px">
          {{item.commentTimeStr}}
          </div>
<!--          <div v-if="level !== 2 || optionShowFlg">-->
          <div>
            <!--点赞图标-->
            <div style="float: right;margin-right: 20px; color: #999999;font-size: 13px;font-weight: 400;cursor: pointer;" v-if="item.isLikeCommentFlg === '0'" @click="likeNumChange"><img src="~@/assets/icon-like.png" :style="{ fontSize: '16px'}"/>&nbsp;点赞</div>
            <div style="float: right;margin-right: 20px; color: #999999;font-size: 13px;font-weight: 400;cursor: pointer;" class="animate" v-else @click="likeNumChange"><img src="~@/assets/icon-likes.png" :style="{ fontSize: '16px',color: '#69c0ff'}" theme="filled"/>&nbsp;{{item.commentLikeNum}}</div>
              <!--评论图标"-->
            <div style="float: right;margin-right: 20px; color: #999999;font-size: 13px;font-weight: 400;cursor: pointer;" @click="showCommentModal"><img src="~@/assets/icon-comment.png" :style="{ fontSize: '16px'}"/>&nbsp;回复</div>
            <!--删除图标-->
            <div style="float: right;margin-right: 20px; color: #999999;font-size: 13px;font-weight: 400;cursor: pointer;" v-if="item.delCommentFlg === '1'" @click="showModelDelComments"><img src="~@/assets/icon-delete.png" :style="{ fontSize: '16px'}"/>&nbsp;删除</div>
            <a-modal
              v-model="delCommentsModel"
              :footer="false"
              :width="375"
              :centered="true"
              :closable="false"
              :bodyStyle="delModalBodyStyle"
            >
              <div class="confirmText">
                <span style="color: #333333">删除评论</span>
                <div style="margin-top: -15px;">
                  <span style="font-size: 13px; color: #333333">是否确定删除该评论？</span>
                </div>
              </div>
              <a-row>
                <a-config-provider :autoInsertSpaceInButton="false">
                <a-button block size="small" type="primary" style="width: 130px; height: 35px; background-color: #ececec; border: none;" @click="delComments">
                  <span style="color: #333333">确定</span>
                </a-button>
                </a-config-provider>
                <a-config-provider :autoInsertSpaceInButton="false">
                <a-button block size="small" type="primary" style="width: 130px; height: 35px; margin-left: 20px;" @click="handleNo">
                  取消
                </a-button>
                </a-config-provider>
              </a-row>
            </a-modal>
          </div>
        </a-col>
      </a-row>
    </a-col>
    <a-modal
      centered
      :visible="commentVisible"
      :footer="null"
      forceRender
      @cancel="handleCancel"
    >
      <template slot="title">
        回复
        <span>
         {{item.commentNickName?item.commentNickName:item.commentUserName}}
        </span>
        :
      </template>
      <a-comment>
        <template slot="avatar">
          <user-img :userImg="loginUserAvatar" width="32px" height="32px" />
        </template>
        <div slot="content">
          <a-row style="margin-bottom: 10px;">
            <a-textarea :value="value" @change="handleChange" placeholder="快来发布你的评论吧~" style="resize:none;height: 8vh;border-radius:10px;background-color: #f8f8f8"/>
          </a-row>
          <a-row style="text-align: right;">
            <a-button size="small" shape="round" style="font-size: 12px" html-type="submit" :loading="submitting" type="primary" @click="handleSubmit">
              评论
            </a-button>
          </a-row>
        </div>
      </a-comment>
    </a-modal>
  </a-row>
</template>

<script>
  import { Modal } from 'ant-design-vue'
  import Qs from 'qs';
  import {updCommentLikeNums,saveNewsComments,delNewsComments} from './UserSummaryApi';
  import moment from 'moment';
  export default {
    name: "UserNewsCommentContent",
    components: {
      //所引入的组件 需要先import进来
    },
    props: {
      item: {
        type: Object,
      },
      index:{
        type: Number
      },
      listIndex:{
        type: Number
      },
      listForNews:{
        type: Array,
        default:[]
      },
      list:{
          type: Array,
          default:()=>[]
      },
      level:{
          type: Number,
          default:1
      },
      home:{
          type: Boolean,
          default:false
      },
      refreshFirstLevelComments: {
          type: Function,
      },
      fetchData:{
          type: Array,
          default:()=>[]
      },
    },
    emit:["changeCommentNum"],
    data(){
      return{
        loginUserId:'',
        loginUserAvatar:'',
        loginUserName:'',
        value: '',
        moment,
        optionShowFlg:false,
        commentVisible:false,
        submitting:false,
        delCommentsModel: false,
        delModalBodyStyle:{
            height: '176px',
            padding: '0 47.5px',
            overflow: 'auto',
            lineHeight: '60px',
        },
      }
    },
    created() {
      this.loginUserId = this.$store.getters.userId;
      this.loginUserAvatar = this.$store.getters.avatar;
      this.loginUserName = this.$store.getters.nickname;
    },
    methods:{
      showModelDelComments() {
        this.delCommentsModel = true;
      },
      handleNo() {
        this.delCommentsModel = false;
      },
      // 评论删除方法
      delComments(){
        // Modal.confirm({
        //   title: this.$t('layouts.delNewsConment.dialog.title'),
        //   content: this.$t('layouts.delNewsConment.dialog.content'),
        //   okText: '确认',
        //   cancelText: '取消',
        //   onOk: () => {
            if (this.item.newsCommentId !== -1) {
                const param = Qs.stringify({newsCommentId: this.item.newsCommentId, commentNum: this.item.commentNum, newsId: this.item.newsId, isFirstLevel: this.level === 2?'0':'1'});
                delNewsComments(param).then(res => {
                    if(res.data > 0){
                        this.listForNews.splice(this.index,1);
                        if(this.home){
                            this.list[this.listIndex].userNewsModel.commentNum = this.list[this.listIndex].userNewsModel.commentNum - 1;
                        }else {
                            // this.list[this.listIndex].commentNum = this.list[this.listIndex].commentNum - 1;
                        }
                        if (this.level === 1) {
                            this.$emit("changeCommentNum","minus",this.item.replyCommentList.length + 1);
                        } else {
                            this.$emit("changeCommentNum","minus");
                        }
                    }
                }).catch(
                    err => {
                        console.log(err);
                    }
                )
            } else {
                this.listForNews.splice(this.index,1);
                if(this.home){
                    this.list[this.listIndex].userNewsModel.commentNum = this.list[this.listIndex].userNewsModel.commentNum - 1;
                }else {
                    this.item.commentNum = this.item.commentNum - 1;
                    // this.list[this.listIndex].commentNum = this.list[this.listIndex].commentNum - 1;
                }
                if (this.level === 1) {
                    this.$emit("changeCommentNum","minus",this.item.replyCommentList.length + 1);
                } else {
                    this.$emit("changeCommentNum","minus");
                }
            }
            this.delCommentsModel = false;
        //   },
        //   onCancel () {}
        // })
      },
      handleChange(e) {
          this.value = e.target.value;
      },
      handleSubmit() {
          if (!this.value.trim()) {
              this.$message.warning("评论内容不能为空");
              return;
          }

          let newComment = {
              newsId: this.item.newsId,
              replyCommentId: this.level === 1 ?this.item.newsCommentId:this.item.replyCommentId,
              newsComment:this.value.trim(),
              commentTime: "刚刚",
              commentTimeStr: "刚刚",
              newsCommentId:-1,
              commentUserId:this.loginUserId,
              commentUserName:this.loginUserName,
              replyUserId:this.item.commentUserId,
              replyUserName:this.item.commentNickName?this.item.commentNickName:this.item.commentUserName,
              commentLikeNum: 0,
              isLikeCommentFlg: "0",
              level2CommentNum: 0,
              delCommentFlg: "1"
          };

          if ((this.level === 1) ?(this.item.newsCommentId !== -1):(this.item.replyCommentId !== -1)) {
              const param = Qs.stringify(newComment);
              saveNewsComments(param).then(res => {
                  if(res.data && res.ret_code === '0') {
                      if (res.data !== -1) {
                          newComment = {
                              ...newComment,
                              newsCommentId: res.data.newsCommentId
                          }
                      }

                      if (this.level === 1) {
                          this.$emit("changeCommentNum","add");
                          this.listForNews[this.index].replyCommentList.splice(0, 0, newComment);
                      } else if (this.level === 2) {
                          this.$emit("changeCommentNum","add");
                          this.listForNews.splice(0, 0, newComment);
                      }

                      if(this.home){
                          this.list[this.listIndex].userNewsModel.commentNum = this.list[this.listIndex].userNewsModel.commentNum + 1;
                      }
                      this.value = '';
                      this.submitting = false;
                      this.commentVisible = false;
                  }
              })
          } else {
              if (this.level === 1) {
                  this.$emit("changeCommentNum","add");
                  this.listForNews[this.index].replyCommentList.splice(0, 0, newComment);
              } else if (this.level === 2) {
                  this.$emit("changeCommentNum","add");
                  this.listForNews.splice(0, 0, newComment);
              }

              if(this.home){
                  this.list[this.listIndex].userNewsModel.commentNum = this.list[this.listIndex].userNewsModel.commentNum + 1;
              }
              this.value = '';
              this.submitting = false;
              this.commentVisible = false;
          }

      },
      showCommentModal(){
          this.commentVisible = true;
      },
      handleCancel(e) {
          this.commentVisible = false;
      },
      routeUser(userId, isUser){
          let path = '';
          let query = {};
          if (isUser) {
              path = '/user/userPage/UserDynamic';
              query = {
                  userId
              };
          } else {
              path = '/scholar/scholarPage/ScholarSummary';
              query = {
                  userId,
                  isUser: false,
                  userName:this.username
              };
          }
          let routeUrl = this.$router.resolve({
              path,
              query
          });

          window.open(routeUrl.href, '_blank');
      },
      showOptions(){
        this.optionShowFlg = !this.optionShowFlg;
      },
      // 评论点赞后台处理方法
      likeNumChange(){
        const param = Qs.stringify({newsCommentId: this.item.newsCommentId, userId: this.loginUserId, updFlg: this.item.isLikeCommentFlg === '0'?1:0});
        updCommentLikeNums(param).then(res => {
          if(res.data > 0){
            if(this.item.isLikeCommentFlg === '0'){
              this.listForNews[this.index].commentLikeNum = this.listForNews[this.index].commentLikeNum + 1;
              this.listForNews[this.index].isLikeCommentFlg = '1';
            }else{
              this.listForNews[this.index].commentLikeNum = this.listForNews[this.index].commentLikeNum - 1;
              this.listForNews[this.index].isLikeCommentFlg = '0';
            }
          }
        }).catch(
          err => {
            console.log(err);
          }
        )
      },
    }
  }
</script>

<style scoped>
  /deep/ .ant-list-item {
    padding: 5px 0 !important;
  }
</style>

<style>
  .animate {
    animation: scaleDraw 1s ease-in-out;
  }
  /* 点赞动画效果 */
  @keyframes scaleDraw{
    0% {
      transform: scale(0.8);  /*开始为原始大小*/
    }
    25% {
      transform: scale(1); /*放大2倍*/
    }
    50% {
      transform: scale(1.5);
    }
    75% {
      transform: scale(1);
    }
  }
  .confirmText {
    text-align: center;
    font-size: 16px;
  }
</style>
