<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div>
    <!--轮播组件-->
    <a-carousel v-if="item.showFileType != null && item.showFileType == '0' && isDetails" arrows>
      <div
        slot="prevArrow"
        slot-scope="props"
        class="custom-slick-arrow"
        style="left: 10px;zIndex: 1"
      >
        <a-icon type="left-circle" />
      </div>
      <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
        <a-icon type="right-circle" />
      </div>
      <div class="boxDetail" v-for="(img,index) in item.userNewsFilesList" :key='index'><img class="imgCover" @click="preview(index)" v-bind:src="img.newsFileUrl" style="width: 100%;height: 100%;"></div>
    </a-carousel>
<!--    <img v-if="item.showFileType != null && item.showFileType == '0' && isDetails && item.userNewsFilesList.length === 1" v-bind:src="item.userNewsFilesList[0].newsFileUrl" style="width: 400px;border-radius: 10px;">-->
    <!--标题-->
    <!--<div style="height:auto;font-weight:bolder;margin:5px 10px 5px 20px;font-size: 16px;word-wrap: break-word;word-break: break-all;overflow: hidden;">
      {{item.newsTitle}}
    </div>-->
    <a v-if="!isDetails&&item.newsTitle!==''" class="news-title" @click="routePage('NewsDetails')">
      {{item.newsTitle}}
    </a>
    <div v-if="isDetails&&item.newsTitle!==''" class="news-title" :style="{'margin-top': isDetails && item.userNewsFilesList.length > 0 ? '16px' : '0px'}">
      {{item.newsTitle}}
    </div>
<!--    &lt;!&ndash;动态内容&ndash;&gt;-->
<!--    <div :class="!isDetails?'textOverFour':'content'" v-html="this.content" class="news-content">-->
<!--    </div>-->
<!--    &lt;!&ndash;全文按钮&ndash;&gt;-->
<!--    <a v-if="!isDetails?item.newsContent.length > 187:''" style="color: #2870FF !important;float: right;margin-top: -26px;font-weight: 400;margin-right: 8px;z-index: 1;font-size: 15px;"  type="primary" @click="routePage('NewsDetails')">-->
<!--      全文-->
<!--    </a>-->
    <!--动态内容-->
    <div v-html="this.content" class="news-content"></div>
<!--    <a v-if="!isDetails?item.newsContent.length > 187:''" style="color: #2870FF !important;float: right;margin-top: -26px;font-weight: 400;margin-right: 8px;z-index: 1;font-size: 15px;"  type="primary" @click="routePage('NewsDetails')">
      全文
    </a>-->


    <!--<button v-if="!isDetails?item.newsContent.length > 185:''" size="small" style="float: right; margin-right: 10px; font-size: 12px;" @click="routePage('NewsDetails')">全文</button>-->
    <!--图片九宫格-->
    <div class="box-wrap" :style="{width: item.userNewsFilesList.length === 4?'260px':'400px'}" v-if="item.showFileType != null && item.showFileType == '0' && !isDetails">
      <div class="box" v-for="(img,index) in item.userNewsFilesList" :key='index'><img class="imgCover" @click="preview(index)" v-bind:src="img.newsFileUrl.indexOf('data:image') !== -1 ? img.newsFileUrl : img.newsFileUrl" style="width: 100%;height: 100%;"/></div>
    </div>
    <!--视频-->
    <div v-if="item.showFileType != null && item.showFileType == '1'" class="card-video">
      <video
        class="card-video"
        controls
        style="margin-left: 4vh;width: 400px;border-radius: 10px;"
        v-bind:poster="item.videoCut"
        @play="toPlays">
        <source v-bind:src="item.userNewsFilesList[0].newsFileUrl" type="video/mp4">
      </video>
    </div>
    <!--图标(详情)-->
    <div v-if="isDetails">
        <a-row>
          <a-col :span="24" style="display: flex;justify-content: center;margin: 32px 0px;">
            <div class="like-num-bg" v-if="item.isLikeBtnFlg == '0'" style="border: 1px solid #c5c5c5;" @click.stop.prevent="likeNumChange(index,item.isLikeBtnFlg,item.newsId)">
              <!--点赞图标-->
              <img src="~@/assets/icon-like.png" :style="{ color: '#c5c5c5'}"/><span style="margin-left: 3px; color: #c5c5c5;">{{item.likeNum}}</span>
            </div>
            <div class="like-num-bg" v-else style="border: 1px solid #4dbbc6;color: #4dbbc6;" @click.stop.prevent="likeNumChange(index,item.isLikeBtnFlg,item.newsId)">
              <!--点赞图标-->
              <img src="~@/assets/icon-likes.png" :style="{ color: '#69c0ff'}" theme="filled"/><span style="margin-left: 3px;">{{item.likeNum}}</span>
            </div>
          </a-col>
        </a-row>
        <!-- 作者个人信息 -->
        <a-skeleton :loading="newsAutherInfoLoading">
          <a-row>
            <a-col :span="24">
              <a-row type="flex" align="middle" style="height: 81px;background: #f5f6f6;border-radius: 6px;">
                <a-col :span="20">
                  <div style="display: flex;align-items: center;">
                    <div style="margin: 18px 7px 18px 18px;">
                      <a @click="routeUser(item.userId, false)">
                        <user-img :userImg="newsAutherInfo.imageUrl" :width="'45px'" :height="'45px'"/>
                      </a>
                    </div>
                    <div>
                      <a @click="routeUser(item.userId, false)">
                        <div style="font-size: 14px;font-weight: 600;color: #252626;line-height: 20px;overflow: hidden; text-overflow:ellipsis; white-space: nowrap; display: inline;">{{newsAutherInfo.nickname}}</div>
                      </a>
                      <a @click="routeUser(item.userId, false)">
                        <div style="font-size: 12px;font-weight: 400;color: #6a8e94;line-height: 17px;margin-left: 8px;margin-top: 18px; display: inline;">{{newsAutherInfo.introduction?newsAutherInfo.introduction:(item.userId === $store.getters.userId?"你还没有设置个人介绍哦~":"他很懒，还没留下个人介绍")}}</div>
                      </a>
                      <a @click="routeUser(item.userId, true)">
                        <div style="margin-top: 8px;font-size: 12px;font-weight: 400;color: #888888;line-height: 17px;">{{newsAutherInfo.newsCount}} 篇动态<span v-if="newsAutherInfo.userLikeNumCnt > 0"> / {{newsAutherInfo.userLikeNumCnt}} 获赞</span></div>
                      </a>
                    </div>
                  </div>
                </a-col>
                <a-col :span="4" style="text-align: right;">
                  <a-button v-if="item.userId !== $store.getters.userId" style="border-radius: 4px;margin-right: 16px;" type="primary" size="small" @click="followAction()">{{followingBtnContent}}</a-button>
                </a-col>
              </a-row>
            </a-col>
          </a-row>
        </a-skeleton>
    </div>
    <div v-else style="text-align: right;" :style="{textAlign: 'right', marginTop: item.userNewsFilesList.length > 0 ?'-20px': '0'}">
      <!--点赞图标-->
      <div style="float: right;margin-right: 30px; color: #999999;font-size: 13px;font-weight: 400;cursor: pointer;" v-if="item.isLikeBtnFlg == '0'" @click.stop.prevent="likeNumChange(index,item.isLikeBtnFlg,item.newsId)"><img src="~@/assets/icon-like.png" :style="{ fontSize: '16px'}"/>&nbsp;{{item.likeNum}} 点赞</div>
      <div style="float: right;margin-right: 30px; color: #999999;font-size: 13px;font-weight: 400;cursor: pointer;" class="animate" v-else  @click.stop.prevent="likeNumChange(index,item.isLikeBtnFlg,item.newsId)"><img src="~@/assets/icon-likes.png" :style="{ fontSize: '16px',color: '#69c0ff'}" theme="filled"/>&nbsp;{{item.likeNum}} 点赞</div>
      <!--评论图标"-->
      <div style="float: right;margin-right: 30px; color: #999999;font-size: 13px;font-weight: 400;cursor: pointer;" v-if="!isDetails" @click="showComment(item.isComment === '0')"><img src="~@/assets/icon-comment.png"  :style="{ fontSize: '16px'}"/> {{commentNum === '' || commentNum === null || commentNum === undefined? item.commentNum:commentNum}} 评论</div>
      <!--删除图标-->
      <div style="float: right;margin-right: 40px; color: #999999;font-size: 13px;font-weight: 400;cursor: pointer;" v-if="this.loginUserId === item.userId && !this.home && !isDetails"  @click="showModelDelNews"><img src="~@/assets/icon-delete.png" :style="{ fontSize: '16px'}"/>&nbsp;删除</div>
      <a-modal
       v-model="delNewsModel"
       :footer="false"
       :width="375"
       :centered="true"
       :closable="false"
       :bodyStyle="delModalBodyStyle"
      >
        <div class="confirmText">
          <span style="color: #333333">删除动态</span>
          <div style="margin-top: -15px;">
            <span style="font-size: 13px; color: #333333">是否确定删除该动态？</span>
          </div>
        </div>
        <a-row>
          <a-config-provider :autoInsertSpaceInButton="false">
          <a-button block size="small" type="primary" style="width: 130px; height: 35px; background-color: #ececec; border: none;" @click="delNews">
            <span style="color: #333333">确定</span>
          </a-button>
          </a-config-provider>
          <a-config-provider :autoInsertSpaceInButton="false">
          <a-button block size="small" type="primary" style="width: 130px; height: 35px; margin-left: 20px;" @click="handleNo">
            取消
          </a-button>
          </a-config-provider>
        </a-row>
      </a-modal>
    </div>
    <div v-if="commentShowFlg || isDetails" style="margin-top: 33px;">
      <!-- 评论总数 -->
      <a-row style="font-size: 14px;font-weight: 600;text-align: left;color: #252626;line-height: 20px;">
        <a-col :span="24">评论 {{commentNum}}</a-col>
      </a-row>
      <a-comment>
        <template slot="avatar">
          <user-img :userImg="loginUserAvatar" width="45px" height="45px" />
        </template>
        <div slot="content">
          <a-row style="margin-bottom: 10px;">
            <a-textarea :value="value" @change="handleChange" placeholder="快来发布你的评论吧~" style="width: 708px; height: 110px; resize:none; border: 0.5px solid #d3d3d3; border-radius: 6px; background-color: #FFFFFF"/>
          </a-row>
          <a-row style="text-align: right;">
            <a-button shape="round" style="font-size: 12px; width: 94px; height: 34px; border-radius: 4px;" html-type="submit" :loading="submitting" type="primary" @click="handleSubmit(index)">
              评论
            </a-button>
          </a-row>
        </div>
      </a-comment>
      <!-- 一级评论LIST -->
      <a-list
        :data-source="firstLevelComments"
        item-layout="horizontal"
        :loading="listLoading"
        :locale="{emptyText:'暂无评论'}"
      >
        <a-list-item slot="renderItem" slot-scope="lvl1, index1">
          <a-row style="width: 100%">
            <a-col :span="24">
              <!--头像-->
              <a-comment>
                <template slot="avatar">
                  <user-img :userImg="lvl1.commentUserProfilePath?lvl1.commentUserProfilePath:lvl1.commentUserProfilePhotoPath" width="45px" height="45px" />
                </template>
                <!--学者名及评论信息-->
                <template slot="content">
                  <user-news-comment-content
                    :item="lvl1"
                    :index="index1"
                    :listForNews="firstLevelComments"
                    :list="listForNews"
                    :listIndex="index"
                    :level="1"
                    :home="home"
                    :refreshFirstLevelComments="refreshFirstLevelComments"
                    :fetchData="fetchData"
                    @changeCommentNum="changeCommentNum"
                  />
                </template>
                <user-news-comment-list-level-two
                  :lvl1="lvl1"
                  :index="index1"
                  :list="firstLevelComments"
                  :listForNews="listForNews"
                  :listIndex="index"
                  :home="home"
                  :getFirstLevelComments="getFirstLevelComments"
                  @changeCommentNum="changeCommentNum"
                />
              </a-comment>
            </a-col>
          </a-row>
        </a-list-item>
        <div
          v-if="home && newsHasNextPage"
          slot="loadMore"
          :style="{ textAlign: 'center', marginTop: '12px', height: '32px', lineHeight: '32px' }"
        >
          <a class="allBtn" @click="home?routePage('NewsDetails'):()=>{return false;}">
            全部评论<img src="../../../../../assets/icons/icon-all.svg" height="15" width="15"/>
          </a>
        </div>
        <div
          v-if="!home && firstLevelComments.length > 0"
          slot="loadMore"
          :style="{ textAlign: 'center', height: '32px'}"
        >
          <span class="noMore" @click="home?routePage('NewsDetails'):()=>{return false;}">
            我是有底线的～
          </span>
        </div>
      </a-list>
    </div>
  </div>
</template>

<script>
  import { Modal } from 'ant-design-vue'
  import Qs from 'qs';
  import {updLikeNums,getFirstLevelComments,saveNewsComments, getSecondLevelComments,delNewsData} from './UserSummaryApi';
  import UserNewsCommentContent from './UserNewsCommentContent';
  import UserNewsCommentListLevelTwo from './UserNewsCommentListLevelTwo';

  import moment from 'moment';
  export default {
    name: "UserNewsContent",
    emits:['fetchData'],
    components: {
      //所引入的组件 需要先import进来
        UserNewsCommentContent,
        UserNewsCommentListLevelTwo
    },
    props: {
      item: {
        type: Object,
      },
      index:{
        type: Number
      },
      listForNews:{
        type: Array,
        default:()=>[]
      },
      home:{
          type: Boolean,
          default:false
      },
      /*是否为动态详细页*/
      isDetails:{
        type:Boolean,
        default:false
      },
      isUser:{
        type:Boolean,
        default:false
      },
      fetchData:{
          type: Array,
          default:()=>[]
      },
    },
/*    emit:["likeNumChange"],*/
    data(){
      return{
        newsFormalPath:"/file/",
        loginUserId:'',
        loginUserAvatar:'',
        images: [],
        comments: [],
        firstLevelComments:[],
        submitting: false,
        value: '',
        moment,
        commentShowFlg:false,
        newsHasNextPage:false,
        indexForComment:1,
        listLoading:false,
        lvl2Loading:false,
        clickStatus:false,
        /*链接转换后动态内容*/
        content:'',
        newsAutherInfo: {
            imageUrl: '',
            nickname: '',
            introduction: '',
            newsCount: 0,
            userLikeNumCnt: 0,
        },
        followingBtnFlg: '',
        followingBtnContent: '关注',
        commentNum: '',
        delNewsModel: false,
        newsAutherInfoLoading: false,
        delModalBodyStyle:{
            height: '176px',
            padding: '0 47.5px',
            overflow: 'auto',
            lineHeight: '60px',
        },
        maxLength: 185,
        allContentFlg: false
      }
    },
    created() {
      this.loginUserId = this.$store.getters.userId;
      this.loginUserAvatar = this.$store.getters.avatar;

      if(this.item.userNewsFilesList){
        for (let img of this.item.userNewsFilesList){
          this.images.push(img.newsFileUrl);
        }
      }

      this.$watch("item.userNewsFilesList",(val,old)=>{
          let imgs = [];

          for (let img of val) {
              imgs.push(img.newsFileUrl);
          }
          this.images = imgs;
      });

      this.$watch("listForNews",(val,old)=>{
         this.commentShowFlg = false;
         this.firstLevelComments = [];
         this.commentNum = this.item.commentNum;
      });

      if(this.isDetails){
        this.getFirstLevelComments();
        this.getNewsAutherInfo(this.item.userId);
      }
    },

    mounted(){
      this.getHref(this.item.newsContent);
      this.$watch("item.newsContent",(val,old)=>{
        if(val.indexOf("<a target=\"_blank\" href=\"") === -1 && val.indexOf("\">链接</a>") === -1){
          this.getHref(val);
        }
      })
    },
    methods:{
      maxSlice(item) {
          return item.length > this.maxLength ? item.slice(0, this.maxLength) + '...' : v;
      },
      // 跳转到动态详细页
      routePage(name) {
        let routeUrl = this.$router.resolve({
            name,
            query:{userId: this.item.userId, newsId: this.item.newsId}
        });
        window.open(routeUrl.href, '_blank');
      },
      // 链接提取方法
      getHref(content) {
        let urlPattern = /(https?:\/\/|www\.)[a-zA-Z_0-9\-@]+(\.\w[a-zA-Z_0-9\-:]+)+(\/[\(\)~#&\-=?\+\%/\.\w]+)?/g;
        let contentLength = this.computedByteLen(content);
        let enterNum = this.countSubstr(content);
        if(!this.isDetails){
            if (enterNum > 3) {
                content = content.substr(0, this.find(content,'\n',3)) + '...'
            }
            if (contentLength >= 280) {
                for (let i = Math.floor(280 / 2); i < content.length; i++) {
                    if (content.substr(0, i).replace(/[^\x00-\xff]/g, '01').length >= 280) {
                        // Math.floor(i / 2) * 这里是控制特殊情况的显示
                        // 如 '一二aaa一二三四'，显示的结果就是 '一二aaa一...'
                        content = content.substr(0, Math.floor(i / 2) * 2) + '...'
                        break;
                    }
                }
                this.allContentFlg = true;
            }
        }

        content = content.replace(urlPattern, function(match) {
          let href = match;
          if (match.indexOf("http") == -1) {
            href = "http://" + match;
          }

          return "<a target=\"_blank\" href=\"" + href + "\">链接</a>";
        });
        if(!this.isDetails) {
            if (contentLength >= 280 || enterNum > 3) {
                let routeUrl = this.$router.resolve({
                    name: "NewsDetails",
                    query: {userId: this.item.userId, newsId: this.item.newsId}
                });


                let allContentLink = "<a style=\"color: #2870FF !important;font-weight: 400;font-size: 15px;\" onclick=\"window.open('" + routeUrl.href + "', '_blank')\">全文</a>"

                content = content + allContentLink;
            }
        }

        this.content = content;
        // const dom = document.getElementById('allContent');


      },
      countSubstr(str) {
          let count;;
          if (str.match(/\n/g) == null) {
              count = 0;
          } else {
              count = str.match(/\n/g).length;
          }
          return count;
      },
      find(str,cha,num) {
          let x = str.indexOf(cha);
          for (let i = 0;i < num;i++) {
              x = str.indexOf(cha, x+1);
          }
          return x;
      },
      computedByteLen(content) {
          return content.replace(/[^\x00-\xff]/g, '01').length
      },
      showModelDelNews() {
        this.delNewsModel = true;
      },
      // 删除最新动态
      delNews() {
        // Modal.confirm({
        //   title: this.$t('layouts.delNews.dialog.title'),
        //   content: this.$t('layouts.delNews.dialog.content'),
        //   okText: '确认',
        //   cancelText: '取消',
        //   onOk: () => {
            /*可见权限，动态Id,评论数,文件数,动态点赞数*/
            const param = Qs.stringify({visibility: this.item.visibility,newsId: this.item.newsId, commentNum: this.item.commentNum, fileNum :this.item.userNewsFilesList.length, likeNum :this.item.likeNum});
            delNewsData(param).then(res => {
              if(res.data > 0) {
                this.$message.success("删除成功!");
                this.listForNews.splice(this.index,1)
                if(this.commentShowFlg === true){
                  this.commentShowFlg = !this.commentShowFlg;
                }
                this.getFirstLevelComments();
                this.delNewsModel = false;
              }
            }).catch(
              err => {
                console.log("删除失败！");
              }
            )
        //   },
        //   onCancel () {}
        // })
      },
      handleNo() {
        this.delNewsModel = false;
      },
      //获取当前动态的一级评论方法
      getFirstLevelComments(){
        this.listLoading = true;
        let param = {loginUserId: this.loginUserId, newsId: this.item.newsId,index: 0,rows: 0};
        if(this.home){
            param = {
                ...param,
                index: 1,
                rows: 5
            }
        }
        getFirstLevelComments(Qs.stringify(param)).then(res => {
          this.commentNum = res.data.commentNum;
          this.firstLevelComments = res.data.userNewsComments;
          this.newsHasNextPage = res.data.hasNextPage;
          this.listLoading = false;
        }).catch(
          err => {
            this.listLoading = false;
          }
        )
      },
      firstLevelCommentsOnLoad() {
        const data = this.firstLevelComments;
        this.listLoading = true;
        if (!this.newsHasNextPage) {
          this.busy = true;
          this.listLoading = false;
          return;
        }else {
          this.indexForComment++;
          const param = Qs.stringify({loginUserId: this.loginUserId, newsId: this.item.newsId,index: this.indexForComment,rows: 5});
            getFirstLevelComments(param).then(res => {
                this.firstLevelComments = this.firstLevelComments.concat(res.data.userNewsComments);
                this.newsHasNextPage = res.data.hasNextPage;
                this.listLoading = false;
            }).catch(
                err => {
                    this.listLoading = false;
                }
            )
        }
      },
      // 评论权限判断
      showComment(canComment) {
          if(canComment){
              if(!this.commentShowFlg){
                  if(this.firstLevelComments.length === 0){
                      this.getFirstLevelComments(true);
                  }
              }
              this.commentShowFlg = !this.commentShowFlg;
          }else {
              this.$message.warning("由于对方设置，该动态无法评论");
          }
      },
      // 评论组件
      handleSubmit(index) {
        if (!this.value.trim()) {
          this.$message.warning("评论内容不能为空");
          return;
        }
        if(this.item.newsId){
            this.submitting = true;
            const param = Qs.stringify({newsId: this.item.newsId, newsComment:this.value.trim(), commentUserId:this.loginUserId});
            saveNewsComments(param).then(res => {
                if(res.data && res.ret_code === '0') {
                    let newComment = {
                        commentLikeNum: 0,
                        commentNickName: this.$store.getters.nickname,
                        commentTime: "刚刚",
                        commentTimeStr: "刚刚",
                        commentUserId: this.$store.getters.userId,
                        commentUserName: "test",
                        commentUserProfilePath: this.$store.getters.avatar,
                        commentUserProfilePhotoPath: "",
                        delCommentFlg: "1",
                        delFlg: "0",
                        isLikeCommentFlg: "0",
                        level2CommentNum: 0,
                        level2HasNextPage: false,
                        level2NextPage: 1,
                        newsComment: this.value.trim(),
                        newsCommentId: -1,
                        newsId: this.item.newsId,
                        replyCommentId: null,
                        replyCommentList: [],
                        replyNickName: null,
                        replyUserId: null,
                        replyUserName: null
                    };
                  if(res.data !== -1){
                      newComment = {
                          ...newComment,
                          newsCommentId: res.data.newsCommentId
                      }
                  }

                  this.firstLevelComments.splice(0,0,newComment);
                  if (this.home) {
                      this.commentNum = this.commentNum + 1;
                      this.listForNews[index].userNewsModel.commentNum = this.listForNews[index].userNewsModel.commentNum + 1;
                  } else {
                      this.commentNum = this.commentNum + 1;
                      // this.listForNews[index].commentNum = this.listForNews[index].commentNum + 1;
                  }
                  this.submitting = false;
                  this.value = '';
                }
            }).catch(
                err => {
                    this.submitting = false;
                }
            ).finally(() => {
                this.submitting = false;
            })
        }
      },
      changeCommentNum(type, number){
          let num = 1;
          if(number){
              num = number
          }
          if (type === "add") {
              this.commentNum = this.commentNum + num;
          } else {
              this.commentNum = this.commentNum - num;
          }
      },
      handleChange(e) {
        this.value = e.target.value;
      },
      // 图片全屏展示组件
      preview(index) {
        this.$showImages({
            urls: this.images,
            index,
        });
      },
      // 点赞后台处理方法
      likeNumChange(index,isLikeBtnFlg,newsId){
        if(newsId){
          // 0没点赞，1点赞了
          if(isLikeBtnFlg == '0'){
              this.updLikeNum(index,isLikeBtnFlg,newsId,this.loginUserId,1);
              this.newsAutherInfo.userLikeNumCnt = this.newsAutherInfo.userLikeNumCnt + 1;
          }else{
              this.updLikeNum(index,isLikeBtnFlg,newsId,this.loginUserId,0);
              this.newsAutherInfo.userLikeNumCnt = this.newsAutherInfo.userLikeNumCnt - 1;
          }
        }
      },
      // 点赞后台处理方法
      updLikeNum(index,isLikeBtnFlg,newsId,userId,updFlg){
        if(this.clickFlg){
          return;
        }
        this.clickFlg = true;
        const param = Qs.stringify({newsId: newsId, userId: userId, updFlg: updFlg});
        updLikeNums(param).then(res => {
          if(res.data > 0){
            if(isLikeBtnFlg == '0'){
                if (this.home) {
                    this.listForNews[index].userNewsModel.likeNum = this.listForNews[index].userNewsModel.likeNum + 1;
                    this.listForNews[index].userNewsModel.isLikeBtnFlg = '1';
                } else {
                  if(this.isDetails){
                    this.item.likeNum = this.item.likeNum + 1;
                    this.item.isLikeBtnFlg = '1';
                  } else {
                    this.listForNews[index].likeNum = this.listForNews[index].likeNum + 1;
                    this.listForNews[index].isLikeBtnFlg = '1';
                  }
                }
            }else{
                if (this.home) {
                    this.listForNews[index].userNewsModel.likeNum = this.listForNews[index].userNewsModel.likeNum - 1;
                    this.listForNews[index].userNewsModel.isLikeBtnFlg = '0';
                } else {
                  if(this.isDetails) {
                    this.item.likeNum = this.item.likeNum - 1;
                    this.item.isLikeBtnFlg = '0';
                  } else {
                    this.listForNews[index].likeNum = this.listForNews[index].likeNum - 1;
                    this.listForNews[index].isLikeBtnFlg = '0';
                  }
                }
            }
            this.clickFlg = false;
          }
        }).catch(
          err => {
            this.clickFlg = false;
            console.log(err);
          }
        )
      },
      // 视频监听方法，只允许播放一个视频
      toPlays(){
        let videoobjs = document.getElementsByTagName('video');
        //var videoobjs = $('video'); //jquery获取标签
        let videoobjlength = videoobjs.length;
        if(videoobjlength >0 ){
          for(let i=0;i<videoobjlength;i++){
            videoobjs[i].addEventListener('play',function(){
              for(let j=0;j<videoobjlength;j++){
                if(i!=j){
                  videoobjs[j].pause();
                }
              }
            })
          }
        }
      },
      routeNewsDetail(){
        let routeUrl = this.$router.resolve({
            path: '/newsDetails',
            query:{item:this.item,listForNews:this.listForNews}
        });
        window.open(routeUrl.href, '_blank');
      },
      routeUser(userId, jumpNewsFlg){
          let path = '';
          let query = {};
          if (this.isUser) {
              path = '/user/userPage/UserDynamic';
              query = {
                  userId
              };
          } else {
              path = '/scholar/scholarPage/ScholarSummary';
              query = {
                  userId,
                  isUser: false,
                  userName:this.username,
                  jumpNewsFlg: jumpNewsFlg
              };
          }
          let routeUrl = this.$router.resolve({
              path,
              query
          });

          window.open(routeUrl.href, '_blank');
      },
      getNewsAutherInfo(userId) {
        this.newsAutherInfoLoading = true;
        const param = Qs.stringify({
          userId: this.item.userId,
          loginUserId: this.$store.getters.userId
        });
        this.$http.post('/userNewsComment/getNewsAutherInfo', param).then(res => {
          this.newsAutherInfoLoading = false;
          this.newsAutherInfo.imageUrl = res.data.newsAutherInfo.profilePath ? res.data.newsAutherInfo.profilePath : res.data.newsAutherInfo.profilePhotoPath;
          this.newsAutherInfo.nickname = res.data.newsAutherInfo.nickname ? res.data.newsAutherInfo.nickname : res.data.newsAutherInfo.displayName;
          this.newsAutherInfo.introduction = res.data.introduction;
          this.newsAutherInfo.newsCount = res.data.newsCount;
          this.newsAutherInfo.userLikeNumCnt = res.data.userLikeNumCnt;
          this.followingBtnFlg = res.data.newsAutherInfo.followingBtnFlg;
        })
      },
      followAction(){
        const param = Qs.stringify({
          userId:this.$store.getters.userId,
          userIdFollowed : this.item.userId,
          followingBtnFlg : this.followingBtnFlg
        });
        this.$http.post('/userHome/addRecommendedClickToFollow', param).then(res => {
          if (this.followingBtnFlg === '1') {
              this.followingBtnFlg = '2'
          } else {
              this.followingBtnFlg = '1'
          }
        }).catch(
          err => {
            if(!err) {
              this.$notification.error({
                  message: `${this.followingBtnContent}失败`
              })
            }
          }
        )
      },

      refreshFirstLevelComments () {
          this.getFirstLevelComments();
      }

    },
    watch: {
      followingBtnFlg(val) {
        if (val === '1') {
            this.followingBtnContent = '关注'
        } else {
            this.followingBtnContent = '取消关注'
        }
      },
      openContentFlg(val) {
          if (val) {
              this.content = this.ellipsisContent;
          } else {
              this.content = this.allContent;
          }
      }
    }
  }
</script>

<style scoped>
  .noMore {
    width: 105px;
    height: 21px;
    font-size: 15px;
    font-weight: 400;
    color: #666666 !important;
    line-height: 21px;
  }
  .allBtn {
    width: 60px;
    height: 21px;
    font-size: 15px;
    font-weight: 500;
    color: #333333 !important;
    line-height: 21px;
  }
  /deep/ .ant-list-item {
    padding: 5px 0 !important;
  }
  /*动态一览省略号样式*/
  .textOverFour {
    display: -webkit-box;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical
  }
  /*动态详细轮播图样式*/
  .ant-carousel{
    /*width: 80%;*/
    /*margin-left: 10%;*/
  }
  .ant-carousel >>> .slick-slide {
    text-align: center;
    height: 430px;
    line-height: 160px;
    /*轮播图背景属性*/
    background: #000000;
    overflow: hidden;
    border-radius: 12px;
  }
  .ant-carousel >>> .custom-slick-arrow {
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: #fff;
    background-color: rgba(31, 45, 61, 0.11);
    opacity: 0.3;
  }
  .ant-carousel >>> .custom-slick-arrow:before {
    display: none;
  }
  .ant-carousel >>> .custom-slick-arrow:hover {
    opacity: 0.5;
  }

  .ant-carousel >>> .slick-slide h3 {
    color: #fff;
  }
  .news-title {
    margin:16px 0px 4px 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #252626;
    line-height: 28px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
  }
  .news-content {
    width: 95%;
    margin: 0px 0px 4px 0px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #353636;
    line-height: 23px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    white-space: pre-wrap;
  }
  .like-num-bg {
    width: 100px;
    height: 36px;
    font-size: 14px;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
</style>
<style scoped>
  .box-wrap {
    text-align: left;
    overflow: hidden;
  }

  .boxDetail {
    overflow: hidden;
    text-align: center;
    float: left;
  }

  .box {
    overflow: hidden;
    text-align: center;
    width: 124px;
    height: 124px;
    margin: 2px;
    border-radius: 10%;
    float: left;
    background-color: black;
  }

  .imgCover{
    object-fit: cover;
  }
  .ant-comment-inner{
    padding: 0;
  }
  .animate {
    animation: scaleDraw 1s ease-in-out;
  }
  /* 点赞动画效果 */
  @keyframes scaleDraw{
    0% {
      transform: scale(0.8);  /*开始为原始大小*/
    }
    25% {
      transform: scale(1); /*放大2倍*/
    }
    50% {
      transform: scale(1.5);
    }
    75% {
      transform: scale(1);
    }
  }
  .confirmText {
    text-align: center;
    font-size: 16px;
  }
  /deep/.ant-list-item {
    margin-top: -7px;
  }
</style>