<template>
  <img v-if="pdfImgUrl!==''" id="pdfImg" class="circleImg" :src="pdfImgUrl" :style="{'width': width, 'height': height}" @error="imgError" />
  <img v-else id="defaultImg" src="~@/assets/pdf.jpg" :style="{'width': width, 'height': height}" />
</template>

<script>
export default {
  name: 'pdfImgUrl',
  data() {
    return {
      pdfImgUrl:''
    }
  },
  props: {
    pdfImg: {
      type: String,
      default:""
    },
    width: {
      type: String,
      default:"80px"
    },
    height: {
      type: String,
      default:"100px"
    },
  },
  created(){
    this.pdfImgUrl = this.pdfImg !== "" && this.pdfImg !== null ? this.pdfImg : ""
  },
  methods: {
    imgError(){
      this.pdfImgUrl = ''
    }
  }
}
</script>
<style>
</style>