<template>
  <span>
    <!--下载按钮-->
    <a-col :span="2">
      <a-button :loading="downLoading" type="primary" shape="circle" icon="download" size="small" id="download_button" @click="handleDown(item.downloadBtnFlg, item.authorInfoList, item.publicationId, undefined !== item.docPathNotAuthor && null !== item.docPathNotAuthor && '' !== item.docPathNotAuthor.trim()?item.docPathNotAuthor:item.fulltextPath)"/>
    </a-col>undefined !== item.docPathNotAuthor && null !== item.docPathNotAuthor && '' !== item.docPathNotAuthor.trim()?item.docPathNotAuthor:item.fulltextPath)
    <!--文章权限按钮-->
    <a-col :span="4" style="margin-top: 40px;">
      <a-button v-if="item.publicDoc" @click="handlePublicDoc(item,index)">
        <p class="p_power_button" >变为私有</p>
      </a-button>
      <a-button v-if="!item.publicDoc" type="primary" @click="handlePublicDoc(item,index)">
        <p class="p_power_button">变为公有</p>
      </a-button>
    </a-col>
  </span>
</template>

<script>
import Qs  from 'qs'
import { updatePublicDoc } from '@/views/business/user/userFrame/manageAccess/UserManageAccessApi'
const fullTextActionUrl = '/articlesFullText/fileDownload';
export default {
  name:'UserManageBtnGroup',
  props: {
    item: {
      type: Object,
    },
    list: {
      type: Array,
    },
    index: {
      type: Number
    }
  },
  data () {
    return {
      downLoading:false,
    }
  },
  methods: {
    // 点击下载按钮
    handleDown(bol, authorInfoList, publicationId, fulltextPath) {
      this.downLoading = true
      let authorIds = ''

      for (let item of authorInfoList) {
        authorIds = authorIds + item.authorId + ','
      }
      authorIds = authorIds.substring(0, authorIds.lastIndexOf(','))

      let param = {
        userId: this.$store.getters.userId,
        publicationId,
        authorIds: authorIds,
        fullTextPath: fulltextPath
      }
      if (bol === '1') {
          param = Qs.stringify({
              ...param,
          })
          this.$http.post(fullTextActionUrl, param).then(res => {
              if ('0' === res.ret_code) {
                  this.fileDownload(res,fulltextPath)
              }
              this.downloading = false
          }).catch(err => {
                  this.downloading = false
              }
          )
      }
    },
    // 下载PDF
    fileDownload(fileData, fulltextPath) {
        if (!fulltextPath) {
            return false
        }
        //获取heads中的filename文件名
        let fileName = fulltextPath.substr(fulltextPath.lastIndexOf("/") + 1);
        let url = fulltextPath.substr(fulltextPath.indexOf('/file'))
        let link = document.createElement('a')
        link.style.display = 'none'
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
    },
    // 点击文章权限按钮
    handlePublicDoc(item,index) {
      const param = Qs.stringify({
        publicationId: item.publicationId,
        publicDoc : !item.publicDoc,
      });
      updatePublicDoc(param).then(res => {
        if (item.publicDoc) {
          this.list[index].publicDoc = false
        } else {
          this.list[index].publicDoc = true
        }
      }).catch(
        err => {
            if(!err) {
                this.$notification.error({
                    message: '更改文章权限失败'
                })
            }
        }
      )
    },
  },
}
</script>

<style scoped>
#download_button{
  margin-top: 45px;
}
.p_power_button{
  margin-top: 5px;
}
</style>