<template>
  <div>
    <!--管理访问权限头部-->
    <a-card title="管理访问权限" :loading="loading">
      <a slot="extra" @click="makeAllFilePrivate(list)"><a-icon type="setting" style="margin-right: 3px"/>使所有文件私有</a>
      <!--搜索部分-->
      <a-row v-if="searchBar || sortBar">
        <a-col :span="18" style="padding-left: 20px">
          <a-input
            style="width: 150%"
            placeholder="搜索文献题目或关键词"
            class="searchBar"
            v-model="keyword"
            @keypress.native.enter="handleSearchList"
          >
            <a-icon slot="prefix" type="search" />
          </a-input>
        </a-col>
        <a-col :span="6" style="text-align: right;padding-right: 20px" v-if="sortBar">
          <label>排序：</label>
          <a-select default-value="0" style="width: 110px" v-model="sortColumns" @change="handleSearchList">
            <a-select-option value="0">
              重要性
            </a-select-option>
            <a-select-option value="1">
              老论文优先
            </a-select-option>
            <a-select-option value="2">
              新论文优先
            </a-select-option>
            <a-select-option value="3">
              引用次数
            </a-select-option>
          </a-select>
        </a-col>
      </a-row >
      <!--管理访问权限详情部分-->
      <a-list
        size="large"
        rowKey="id"
        ref="loadMoreMsg"
        :loading="loading"
        itemLayout="vertical"
        :dataSource="list"
      >
        <a-list-item :key="item.id" slot="renderItem" slot-scope="item, index">
          <!--标题-->
          <a-row id="row_article_title" style="margin-top: 10px">
            <a-col :span="24" >
              <a style="font-size: 18px; font-weight: 600" id="p_article" @click="routeArticles(item.publicationId)">{{item.displayTitle}}</a>
            </a-col>
          </a-row>
          <!--  文章作者頭像和姓名部分  -->
          <a-row class="extra" style=" margin-top: 10px;">
            <span v-for="(other,index) in item.authorInfoList">
                <a v-if="index < 5" :href="'#'" style="margin-right: 15px;" @click="routeUser(other.authorId,other.authorName)">{{ other.authorName }}</a>
              </span>
            <a v-if="item.authorInfoList.length > 5" @click="routeArticles(item.publicationId)"><a-icon type="ellipsis" style="color: #595959;font-size: 15px" /></a>
          </a-row>
          <!--  文章詳情部分  -->
          <a-row id="row_details"  style="margin-top: 10px">
            <a-col :span="4">
              <pdf-img :pdf-img="item.thumbnailPath" :width="'80px'" :height="'100px'" style="margin-top: 13px;margin-left: 20px;border: 1px solid #cccccc;"/>
            </a-col>
            <a-col :span="14">
              <a-row od="file_name">
                <a-col>
                  <p id="pdf_text">{{item.uploadFileName}}</p>
                </a-col>
              </a-row>
              <a-row od="file_name">
                <a-col :span="4">
                  <a-tag color="cyan">
                    {{item.documentTypeNameEn}}
                  </a-tag>
                </a-col>
                <a-col :span="4" pull="1">
                  <a-tag color="#2db7f5">
                    {{item.publicDoc?'Public':'Private'}}
                  </a-tag>
                </a-col>
                <a-col :span="8" pull="1">
                  <span>{{item.uploadUserName?item.uploadUserName+"上传":""}}</span>
                </a-col>
                <a-col :span="4" pull="1">
                  <span>{{item.uploadTime}}</span>
                </a-col>
              </a-row>
            </a-col>
            <user-manage-btn-group
              :item="item"
              :index="index"
              :list="list"
            />
          </a-row>
          <a-row><a-divider /></a-row>
        </a-list-item>
      </a-list>
    </a-card>
    <!--加载更多-->
    <a-card slot="footer" v-if="data.hasNextPage" style="text-align:center;height:40px;margin-top:10px" :bordered="false">
      <a-spin :spinning="loadingMore" size="large" />
    </a-card>
  </div>
</template>
<script>
import Qs  from 'qs'
import {getUserManageAccessList} from './UserManageAccessApi'
import {updatePublicDoc} from './UserManageAccessApi'
import UserManageBtnGroup from '@/views/business/user/userFrame/manageAccess/UserManageBtnGroup'
import PdfImg from './PdfImg'
//全局常量，类，方法
const DataSet = require('@antv/data-set')

export default {
  name:"UserManageAccess",
  components: { UserManageBtnGroup, PdfImg},
  props: {
    searchBar:{
      type: Boolean,
      default:true
    },
    sortBar:{
      type: Boolean,
      default:true
    },
    parameters: {
      type: Object,
    },
    initSortColumns:{
      type: String,
      default: '0'
    },
  },
  data() {
    return {
      data:{},
      loading:true,
      loadingMore:false,
      list:[],
      dataSource: [],
      keyword:'',
      userId:'',
      index:2,
      sortColumns:this.initSortColumns
    };
  },
  computed: {
    //方法，一般用来写一些逻辑返回属性

  },
  created () {
    //初始化所需操作（页面渲染前），调用API取下拉框数据等，此时dom对象不存在，不能操作dom对象，可以操作一些data
    this.userId = this.$router.history.current.query.userId
  },
  mounted () {
    //初始化所需操作（页面渲染后），此时dom对象存在，可以操作dom对象，例如获取innerHTML,初始化echarts
    this.getList()
    // 滚动条加载更多
    window.onscroll = throttle(onScroll)
    const that = this;
    function onScroll() {
      //变量scrollTop是滚动条滚动时,距离顶部的距离
      let scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
      //变量windowHeight是可视区的高度
      let windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
      //变量scrollHeight是滚动条的总高度
      let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
      //滚动条到底部的条件
      if( scrollHeight - (scrollTop+windowHeight) <= 10 ){
        //写后台加载数据的函数
        that.loadMore();
      }
    }

    //函数节流
    function throttle(fn, interval=300) {
      let canRun = true;
      return function() {
        if(!canRun) return;
        canRun = false;
        setTimeout(() => {
          fn.apply(this, arguments);
          canRun=true;
        }, interval);
      }
    }
  },
  methods:{
    // 初始化方法
    getList () {
      let param = {
        userId: this.userId,
        keyword: this.keyword,
        sortColumns: this.sortColumns,
        index: 1,
        rows: 5,
      }
      param = Qs.stringify(param)
      getUserManageAccessList(param).then(res => {
        if(res.data && res.ret_code === '0') {
            this.data = res.data
            this.list = res.data.list ? res.data.list : []
        }
        this.loading = false
      }).finally(() => {
        this.loading = false
      })
    },
    // 加载更多
    loadMore() {
      if(this.data.hasNextPage){
        this.loadingMore = true
        let param = {
          userId: this.userId,
          keyword: this.keyword,
          sortColumns: this.sortColumns,
          index: this.index++,
          rows: 5,
        }
        param = Qs.stringify(param)
        getUserManageAccessList(param).then(res => {
          if(res.ret_code === '0') {
            //成功返回的场合
            this.data = res.data
            this.list = this.list.concat(res.data.list)
            this.loadingMore = false
          }
          this.loadingMore = false
        }).finally(() => {
          this.loadingMore = false
        })
      }
    },
    // 搜索处理
    handleSearchList() {
      let param = Qs.stringify({
        userId: this.userId,
        keyword: this.keyword,
        sortColumns: this.sortColumns,
        index: 1,
        rows: 5,
      });
      this.$http.post('/userManageAccess/getUserManageAccessList',param).then(res => {
        if(res.data && res.ret_code === '0') {
            this.data = res.data
            this.list = res.data.list ? res.data.list : []
        }
        this.loading = false
      }).finally(() => {
        this.loading = false
      })
    },
    onSelect(value) {
    },
    // 使所有文章权限私有
    makeAllFilePrivate(list) {
      let publicationIdArr = new Array();
      for(let i = 0;i < list.length; i++) {
        if (list[i].publicDoc) {
          publicationIdArr.push(list[i].publicationId);
          list[i].publicDoc = false
        }
      }
      let publicationIds = publicationIdArr.join();
      if (publicationIds == '') {
      } else {
        const param = Qs.stringify({
          publicationId: publicationIds,
          publicDoc : false,
        });
        updatePublicDoc(param).then(res => {
          this.loading = false
        }).catch(
          err => {
              if(!err) {
                  this.$notification.error({
                      message: '所有文章权限私有化失败'
                  })
              }
            this.loading = false
          }
        )
      }
    },
    // 跳转到文献全文
    routeArticles (publicationId) {
      let routeUrl = this.$router.resolve({
        path: '/articles/articlesPage',
        query: {
          publicationId
        }
      });
      window.open(routeUrl.href, '_blank');
    },
    // 跳转到用户概况
    routeUser(userId, userName) {
      let routeUrl = this.$router.resolve({
        path: '/scholar/scholarPage/ScholarSummary',
        query: {
          userId,
          isUser: false,
          userName
        }
      });
      window.open(routeUrl.href, '_blank');
    }
  }
};
</script>
<style scoped>
#row_details{
  height: 130px;
  border: 2px solid #cccccc;
}
#pdf_text{
  margin-top: 22px;
  font-size: 18px;
  font-weight: bold;
}
</style>