<template>
  <div>
    <a-row :gutter="18">
      <!--左侧整体col-->
      <a-col :span="16">
        <a-row>
          <a-card class="publicationSummaryCard" :bordered="false" :headStyle="{padding: '0px'}" :bodyStyle="{padding: '0px !important'}">
            <div slot="title" class="publicationSummaryTitle">
              <div class="publicationSummaryFont">文献概要</div>
            </div>
            <n-list
              ref="articleList"
              :dataUrl="'/articlesFullText/getPublicationInfoByPublicationId'"
              :parameters="{
                userId,
                publicationId,
                index:1,
                rows:1
             }"
              :home="false"
              :searchBar="false"
              :hasPaddingV="true"
              :hasPadding="true"
              :sortBar="false"
              :hasPagination="false"
              :titleRouterFlg="false"
              :isPublication="true"
              :emptyText="' '"
              :minHeight="'260px'"
            />
          </a-card>
        </a-row>
        <a-row style="margin-top: 10px">
            <page-header-wrapper
              :tab-list="tabList"
              :tab-active-key="tabActiveKey"
              :tab-change="handleTabChange"
              :breadcrumb="false"
              :title="false"
            >
            <router-view :key="$route.fullPath"/>
            </page-header-wrapper>
        </a-row>
      </a-col>
      <!--右侧整体col-->
      <a-col :span="7" style="padding-left: 10px">
        <!--作者部分-->
        <a-row>
          <n-card-list
            ref="userList"
            :parameters="{
              userId,
              publicationId,
              index:1,
              rows:5
             }"
            :modal-parameters="{
               rows: 10,
               index: 1,
               userId,
               publicationId,
            }"
            :title="'作者'"
            :titleExtra="'关注更多'"
            :titleExtraUrl="'#'"
            :isUser="'0'"
            :followingBtnUrl="'/articlesFullText/updateDeletedByPrimaryKey'"
            :modal-url="'/articlesFullText/getAuthorsByPublicationId'"
            :dataUrl="'/articlesFullText/getAuthorsByPublicationId'"/>
        </a-row>
        <!--相关研究部分-->
        <a-row style="margin-top: 20px">
          <a-card style="padding-top:0px;" size="small" :bordered="false" :bodyStyle="{paddingBottom:'16px !important'}">
            <template slot="title">
              相关研究
            </template>
            <a-list
              item-layout="vertical"
              size="large"
              :data-source="list"
              :loading="relatedLoading"
            >
             <a-list-item :key="item.id" slot="renderItem" slot-scope="item, index">
               <related-publication-card
                 :user-id="item.userId"
                 :publication-id="item.publicationId"
                 :display-title="item.displayTitle"
                 :author-info-list="item.authorInfoList"
                 :author-id="item.authorInfoList.authorId"
                 :author-name="item.authorInfoList.authorName"
                 :doc-type-name="item.docTypeName"
                 :year="item.year"
                 :venue="item.venue"
                 :reads="item.reads"
                 :recommendations="item.recommendations"
                 :citations="item.citations"
                 :item="item"
                 :index="index"
                 :list="list"
               />
             </a-list-item>
            </a-list>
          </a-card>
        </a-row>
      </a-col>
    </a-row>
  </div>
</template>

<script>
//引入API 组件等等
//vuex辅助函数
import  NList  from '@/views/business/components/NList/NList'
import  NCardList  from '@/views/business/components/NCardList/NCardList'
import Qs  from 'qs'
import {getRelatedPublication, getPublicationReferenceCount} from './ArticlesFrameApi'
import RelatedPublicationCard from '@/views/business/articles/articlesFrame/RelatedPublicationCard'

const userActionUrl = '/userHome/updUserAction';
const getActiveKey = (path) => {
  switch (path) {
    case '/articles/articlesPage/ArticlesFullText':
      return '1'
    case '/articles/articlesPage/ArticlesReference':
      return '2'
    case '/articles/articlesPage/ArticlesCitation':
      return '3'
    case '/articles/articlesPage/ArticlesStatistics':
      return '4'
    case '/articles/articlesPage/ArticlesDiscuss':
      return '5'
    default:
      return '1'
  }
}
export default {
  name: 'ArticlesFrame',
  components: {
    RelatedPublicationCard,
    NList,
    NCardList,
  },
  data () {
    return {
      tabList: [
        { key: '1', tab: '全文' },
        { key: '2', tab: '参考文献(0)'},
        { key: '3', tab: '参考文献(0)'},
        { key: '4', tab: '统计' },
        // { key: '5', tab: '讨论' },
      ],
      userId:'',
      publicationId: '',
      tabActiveKey: '1',
      search: true,
      loading: true,
      relatedLoading: false,
      data:{hasNextPage: false},
      list:[],
      visible: false,
      modalWidth: 0,
      modalHeight: {},
      /** 参考文献数 */
      publicationReferenceCount: 0,
      /** 引证文献数 */
      publicationCitationCount: 0
    }
  },
  props: {
    articlesBtnGroup: {
      type: Boolean,
      default: true
    },
  },
  created () {
    this.tabActiveKey = getActiveKey(this.$route.path)
    this.userId = this.$store.getters.userId
    this.publicationId = this.$router.history.current.query.publicationId
    this.$watch('$route', (val, old) => {
        this.publicationId = val.query.publicationId

        this.tabActiveKey = getActiveKey(val.path)
        let param = {
            userId:this.userId,
            publicationId:val.query.publicationId,
            index:1,
            rows:1
        };
        if(val.query.publicationId !== old.query.publicationId){
            this.$refs.articleList.getList(param)
            this.$refs.userList.getList(param)
            this.getRelatedPublication();
            this.getPublicationReferenceCount();
        };
    });
    this.getPublicationReferenceCount();
  },
  mounted () {
    // 获取相关研究
    this.getRelatedPublication()
  },
  methods: {
    handleTabChange (key) {
      this.tabActiveKey = key
      switch (key) {
        case '1':
          this.$router.push({
            path: '/articles/articlesPage/ArticlesFullText',
            query: {
              publicationId: this.publicationId,
            }
          })
          break
        case '2':
          this.$router.push({
            path: '/articles/articlesPage/ArticlesReference',
            query: {
              publicationId: this.publicationId,
              userId: this.userId,
              index: 1,
              rows: 5
            }
          })
          break
        case '3':
          this.$router.push({
            path: '/articles/articlesPage/ArticlesCitation',
            query: {
              publicationId: this.publicationId,
              userId: this.userId,
              index: 1,
              rows: 5
            }
          })
          break
        case '4':
          this.$router.push({
            path: '/articles/articlesPage/ArticlesStatistics',
            query: {
              publicationId: this.publicationId,
            }
          })
          break
        case '5':
          this.$router.push({
            path: '/articles/articlesPage/ArticlesDiscuss',
            query: {
              publicationId: this.publicationId,
            }
          })
          break
        default:
          this.$router.push({
            path: '/articles/articlesPage/ArticlesFullText',
            query: {
              publicationId: this.publicationId,
            }
          })
      }
    },
    // 初始化获取相关研究信息
    getRelatedPublication () {
      this.relatedLoading = true;
      let param = {
        userId: this.userId,
        publicationId: this.publicationId,
        index: 1,
        rows: 5,
      }
      param = Qs.stringify(param)
      getRelatedPublication(param).then(res => {
        if (res.ret_code === '0') {
          if(res.data){
              this.data = res.data
              this.list = res.data.list ? res.data.list : []
              this.data.hasNextPage = res.data.hasNextPage ? res.data.hasNextPage : false
          }
          this.relatedLoading = false
        }
        this.relatedLoading = false
      }).finally(() => {
        this.relatedLoading = false
      })
    },
    // 打开对话框
    showArticlesModal () {
      this.modalWidth = 700
      this.modalHeight = {
        height: "650px",
        overflow: "auto"
      }
      this.visible = true;
    },
    // 关闭对话框
    handleCancel(e) {
      this.visible = false;
    },

    getPublicationReferenceCount() {
        let param = {
            publicationId: this.publicationId
        }
        param = Qs.stringify(param)
        getPublicationReferenceCount(param).then(res => {
            if (res.ret_code === '0') {
                this.publicationReferenceCount = res.data.publicationReferenceCount;
                this.publicationCitationCount = res.data.publicationCitationCount;
                this.tabList[1].tab = '参考文献' + '(' + this.publicationReferenceCount + ')';
                this.tabList[2].tab = '引证文献' + '(' +  this.publicationCitationCount + ')';
            }
        }).finally(() => {
        })
    }
  }
}
</script>
<style lang="less" scoped>
  .publicationSummaryCard {
    background: #ffffff;
    border-radius: 12px;
  }
  .publicationSummaryTitle {
    position: absolute;
    height: 29px;
    background: #ffffff;
    padding: 0;
  }
  .publicationSummaryFont {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #333333;
  }

  /deep/.ant-card-head-title {
    padding: 0px;
  }

  /deep/.publicationSummaryCard .ant-card-head {
    border-bottom: 1px #f5f6f6 solid !important;
  }
</style>