<template>
  <span>
     <a-button class="artrclesBtn" :loading="saveLoading" v-if="item.saveBtnFlg === '1'" size="small" shape="round" type="primary" @click="handleSave(item.saveBtnFlg, item.authorInfoList, item.publicationId, index)">
      收藏
    </a-button>
    <a-button class="artrclesBtn" :loading="saveLoading" v-if="item.saveBtnFlg === '2'" size="small" shape="round" type="primary" @click="handleSave(item.saveBtnFlg, item.authorInfoList, item.publicationId, index)">
      取消收藏
    </a-button>
    <a-button class="artrclesBtn" :loading="likeLoading" v-if="item.recommendBtnFlg === '1'" size="small" shape="round" type="primary" @click="handleLike(item.recommendBtnFlg, item.authorInfoList, item.publicationId, index)">
      推荐
    </a-button>
    <a-button class="artrclesBtn" :loading="likeLoading" v-if="item.recommendBtnFlg === '2'" size="small" shape="round" type="primary" @click="handleLike(item.recommendBtnFlg, item.authorInfoList, item.publicationId, index)">
      取消推荐
    </a-button>
    <a-button class="artrclesBtn" v-if="item.downloadBtnFlg == '1'" size="small" shape="round" type="primary" @click="readAllPdf(undefined !== list[index].docPathNotAuthor && null !== list[index].docPathNotAuthor && '' !== list[index].docPathNotAuthor.trim()?list[index].docPathNotAuthor:list[index].fulltextPath, item.publicationId, list[index].docIdAuthor, list[index].docIdNotAuthor,list[index].saveBtnFlg, list[index].authorInfoList)">
      阅读全文
    </a-button>
  </span>
</template>

<script>
import Qs from 'qs'
const userActionUrl = '/userHome/updUserAction';
const fullTextActionUrl = '/articlesFullText/fileDownload';

export default {
  name: 'ArticlesBtnGroup',
  props: {
    item: {
      type: Object,
    },
    list: {
      type: Array,
    },
    index: {
      type: Number
    }
  },
  data () {
    return {
      saveLoading:false,
      likeLoading:false,
      downloading:false
    }
  },
  methods: {
    // 点击收藏按钮
    handleSave (bol, authorInfoList, publicationId, index) {
      this.saveLoading = true
      let authorIds = ''
      for(let item of authorInfoList){
        authorIds = authorIds + item.authorId + ','
      }
      authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));

      let param = {
        actionFlg: '4',
        authorIds : authorIds,
        publicationId,
        userId: this.$store.getters.userId
      }
      if(bol === '1'){
        param = Qs.stringify({
          ...param,
          operationalBehaviorFlg: true,
        });
        this.$http.post(userActionUrl,param).then(res => {
          this.list[index].saveBtnFlg = '2'
          this.list[index].savings = this.list[index].savings + 1
          this.saveLoading = false
        }).catch(
          err => {
              if(!err) {
                  this.$notification.error({
                      message: '收藏失败'
                  })
              }
            this.saveLoading = false
          }
        )
      }else if(bol === '2'){
        param = Qs.stringify({
          ...param,
          operationalBehaviorFlg: false,
        });
        this.$http.post(userActionUrl,param).then(res => {
          this.list[index].saveBtnFlg = '1'
          this.list[index].savings = this.list[index].savings - 1
          this.saveLoading = false
        }).catch(
          err => {
              if(!err) {
                  this.$notification.error({
                      message: '取消收藏失败'
                  })
              }
            this.saveLoading = false
          }
        )

      }
    },
    // 点击推荐按钮
    handleLike (bol, authorInfoList, publicationId, index) {
      this.likeLoading = true
      let authorIds = ''
      for(let item of authorInfoList){
        authorIds = authorIds + item.authorId + ','
      }
      authorIds = authorIds.substring(0, authorIds.lastIndexOf(','));

      let param = {
        actionFlg: '2',
        authorIds : authorIds,
        publicationId,
        userId: this.$store.getters.userId
      }

      if(bol === '1'){
        param = Qs.stringify({
          ...param,
          operationalBehaviorFlg: true,
        });
        this.$http.post(userActionUrl,param).then(res => {
          this.list[index].recommendBtnFlg = '2'
          this.list[index].recommendations = this.list[index].recommendations + 1
          this.likeLoading = false
        }).catch(
          err => {
              if(!err) {
                  this.$notification.error({
                      message: '推荐失败'
                  })
              }
            this.likeLoading = false
          }
        )
      }else if(bol === '2'){
        param = Qs.stringify({
          ...param,
          operationalBehaviorFlg: false,
        });
        this.$http.post(userActionUrl,param).then(res => {
          this.list[index].recommendBtnFlg = '1'
          this.list[index].recommendations = this.list[index].recommendations - 1
          this.likeLoading = false
        }).catch(
          err => {
              if(!err) {
                  this.$notification.error({
                      message: '取消推荐失败'
                  })
              }
            this.likeLoading = false
          }
        )
      }
    },
    // 点击下载按钮
    handleDown(bol, authorInfoList, publicationId, fulltextPath) {
      this.downloading = true
      let authorIds = ''

      for (let item of authorInfoList) {
        authorIds = authorIds + item.authorId + ','
      }
      authorIds = authorIds.substring(0, authorIds.lastIndexOf(','))

      let param = {
        userId: this.$store.getters.userId,
        publicationId,
        authorIds: authorIds,
        fullTextPath: fulltextPath
      }
      if (bol === '1') {
          param = Qs.stringify({
              ...param,
          })
          this.$http.post(fullTextActionUrl, param).then(res => {
              if ('0' === res.ret_code) {
                  this.fileDownload(res,fulltextPath)
              }
              this.downloading = false
          }).catch(err => {
                  this.downloading = false
              }
          )
      }
    },
    // 下载PDF
    fileDownload(fileData, fulltextPath) {
        if (!fulltextPath) {
            return false
        }
        //获取heads中的filename文件名
        let fileName = fulltextPath.substr(fulltextPath.lastIndexOf("/") + 1);
        let url = fulltextPath.substr(fulltextPath.indexOf('/file'))
        let link = document.createElement('a')
        link.style.display = 'none'
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
    },
    readAllPdf(pdfFullPath,publicationId,docIdAuthor,docIdNotAuthor,saveBtnFlg,authorInfoList) {
        let item = {
            pdfFullPath,
            publicationId,
            docIdAuthor,
            docIdNotAuthor,
            saveBtnFlg,
            authorInfoList
        }
        this.$root.$emit('readAllPdf', item);
    }
  }
}
</script>
<style lang="less" scoped>
  .artrclesBtn {
    height: 25px;
    background: #4dbbc6;
    border-radius: 3px;
    margin-right: 4px;
  }

</style>