<template>
  <div>
    <a-modal
      :title="Title"
      :visible="visible"
      :width="modalWidth"
      :bodyStyle="modalHeight"
      @cancel="handleCancel"
      :confirm-loading="false"
      :maskClosable="false"
      :footer="false"
      :destroyOnClose="true"
    >
      <!--搜索框-->
      <a-row :gutter="24">
        <a-col :span="6" style="margin-top: -8px;">
          <span>共找到{{ data.total }}篇相关研究</span>
        </a-col>
        <a-col :span="18" style="margin-top:-12px">
            <a-input
              id="n-articles-input"
              placeholder="搜索关键词"
              class="searchBar"
              v-model="keyword"
              @keypress.native.enter="handleSearchList"
            >
              <a-icon slot="prefix" type="search" />
            </a-input>
        </a-col>
      </a-row>
      <!--更多-->
      <a-row>
        <a-list
          size="large"
          rowKey="id"
          :loading="loading"
          itemLayout="vertical"
          :dataSource="list"
        >
          <a-list-item slot="renderItem" slot-scope="item, index">
            <a @click="routeArticles(item.publicationId)" style="font-weight:600;font-size:16px;display:inline-block;">{{ item.displayTitle }}</a>
            <div class="antd-pro-components-article-list-content-index-listContent">
              <a-row class="extra" style="margin-top: 10px;font-size: 12px">
                <a-tag  color="blue" style="border-radius: 5px;margin-right: 20px;">{{ item.docTypeName }}</a-tag>
                <span style="color:rgb(89,89,89);margin-right:20px;font-weight:600">{{ item.year }}</span>
                <span style="color:rgb(89,89,89);margin-right:20px;font-weight:600">{{ item.venue }}</span>
              </a-row>
            </div>
            <a-row style="margin-top: 10px; font-size: 12px;">
              <icon-text type="read-o" :text="item.reads"/>
              <icon-text type="like-o" :text="item.recommendations"/>
              <citation style="width: 11px;height: 11px;"/><span style="margin-left: 10px">{{item.citations}}</span>
              <span v-if="articlesBtnGroup">
                <articles-btn-group
                  :item="item"
                  :index="index"
                  :list="list"
                />
              </span>
            </a-row>
          </a-list-item>
          <!--加载更多-->
          <div slot="footer" v-if="hasPagination && data.hasNextPage" style="text-align: center; margin-top: 10px;">
            <a-button @click="loadMore" :loading="loadingMore">加载更多</a-button>
          </div>
        </a-list>
      </a-row>
    </a-modal>
  </div>
</template>

<script>
import Qs from 'qs'
import {getRelatedPublication} from './ArticlesFrameApi'
import ArticlesBtnGroup from '@/views/business/articles/articlesFrame/ArtrclesBtnGroup'
import IconText from '@/views/list/search/components/IconText'
import { citation } from '@/core/icons'
export default {
  name: "NArticlesModal",
  components: {
    //所引入的组件 需要先import进来
    ArticlesBtnGroup,
    IconText,
    citation
  },
  props: {
    visible:{
      type: Boolean
    },
    modalWidth:{
      type: Number
    },
    modalHeight:{
      type: Object
    },
    handleCancel:{
      type: Function
    },
    hasPagination:{
      type: Boolean,
      default: true
    },
    articlesBtnGroup:{
      type: Boolean,
      default: true
    },
  },
  data(){
    return {
      dataSource: [],
      keyword:'',
      loading: false,
      data: {hasNextPage: false},
      list: [],
      loadingMore: false,
      Title: '相关研究',
      pageIndex: 2,
    }
  },
  mounted(){
    // 初始化获取相关研究信息
    this.getRelatedPublication()
    // 监听对话框是否开启
    this.$watch('visible', (val) => {
      if(val){
        if(this.list.length === 0){
          this.getList();
        }
      }
    })
  },
  created () {
    this.userId = this.$store.getters.userId
    this.publicationId = this.$router.history.current.query.publicationId
  },
  methods: {
    // 初始化获取相关研究信息
    getRelatedPublication () {
      this.loading = true
      let param = {
        userId: this.userId,
        publicationId: this.publicationId,
        index: 1,
        rows: 10,
      }
      param = Qs.stringify(param)
      getRelatedPublication(param).then(res => {
        if (res.ret_code === '0') {
          this.data = res.data
          this.list = res.data.list ? res.data.list : []
          this.loading = false
        }
        this.loading = false
      }).finally(() => {
        this.loading = false
      })
    },
    // 加载更多
    loadMore (el) {
      if (this.hasPagination && this.data.hasNextPage) {
        this.loadingMore = true
        const param = Qs.stringify({
          userId: this.userId,
          publicationId: this.publicationId,
          keyword: this.keyword,
          index: this.pageIndex++,
          rows: 10,
        });
        this.$http.post(this.dataUrl, param).then(res => {
          if(res.data){
              this.data = res.data
              this.list = this.list.concat(res.data.list)
          }
          this.loading = false
        }).finally(() => {
          this.loadingMore = false
        })
      }
    },
    // 搜索处理
    handleSearchList () {
      let param = Qs.stringify({
        userId: this.userId,
        publicationId: this.publicationId,
        keyword: this.keyword,
        index:1,
        rows: 10,
      });
      this.$http.post(this.dataUrl, param).then(res => {
        if(res.data){
            this.data = res.data
            this.list = res.data.list ? res.data.list : []
            this.pageIndex = 2
        }
        this.loading = false
      })
    },
    // 画面跳转
    routeArticles (publicationId) {
      let routeUrl = this.$router.resolve({
          path: '/articles/articlesPage',
          query: {
              publicationId
          }
      });
      window.open(routeUrl.href, '_blank');
    },
  }
}
</script>