<template>
  <a-card style="width: 100%;" :bodyStyle="{padding: '0 !important'}" :bordered="false" size="small" @mouseover="showActions(true)" @mouseleave="showActions(false)">
    <a class="textOVerTwo" @click="routeArticles(publicationId)" style="font-weight:600;font-size:13px;">{{displayTitle }}</a>
    <a-row class="extra" style=" margin-top: 10px;">
      <span v-for="(other,index) in authorInfoList" v-if="authorInfoList.length <= 2">
        <a class="authour" v-if="index < 2" :href="'#'" @click="routeUser(other.authorId,other.authorName)">{{ other.authorName }}</a>
        <span v-if="index < authorInfoList.length - 1" class="authour">/</span>
      </span>
      <a v-if="authorInfoList.length > 2">
        <span class="authour" @click="routeUser(authorInfoList[0].authorId,authorInfoList[0].authorName)">{{ authorInfoList[0].authorName }}</span>
        <span class="authour">/</span>
        <span class="authour" v-text="'...'" @click="routeArticles(publicationId)"></span>
        <span class="authour">/</span>
        <span class="authour" @click="routeUser(authorInfoList[authorInfoList.length-1].authorId,authorInfoList[authorInfoList.length-1].authorName)">{{ authorInfoList[authorInfoList.length-1].authorName }}</span>
      </a>
    </a-row>
    <div v-if="show">
      <div class="antd-pro-components-article-list-content-index-listContent">
        <a-row class="extra" style="margin-top: 10px;font-size: 12px">
          <div class="ellipsisOne">
            <a-tag v-if="docTypeName" class="docTypeName"><div style="margin-top: 2px">{{ docTypeName }}</div></a-tag>
            <span class="updateAt" v-if="year">发表于{{ year }}年</span>
            <span v-if="venue" :title="venue" class="source">{{ venue }}</span>
          </div>
        </a-row>
      </div>
      <a-row :gutter="24" style="margin-top: 10px; font-size: 12px;">
        <a-col :span="6">
          <img src="~@/assets/icons/icon-seen.png" height="16" width="16" style="margin-right: 4px; top: -1px; position: relative;"/><span>{{reads}}</span>
        </a-col>
        <a-col :span="6">
          <img src="~@/assets/icons/icon-recommend@2x.png" height="16" width="16" style="margin-right: 4px; top: -1px; position: relative;"/><span>{{recommendations}}</span>
        </a-col>
        <a-col :span="8">
          <img src="~@/assets/icons/icon-collection@2x.png" height="16" width="16" style="margin-right: 4px; top: -1px; position: relative;"/><span>{{citations}}</span>
        </a-col>
      </a-row>
      <!--按钮集合-->
      <a-row style="margin-top:10px">
        <span v-if="articlesBtnGroup">
          <articles-btn-group
            :item="item"
            :index="index"
            :list="list"
          />
        </span>
      </a-row>
    </div>
  </a-card>
</template>

<script>
import IconText from '@/views/list/search/components/IconText'
import { citation } from '@/core/icons'
import ArticlesBtnGroup from '@/views/business/articles/articlesFrame/ArtrclesBtnGroup'
export default {
  name: 'RelatedPublicationCard',
  components: { IconText, citation, ArticlesBtnGroup },
  data() {
    return {
      articlesBtnGroup:true,
      show: false
    }
  },
  props: {
    userId: {
      type: Number,
    },
    publicationId:{
      type: Number,
    },
    displayTitle:{
      type: String,
    },
    authorInfoList:{
      type:Array
    },
    authorId:{
      type:Number,
    },
    authorName:{
      type:String
    },
    docTypeName:{
      type: String,
    },
    year:{
      type:Number,
    },
    venue:{
      type:String,
    },
    reads:{
      type: Number,
    },
    recommendations:{
      type: Number,
    },
    citations:{
      type: Number,
    },
    item:{
      type:Object
    },
    index:{
      type:Number
    },
    list:{
      type:Array
    }
  },
  methods: {
    showActions(bol){
      this.show = bol;
    },
    // 跳转到文献全文画面
    routeArticles (publicationId) {
      let routeUrl = this.$router.resolve({
        path: '/articles/articlesPage',
        query: {
          publicationId
        }
      });
      window.open(routeUrl.href, '_blank');
    },
    // 跳转到用户概况画面
    routeUser(userId, userName) {
      let routeUrl = this.$router.resolve({
        path: '/scholar/scholarPage/ScholarSummary',
        query: {
          userId,
          isUser: false,
          userName
        }
      });
      window.open(routeUrl.href, '_blank');
    }
  }
}

</script>
<style lang="less" scoped>
  .docTypeName {
    height: 25px;
    background: rgba(77,187,198,0.10);
    border: 0px;
    border-radius: 2px;
    color: #008191 !important;
  }

  .docType-row {
    font-weight: 600;
    text-align: left;
    color: #008191;
    line-height: 17px;
    height: 17px;
    font-size: 12px;
    text-align: left;
    line-height: 17px;
  }

  .docTypeName {
    height: 25px;
    background: rgba(77,187,198,0.10);
    border: 0px;
    border-radius: 2px;
    color: #008191 !important;
  }

  .updateAt {
    color: #008191 !important;
    margin-right: 8px;
  }

  .source {
    color: #008191 !important;
  }

  .authour {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #6a8e94 !important;
    margin-right: 5px;
  }
  .textOVerTwo {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
  }

  .ellipsisOne {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
</style>