<template>
  <div>
    <a-row>
      <a-col :span="19" :push="1">
        <div style="font-size: 16px; font-weight: bold; margin-bottom: 24px">
          <span >
            {{matchFlg==='doi'?'数据库中查询到以下结果：':'数据库中查询到以下结果, 请勾选与您上传文档相匹配的信息：'}}
          </span>
        </div>
      </a-col>
    </a-row>
    <a-row :style="matchFlg==='doi'?'':'height: 517px; overflow-y: auto;'">
      <a-col :span="20" :push="2">
        <div class="analysis-back">
          <a-row :gutter="16">
            <a-col :span="24">
              <div v-for="(analysisPublication,index) in analysisPublicationList" :key="analysisPublication.publicationId">
                <user-upload-documents-card
                  :analysisPublication="analysisPublication"
                  :getPublicationModel="getPublicationModel"
                  :matchFlg="matchFlg"
                >
                </user-upload-documents-card>
              </div>
            </a-col>
          </a-row>
        </div>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="12" :push="6" style="text-align: center; margin-top: 24px">
        <div style="font-size: 16px; font-weight: bold;">
          <span >
            本次上传文档仅供您个人浏览
          </span>
        </div>
      </a-col>
    </a-row>

  </div>
</template>

<script>
import moment from 'moment';
import UserUploadDocumentsCard from "./UserUploadDocumentsCard";

export default {
    name: 'UserUploadDocuments3',
    props: {
        analysisPublicationList: {
            type: Array
        },
        getPublicationModel: {
            type: Function
        },
        matchFlg: {
            type: String
        }
    },
    components: {
        moment,
        UserUploadDocumentsCard
    },
    data() {
        return {
            publicationList: [],
            journalName: '',
            conferenceSerieName: null,
            conferenceInstanceName: null,
        }
    },
    created() {
        this.publicationList = this.analysisPublicationList;
        this.publicationList.forEach((publication, index) => {
            let authorInfos = '';
            publication.authorInfoList.forEach((author, i) => {
                authorInfos += author.authorName + ';';
            });
            publication.authorInfos = authorInfos;
        });
        if (this.matchFlg === 'title') {
            this.publicationList.push({
                publicationId: 1
            });
        }

    },
    watch: {
    },
    methods: {
        getPublication() {
            return this.publicationList[0];
        },
    }
};
</script>

<style scoped>
  /deep/.ant-form-item {
    margin-bottom: 0px;
    width: 100%;
  }

  .analysis-back {
    background-color: #ececec;
    padding: 20px;
  }
  .disPlayText {
    display: -webkit-box;/*作为弹性伸缩盒子模型显示*/
    -webkit-line-clamp: 1; /*显示的行数；如果要设置2行加...则设置为2*/
    overflow: hidden; /*超出的文本隐藏*/
    text-overflow: ellipsis; /* 溢出用省略号*/
    -webkit-box-orient: vertical;/*伸缩盒子的子元素排列：从上到下*/
  }
  .font-size-12 {
    font-size: 12px;
  }
</style>