<template>
  <div style="height: 80px; margin-bottom: 24px">
    <a-upload-dragger
      style="width: 100%;"
      accept=".pdf"
      name="file"
      :multiple="true"
      action="/api/userAchievements/uploadTempFile"
      :data="{userId:this.$store.getters.userId}"
      :before-upload="beforeUpload"
      :headers="headers"
      @change="handleChange"
      :showUploadList="false"
    >
      <div class="ant-upload-text">
        <a-row style="line-height: 48px;">
          <a-col :span="2" :push="6"><a-icon type="cloud-upload" style="font-size: 48px;" /></a-col>
          <a-col :span="10" :push="8" style="text-align: left"><div>拖拽或点击上传PDF文件</div></a-col>
        </a-row>


      </div>
    </a-upload-dragger>
    <a-row v-if="percentShow" style="margin-top: 12px" >
      <a-col :span="12" :push="6">
        <a-progress :percent="percent" status="active"/>
      </a-col>
      <a-col :span="4" :push="7">
       {{percentState}}
      </a-col>
    </a-row>

  </div>
</template>

<script>
import AdsCard from '@/views/business/components/NAdsList/AdsCard'
export default {
  name: 'UserUploadDocuments1',
  components: { AdsCard },
  props: {
      toUserUploadDocuments2: {
        type: Function
      },
      getAnalysisPublicationModel: {
        type: Function
      },
      setFile: {
          type: Function
      }

  },
  data () {
    return {
      headers: {
        authorization: 'authorization-text',
      },
      percent: 0,
      percentShow: false,
      percentState: '上传中',
      analysisPublicationModel: {}
    }
  },
  methods: {
    handleChange (info) {
      if (info.file.status !== 'uploading') {
      }
      if (info.file.status === 'done') {
        this.setFile(info.file.originFileObj)
        this.analysisPublicationModel = info.file.response.data
        this.percent = 100;
        this.percentState = '上传完成'
        setTimeout(() => {
            this.getAnalysisPublicationModel(this.analysisPublicationModel);
            this.toUserUploadDocuments2();
        }, 600);
        //
      } else if (info.file.status === 'error') {
        this.$message.error(`${info.file.name} 上传失败.`)
      }
    },

    selectOption(value) {
        this.publicationId = value;
    },

    beforeUpload(file) {
        this.percentShow = true;
        this.percent = 20;
        this.percent = 90;
        return true;
    },

    setPercentShow(percentShow) {
        this.percentShow = percentShow;
    }
  },
}
</script>

<style scoped>

</style>