<template>
<a-row type="flex" justify="center">
  <a-col span="24">
    <div >
      <a-form
        id="uploadform"
        ref="uploadform"
        style="height: 280px; overflow-y: auto"
        :form="form"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
        @submit="handleSubmit"
      >
        <a-row>
          <a-col :push="2" span="22">
            <a-form-item :labelAlign="'left'" label="标题:" :required="true">
              <a-input
                :disabled="matchingFlg"
                type="text"
                placeholder="输入标题"
                v-decorator="['publicationTitle', {initialValue: publicationTitle, rules: [{required: true, message: '标题不能为空'}, { validator: this.publicationTitleChange }], validateTrigger: ['blur']}]"
              />
            </a-form-item>
            <a-form-item :labelAlign="'left'" label="文献类型:">
              <a-select
                :disabled="matchingFlg"
                v-decorator="['publicationTypeCode', {rules: []}, {validator: this.selectOption}]"
                placeholder="选择您的文献类型"
                @select="selectOption"
              >
                <a-select-option v-for="(item,index) in publicatuionTypeList" :value="item.code">{{item.name}}</a-select-option>
              </a-select>
            </a-form-item>
            <a-form-item :labelAlign="'left'" label="作者">
              <a-input
                :disabled="matchingFlg"
                placeholder="输入内容"
                v-model="userName"
              >
              </a-input>
            </a-form-item>
            <a-form-item :labelAlign="'left'" label="DOI:">
              <a-input
                :disabled="matchingFlg"
                v-model="doi"
                placeholder="输入内容"
              >
              </a-input>
            </a-form-item>
            <a-form-item :labelAlign="'left'" label="正式出版年份">
              <a-input
                :disabled="matchingFlg"
                placeholder="输入内容"
                v-model="publisherYear"
              >
              </a-input>
            </a-form-item>
            <a-form-item v-if="dateShowFlg" :labelAlign="'left'" label="上线日期">
              <a-date-picker
                :disabled="matchingFlg"
                :format="'YYYY/MM/DD'"
                show-time
                type="date"
                placeholder="输入内容"
                v-model="date"
              ></a-date-picker>
            </a-form-item>
            <a-form-item :labelAlign="'left'" label="链接">
              <a-input
                :disabled="matchingFlg"
                v-model="publicationLink"
                placeholder="输入内容"
              >
              </a-input>
            </a-form-item>
            <!--          <a-form-item :labelAlign="'left'" label="摘要:">-->
            <!--            <a-input-->
<!--                           :disabled="matchingFlg"-->
            <!--              type="textarea"-->
            <!--              placeholder="输入内容"-->
            <!--             v-model="summary"-->
            <!--            >-->
            <!--            </a-input>-->
            <!--          </a-form-item>-->
            <a-form-item v-if="journalNameShowFlg && publicationTypeCode !== null" :labelAlign="'left'" label="期刊名称:">
              <a-auto-complete @search="journalNameSearch" placeholder="输入内容">
                <template slot="dataSource">
                  <a-select-option v-for="journal in journalList" :key="journal.journalId + ''">{{journal.displayName}}</a-select-option>
                </template>
                <a-input
                  :disabled="matchingFlg"
                  placeholder="输入内容"
                  v-model="journalName"
                >
                </a-input>
              </a-auto-complete>
            </a-form-item>
            <a-form-item :labelAlign="'left'" v-if="issnShowFlg && publicationTypeCode !== null" label="ISSN:">
              <a-input
                :disabled="matchingFlg"
                placeholder="输入内容"
                v-model="issn"
              >
              </a-input>
            </a-form-item>
            <a-form-item v-if="publisherShowFlg && publicationTypeCode !== null" :labelAlign="'left'" label="出版商">
              <a-input
                :disabled="matchingFlg"
                placeholder="输入内容"
                v-model="publisher"
              >
              </a-input>
            </a-form-item>
            <a-form-item :labelAlign="'left'" v-if="publisherUrlShowFlg && publicationTypeCode !== null" label="出版商网址">
              <a-input
                :disabled="matchingFlg"
                placeholder="输入内容"
                v-model="publisherUrl"
              >
              </a-input>
            </a-form-item>
            <a-form-item v-if="conferenceSerieNameShowFlg && publicationTypeCode !== null" :labelAlign="'left'" label="系列会议名称">
              <a-auto-complete @search="conferenceSerieNameSearch" placeholder="输入内容">
                <template slot="dataSource">
                  <a-select-option v-for="conferenceSerie in conferenceSerieList" :key="conferenceSerie.conferenceSerieId + ''">{{conferenceSerie.displayName}}</a-select-option>
                </template>
                <a-input
                  :disabled="matchingFlg"
                  v-model="conferenceSerieName"
                  placeholder="输入内容"
                >
                </a-input>
              </a-auto-complete>
            </a-form-item>
            <a-form-item v-if="conferenceInstanceNameShowFlg && publicationTypeCode !== null" :labelAlign="'left'" label="会议名称">
              <a-auto-complete @search="conferenceInstanceNameSearch" placeholder="输入内容">
                <template slot="dataSource">
                  <a-select-option v-for="conferenceInstance in conferenceInstanceList" :key="conferenceInstance.conferenceSerieId + ''">{{conferenceInstance.displayName}}</a-select-option>
                </template>
                <a-input
                  :disabled="matchingFlg"
                  placeholder="输入内容"
                  v-model="conferenceInstanceName"
                >
                </a-input>
              </a-auto-complete>
            </a-form-item>
            <a-form-item v-if="volumeShowFlg && publicationTypeCode !== null" :labelAlign="'left'" label="卷">
              <a-input
                :disabled="matchingFlg"
                placeholder="输入内容"
                v-model="volume"
              >
              </a-input>
            </a-form-item>
            <a-form-item v-if="issueShowFlg && publicationTypeCode !== null" :labelAlign="'left'" label="期">
              <a-input
                :disabled="matchingFlg"
                placeholder="输入内容"
                v-model="issue"
              >
              </a-input>
            </a-form-item>

            <a-form-item v-if="firstPageShowFlg && publicationTypeCode !== null" :labelAlign="'left'" label="第一页">
              <a-input
                :disabled="matchingFlg"
                placeholder="输入内容"
                v-model="firstPage"
              >
              </a-input>
            </a-form-item>
            <a-form-item v-if="lastPageShowFlg && publicationTypeCode !== null" :labelAlign="'left'" label="最后一页">
              <a-input
                :disabled="matchingFlg"
                placeholder="输入内容"
                v-model="lastPage"
              >
              </a-input>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
    <a-row v-if="percentShow" style="margin-top: 12px" >
      <a-col :span="ayalsisFlg?12:8" :push="ayalsisFlg?6:2">
        <a-progress :percent="percent" status="active"/>
      </a-col>
      <a-col :span="10" :push="ayalsisFlg?7:3" v-if="percent === 100 && !ayalsisFlg">
        {{percentState}}
      </a-col>
    </a-row>
    <a-row v-if="percentShow && matchingFlg" style="margin-top: 6px" >
      <a-col :span="12" :push="8">
        匹配中，信息暂时不可编辑
      </a-col>
    </a-row>
  </a-col>
</a-row>
</template>

<script>
import Qs  from 'qs'
import {getUserInfo} from '../UserFrameApi.js'
import moment from 'moment';
import { getDocTypeListInfoByGroupCd, selJournal, selConferenceSerie, selConferenceInstance, selJournalList, selConferenceSerieList, selConferenceInstanceList } from '../uploadDocuments/UserUploadDocuments.js'

export default {
    name: 'UserUploadDocuments2',
    props: {
        publication: {
            type: Object
        },
        handleCancel: {
            type: Function
        },
        changeMatchingFlg: {
            type: Function
        },
        analysisPublicationModel: {
          type: Object
        },
        toUserUploadDocuments3: {
            type: Function
        },
        informationMismatchFlg: {
            type: Boolean
        },
        getCurrent1PublicationModel: {
            type: Function
        }
    },
    components: {
        moment
    },
    data() {
        return {
            form: this.$form.createForm(this),
            labelCol: {span: 4},
            wrapperCol: {span: 18},
            publicationId: null,
            publicationTitle: null,
            userId: null,
            userName: null,
            doi: null,
            date: null,
            summary: null,
            issue: null,
            volume: null,
            journalName: null,
            publisher: null,
            publisherYear: null,
            publicationLink: null,
            issn: null,
            publisherUrl: null,
            firstPage: null,
            lastPage: null,
            conferenceSerieId: null,
            conferenceSerieName: null,
            conferenceInstanceId: null,
            conferenceInstanceName: null,
            publicationTypeCode: null,
            publicatuionTypeList: [],
            dateShowFlg: true,
            journalNameShowFlg: true,
            issnShowFlg: true,
            publisherShowFlg: true,
            publisherUrlShowFlg: true,
            conferenceSerieNameShowFlg: true,
            conferenceInstanceNameShowFlg: true,
            volumeShowFlg: true,
            issueShowFlg: true,
            firstPageShowFlg: true,
            lastPageShowFlg: true,
            isPublicDoc: false,
            authorFlg: false,
            percent: 0,
            percentShow: true,
            percentState: '',
            matchingFlg: true,
            publicationList: [],
            ayalsisFlg: true,
            journalList:[],
            conferenceSerieList: [],
            conferenceInstanceList: []
        }
    },
    created() {
    },
    mounted() {
        this.getCodeListInfoByGroupCd();
        if (this.informationMismatchFlg) {
            this.setPublicationInfo(this.analysisPublicationModel);
            this.percentShow = false;
            this.matchingFlg = false;
        } else {
            this.percentShow = true;
            // 匹配文献
            this.matchPublication();
            this.matchingFlg = true;
        }
    },
    watch: {
        publicationTypeCode (value) {
            if (value === 'Journal') {
                this.dateShowFlg = true;
                this.journalNameShowFlg = true;
                this.issnShowFlg = true;
                this.publisherShowFlg = true;
                this.publisherUrlShowFlg = true;
                this.conferenceSerieNameShowFlg = false;
                this.conferenceInstanceNameShowFlg = false;
                this.volumeShowFlg = true;
                this.issueShowFlg = true;
                this.firstPageShowFlg = true;
                this.lastPageShowFlg = true;
            } else if (value === 'Conference') {
                this.dateShowFlg = true;
                this.journalNameShowFlg = false;
                this.issnShowFlg = false;
                this.publisherShowFlg = false;
                this.publisherUrlShowFlg = false;
                this.conferenceSerieNameShowFlg = true;
                this.conferenceInstanceNameShowFlg = true;
                this.volumeShowFlg = true;
                this.issueShowFlg = true;
                this.firstPageShowFlg = true;
                this.lastPageShowFlg = true;
            } else if (value === 'Repository') {
                this.dateShowFlg = true;
                this.journalNameShowFlg = false;
                this.issnShowFlg = false;
                this.publisherShowFlg = false;
                this.publisherUrlShowFlg = false;
                this.conferenceSerieNameShowFlg = false;
                this.conferenceInstanceNameShowFlg = false;
                this.volumeShowFlg = false;
                this.issueShowFlg = false;
                this.firstPageShowFlg = false;
                this.lastPageShowFlg = false;
            } else if (value === 'Book') {
                this.dateShowFlg = false;
                this.journalNameShowFlg = false;
                this.issnShowFlg = false;
                this.publisherShowFlg = false;
                this.publisherUrlShowFlg = false;
                this.conferenceSerieNameShowFlg = false;
                this.conferenceInstanceNameShowFlg = false;
                this.volumeShowFlg = false;
                this.issueShowFlg = false;
                this.firstPageShowFlg = false;
                this.lastPageShowFlg = false;
            } else {
                this.dateShowFlg = false;
                this.journalNameShowFlg = false;
                this.issnShowFlg = false;
                this.publisherShowFlg = false;
                this.publisherUrlShowFlg = false;
                this.conferenceSerieNameShowFlg = false;
                this.conferenceInstanceNameShowFlg = false;
                this.volumeShowFlg = false;
                this.issueShowFlg = false;
                this.firstPageShowFlg = false;
                this.lastPageShowFlg = false;
            }
        },
    },
    methods: {
        getUserInfo(){
            const param = Qs.stringify({userId:this.$store.getters.userId});
            //获取用户的信息
            getUserInfo(param).then(res => {
                if(res.ret_code==='0'){
                    let userInfo = res.data;
                    // this.userName = userInfo.displayName;
                    this.userId = userInfo.userId;
                }else {
                    this.$notification.error(res.ret_msg);
                }

            }).catch(err => {
            }).finally(() => {
            })
        },

        // 获取期刊信息
        getJournal(){
            const param = Qs.stringify({conferenceSerieId:this.conferenceSerieId});
            // 获取会议系列信息
            selJournal(param).then(res => {
                if(res.ret_code==='0'){
                    let journal = res.data;
                    this.journalName = journal.displayName;
                }else {
                    this.$notification.error(res.ret_msg);
                }

            }).catch(err => {
            }).finally(() => {
            })
        },

        // 获取会议系列信息
        getConferenceSerie(){
            const param = Qs.stringify({conferenceSerieId:this.conferenceSerieId});
            // 获取会议系列信息
            selConferenceSerie(param).then(res => {
                if(res.ret_code==='0'){
                    let conferenceSerie = res.data;
                    this.conferenceSerieName = conferenceSerie.displayName;
                }else {
                    this.$notification.error(res.ret_msg);
                }

            }).catch(err => {
            }).finally(() => {
            })
        },

        // 获取会议实例信息
        getConferenceInstance(){
            const param = Qs.stringify({conferenceInstanceId:this.conferenceInstanceId});
            // 获取会议实例信息
            selConferenceInstance(param).then(res => {
                if(res.ret_code==='0'){
                    let conferenceInstance = res.data;
                    this.conferenceInstanceName = conferenceInstance.displayName;
                }else {
                    this.$notification.error(res.ret_msg);
                }
            }).catch(err => {
            }).finally(() => {
            })
        },

        handleSubmit(e) {
            if (this.publicationTitle) {
                let publicationModel = {
                    displayTitle:  this.publicationTitle,
                    docType : this.publicationTypeCode,
                    authorInfos: this.userName,
                    doi: this.doi,
                    year: this.publisherYear,
                    date: this.date,
                    publicationLink:  this.publicationLink,
                    summary : this.summary,
                    journalName: this.journalName,
                    issn: this.issn,
                    publisher: this.publisher,
                    publisherUrl: this.publisherUrl,
                    conferenceSerieName: this.conferenceSerieName,
                    conferenceInstanceName: this.conferenceInstanceName,
                    volume: this.volume,
                    issue: this.issue,
                    firstPage: this.firstPage,
                    lastPage: this.lastPage,
                };
                this.getCurrent1PublicationModel(publicationModel);
                return true;
            } else {
                return false;
            }
        },

        // 设置标题错误信息
        setPublicationTitleError() {
            this.form.setFields({
                "publicationTitle": {
                    "errors": [new Error("标题不能为空！")]
                }
            });
        },

        getCodeListInfoByGroupCd() {
            // 获取文献类型
            getDocTypeListInfoByGroupCd().then(res => {
                if(res.ret_code==='0'){
                    this.publicatuionTypeList = res.data;
                }else {
                    this.$notification.error(res.ret_msg);
                }
            }).catch(err => {
            }).finally(() => {
            })
        },
        selectOption(value) {
            this.publicationTypeCode = value;
        },

        // 匹配文献
        matchPublication() {
            this.percent = 20;
            this.percent = 40;
            this.percent = 90;
            let param = {
                publicationTitle: this.analysisPublicationModel.displayTitle,
                doi: this.analysisPublicationModel.doi,
            };
            param = Qs.stringify(param);
            this.$http.post('/userAchievements/getPublicationListByCondition',param).then(res => {
                if(res.data && res.ret_code==='0'){

                    this.publicationList = res.data.publicationModelList;
                    this.publicationList = this.sortByKey(this.publicationList, "docTypeOrder");
                    let matchFlg = res.data.matchFlg;
                    setTimeout(() => {
                    }, 100);
                    setTimeout(() => {
                        this.percent = 100;
                        this.matchingFlg = false;
                        this.changeMatchingFlg(this.matchingFlg);
                        if (this.publicationList.length === 0) {
                            this.ayalsisFlg = false;
                            this.percentState = '匹配失败，请补充填写文献相关信息';
                            this.setPublicationInfo(this.analysisPublicationModel);
                        } else {
                            this.toUserUploadDocuments3(this.publicationList, matchFlg);
                        }
                    }, 600);
                }
            }).catch(
                err => {
                    if(!err){
                        this.$notification.error({
                            message: '收藏失败'
                        })
                    }
                }
            )
        },

        setPublicationInfo(publication) {
            if (publication !== '' && publication !== null && publication !== undefined) {
                this.publicationId = publication.publicationId;
                this.publicationTitle = publication.displayTitle;
                this.doi = publication.doi;
                this.date = !publication.date?null:moment(publication.date);
                this.summary = publication.summary;
                this.issue = publication.issue;
                this.volume = publication.volume;
                this.publisher = publication.publisher;
                this.publisherYear = publication.year;
                this.firstPage = publication.firstPage;
                this.lastPage = publication.lastPage;
                this.conferenceSerieId = publication.conferenceSerieId;
                this.conferenceInstanceId = publication.conferenceInstanceId;
                this.publicationTypeCode = publication.docType;
                this.getConferenceInstance();
                this.getConferenceSerie();
                this.getUserInfo();
            }
        },

        sortByKey(array, key) { // 根据唯一标识orderId来对数组进行过滤
            return array.sort(function (a, b) {
                let x = a[key];
                let y = b[key];
                return ((x < y)?-1:(x > y)?1 : 0);
            });
        },


        publicationTitleChange(rule, value, callback) {
            this.publicationTitle = value;
            callback();
        },

        // 期刊名称检索
        journalNameSearch() {
          let param = {
              journalName: this.journalName
          }
          param = Qs.stringify(param);
          selJournalList(param).then(res => {
                if(res.ret_code==='0'){
                    this.journalList = res.data;
                }else {
                    this.$notification.error(res.ret_msg);
                }
            }).catch(err => {
            }).finally(() => {
            })
        },

        conferenceSerieNameSearch() {
            let param = {
                conferenceSerieName: this.conferenceSerieName
            }
            param = Qs.stringify(param);
            selConferenceSerieList(param).then(res => {
                if(res.ret_code==='0'){
                    this.conferenceSerieList = res.data;
                }else {
                    this.$notification.error(res.ret_msg);
                }
            }).catch(err => {
            }).finally(() => {
            })
        },

        conferenceInstanceNameSearch() {
            let param = {
                conferenceInstanceName: this.conferenceInstanceName
            }
            param = Qs.stringify(param);
            selConferenceInstanceList(param).then(res => {
                if(res.ret_code==='0'){
                    this.conferenceInstanceList = res.data;
                }else {
                    this.$notification.error(res.ret_msg);
                }
            }).catch(err => {
            }).finally(() => {
            })
        }
    }
};
</script>

<style scoped>
  /deep/.ant-form-item {
     margin-bottom: 0px;
    width: 100%;
  }
</style>