<template>
  <div>
    <a-row :id="'publication_' + analysisPublication.publicationId">
      <a-col :span="matchFlg === 'title'?20:24" >
        <a-card
          :bordered="false"
          size="small"
          :bodyStyle="{padding: '12px 24px !important;' }"
          :style="analysisPublication.publicationId === 1|| matchFlg === 'doi'?'margin-bottom:0px !important;':'margin-bottom: 12px !important;'"
        >
          <div v-if="analysisPublication.publicationId === 1 && matchFlg === 'title'" style="line-height: 126px; text-align: center;"><span>以上都不是</span></div>
          <div v-else>
            <div solt="title" style="font-weight: 700;">
              {{analysisPublication.displayTitle}}
            </div>
            <div>
              <a-row>
                <a-col :span="4"><span class="font-size-12">文献类型</span></a-col>
                <a-col :span="20">
                  <span class="font-size-12">
                    <a-tag color="cyan" style="border-radius: 5px;margin-right: 20px;">{{analysisPublication.docTypeName}}</a-tag>
                  </span>
                </a-col>
              </a-row>
            </div>
            <div>
              <a-row>
                <a-col :span="4"><span class="font-size-12">作者</span></a-col>
                <a-col :span="20"><div :title="analysisPublication.authorInfos" class="disPlayText"><span class="font-size-12">{{analysisPublication.authorInfos}}</span></div></a-col>
              </a-row>
            </div>
            <div v-if="analysisPublication.docType === 'Journal'">
              <a-row>
                <a-col :span="4"><span class="font-size-12">期刊名称</span></a-col>
                <a-col :span="20"><span class="font-size-12">{{journalName}}</span></a-col>
              </a-row>
            </div>
            <div v-if="analysisPublication.docType === 'Conference'">
              <a-row>
                <a-col :span="4"><span class="font-size-12">系列会议名称</span></a-col>
                <a-col :span="20"><span class="font-size-12">{{conferenceSerieName}}</span></a-col>
              </a-row>
            </div>
            <div v-if="analysisPublication.docType === 'Conference'">
              <a-row>
                <a-col :span="4"><span class="font-size-12">会议名称</span></a-col>
                <a-col :span="20"><span class="font-size-12">{{conferenceInstanceName}}</span></a-col>
              </a-row>
            </div>
            <div>
              <a-row>
                <a-col :span="4"><span class="font-size-12">摘要</span></a-col>
                <a-col :span="20"><div :title="analysisPublication.summary" class="disPlayText"><span class="font-size-12">{{analysisPublication.summary}}</span></div></a-col>
              </a-row>
            </div>
          </div>
        </a-card>
      </a-col>
      <a-col :span="4" v-if="matchFlg === 'title'">
        <div style="line-height: 150px;text-align: center;"><a-icon type="check-circle" theme="filled" :class="selectClass"/></div>
      </a-col>
    </a-row>


  </div>
</template>

<script>
import Qs  from 'qs'
import moment from 'moment';
import UserUploadDocumentsCard from "./UserUploadDocumentsCard";
import { FileUpload } from '../uploadArticles/UserUploadArticlesApi.js'
import {selJournal, selConferenceSerie, selConferenceInstance} from './UserUploadDocuments.js'

export default {
  name: 'UserUploadDocumentsCard',
  props: {
      analysisPublication: {
          type: Object
      },
      getPublicationModel: {
          type: Function
      },
      matchFlg: {
          type:String
      }
  },
  components: {
      moment,
      UserUploadDocumentsCard
  },
  data() {
      return {
          publicationList: [],
          selectClass: 'cardNotSelect',
          journalName: null,
          conferenceSerieName: null,
          conferenceInstanceName: null,
      }
  },
  created() {
  },
  mounted() {
      document.addEventListener("click",e=> {
          let box = document.getElementById("publication_" + this.analysisPublication.publicationId);
          if (box && box.contains(e.target)) {
              this.selectClass = 'cardSelect';
              this.getPublicationModel(this.analysisPublication.publicationId);
          } else {
              this.selectClass = 'cardNotSelect';
          }
      });
      this.getJournal();
      this.getConferenceSerie();
      this.getConferenceInstance();
  },
  watch: {
  },
  methods: {
      // 获取期刊信息
      getJournal(){
          const param = Qs.stringify({journalId:this.analysisPublication.journalId});
          // 获取会议系列信息
          selJournal(param).then(res => {
              if(res.ret_code==='0'){
                  let journal = res.data;
                  this.journalName = journal.displayName;
              }else {
                  this.$notification.error(res.ret_msg);
              }

          }).catch(err => {
          }).finally(() => {
          })
      },

      // 获取会议系列信息
      getConferenceSerie(){
          const param = Qs.stringify({conferenceSerieId:this.analysisPublication.conferenceSerieId});
          // 获取会议系列信息
          selConferenceSerie(param).then(res => {
              if(res.ret_code==='0'){
                  let conferenceSerie = res.data;
                  this.conferenceSerieName = conferenceSerie.displayName;
              }else {
                  this.$notification.error(res.ret_msg);
              }

          }).catch(err => {
          }).finally(() => {
          })
      },

      // 获取会议实例信息
      getConferenceInstance(){
          const param = Qs.stringify({conferenceInstanceId:this.analysisPublication.conferenceInstanceId});
          // 获取会议实例信息
          selConferenceInstance(param).then(res => {
              if(res.ret_code==='0'){
                  let conferenceInstance = res.data;
                  this.conferenceInstanceName = conferenceInstance.displayName;
              }else {
                  this.$notification.error(res.ret_msg);
              }
          }).catch(err => {
          }).finally(() => {
          })
      },
  }
};
</script>

<style scoped>
  /deep/.ant-form-item {
    margin-bottom: 0px;
    width: 100%;
  }

  .analysis-back {
    background-color: #ececec;
    padding: 20px;
    height: 514px;
    overflow-y: auto;
  }
  .disPlayText {
    display: -webkit-box;/*作为弹性伸缩盒子模型显示*/
    -webkit-line-clamp: 1; /*显示的行数；如果要设置2行加...则设置为2*/
    overflow: hidden; /*超出的文本隐藏*/
    text-overflow: ellipsis; /* 溢出用省略号*/
    -webkit-box-orient: vertical;/*伸缩盒子的子元素排列：从上到下*/
  }
  .font-size-12 {
    font-size: 12px;
  }

  .cardSelect {
    color: #61c161;
    font-size: 40px;
  }

  .cardNotSelect {
    color: #bec5be;
    font-size: 40px;
  }

  /deep/.ant-card-body {
    padding: 24px 12px !important;
  }
</style>