@import "~ant-design-vue/es/style/themes/default.less";

.ant-layout{
  overflow:hidden auto;
}
.ant-layout-footer {
  padding: 0 !important;
}
.ant-pro-global-header-index-right {
  margin-right: 8px;
  overflow: unset;

  &.ant-pro-global-header-index-dark {
    .ant-pro-global-header-index-action {
      color: hsla(0, 0%, 100%, .85);

      &:hover {
        background: #4dbbc6;
      }
    }
  }

  .ant-pro-account-avatar {
    .antd-pro-global-header-index-avatar {
      margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }

  .menu {
    .anticon {
      margin-right: 8px;
    }

    .ant-dropdown-menu-item {
      min-width: 100px;
    }
  }
}
.baseContent {
  max-width: 1200px;
  margin:18px auto !important;
}
.ant-pro-top-nav-header-main {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 10px;
}
.ant-card-head-title{
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #008191;
  line-height: 21px;
}
.ant-card{
  border-radius: 10px !important;
}
.ant-list-lg .ant-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ant-list-split .ant-list-item {
  border-bottom: 0;
}
.ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child {
  border-bottom: 0;
}
.ant-list-vertical .ant-list-item-meta {
  margin-bottom: 0;
}
.ant-list-vertical .ant-list-item-meta-title {
  margin-bottom: 8px;
}
.ant-pro-top-nav-header-logo{
  width: 220px;
}
.ant-btn-primary {
  background-color: #4dbbc6;
  border-color: #4dbbc6;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
  background-color: #4dbbc6;
  border-color: #4dbbc6;
}
.ant-btn-background-ghost.ant-btn-primary {
  color: #4dbbc6;
  border-color: #4dbbc6;
  margin-right: 10px;
}
.ant-btn-background-ghost.ant-btn-primary:hover, .ant-btn-background-ghost.ant-btn-primary:focus{
  color: #4dbbc6;
  border-color: #4dbbc6;
  margin-right: 10px;
}

.ant-card-actions {
  background: #fff !important;
  border-top: 0 !important;
  border-radius: 10px;
}
.ant-card-actions > li {
  margin: 0 0 12px 0 !important;
}
.ant-statistic-title {
  font-size: 13px !important;
}
.ant-pro-page-header-wrap-page-header-warp {
  margin: 0 auto;
  border-radius: 10px;
}
.ant-pro-top-nav-header-menu {
  max-width: 0 !important;
  width: 0 !important;
}
.ant-btn {
  border-radius: 4px;
}
a {
  color: #595959 !important;
}
a:hover {
  color: #4dbbc6 !important;
}
.ant-pro-page-header-wrap-children-content {
  margin: 24px 0px 0;
}
.ant-pro-basicLayout-content .ant-pro-page-header-wrap{
  margin:0
}
.ant-page-header.has-footer{
  padding:0
}
.ant-tabs-nav-wrap{
  padding-left: 25px
}
.ant-pro-page-header-wrap-children-content {
  margin: 10px 0px 0;
}
#n-user-input.ant-input {
  width: 100%;
}
#n-articles-input.ant-input {
  width: 100%;
}
.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 40px !important;
  border-radius: 2px;
}
.ant-select-selection{
  border-radius: 20px !important;
}
.ant-form-item-label > label::after{
  content: '' !important;
}

#userImg.circleImg{
  border-radius: 50%;
}

#searchBar .ant-input{
  border: none !important;
}

#searchBar .ant-input:focus{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#searchBar .ant-input-search-enter-button + .ant-input-group-addon .ant-input-search-button{
  border-radius: 20px !important;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  height: 30px;
  padding: 0 25px;
}

#searchBar .ant-input-group-addon:last-child{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

#searchBar .ant-btn-lg{
  height: 30px;
  padding: 0 25px;
}
.ant-pro-basicLayout-content{
  margin: 0;
}

.ant-card-head{
  padding: 0 24px !important;
  border-bottom: none !important;
}

.ant-card-head-title{
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.ant-card-body{
  padding: 0 24px !important;
}

