<template>
  <a-card size="small" :bordered="false" style="margin-top: 10px;min-height: 542px;font-size: 17px">
    <a-row>
      年终总结？经费申请？职称评定？每次都要提供学术成果清单，格式还不一样，好烦呐！
    </a-row>
    <br>

    <a-row>
      Well, no more! 通过以下步骤精美报告立等可取：
    </a-row>
    <br>

    <a-row style="margin-top: 10px">
      <a-icon type="star" theme="filled" />
      选择需要报告的成果：按照多种标准快捷选择，SCI/EI, 发表年份，中文/英文，期刊/会议/著作
    </a-row>

    <a-row style="margin-top: 10px">
      <a-icon type="star" theme="filled" />
      选择引文内容：标题，作者，期刊/会议名称，年份，SCI/EI/CSCI以及复杂的分区，被引用次数
    </a-row>

    <a-row style="margin-top: 10px">
      <a-icon type="star" theme="filled" />
      选择要做的统计：按年份，SCI/EI/CSCI以及复杂的分区，等等统计
    </a-row>

    <a-row style="margin-top: 10px">
      <a-icon type="star" theme="filled" />
      选择输出格式：Word，PDF，Excel
    </a-row>

    <a-row style="margin-top: 10px">
      <a-icon type="arrow-down" />
      下载
    </a-row>
  </a-card>
</template>

<script>
export default {
  name: 'UserGenerateReport',
  created(){
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000);
  },
}
</script>

<style scoped>

</style>