<template>
  <a-row :gutter="24">
    <a-col :span="14">
     <a-card size="small" title="公开请求" :head-style="{'font-weight':'bold'}" style="padding-left: 10px; padding-right: 10px;">
       <a-row slot="extra">
         <a-select default-value="0" style="width: 110px">
           <a-select-option value="0">
             所有请求
           </a-select-option>
         </a-select>
       </a-row>
       <a-row>
         <a-col :span="3">
           <img id="userImg" :src=imgUrl style="width: 55px; height: 55px;" />
         </a-col>
         <a-col :span="18">
           <a-row style="color: #40a9ff; font-weight: bold;">
             Ruan Guoqing
           </a-row>
           <a-row style="color:#000; margin-top: 5px;">
             requeststed a full-text of your publication
           </a-row>
         </a-col>
         <a-col :span="3">
           <span>Feb 15</span>
         </a-col>
       </a-row>
       <a-row style="color:#000; margin-top: 15px; margin-left: 5px;">
         I'm insterested in this research - could you provide the full-text for it?-Ruan Guoqing
       </a-row>
       <a-card size="small" style="margin-top: 20px; padding-left: 10px;">
         <a-row style="color: #000; font-weight: bold; cursor: pointer;">
           From Light to Rich ERE: Annotation of Entities, Relations, and Events
         </a-row>
         <a-row style="margin-top: 10px;">
           <a-tag color="cyan">
             Conference Paper
           </a-tag>
           <span>Jan 2015.Proceedings of the The 3rd Workshop on ...</span>
           <a-row style="color: #000; margin-top: 5px;">Zhiyi Song.Ann Bies.Stephanie Strassel.[...].Xiaoyi Ma</a-row>
           <a-row style="margin-top: 10px;">
             <a-button>查看引文</a-button>
             <a-button style="margin-left: 10px;">拒绝请求</a-button>
           </a-row>
         </a-row>
       </a-card>
       <a-card size="small" :bordered="false" style="margin-left: -10px;margin-top: 10px;">
         <a-row>
           <a-col :span="3">
             <img  src="@/assets/user.png" style="width: 55px; height: 55px;" />
           </a-col>
           <a-col :span="18">
             <a-row style="color: #40a9ff; font-weight: bold;">
               Karima Abidi
             </a-row>
             <a-row style="color:#000; margin-top: 5px;">
               requeststed a full-text of your publication
             </a-row>
           </a-col>
           <a-col :span="3">
             <span>Jul 11,2019</span>
           </a-col>
         </a-row>
         <a-card size="small" style="margin-top: 20px; padding-left: 10px;">
           <a-row style="color: #000; font-weight: bold; cursor: pointer;">
             Champollion: A robust parallel text sentence aligners
           </a-row>
           <a-row style="margin-top: 10px;">
             <a-tag color="cyan">
               Conference Paper
             </a-tag>
             <span>Jan 2006</span>
             <a-row style="color: #000; margin-top: 5px;">Xiaoyi Ma</a-row>
             <a-row style="margin-top: 10px;">
               <a-button>查看引文</a-button>
               <a-button style="margin-left: 10px;">拒绝请求</a-button>
             </a-row>
           </a-row>
         </a-card>
       </a-card>
     </a-card>
    </a-col>
    <a-col :span="10">
      <a-card size="small" style="margin-left: 10px;">
        <template slot="title">
          <span style="font-weight: bold;">你的回复率</span>
          <a-icon type="info-circle" style="margin-left: 10px;"/>
        </template>
        <a-col :span="5">
          <div >
            <a-progress type="circle" :percent="0" :width="80" />
            <a-row style="margin-left: 10px;">Request</a-row>
            <a-row style="margin-left: 10px;">response</a-row>
          </div>
        </a-col>
        <a-col :span="19">
          <a-row style="color: #000; font-weight: bold; cursor: pointer;">
            Your peers are waiting for your response
          </a-row>
          <a-row style="color: #000; margin-top: 5px;">
            You can help other researchers get the information they're looking for by quickly responding to their requests.
          </a-row>
        </a-col>
      </a-card>
    </a-col>
  </a-row>
</template>

<script>
export default {
  name: 'NotificationRequests',
  created(){
    setTimeout(() => {
      this.$notification.info({
        top:"100px",
        style: 'background-color:#40a9ff;',
        message: this.$createElement('i', { style: 'color: white' }, '此页面为静态页面，功能尚在开发中'),
        icon: <a-icon type="info-circle" style="color:white;" />,
        closeIcon: <a-icon type="close" style="color:white" />,
        duration: 10
      })
    }, 1000);
  },
  data() {
    return {
      imgUrl:require('@/assets/user.png'),
    };
  },
}
</script>

<style scoped>

</style>